<div class="row"><div class="col-lg-12">
<section class="panel">
    <header class="panel-heading">
        <h4 style="display:inline;line-height: 1.9">AREAS</h4>
        <span class="tools pull-right">
            <button class="btn btn btn-primary btn-sm" ng-click="listarAreas(usuMaster.organizacion.organizacionID)"><i class="fa fa-rotate-right"></i> Listar</button>
        </span>
    </header>
    <div class="panel-body" ng-init="listarAreas(usuMaster.organizacion.organizacionID)">
        
        <div class="tabla-responsiva"><table ng-table="tablaArea" class="table table-striped table-hover" show-filter="true" >
            <colgroup>
                <col width="20px" /><col width="50px" /><col width="auto" /><col width="20%" /><col width="60px" /><col width="100px"/><col width="65px" />
            </colgroup>
            <tr ng-repeat="a in $data">
                <td data-title="'N'" sortable="'i'" >{{a.i}}</td>
                <td data-title="'Codigo'" filter="{ codigo: 'text'}" sortable="'codigo'" style="text-align: center">{{a.codigo}}</td>
                <td data-title="'Nombre'" filter="{ nombre: 'text'}" sortable="'nombre'" >{{a.nombre}}</td>
                <td data-title="'Area Padre'" filter="{ areaPadre: 'select'}" filter-data="areasSelect" sortable="'areaPadre'" style="text-align: center">
                    {{a.areaPadre}}
                </td>
                <td data-title="'Estado'" filter="{ estado: 'select'}" filter-data="estadosSelect " sortable="'estado'" style="text-align: center">
                    <span class="label label-mini" ng-class="{'label-info': a.estado=='A','label-warning': a.estado=='I'}">{{a.estado}}</span>
                </td>
                <td data-title="'usuarios'" style="text-align: center;">
                    <span class="label label-mini label-primary" ng-click="verUsuarios(a)" style="cursor:pointer">ver</span>
                </td>
                
                <td data-title="'Accion'" style="text-align: center;">
                    <button class="btn btn-primary btn-xs" ng-click="prepararEditar(a)"><i class="fa fa-pencil" ></i></button>
                    <button class="btn btn-danger btn-xs" ng-click="eliminarArea(a.i,a.areaID)"><i class="fa fa-trash-o " ></i></button>
                </td>
            </tr>
        </table></div>
        <div align="right" >
            <button class="btn btn btn-primary " data-toggle="modal" data-target="#modalNuevo"><i class="fa fa-plus" ></i> Agregar</button>
            <button class="btn btn-danger " ng-click="eliminarAreas()"><i class="fa fa-times" ></i> Eliminar</button>
        </div>

    </div>
</section>
</div></div>

<!-- Modal -->
<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">ACTUALIZAR AREA</h4>
      </div>
      <div class="modal-body">
          
          
        <div class="form-panel">
            <div class="form-horizontal style-form" >
                <div class="form-group" >
                    <label class="col-sm-2 col-sm-2 control-label">Area</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="areaSel.tipoAreaID" ng-options="ta.tipoAreaID as ta.nombre for ta in tipoAreas">
                        </select>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Codigo</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="areaSel.codigo">
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 col-sm-2 control-label">Area Padre(opcional)</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="areaSel.areaPadreID">
                            <option value="0"></option>
                            <option ng-repeat="a in areas " value="{{a.areaID}}">{{a.nombre}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Estado</label>
                    <div class="col-sm-10">
                        <div class="radio" style="display: inline-block">
                          <label><input type="radio" ng-model="areaSel.estado" ng-value="'A'" >activo</label>
                        </div>
                        <div class="radio" style="display: inline-block">
                          <label><input type="radio" ng-model="areaSel.estado" ng-value="'I'">inactivo</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" ng-click="editarArea()"><i class="fa fa-save" ></i> Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modalNuevo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">NUEVA AREA</h4>
      </div>
      <div class="modal-body">
          
          
            <div class="form-panel" >
                <div class="form-horizontal style-form" >
                    <div class="form-group" >
                        <label class="col-sm-2 col-sm-2 control-label">Area</label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="nuevaArea.tipoAreaID" ng-options="ta.tipoAreaID as ta.nombre for ta in tipoAreas">
                            </select>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Codigo</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="nuevaArea.codigo">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 col-sm-2 control-label">Area Padre(opcional)</label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="nuevaArea.areaPadreID">
                                <option value="0"></option>
                                <option ng-repeat="a in areas " value="{{a.areaID}}">{{a.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Estado</label>
                        <div class="col-sm-10">
                            <div class="radio" style="display: inline-block">
                              <label><input type="radio" ng-model="nuevaArea.estado" ng-value="'A'" checked>activo</label>
                            </div>
                            <div class="radio" style="display: inline-block">
                              <label><input type="radio" ng-model="nuevaArea.estado" ng-value="'I'">inactivo</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
          
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="agregarArea(usuMaster.organizacion.organizacionID)"><i class="fa fa-check" ></i> Guardar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalVer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">USUARIOS</h4>
      </div>
      <div class="modal-body">
          <div class="mi-tabla" style="overflow-y: auto;max-height: 500px;">
            <table class="table table-striped table-advance table-hover" >
              <thead>
              <tr>
                  <th>DNI</th>
                  <th>Nombre</th>
                  <th>Rol</th>
                  <th style="text-align: center">Jefe area</th>
                  <th style="text-align: center">Estado</th>
              </tr>
              </thead>

              <tbody >

                <tr ng-repeat="u in usuariosSel">
                    <td class="hidden-phone">{{u.DNI}}</td>
                    <td class="hidden-phone">{{u.nombre}}</td>
                    <td class="hidden-phone">{{u.rol}}</td>
                    <td style="text-align: center">
                        <span class="label label-mini label-warning" ng-show="areaSel.responsableID==u.sessionID">responsable</span>
                        <button class="btn btn-primary btn-xs" ng-show="areaSel.responsableID!=u.sessionID" ng-click="elegirResponsable(u.sessionID)" title="elegir responsable">
                            <i class="fa fa-check" ></i>
                        </button>
                    </td>
                    <td style="text-align: center">
                        <span class="label label-mini" ng-class="{'label-info': u.estado=='A','label-warning': u.estado=='I'}">{{u.estado}}</span>
                    </td>
                </tr>
              </tbody>

            </table>
          </div>
          
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
