<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h4 style="display:inline;line-height: 1.9">CATÁLOGOS</h4>
            </header>

            <div class="panel-body">
                <uib-tabset active="tabPrincipal" justified="true" >

                    <uib-tab index="0" heading="Contenido de la Tabla">    
                        <br>
                        <div class="form-group" >
                            <div class="col-sm-12 text-center">
                                <label class="col-sm-4 control-label">TABLA-ENTIDAD :</label>
                                <div class="col-sm-4">
                                    <select class="form-control" ng-model="catalogoBusqueda.catalogoID" ng-change="listarContenidoEntidad(catalogoBusqueda.catalogoID)">
                                        <option value=""></option>
                                        <option ng-repeat="a in catalogos" value="{{a.catalogoID}}">{{a.nombretabla}}</option>
                                    </select>
                                    <br>
                                </div>
                            </div>

                            <div class="tabla-responsiva">
                                <table  ng-table="miTabla" class="table table-bordered table-hover table-condensed editable-table" >

                                    <colgroup>
                                        <col width="5%" />
                                        <col width="5%" />
                                        <col width="40%" />
                                        <col width="40%" />
                                        <col width="10%" />
                                    </colgroup>

                                    <tbody>
                                        <tr ng-repeat="d in $data">
                                            <td data-title="'N°'" >{{(d.i) + 1}}</td>
                                            <td data-title="'Código'" class="hidden-phone" style="text-align: left">{{d.id}}</td>
                                            <td data-title="'Nombre'" filter="{Nombre:'text'}" class="hidden-phone" style="text-align: left">{{d.Nombre}}</td>
                                            <td data-title="'Descripción'" filter="{Descripcion:'text'}" class="hidden-phone" style="text-align: left">{{d.Descripcion}}</td>

                                            <td data-title="'Acción'" style="text-align: center">
                                                <button type="button" class="btn btn-primary btn-xs" ng-click="prepararRegistro($index, d)"><i class="fa fa-pencil" ></i></button>
                                                <button type="button" class="btn btn-danger btn-xs" ng-click="eliminarRegistro($index, d.id)"><i class="fa fa-trash-o " ></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> 
                        </div>    
                        <div align="right" >
                            <button class="btn btn btn-primary " data-toggle="modal" data-target="#modalNuevoRegistro"><i class="fa fa-plus" ></i> Agregar</button>      
                        </div>

                    </uib-tab>
                    
                    <uib-tab index="1" heading="Mapeo Catálogo">
                        <br>
                        <div class="tabla-responsiva">
                            <br>
                            <table ng-table="miTablaMapeoCatalogo" class="table table-bordered table-hover table-condensed editable-table" ng-init="listarCatalogos()">
                                <colgroup>
                                    <col width="5%" />
                                    <col width="40%" />
                                    <col width="40%" />
                                    <col width="5%" />
                                    <col width="10%" />
                                </colgroup>
                                <tbody>
                                    <tr ng-repeat="d in $data">
                                        <td data-title="'N°'">{{(d.i) + 1}}</td>
                                        <td data-title="'Nombre Tabla'" filter="{nombretabla:'text'}" sortable="'nombretabla'" class="hidden-phone">{{d.nombretabla}}</td>
                                        <td data-title="'Nombre Clase'" filter="{nombreclase:'text'}" sortable="'nombreclase'" class="hidden-phone">{{d.nombreclase}}</td>
                                        <td data-title="'Estado'" style="text-align: center">
                                            <span class="label label-mini" ng-class="{'label-info': d.estado == 'A','label-warning': d.estado == 'I'}">{{d.estado}}</span>
                                        </td>
                                        <td data-title="'Acción'" style="text-align: center">
                                            <button type="buttom" class="btn btn-primary btn-xs" ng-click="prepararEditar($index, d)"><i class="fa fa-pencil" ></i></button>
                                            <button type="buttom" class="btn btn-danger btn-xs" ng-click="eliminarCatalogo($index, d.catalogoID)"><i class="fa fa-trash-o " ></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> 
                        <div align="right" >
                            <button class="btn btn btn-primary " data-toggle="modal" data-target="#modalNuevo"><i class="fa fa-plus" ></i> Agregar</button>      
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </section>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">ACTUALIZAR CATALOGO</h4>
            </div>
            <div class="modal-body">
                <div class="form-panel">
                    <div class="form-horizontal style-form" >
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Nombre Tabla</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="catalogoSel.nombretabla">
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Nombre Clase</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="catalogoSel.nombreclase">
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Estado</label>
                            <div class="col-sm-10">
                                <div class="radio" style="display: inline-block">
                                    <label><input type="radio" ng-model="catalogoSel.estado" ng-value="'A'" >activo</label>
                                </div>
                                <div class="radio" style="display: inline-block">
                                    <label><input type="radio" ng-model="catalogoSel.estado" ng-value="'I'">inactivo</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" ng-click="editarCatalogo()"><i class="fa fa-save" ></i> Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalNuevo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">NUEVO CATALOGO</h4>
            </div>
            <div class="modal-body">


                <div class="form-panel" >
                    <div class="form-horizontal style-form" >
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Nombre Tabla</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="catalogo.nombretabla">
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Nombre Clase</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="catalogo.nombreclase">
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Estado</label>
                            <div class="col-sm-10">
                                <div class="radio" style="display: inline-block">
                                    <label><input type="radio" ng-model="catalogo.estado" ng-value="'A'" checked>activo</label>
                                </div>
                                <div class="radio" style="display: inline-block">
                                    <label><input type="radio" ng-model="catalogo.estado" ng-value="'I'">inactivo</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" ng-click="agregarCatalogo()"><i class="fa fa-check" ></i> Guardar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalNuevoRegistro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">NUEVO REGISTRO</h4>
            </div>
            <div class="modal-body">


                <div class="form-panel" >
                    <div class="form-horizontal style-form" >
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Nombre </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="registro.Nombre">
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Descripcion</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="registro.Descripcion">
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Estado</label>
                            <div class="col-sm-10">
                                <div class="radio" style="display: inline-block">
                                    <label><input type="radio" ng-model="registro.estado" ng-value="'A'" checked>activo</label>
                                </div>
                                <div class="radio" style="display: inline-block">
                                    <label><input type="radio" ng-model="registro.estado" ng-value="'I'">inactivo</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" ng-click="agregarRegistro()"><i class="fa fa-check" ></i> Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalEditarRegistro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">ACTUALIZAR</h4>
            </div>
            <div class="modal-body">
                <div class="form-panel">
                    <div class="form-horizontal style-form" >
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Nombre</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="resgitroSel.Nombre">
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Descripcion</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="resgitroSel.Descripcion">
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Estado</label>
                            <div class="col-sm-10">
                                <div class="radio" style="display: inline-block">
                                    <label><input type="radio" ng-model="resgitroSel.estado" ng-value="'A'" >activo</label>
                                </div>
                                <div class="radio" style="display: inline-block">
                                    <label><input type="radio" ng-model="resgitroSel.estado" ng-value="'I'">inactivo</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" ng-click="editarRegistro()"><i class="fa fa-save" ></i> Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>