<div class="row"><div class="col-lg-12">
<section class="panel">
    <header class="panel-heading">
        <h4 style="display:inline;line-height: 1.9">Datos de Usuario</h4>
    </header>
    <div class="panel-body" ng-init="buscarOrganizacion(usuMaster.usuario.usuarioID)">
        <form name="formFicha">
        
        <div class="form-panel">
            <div class="form-horizontal style-form" >
                <div class="form-group" >
                    <label class="col-sm-2 control-label">DNI</label>
                    <div class="col-sm-10">
                        <input  name="dni" type="text" class="form-control" ng-model="persona.dni">
                        <p ng-show="formFicha.dni.$invalid && !formFicha.dni.$pristine" class="help-block">Este campo es obligatorio.</p>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Nombre</label>
                    <div class="col-sm-10">
                        <input type="text" name="nombre" class="form-control" ng-model="persona.nombre">
                        <p ng-show="formFicha.nombre.$invalid && !formFicha.nombre.$pristine" class="help-block">Este campo es obligatorio.</p>

                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Apellido Paterno</label>
                    <div class="col-sm-10">
                        <input type="text" name="paterno" class="form-control" ng-model="persona.paterno">
                        <p ng-show="formFicha.paterno.$invalid && !formFicha.paterno.$pristine" class="help-block">Este campo es obligatorio.</p>

                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Apellido Materno</label>
                    <div class="col-sm-10">
                        <input type="text" name="materno" class="form-control" ng-model="persona.materno">
                        <p ng-show="formFicha.materno.$invalid && !formFicha.materno.$pristine" class="help-block">Este campo es obligatorio.</p>

                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Correo</label>
                    <div class="col-sm-10">
                        <input type="text" name="email" class="form-control" ng-model="persona.email">
                        <p ng-show="formFicha.email.$invalid && !formFicha.email.$pristine" class="help-block">Este campo es obligatorio.</p>

                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Telefono</label>
                    <div class="col-sm-10">
                        <input type="text" name="numero1" class="form-control" ng-model="persona.numero1">
                        <p ng-show="formFicha.numero1.$invalid && !formFicha.numero1.$pristine" class="help-block">Este campo es obligatorio.</p>

                    </div>
                </div>
                <div class="form-group" >
                            <label class="col-sm-2 control-label">Foto perfil </label>
                            <div class="col-sm-10">
                                <input-file nombre="persona.urlNom" archivo="persona.archivo" ></input-file>
                            </div>
                </div>
                
                <h4>Datos de Usuario</h4>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Nombre de usuario</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="usuario.nombre">
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Password Anterior</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" ng-model="usuario.password">
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Nuevo Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" ng-model="usuario.nuevoPassword">
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Repita Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" ng-model="usuario.nuevoPassword2">
                    </div>
                </div>
            </div>
        </div>
        
        
        <div align="right" >
            <button class="btn btn-danger " ng-click="cancelar()"><i class="fa fa-times" ></i> Cancelar</button>
            <button class="btn btn btn-primary " ng-click="editarPassword()" ng-disabled="formFicha.$invalid"><i class="fa fa-save" ></i> Actualizar datos</button>
        </div>
       </form>
    </div>
</section>
</div></div>
