<div class="row"><div class="col-lg-12">
<section class="panel">
    <header class="panel-heading">
        <h4 style="display:inline;line-height: 1.9">SUB MODULOS DEL SISTEMA</h4>
        <span class="tools pull-right">
            <button class="btn btn btn-primary btn-sm" ng-click="listarSubModulos()"><i class="fa fa-rotate-right"></i> Listar</button>
        </span>
    </header>
    <div class="panel-body" ng-init="listarSubModulos()">
        <div class="tabla-responsiva"><table ng-table="tablaSubModulo" class="table table-striped table-hover" show-filter="true" >
            <colgroup>
                <col width="50px" /><col width="25%" /><col width="auto" /><col width="80px" /><col width="80px"/><col width="65px" />
            </colgroup>
            <tr ng-repeat="sm in $data">
                <td data-title="'Codigo'" filter="{ codigo: 'text'}" sortable="'codigo'" style="text-align:center">
                    {{sm.codigo}}</td>
                <td data-title="'Nombre'" filter="{ nombre: 'text'}" sortable="'nombre'">
                    {{sm.nombre}}</td>
                <td data-title="'Descripcion'" >
                    {{sm.descripcion}}</td>
                <td data-title="'Estado'" filter="{ estado: 'select'}" filter-data="estados" sortable="'estado'" style="text-align: center;">
                    <span class="label label-mini" ng-class="{'label-info': sm.estado=='A','label-warning': sm.estado=='I'}">{{sm.estado}}</span>
                </td>
                <td data-title="'SubModulos'" style="text-align:center">
                    <span class="label label-mini label-primary" ng-click="verFunciones(sm)" style="cursor:pointer">ver</span>
                </td>
                <td data-title="'accion'" >
                    <button class="btn btn-primary btn-xs" ng-click="prepararEditar(sm)"><i class="fa fa-pencil" ></i></button>
                    <button class="btn btn-danger btn-xs" ng-click="eliminarSubModulo(sm.i,sm.subModuloID)"><i class="fa fa-trash-o " ></i></button>
                </td>
            </tr>
            </table></div>
        <div align="right" >
            <button class="btn btn btn-primary " data-toggle="modal" data-target="#modalNuevo"><i class="fa fa-plus" ></i> Agregar</button>
            <button class="btn btn-danger " ng-click="eliminarSubModulos()"><i class="fa fa-times" ></i> Eliminar</button>
        </div>

    </div>
</section>
</div></div>

<!-- Modal -->
<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">ACTUALIZAR SUB MODULO SISTEMA</h4>
      </div>
      <div class="modal-body">
        <div class="form-panel">
            <div class="form-horizontal style-form" >
                <div class="form-group" >
                    <label class="col-sm-2 col-sm-2 control-label">Modulo</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="subModuloSel.moduloID" ng-options="m.moduloID as m.nombre for m in modulos"></select>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Codigo</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="subModuloSel.codigo">
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Nombre</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="subModuloSel.nombre">
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Descripcion</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" ng-model="subModuloSel.descripcion"></textarea>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Estado</label>
                    <div class="col-sm-10">
                        <div class="radio" style="display: inline-block">
                          <label><input type="radio" ng-model="subModuloSel.estado" ng-value="'A'" >activo</label>
                        </div>
                        <div class="radio" style="display: inline-block">
                          <label><input type="radio" ng-model="subModuloSel.estado" ng-value="'I'">inactivo</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" ng-click="editarSubModulo()"><i class="fa fa-save" ></i> Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modalNuevo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">NUEVO SUB MODULO</h4>
      </div>
      <div class="modal-body">
          
          
            <div class="form-panel">
                <div class="form-horizontal style-form" >
                    <div class="form-group" >
                        <label class="col-sm-2 col-sm-2 control-label">Modulo</label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="nuevoSubModulo.moduloID" ng-options="m.moduloID as m.nombre for m in modulos">
                            </select>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Codigo</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="nuevoSubModulo.codigo">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Nombre</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="nuevoSubModulo.nombre">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Descripcion</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" ng-model="nuevoSubModulo.descripcion"></textarea>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Estado</label>
                        <div class="col-sm-10">
                            <div class="radio" style="display: inline-block">
                              <label><input type="radio" ng-model="nuevoSubModulo.estado" ng-value="'A'" checked>activo</label>
                            </div>
                            <div class="radio" style="display: inline-block">
                              <label><input type="radio" ng-model="nuevoSubModulo.estado" ng-value="'I'">inactivo</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
          
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="agregarSubModulo()"><i class="fa fa-check" ></i> Guardar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalVer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">LISTA DE FUNCIONES</h4>
      </div>
      <div class="modal-body">
          <div class="mi-tabla" style="overflow-y: auto;max-height: 500px;">
            <table class="table table-striped table-advance table-hover" >
              <thead>
              <tr>
                  <th>Nombre</th>
                  <th>Clave</th>
                  <th style="width: 65px;text-align: center">Estado</th>
              </tr>
              </thead>
              <tbody >
                <tr ng-repeat="f in funcionesSel">
                    <td class="hidden-phone">{{f.nombre}}</td>
                    <td class="hidden-phone">{{f.clave}}</td>
                    <td style="text-align: center">
                        <span class="label label-mini" ng-class="{'label-info': f.estado=='A','label-warning': f.estado=='I'}">{{f.estado}}</span>
                    </td>
                </tr>
              </tbody>

            </table>
          </div>
          
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>



