<div class="row"><div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h4 style="display:inline;line-height: 1.9">USUARIOS</h4>
                <span class="tools pull-right">
                    <button class="btn btn btn-primary btn-sm" title="Listar Usuarios" ng-click="listarUsuarios(10, 0)"><i class="fa fa-rotate-right"></i> Listar</button>
                </span>
            </header>
            <div class="panel-body">
                <div id="editable-sample_wrapper" class="dataTables_wrapper form-inline" role="grid">
                    <div class="tabla-responsiva">
                        <table class="table table-hover" ng-init="listarUsuarios(10, 0)" ng-table="tablaUsuario">
                            <colgroup>
                                <col width="5%" />
                                <col width="10%" />
                                <col width="10%" />
                                <col width="10%" />
                                <col width="10%" />
                                <col width="10%" />
                                <col width="20%" />
                                <col width="15%"/>
                                <col width="5%" />
                                <col width="15%" />
                            </colgroup>
                            <tr>
                                <th>N</th>
                                <th>Usuario</th>
                                <th>DNI</th>
                                <th>Apellido Paterno</th>
                                <th>Apellido Materno</th>
                                <th>Nombre</th>
                                <th>Organizacion</th>
                                <th>Rol</th>
                                <th>Estado</th>
                                <th>Accion</th>
                            </tr>
                            <tr>
                                 <!--<td></td>
                                <td><input size="10" maxlength="10" ng-model="f.nombreUsuario" ng-change="filter_by('usuario', 'nombreUsuario', f.nombreUsuario)"></td>
                                <td><input size="8" maxlength="8" ng-model="f.DNI" ng-change="filter_by('persona', 'DNI', f.DNI)"></td>
                                <td><input ng-model="f.apePat" ng-change="filter_by('persona', 'apePat', f.apePat)"></td>
                                <td><input ng-model="f.apeMat" ng-change="filter_by('persona', 'apeMat', f.apeMat)"></td>
                                <td><input ng-model="f.nombre" ng-change="filter_by('persona', 'nombre', f.nombre)"></td>
                                <td><select ng-model="f.orgNombre" ng-options="org.nombre as org.nombre for org in organizacionesSelect" ng-change="filter_by('organizacion','orgNombre',f.orgNombre)"></select></td>
                                <td><select ng-model="f.rolNombre" ng-options="rol.nombre as rol.nombre for rol in rolesSelect" ng-change="filter_by('rol','rolNombre',f.rolNombre)"></select></td>
                                <td><select ng-model="f.estId" ng-options="est.id as est.title for est in estadosSelect" ng-change="filter_by('sesion','estId',f.estId)"></select></td>

                                <td><input ng-model="f.orgNombre" ng-change="filter_by('organizacion', 'orgNombre', f.orgNombre)"></td>
                                <td><input ng-model="f.rolNombre" ng-change="filter_by('rol', 'rolNombre', f.rolNombre)"></td>
                                <td><input size="3" ng-model="f.estId" ng-change="filter_by('sesion', 'estId', f.estId)"></td>-->
                                
                                <td></td>
                                <td><input size="10" maxlength="10" ng-model="confFiltros[0].data" ng-change="filtrar()"></td>
                                <td><input size="8" maxlength="8" ng-model="confFiltros[1].data" ng-change="filtrar()"></td>
                                <td><input ng-model="confFiltros[2].data" ng-change="filtrar()"></td>
                                <td><input ng-model="confFiltros[3].data" ng-change="filtrar()"></td>
                                <td><input ng-model="confFiltros[4].data" ng-change="filtrar()"></td>
                                <td><input ng-model="confFiltros[5].data" ng-change="filtrar()"></td>
                                <td><input ng-model="confFiltros[6].data" ng-change="filtrar()"></td>
                                <!--<td><input size="3" ng-model="f.estId" ng-change="filter_by('sesion', 'estId', f.estId)"></td>-->
                                <td></td>
                                <td></td>
                            </tr>
                            <tr ng-repeat-start="u in $data">
                                <!--<td data-title="'N'" sortable="'i'" >{{u.i}}</td>
                                <td data-title="'Usuario'" filter="{ nombreUsuario: 'text'}" sortable="'nombreUsuario'" ngChange="'listarUsuariosxFiltro(10,0,usuario,nombreUsuario,nombreUsuario)'" >{{u.nombreUsuario}}</td>
                                <td data-title="'DNI'" filter="{ DNI: 'text'}" sortable="'DNI'" style="text-align: center">{{u.DNI}}</td>
                                <td data-title="'Nombre'" filter="{ nombres: 'text'}" sortable="'nombres'" >{{u.nombres}}</td>
                                <td data-title="'Organizacion'" filter="{ organizacion: 'select'}" filter-data="organizacionesSelect" sortable="'organizacion'" style="text-align: center">
                                    {{u.sessiones[0].organizacion}}
                                </td>
                                <td data-title="'Rol'" filter="{ rol: 'select'}" filter-data="rolesSelect" sortable="'rol'" style="text-align: center">
                                    {{u.sessiones[0].rol}}
                                </td>
                                <td data-title="'Estado'" filter="{ estado: 'select'}" filter-data="estadosSelect " sortable="'estado'" style="text-align: center">
                                    <span class="label label-mini" ng-class="{'label-info': u.estado == 'A','label-warning': u.estado == 'I'}">{{u.estado}}</span>
                                </td>-->
                                <td>{{u.i}}</td>
                                <td>{{u.nombreUsuario}}</td>
                                <td>{{u.DNI}}</td>
                                <td>{{u.paterno}}</td>
                                <td>{{u.materno}}</td>
                                <td>{{u.nombre}}</td>
                                <td>
                                    {{u.sessiones[0].organizacion}}
                                </td>
                                <td>
                                    {{u.sessiones[0].rol}}
                                </td>
                                <td>
                                    <span class="label label-mini" ng-class="{'label-info': u.estado == 'A','label-warning': u.estado == 'I'}">{{u.estado}}</span>
                                </td>
                                <td data-title="'Accion'" style="text-align: center;">
                                    <button ng-if="u.sessiones.length > 1" class="btn btn-primary btn-xs" ng-click="u.$ver = !u.$ver" title="ver roles"><i class="fa" ng-class="{'fa-chevron-down': u.$ver,'fa-chevron-right': !u.$ver}"></i></button>
                                    <button class="btn btn-primary btn-xs" ng-click="prepararEditar(u)" title="editar usuario"><i class="fa fa-pencil" ></i></button>
                                    <button class="btn btn-danger btn-xs" ng-click="eliminarUsuario(u.i, u.usuarioID)" title="eliminar usuario"><i class="fa fa-trash-o " ></i></button>
                                </td>
                            </tr>
                            <tr ng-if="u.sessiones.length > 1" ng-show="u.$ver" ng-repeat="s in u.sessiones" style="background-color: rgb(255, 246, 228)" ng-repeat-end>
                                <td colspan="4"><input type="hidden"></td>
                                <td style="text-align: center">
                                    {{s.organizacion}}
                                </td>
                                <td style="text-align: center">
                                    {{s.rol}}
                                </td>
                                <td data-title="'Estado'" style="text-align: center">
                                    <span class="label label-mini" ng-class="{'label-info': s.estado == 'A','label-warning': s.estado == 'I'}">{{s.estado}}</span>
                                </td>
                                <td ></td>
                            </tr>
                        </table>
                    </div>
                </div>


                <div class='btn-group'>
                    <button type='button' class='btn btn-default' ng-disabled='currentPage == 0' ng-click='mostrarDataPagAnt()'>&laquo;</button>
                    <!--<button type='button' class='btn btn-default' ng-disabled='currentPage == 0' ng-click='(currentPage = currentPage - 1);mostrarDataPagAnt()'>&laquo;</button>-->
                    <button type='button' class='btn btn-default' ng-disabled='currentPage == page.no - 1' ng-click='setPage(page.no)' ng-repeat='page in pages'>{{page.no}}</button>
                    <button type='button' class='btn btn-default' ng-disabled='currentPage >= canTotUsu / pageSize - 1' ng-click='mostrarDataPagSig()'>&raquo;</button>
                    <!--<button type='button' class='btn btn-default' ng-disabled='currentPage >= canTotUsu/pageSize - 1' ng-click='mostrarDataPagSig()'>&raquo;</button>-->
                </div>

                <div align="right" >
                    <button class="btn btn btn-primary " ng-click="prepararAgregar()" ><i class="fa fa-plus" ></i> Agregar</button>
                </div>

            </div>
        </section>
    </div></div>

<!-- Modal -->
<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">ACTUALIZAR USUARIO</h4>
            </div>
            <div class="modal-body">
                <div class="form-panel">
                    <div class="form-horizontal style-form" >
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">DNI *</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="usuarioSel.DNI" disabled>
                            </div>
                            <label class="col-sm-2 control-label">Nombres *</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" ng-model="usuarioSel.nombres" disabled>
                            </div>
                        </div>
                        <hr/>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Usuario</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="usuarioSel.nombreUsuario">
                            </div>
                            <label class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="usuarioSel.password">
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Estado</label>
                            <div class="col-sm-10">
                                <div class="radio" style="display: inline-block">
                                    <label><input type="radio" ng-model="usuarioSel.estado" ng-value="'A'" >activo</label>
                                </div>
                                <div class="radio" style="display: inline-block">
                                    <label><input type="radio" ng-model="usuarioSel.estado" ng-value="'I'">inactivo</label>
                                </div>
                            </div>
                        </div> 

                        <br>  

                        <div align="right">  
                            <button class="btn btn btn-success" ng-click="actualizarEstadoFormNewRole()" ng-show="estadoBotonNewRole" ng-hide="!estadoBotonNewRole" >
                                <span class="glyphicon glyphicon-plus-sign"></span> Agregar Rol
                            </button>
                        </div>

                        <br>

                        <div class="tabla-responsiva" style="max-height: 200px;border-top: 2px solid #ddd;margin-bottom: 0px;" ng-show="!estadoFormNewRole" ng-hide="estadoFormNewRole">
                            <table class="table peque" style="margin-bottom: 0">
                                <thead>
                                    <tr>
                                        <th style="width:15px">#</th><th style="width:auto;">Organizacion</th><th style="width:30%;">Rol</th><th style="width:60px">Estado</th><th style="width:55px">Accion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="s in usuarioSel.sessiones">
                                        <td>{{$index + 1}}</td>
                                        <td>
                                            <span ng-hide="s.edi" >{{s.organizacion}}</span>
                                            <span ng-show="s.edi" ><select class="form-control input-table" ng-model="s.copia.org" ng-options="o as o.nombre for o in organizaciones"></select></span>
                                        </td>
                                        <td>
                                            <span ng-hide="s.edi" >{{s.rol}}</span>
                                            <span ng-show="s.edi" ><select class="form-control input-table" ng-model="s.copia.rolID" ng-options="r.rolID as r.nombre for r in s.copia.org.roles | filter:{estado:'A'}"></select></span>
                                        </td>
                                        <td>
                                            <span ng-hide="s.edi" class="label label-mini" ng-class="{'label-info': s.estado == 'A','label-warning': s.estado == 'I'}">{{s.estado}}</span>
                                            <select ng-show="s.edi" class="form-control input-table" ng-model="s.copia.estado">
                                                <option value="A">A</option>
                                                <option value="I">I</option>
                                            </select>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-primary btn-xs" title="Editar Session" ng-click="editarSession($index, s)"><i class="fa" ng-class="{'fa-check':s.edi,'fa-pencil':!s.edi}" ></i></button>
                                            <!--<button type="button" class="btn btn-xs" ng-class="{'btn-danger':!s.edi}" ng-click="eliminarSession($index,s)"><i class="fa" ng-class="{'fa-times':s.edi,'fa-trash-o':!s.edi}"></i></button>-->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!--<table class="table peque" style="margin-bottom: 0;background: #f1f2f7;">
                                <tr>
                                    <td style="width:15px">+</td>
                                    <td style="width:auto">
                                        <select class="form-control input-table" ng-model="session.org" ng-options="o as o.nombre for o in organizaciones"></select>
                                    </td>
                                    <td style="width:30%">
                                        <select class="form-control input-table" ng-model="session.rolID" ng-options="r.rolID as r.nombre for r in session.org.roles"></select>
                                    </td>
                                    <td style="width:60px">
                                    </td>
                                    <td style="width:55px">
                                        <button class="btn btn-success btn-xs" ng-click="agregarSession()" title="agregar session"><i class="fa fa-plus" ></i></button>
                                    </td>
                                </tr>
                            </table>-->
                            <br>
                            
                            <div align="right">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                <!--<button type="button" class="btn btn-primary" ng-click="editarUsuario()"><i class="fa fa-save" ></i> Guardar Cambios</button>-->
                                <button type="button" class="btn btn-primary" ng-click="actualizarUsuario(0)"><i class="fa fa-save" ></i> Guardar Cambios</button>
                            </div>
                        </div>

                        <div class="form-group" ng-show="estadoFormNewRole" ng-hide="!estadoFormNewRole" >
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Organizacion*</label>
                                <div class="col-sm-8">
                                    <select class="form-control" ng-model="sessionToUpdate.orgSel" ng-options="o as o.nombre for o in organizaciones">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Rol *</label>
                                <div class="col-sm-8">
                                    <select class="form-control" ng-model="sessionToUpdate.rolSel" ng-options="r as r.nombre for r in sessionToUpdate.orgSel.roles | filter:{estado:'A'}">
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-inline col-sm-offset-1">
                                    <label class="control-label">¿El usuario es trabajador?: </label>
                                    <div class="btn-group" data-toggle="buttons">
                                        <input type="radio" name="esTrabajadorNewRole" ng-model="esTrabajadorNewRole" value="1"> SI
                                        <input type="radio" name="esTrabajadorNewRole" ng-model="esTrabajadorNewRole" value="0"> NO
                                    </div>
                                </div>
                            </div>  
                            <div class="form-horizontal style-form" ng-show="esTrabajadorNewRole === '1'">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label ">Jornada laboral: </label>
                                    <div class="col-sm-3">
                                        <select class="form-control input-sm m-bot15" ng-model="nuevoDespla.jorLab" required>
                                            <option ng-repeat="j in jorLabs" value="{{j}}">{{j}}</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Número de documento: </label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" placeholder="Número de resolución" ng-model="nuevoDespla.numDoc">
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Tipo de documento: </label>
                                    <div class="col-sm-3">
                                        <select class="form-control input-sm m-bot15" ng-model="nuevoDespla.tipDoc" required>
                                            <option ng-repeat="t in tipDocs" value="{{t}}">{{t}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <div align="right">
                                <button type="button" class="btn btn-default" ng-click="actualizarEstadoBotonNewRole2()" ng-show="!estadoBotonNewRole" ng-hide="estadoBotonNewRole" >Cancelar</button>
                                <button class="btn btn-info" ng-click="actualizarEstadoBotonNewRole();actualizarUsuario(1)" ng-show="!estadoBotonNewRole" ng-hide="estadoBotonNewRole" >
                                    <i class="fa fa-check" ></i> Actualizar nuevo rol
                                </button>
                            </div>
                    </div>
                </div>


            </div>
            
        </div>
    </div>
</div>


<div class="modal fade" id="modalNuevo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">NUEVO USUARIO</h4>
            </div>
            <div class="modal-body">
                <div class="form-panel">
                    <div class="form-horizontal style-form" >
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">DNI *</label>
                            <div class="col-sm-10">
                                <div class="input-group m-bot15">
                                    <input type="text" class="form-control input-lg" ng-keyup="reiniciarDatos()" style="text-align: center;" data-mask="99999999" ng-model="nuevaPersona.dni" >
                                    <span class="input-group-btn">
                                        <button class="btn btn-success input-lg" type="button" ng-click="buscarPersona()">Verificar</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Nombres *</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="nuevaPersona.nombre" ng-disabled="nuevaPersona.dni == '' || nuevaPersona.existe">
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">A Paterno *</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="nuevaPersona.paterno" ng-disabled="nuevaPersona.dni == '' || nuevaPersona.existe">
                            </div>
                            <label class="col-sm-2 control-label">A Materno *</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="nuevaPersona.materno" ng-disabled="nuevaPersona.dni == '' || nuevaPersona.existe">
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Email *</label>
                            <div class="col-sm-10">
                                <input type="email" pattern=".+@.+" class="form-control" ng-model="nuevaPersona.email" ng-disabled="nuevaPersona.dni == '' || nuevaPersona.existe">
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Numero *</label>
                            <div class="col-sm-4">
                                <input type="number" min="0" max="999999999" class="form-control" ng-model="nuevaPersona.numero1" ng-disabled="nuevaPersona.dni == '' || nuevaPersona.existe">
                            </div>
                            <label class="col-sm-2 control-label">Numero 2</label>
                            <div class="col-sm-4">
                                <input type="number" min="0" max="999999999" class="form-control" ng-model="nuevaPersona.numero2" placeholder="opcional" ng-disabled="nuevaPersona.dni == '' || nuevaPersona.existe">
                            </div>
                        </div>

                        <h4>Informacion de Usuario</h4>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Usuario *</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="nuevoUsuario.nombre" disabled>
                            </div>
                            <label class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="nuevoUsuario.password" placeholder="opcional"> 
                                <label  style="background-color: transparent "> Tres primeras letras de paterno,materno,nombre</label>
                            </div>
                            
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Estado</label>
                            <div class="col-sm-10">
                                <div class="radio" style="display: inline-block">
                                    <label><input type="radio" ng-model="nuevoUsuario.estado" ng-value="'A'" checked>activo</label>
                                </div>
                                <div class="radio" style="display: inline-block">
                                    <label><input type="radio" ng-model="nuevoUsuario.estado" ng-value="'I'">inactivo</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-hide="nuevoUsuario.existe">
                            <label class="col-sm-2 control-label">Organizacion*</label>
                            <div class="col-sm-10">
                                <select class="form-control" ng-model="oSel" ng-options="o as o.nombre for o in organizaciones">
                                </select>
                            </div>
                        </div>
                        <div class="form-group" ng-hide="nuevoUsuario.existe">
                            <label class="col-sm-2 control-label">Rol *</label>
                            <div class="col-sm-10">
                                <select class="form-control" ng-model="nuevoUsuario.rolID" ng-options="r.rolID as r.nombre for r in oSel.roles | filter:{estado:'A'}">
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-inline col-sm-offset-1">
                                <label class="control-label">¿El usuario es trabajador?: </label>
                                <div class="btn-group" data-toggle="buttons">
                                    <input type="radio" name="esTrabajador" ng-model="esTrabajador" value="1"> SI
                                    <input type="radio" name="esTrabajador" ng-model="esTrabajador" value="0"> NO
                                </div>
                            </div>
                        </div>   
                        <div class="form-group" ng-show="esTrabajador === '1'">
                            <div class="form-group" ng-hide="nuevoUsuario.existe">
                                <label class="col-sm-2 control-label ">Jornada laboral: </label>
                                <div class="col-sm-3">
                                    <select class="form-control input-sm m-bot15" ng-model="nuevoDespla.jorLab" required>
                                        <option ng-repeat="j in jorLabs" value="{{j}}">{{j}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" ng-hide="nuevoUsuario.existe">
                                <label class="col-sm-2 control-label">Número de documento: </label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" placeholder="Número de resolución" ng-model="nuevoDespla.numDoc">
                                </div>
                            </div>
                            <div class="form-group" ng-hide="nuevoUsuario.existe">
                                <label class="col-sm-2 control-label">Tipo de documento: </label>
                                <div class="col-sm-3">
                                    <select class="form-control input-sm m-bot15" ng-model="nuevoDespla.tipDoc" required>
                                        <option ng-repeat="t in tipDocs" value="{{t}}">{{t}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" ng-click="agregarUsuario()" ng-disabled="nuevaPersona.dni == '' || nuevoUsuario.existe"><i class="fa fa-check" ></i> Guardar</button>
            </div>
        </div>
    </div>
</div>
