<div class="row fichaEvaluacion">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <md-progress-linear ng-if="ctrlcargoComision.showProgress" md-mode="indeterminate"></md-progress-linear>
                <h4>Actas de reunion</h4>
            </header>
            <div class="panel-default">
                <div class="panel-heading">Acta 1</div>
                 <div class="panel-body">
                    <p>Descripcion del acta</p>
                 </div>
                <table ng-table="ctrlcargoComision.tablaCargos" class="table table-bordered table-hover table-condensed editable-table" >
                    <colgroup>
                        <col width="10%" />
                        <col width="30%" />
                        <col width="50%" />
                        <col width="10%" />
                    </colgroup>
                    <tr ng-repeat="row in $data" ng-form="rowFormCargo">
                        <td ng-form="cod" data-title="'Codigo'"><span>{{row.cod}}</span></td>
                        <td filter="{nom: 'text'}" sortable="'nom'"  ng-form="nom" data-title="'Nombre'"><span>{{row.nom}}</span></td>
                        <td ng-form="des" data-title="'Descripcion'"><span>{{row.des}}</span></td>
                        <td>
                            <button class="btn btn-primary btn-sm" ng-click="ctrl.editarAcuerdo(row)">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button class="btn btn-danger btn-sm md-primary md-raised" ng-click="ctrl.eliminarAcuerdo($event,row)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
            
            <div id="opciones" class="row">
                <form class="form-inline" role="form">
                    <div class="form-group col-lg-offset-10">
                        <button type="submit" class="btn btn-primary" ng-click="ctrlcargoComision.nuevoCargo()">Nuevo</button>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>
