<div class="row fichaEvaluacion">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <md-progress-linear ng-if="ctrlreporte.showProgress" md-mode="indeterminate"></md-progress-linear>
                <h4 style="display:inline;line-height: 1.9">Reporte de Comisiones</h4>
            </header>
            <div class="panel-body">
                <form name="myForm" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Organizacion:</label>
                        <div class="col-lg-4">
                            <select class="form-control" ng-model="ctrlreporte.org" ng-options="s as s.nom for s in ctrlreporte.orgs track by s.cod"
                                    ng-change="ctrlreporte.mostrarComisiones(ctrlreporte.org)"></select>
                        </div>
                    </div>
                </form>
                <table ng-table="ctrlreporte.tablaComisiones" class="table table-bordered table-hover table-condensed editable-table" >
                    <colgroup>
                        <col width="20%"/>
                        <col width="20%"/>
                        <col width="30%"/>
                        <col width="15%"/>
                        <col width="15%"/>
                    </colgroup>
                    <tr ng-repeat="row in $data" ng-form="rowFormComision">
                        <td align="center" filter="{'org.nom': 'text'}" sortable="'org'"  ng-form="org" data-title="'Organizacion'"><span>{{row.org.nom}}</span></td>
                        <td filter="{nom: 'text'}" sortable="'nom'"  ng-form="nom" data-title="'Nombre'"><span>{{row.nom}}</span></td>
                        <td ng-form="des" data-title="'Descripcion'"><span>{{row.des}}</span></td>
                        <td ng-form="fec" data-title="'Fecha Creacion'"><span>{{row.fec | date:'dd-MM-yyyy'}}</span></td>
                        <td align="center">
                           
                            <button class="btn btn-primary btn-sm" ng-click="ctrlreporte.estActa(row)" uib-tooltip="Estadistica General de Actas" >
                                <span class="glyphicon glyphicon-stats"></span>
                            </button>
                            <button class="btn btn-success btn-sm md-primary md-raised"
                                    ng-click="ctrlreporte.estAsistencia(row)" uib-tooltip="Estadistica General de Asistencias">
                                <span class="glyphicon glyphicon-stats"></span>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </section>
    </div>
</div>

<script type="text/ng-template" id="estadisticas.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close"  aria-hidden="true" ng-click="ctrl.cancelar()">&times;</button>
            <h4 class="modal-title">{{ctrl.titulo}}</h4>
        </div>
        <div class="modal-body">
                <canvas id="bar" class="chart chart-bar" chart-data="ctrl.data"
                    chart-labels="ctrl.labels"  chart-series="ctrl.series" chart-colors="ctrl.colors" chart-options="options"> 
                </canvas>
        </div>
        
    </div>
</script>