<div class="row">
    <div class="col-lg-12">
        <div class="panel">
            <header class="panel-heading">
                <md-progress-linear ng-if="ctrl.showProgress" md-mode="indeterminate"></md-progress-linear>
                <h4 style="display:inline;line-height: 1.9">Anecdotario de Estudiante</h4>
                <span class="tools pull-right">
                    <button type="submit" class="btn btn-primary btn-xs" ng-click="ctrl.nuevaAnecdota()">Nuevo</button>
                </span>
            </header>
            <div class="panel-body">
                <div>
                    <table ng-table="ctrl.anecdotas" class="table table-bordered table-hover table-condensed editable-table">
                        <colgroup>
                            <col width="5%" />
                            <col width="20%" />
                            <col width="40%" />
                            <col width="20%" />
                            <col width="15%" />
                        </colgroup>
                        <tr ng-repeat="row in $data">
                            <td ng-form="num" data-title="'N°'"><span>{{$index + 1}}</span></td>
                            <td filter="{fec: 'text'}" sortable="'fec'"  ng-form="org" data-title="'Fecha'"><span>{{row.fec | date: 'dd-MM-yyyy'}}</span></td>
                            <td filter="{des: 'text'}" sortable="'des'"  ng-form="nom" data-title="'Descripcion'"><span>{{row.des}}</span></td>
                            <td filter="{der: 'text'}" sortable="'der'"  ng-form="are" data-title="'Derivado a'"><span>{{ctrl.showDer(row.der)}}</span></td>
                            <td>
                                <button class="btn btn-primary btn-xs" data-toggle="tooltip" title="editar anecdotario" ng-click="ctrl.editarAnecdota(row)">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                                <button class="btn btn-danger btn-xs" data-toggle="tooltip" title="eliminar anecdotario" ng-click="ctrl.eliminarAnecdota($event,row)">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="nueva_anecdota.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close"  aria-hidden="true" ng-click="ctrl.cancelar()">&times;</button>
            <h4 class="modal-title">{{ctrl.titulo}}</h4>
        </div>
        <div class="modal-body">
            <div class="form-panel">
                <form class="form-horizontal style-form" name="myForm">
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Fecha:</label>
                        <div style="padding-left: 15px;" class="input-group col-sm-4 form-inline">
                            <input name="fec" type="text" class="form-control"  uib-datepicker-popup="dd-MM-yyyy" ng-model="ctrl.anec.fec" is-open="ctrl.abrirCalendar"
                                   datepicker-options="ctrl.dateOptions" close-text="Cerrar" today-text="Hoy" clear-text="Limpiar"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="ctrl.openCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Descripcion de la accion: </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="ctrl.anec.des"/>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Derivado a: </label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="ctrl.anec.tipDer"  ng-options="s.nom for s in ctrl.tipoDerivaciones track by s.cod"></select>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Acciones Correctivas: </label>
                        <div class="col-sm-10">
                            <table ng-table="ctrl.tablaAcciones" class="table table-bordered table-hover table-condensed editable-table" ng-form="ctrl.tableForm">
                                <colgroup>
                                    <col width="5%" />
                                    <col width="80%" />
                                    <col width="15%" />
                                </colgroup>
                                <tr>
                                    <th>N°</th>
                                    <th>Nombre Accion</th>
                                    <th>
                                        <button class="btn btn-primary btn-xs" ng-disabled = "ctrl.isSaving" ng-click="ctrl.addAccion()">
                                            <span class="glyphicon glyphicon-plus-sign"></span>
                                        </button>
                                    </th>
                                </tr>
                                <tr ng-repeat="row in $data" ng-form="rowForm">
                                    <td><span>{{$index + 1}}</span></td>
                                    <td ng-switch="row.edit" ng-form="nom">
                                        <span ng-switch-default class="editable-text">{{row.nom}}</span>
                                        <div class="controls" ng-switch-when="true">
                                            <input type="text" name="nom" ng-model="row.nom" class="editable-input form-control input-sm" required />
                                        </div>
                                    </td>
                                    <td>
                                        <button class="btn btn-primary btn-xs" ng-if="!row.edit" ng-click="ctrl.editarAccion(row)">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                        <button class="btn btn-primary btn-xs" ng-if="row.edit" ng-click="ctrl.aceptarEdicionAccion(row)">
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </button>
                                        <button class="btn btn-danger btn-xs md-primary md-raised" ng-if="!row.edit" ng-click="ctrl.eliminarAccion(row)">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                        <button class="btn btn-danger btn-xs md-primary md-raised" ng-if="row.edit" ng-click="ctrl.cancelarEdicionAccion(row)">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-sm" ng-click="ctrl.cancelar()">Cancelar</button>
            <button type="button" class="btn btn-primary btn-sm" ng-click="ctrl.save()">Guardar</button>
        </div>
    </div>
</script>