<div class="modal fade" id="modalEditarProgramacionMonitoreo" >
    <div class="modal-dialog modal-lg" style="width: 40%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-panel">
                    <form class="form-horizontal style-form" >
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Ingrese Número de Especialistas: </label>
                            <div class="col-sm-3">
                                <input class="form-control" type="number" ng-model="monitoreoSelect.numEsp"/>
                            </div>
                        </div>
                        <div class="form-group">    
                            <label class="col-sm-3 control-label">Ingrese Documento de Monitoreo: </label>
                            <div class="col-sm-6">   
                                <input-file nombre="monitoreoSelect.nomArchivo" archivo="monitoreoSelect.archivo"></input-file>
                                <view-file url="{{monitoreoSelect.url}}" nombre="monitoreoSelect.nomArchivo" archivo="monitoreoSelect.archivo" vernombre='true'></view-file>
                            </div>
                        </div>
                    </form>
                </div>    
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="actualizarMonitoreo()"> Guardar </button>                
                <button type="button" class="btn btn-danger" data-dismiss="modal" > Cancelar </button>                        
            </div>
        </div>
    </div>
</div>