<!DOCTYPE html>

<div class="row"><div class="col-lg-12">
        <section class="panel">
            <div>
                <uib-tabset active="active" type="pills">

                    <uib-tab index="0" heading="MONITOREO CARPETA PEDAGOGICA" select="ini1()" style="max-width: 25%;text-align: center;">
                        <div class="form-horizontal" style="background-color: white;">
                            <div class="form-group" >
                                <label class="col-sm-offset-2 col-sm-2 control-label">Institución Educativa</label>
                                <div class="col-sm-4">
                                    <select class="form-control">
                                        <option>IE RAFAEL DIAZ</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                        <header class="panel-heading">      
                            <span class="tools pull-right">
                                <button class="btn btn btn-primary btn-sm" ><i class="fa fa-rotate-right"></i> Actualizar</button>
                            </span>    
                        </header>    
                        <div class="panel-body" ng-init = "listarMonitoreos()">                    
                            <div class="tabla-responsiva"><table ng-table="tablaMonitoreos" class="table table-bordered table-condensed" show-filter="true" >                        
                                    <tr ng-repeat="p in $data">                            

                                        <td data-title="'Año'" filter="{anio: 'text'}">{{p.anio}}</td>
                                        <td data-title="'Docente'">{{p.nombreMon}}</td>                
                                        <td data-title="'Carpeta Pedagogica'">{{p.nombreIE}}</td>
                                        <td data-title="'Fecha'">{{p.FechaRegistro}}</td>
                                        <td data-title="'Estado'">{{p.nombreURL}}</td>

                                        <td style="text-align: center" data-title="'Ver Documentos'" class="modal-footer">
                                            <button class="btn btn btn-success" data-toggle="modal" data-target="#modalNuevoMonitoreo"><i class="fa fa-plus" ></i></button>
                                        </td>

                                    </tr>
                                </table>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>

            </div>             
        </section>
    </div>
</div>

<div class="modal fade" id="modalNuevoMonitoreo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width: 80%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">NUEVA PROGRAMACIÓN DE MONITOREO</h4>
            </div>
            <div class="modal-body">
                
                <div class="row">                                         
                    
                        <div class="col-sm-6" ng-init="listarIEs()">
                            Institución Educativa:
                            <select class="form-control" ng-model="nuevoMonitoreo.datosIE">
                                <option ng-repeat="i in institucionesEducativas" value="{{i.idIE + '@' + i.nombreIE + '@' + i.nivelIE}}">{{i.nombreIE + " " + i.nivelIE}}</option>
                            </select>
                        </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        Nombre de Monitoreo:                
                        <input type="text"  class="form-control" ng-model="nuevoMonitoreo.nombreMon">
                    </div>
                    <div class="col-sm-6">              
                        Documento:                
                        <input-file nombre="proyectoNuevo.prodoc" archivo="proyectoNuevo.archivo"></input-file>
                        <view-file url="{{proyectoNuevo.url}}" nombre="proyectoNuevo.prodoc" archivo="proyectoNuevo.archivo" vernombre='true'></view-file>
                    </div>            
                </div>           

                <div class="row">                                         
                    <div class="col-sm-6">
                        Número de Especialistas a monitorear:
                        <input class="form-control" type="number" ng-model="nuevoMonitoreo.numeroEsp"/>
                    </div>
                    <div class="col-sm-6">
                        Número de Docentes monitoreados:
                        <input class="form-control" type="number" ng-model="nuevoMonitoreo.numeroDoc"/>
                    </div>            
                </div>            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="agregarMonitoreo()"> Guardar </button>                
                <button type="button" class="btn btn-danger" data-dismiss="modal" > Cancelar </button>                        
            </div>
        </div>
    </div>
</div>
