<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="row"><div class="col-lg-12">
        <section class="panel">
            <div>
                <uib-tabset active="active" type="pills">

                    <uib-tab index="0" heading="REPORTES NIVEL UGEL" select="ini1()" style="max-width: 25%;text-align: center;">

                        <uib-tabset active="justificado2" justified="true">

                            <uib-tab index="0" heading="Cantidad de Docentes Evaluados" >    
                                <div class="row">
                                    <div class="form-horizontal">
                                        <div class="form-group" >
                                            <label class="col-sm-offset-2 col-sm-2 control-label">Desde</label>
                                            <div class="col-sm-2">
                                                <select class="form-control">
                                                    <option>2017</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group" >
                                            <label class="col-sm-offset-2 col-sm-2 control-label">Hasta</label>
                                            <div class="col-sm-2">
                                                <select class="form-control">
                                                    <option>2017</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class = "col-sm-2">
                                        <uib-tabset active="active" vertical="true" type="pills" style="border: 2px solid darkblue; border-radius: 8px">
                                            <uib-tab index="0" heading="Total de Docentes" style="text-align: justify" ng-click="updateOptions(0)"></uib-tab>
                                            <uib-tab index="1" heading="Según niveles" style="text-align: justify" ng-click="updateOptions(1)"></uib-tab>
                                            <uib-tab index="2" heading="Inicial y Primaria" style="text-align: justify" ng-click="updateOptions(2)"></uib-tab>
                                            <uib-tab index="3" heading="Secundaria" style="text-align: justify;" ng-click="updateOptions(3)"></uib-tab>

                                        </uib-tabset>
                                    </div>
                                    <form class="form-horizontal col-sm-10" method="get" ng-show="options[0]" ng-hide="!options[0]" >
                                        <div class="center panel-body" >
                                            <table ng-table="tablaIndex" class="table table-hover table-bordered table-condensed editable-table">
                                                <thead>
                                                    <tr>
                                                        <th class="center" style="text-align: center">Año de monitoreo</th>
                                                        <th class="center" style="text-align: center">2017</th>
                                                    </tr>
                                                    <tr>
                                                        <th class="center" style="text-align: center">Docentes</th>
                                                        <th class="center" style="text-align: center">Cantidad</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="center">Docentes Totales</td>
                                                        <td class="center" style="text-align: center">30</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="center">Docentes Monitoreados</td>
                                                        <td class="center" style="text-align: center">10</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <canvas id="cantidadDocenteEvaluados" class="chart chart-bar"
                                                    chart-data="data" chart-labels="labels" chart-series="series">
                                            </canvas>
                                            <br>
                                            <br>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="imprimirReporte1()">Imprimir</button> 
                                            </div> 
                                    </form>
                                    <form class="form-horizontal col-sm-10" method="get" ng-show="options[1]" ng-hide="!options[1]" >
                                        <div class="center panel-body" >
                                            <table ng-table="tablaIndex" class="table table-hover table-bordered table-condensed editable-table">
                                                <thead>
                                                    <tr>
                                                        <th class="center" style="text-align: center">Año de monitoreo</th>
                                                        <th class="center" style="text-align: center">2017</th>
                                                    </tr>
                                                    <tr>
                                                        <th class="center" style="text-align: center">Nivel</th>
                                                        <th class="center" style="text-align: center">Cantidad</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="center">Inicial</td>
                                                        <td class="center" style="text-align: center">2</td>


                                                    </tr>
                                                    <tr>
                                                        <td class="center">Primaria</td>
                                                        <td class="center" style="text-align: center">3</td>

                                                    </tr>

                                                    <tr>
                                                        <td class="center">Secundaria</td>
                                                        <td class="center" style="text-align: center">5</td>

                                                    </tr>
                                                </tbody>
                                            </table>

                                            <canvas id="reporteSegunNiveles" class="chart chart-bar"
                                                    chart-data="data1" chart-labels="labels1" chart-series="series1">
                                            </canvas>
                                            
                                            <br>
                                            <br>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="imprimirReporte2()">Imprimir</button>
                                        </div> 
                                    </form>
                                    <form class="form-horizontal col-sm-10" method="get" ng-show="options[2]" ng-hide="!options[2]" >
                                        <div class="center panel-body" >
                                            <table ng-table="tablaIndex" class="table table-hover table-bordered table-condensed editable-table">
                                                <thead>
                                                    <tr>
                                                        <th class="center" style="text-align: center">Año de monitoreo</th>
                                                        <th class="center" style="text-align: center">2017</th>
                                                    </tr>
                                                    <tr>
                                                        <th class="center" style="text-align: center">Grado</th>
                                                        <th class="center" style="text-align: center">Cantidad</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="center">Inicial</td>
                                                        <td class="center" style="text-align: center">2</td>

                                                    </tr>

                                                    <tr>
                                                        <td class="center">Primero</td>
                                                        <td class="center" style="text-align: center">0</td>
                                                    </tr>

                                                    <tr>
                                                        <td class="center">Segundo</td>
                                                        <td class="center" style="text-align: center">1</td>
                                                    </tr>

                                                    <tr>
                                                        <td class="center">Tercero</td>
                                                        <td class="center" style="text-align: center">0</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="center">Cuarto</td>
                                                        <td class="center" style="text-align: center">1</td>
                                                    </tr>

                                                    <tr>
                                                        <td class="center">Quinto</td>
                                                        <td class="center" style="text-align: center">0</td>
                                                    </tr>

                                                    <tr>
                                                        <td class="center">Sexto</td>
                                                        <td class="center" style="text-align: center">1</td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                            <canvas id="reporteInicialPrimaria" class="chart chart-bar"
                                                    chart-data="data2" chart-labels="labels2" chart-series="series2">
                                            </canvas>
                                            
                                            <br>
                                            <br>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="imprimirReporte3()">Imprimir</button>

                                        </div> 
                                    </form>
                                    <form class="form-horizontal col-sm-10" method="get" ng-show="options[3]" ng-hide="!options[3]" >
                                        <div class="center panel-body" >
                                            <table ng-table="tablaIndex" class="table table-hover table-bordered table-condensed editable-table">
                                                <thead>
                                                    <tr>
                                                        <th class="center" style="text-align: center">Año de monitoreo</th>
                                                        <th class="center" style="text-align: center">2017</th>
                                                    </tr>
                                                    <tr>
                                                        <th class="center" style="text-align: center">Grado</th>
                                                        <th class="center" style="text-align: center">Cantidad</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="center">Primero</td>
                                                        <td class="center" style="text-align: center">1</td>
                                                    </tr>

                                                    <tr>
                                                        <td class="center">Segundo</td>
                                                        <td class="center" style="text-align: center">0</td>
                                                    </tr>

                                                    <tr>
                                                        <td class="center">Tercero</td>
                                                        <td class="center" style="text-align: center">0</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="center">Cuarto</td>
                                                        <td class="center" style="text-align: center">1</td>
                                                    </tr>

                                                    <tr>
                                                        <td class="center">Quinto</td>
                                                        <td class="center" style="text-align: center">3</td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                            <canvas id="reporteSecundaria" class="chart chart-bar"
                                                    chart-data="data3" chart-labels="labels3" chart-series="series3">
                                            </canvas>
                                            
                                            <br>
                                            <br>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="imprimirReporte4()">Imprimir</button>
                                        </div> 
                                    </form>

                                </div>

                            </uib-tab>

                            <uib-tab index="1" heading="Resultados de la Ficha de Evaluación" >

                                <div class="row">
                                    <div class="form-horizontal">
                                        <div class="form-group" >
                                            <label class="col-sm-offset-2 col-sm-2 control-label">Año</label>
                                            <div class="col-sm-2">
                                                <select class="form-control">
                                                    <option>2017</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>


                                    <div class = "col-sm-2">
                                        <uib-tabset active="active" vertical="true" type="pills" style="border: 2px solid darkblue; border-radius: 8px">
                                            <uib-tab index="0" heading="Resultados por Fichas de Evaluación" style="text-align: justify" ng-click="updateOptions(0)"></uib-tab>
                                            <uib-tab index="1" heading="Etapa de Visita de Fichas de Evaluación" style="text-align: justify" ng-click="updateOptions(1)"></uib-tab>

                                        </uib-tabset>
                                    </div>
                                    <form class="form-horizontal col-sm-10" method="get" ng-show="options[0]" ng-hide="!options[0]" >
                                        <div class="center panel-body" >
                                            <table ng-table="tablaIndex" class="table table-hover table-bordered table-condensed editable-table">
                                                <thead>

                                                    <tr>
                                                        <th class="center" style="text-align: center">Nivel de avance</th>
                                                        <th class="center" style="text-align: center">Cantidad</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="center">En inicio</td>
                                                        <td class="center" style="text-align: center">20</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="center">En progreso</td>
                                                        <td class="center" style="text-align: center">10</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="center">Logrado</td>
                                                        <td class="center" style="text-align: center">30</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <canvas id="pie" class="chart chart-pie"
                                                    chart-data="data4" chart-labels="labels4">
                                            </canvas>
                                            <br>
                                            <br>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="imprimirReporte5()">Imprimir</button>
                                        

                                        </div> 
                                    </form>
                                    <form class="form-horizontal col-sm-10" method="get" ng-show="options[1]" ng-hide="!options[1]" >
                                        <div class="center panel-body" >
                                            <table ng-table="tablaIndex" class="table table-hover table-bordered table-condensed editable-table">
                                                <thead>

                                                    <tr>
                                                        <th class="center" style="text-align: center">Etapa</th>
                                                        <th class="center" style="text-align: center">Cantidad</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="center">Entrada (1ra visita)</td>
                                                        <td class="center" style="text-align: center">10</td>


                                                    </tr>
                                                    <tr>
                                                        <td class="center">Proceso (2da visita)</td>
                                                        <td class="center" style="text-align: center">20</td>

                                                    </tr>

                                                    <tr>
                                                        <td class="center">Salida (3era visita)</td>
                                                        <td class="center" style="text-align: center">30</td>

                                                    </tr>
                                                </tbody>
                                            </table>

                                            <canvas id="pie1" class="chart chart-pie"
                                                    chart-data="data5" chart-labels="labels5">
                                            </canvas>
                                            <br>
                                            <br>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="imprimirReporte4()">Imprimir</button>
                                        

                                        </div> 
                                    </form>

                                </div>

                            </uib-tab>

                            <uib-tab index="2" heading="Evolución de desempeño del docente">

                                <div class="row">
                                    <div class="form-horizontal">
                                        <div class="form-group" >
                                            <label class="col-sm-offset-2 col-sm-2 control-label">Año</label>
                                            <div class="col-sm-2">
                                                <select class="form-control">
                                                    <option>2017</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>


                                    <div class = "col-sm-2">
                                        <uib-tabset active="active" vertical="true" type="pills" style="border: 2px solid darkblue; border-radius: 8px">
                                            <uib-tab index="0" heading="Resultados por Fichas de Evaluación" style="text-align: justify" ng-click="updateOptions(0)"></uib-tab>
                                            <uib-tab index="1" heading="Etapa de Visita de Fichas de Evaluación" style="text-align: justify" ng-click="updateOptions(1)"></uib-tab>

                                        </uib-tabset>
                                    </div>
                                    <form class="form-horizontal col-sm-10" method="get" ng-show="options[0]" ng-hide="!options[0]" >
                                        <div class="center panel-body" >
                                            <table ng-table="tablaIndex" class="table table-hover table-bordered table-condensed editable-table">
                                                <thead>

                                                    <tr>
                                                        <th class="center" style="text-align: center">Código de Ficha</th>
                                                        <th class="center" style="text-align: center">Orden de Ficha</th>
                                                        <th class="center" style="text-align: center">Resultado</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="center">002AF</td>
                                                        <td class="center">1era Ficha de Evaluación</td>
                                                        <td class="center" style="text-align: center">14</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="center">002BF</td>
                                                        <td class="center">2da Ficha de Evaluación</td>
                                                        <td class="center" style="text-align: center">20</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="center">001AD</td>
                                                        <td class="center">3era Ficha de Evaluación</td>
                                                        <td class="center" style="text-align: center">17</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <canvas id="line" class="chart chart-line" chart-data="data6"
                                                    chart-labels="labels6" chart-series="series6" chart-options="options6"
                                                    chart-dataset-override="datasetOverride6" chart-click="onClick">
                                            </canvas>
                                            <br>
                                            <br>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="imprimirReporte4()">Imprimir</button>
                                        
                                        </div> 
                                    </form>
                                    <form class="form-horizontal col-sm-10" method="get" ng-show="options[1]" ng-hide="!options[1]" >
                                        <div class="center panel-body" >
                                            <table ng-table="tablaIndex" class="table table-hover table-bordered table-condensed editable-table">
                                                <thead>

                                                    <tr>
                                                        <th class="center" style="text-align: center">Código de Ficha</th>
                                                        <th class="center" style="text-align: center">Orden de Ficha</th>
                                                        <th class="center" style="text-align: center">Resultado %</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="center">002AF</td>
                                                        <td class="center">1era Ficha de Evaluación</td>
                                                        <td class="center" style="text-align: center">60%</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="center">002BF</td>
                                                        <td class="center">2da Ficha de Evaluación</td>
                                                        <td class="center" style="text-align: center">80%</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="center">001AD</td>
                                                        <td class="center">3era Ficha de Evaluación</td>
                                                        <td class="center" style="text-align: center">72%</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <canvas id="base7" class="chart-bar"
                                                    chart-data="data7" chart-labels="labels7" chart-colors="colors7"
                                                    chart-dataset-override="datasetOverride7" >
                                            </canvas> 
                                            <br>
                                            <br>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="imprimirReporte4()">Imprimir</button>
                                        

                                        </div> 
                                    </form>

                                </div>
                            </uib-tab>

                            <uib-tab index="3" heading="Reporte de compromisos" >    
                                <div class="row">
                                    <div class="form-horizontal">
                                        <div class="form-group" >
                                            <label class="col-sm-offset-2 col-sm-2 control-label">Año</label>
                                            <div class="col-sm-2">
                                                <select class="form-control">
                                                    <option>2017</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>




                                    <div class="center panel-body" >
                                        <table ng-table="tablaIndex" class="table table-hover table-bordered table-condensed editable-table">
                                            <thead>

                                                <tr>
                                                    <th class="center" style="text-align: center">Código de Ficha</th>
                                                    <th class="center" style="text-align: center">Compromiso</th>
                                                    <th class="center" style="text-align: center">Fecha</th>
                                                    <th class="center" style="text-align: center">Avance</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="center">002AF</td>
                                                    <td class="center">Compromiso Número 1</td>
                                                    <td class="center" style="text-align: center">09/03/2017</td>
                                                    <td class="center" style="text-align: center">9</td>
                                                </tr>
                                                <tr>
                                                    <td class="center">002BF</td>
                                                    <td class="center">Compromiso Número 2</td>
                                                    <td class="center" style="text-align: center">09/03/2017</td>
                                                    <td class="center" style="text-align: center">5</td>
                                                </tr>
                                                <tr>
                                                    <td class="center">001AD</td>
                                                    <td class="center">Compromiso Número 3</td>
                                                    <td class="center" style="text-align: center">09/03/2017</td>
                                                    <td class="center" style="text-align: center">6</td>
                                                </tr>
                                                <tr>
                                                    <td class="center">002AF</td>
                                                    <td class="center">Compromiso Número 4</td>
                                                    <td class="center" style="text-align: center">09/03/2017</td>
                                                    <td class="center" style="text-align: center">2</td>
                                                </tr>
                                                <tr>
                                                    <td class="center">002BF</td>
                                                    <td class="center">Compromiso Número 5</td>
                                                    <td class="center" style="text-align: center">09/03/2017</td>
                                                    <td class="center" style="text-align: center">10</td>
                                                </tr>
                                                <tr>
                                                    <td class="center">001AD</td>
                                                    <td class="center">Compromiso Número 6</td>
                                                    <td class="center" style="text-align: center">09/03/2017</td>
                                                    <td class="center" style="text-align: center">1</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <canvas id="bar8" class="chart chart-bar"
                                                chart-data="data8" chart-labels="labels8" chart-series="series8">
                                        </canvas>
                                        
                                        <br>
                                            <br>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="imprimirReporte4()">Imprimir</button>
                                        

                                    </div> 
                                </div>
                            </uib-tab>

                        </uib-tabset>


                    </uib-tab>
<!---
                    <uib-tab index="1" heading="REPORTES NIVEL I.E." style="max-width: 20%;text-align: center;" select="ini2()">
                        <div class="form-horizontal" style="background-color: white;">
                            <div class="form-group" >
                                <label class="col-sm-offset-2 col-sm-2 control-label">Institución Educativa</label>
                                <div class="col-sm-4">
                                    <select class="form-control">
                                        <option>IE RAFAEL DIAZ</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <uib-tabset active="Justificado1" justified="true">

                            <uib-tab index="0" heading="Cantidad de Docentes Evaluados" >    
                                <div class="row">
                                    <div class="form-horizontal">
                                        <div class="form-group" >
                                            <label class="col-sm-offset-2 col-sm-2 control-label">Desde</label>
                                            <div class="col-sm-2">
                                                <select class="form-control">
                                                    <option>2017</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group" >
                                            <label class="col-sm-offset-2 col-sm-2 control-label">Hasta</label>
                                            <div class="col-sm-2">
                                                <select class="form-control">
                                                    <option>2017</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class = "col-sm-2">
                                        <uib-tabset active="active1" vertical="true" type="pills" style="border: 2px solid darkblue; border-radius: 8px">
                                            <uib-tab index="0" heading="Total de Docentes" style="text-align: justify" ng-click="updateOptions(0)"></uib-tab>
                                            <uib-tab index="1" heading="Según niveles" style="text-align: justify" ng-click="updateOptions(1)"></uib-tab>
                                            <uib-tab index="2" heading="Inicial y Primaria" style="text-align: justify" ng-click="updateOptions(2)"></uib-tab>
                                            <uib-tab index="3" heading="Secundaria" style="text-align: justify;" ng-click="updateOptions(3)"></uib-tab>

                                        </uib-tabset>
                                    </div>
                                    <form class="form-horizontal col-sm-10" method="get" ng-show="options[0]" ng-hide="!options[0]" >
                                        <div class="center panel-body" >
                                            <table ng-table="tablaIndex" class="table table-hover table-bordered table-condensed editable-table">
                                                <thead>
                                                    <tr>
                                                        <th class="center" style="text-align: center">Año de monitoreo</th>
                                                        <th class="center" style="text-align: center">2017</th>
                                                    </tr>
                                                    <tr>
                                                        <th class="center" style="text-align: center">Docentes</th>
                                                        <th class="center" style="text-align: center">Cantidad</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="center">Docentes Totales</td>
                                                        <td class="center" style="text-align: center">30</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="center">Docentes Monitoreados</td>
                                                        <td class="center" style="text-align: center">10</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <canvas id="bar" class="chart chart-bar"
                                                    chart-data="data" chart-labels="labels" chart-series="series">
                                            </canvas>

                                        </div> 
                                    </form>
                                    <form class="form-horizontal col-sm-10" method="get" ng-show="options[1]" ng-hide="!options[1]" >
                                        <div class="center panel-body" >
                                            <table ng-table="tablaIndex" class="table table-hover table-bordered table-condensed editable-table">
                                                <thead>
                                                    <tr>
                                                        <th class="center" style="text-align: center">Año de monitoreo</th>
                                                        <th class="center" style="text-align: center">2017</th>
                                                    </tr>
                                                    <tr>
                                                        <th class="center" style="text-align: center">Nivel</th>
                                                        <th class="center" style="text-align: center">Cantidad</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="center">Inicial</td>
                                                        <td class="center" style="text-align: center">2</td>


                                                    </tr>
                                                    <tr>
                                                        <td class="center">Primaria</td>
                                                        <td class="center" style="text-align: center">3</td>

                                                    </tr>

                                                    <tr>
                                                        <td class="center">Secundaria</td>
                                                        <td class="center" style="text-align: center">5</td>

                                                    </tr>
                                                </tbody>
                                            </table>

                                            <canvas id="bar1" class="chart chart-bar"
                                                    chart-data="data1" chart-labels="labels1" chart-series="series1">
                                            </canvas>

                                        </div> 
                                    </form>
                                    <form class="form-horizontal col-sm-10" method="get" ng-show="options[2]" ng-hide="!options[2]" >
                                        <div class="center panel-body" >
                                            <table ng-table="tablaIndex" class="table table-hover table-bordered table-condensed editable-table">
                                                <thead>
                                                    <tr>
                                                        <th class="center" style="text-align: center">Año de monitoreo</th>
                                                        <th class="center" style="text-align: center">2017</th>
                                                    </tr>
                                                    <tr>
                                                        <th class="center" style="text-align: center">Grado</th>
                                                        <th class="center" style="text-align: center">Cantidad</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="center">Inicial</td>
                                                        <td class="center" style="text-align: center">2</td>

                                                    </tr>

                                                    <tr>
                                                        <td class="center">Primero</td>
                                                        <td class="center" style="text-align: center">0</td>
                                                    </tr>

                                                    <tr>
                                                        <td class="center">Segundo</td>
                                                        <td class="center" style="text-align: center">1</td>
                                                    </tr>

                                                    <tr>
                                                        <td class="center">Tercero</td>
                                                        <td class="center" style="text-align: center">0</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="center">Cuarto</td>
                                                        <td class="center" style="text-align: center">1</td>
                                                    </tr>

                                                    <tr>
                                                        <td class="center">Quinto</td>
                                                        <td class="center" style="text-align: center">0</td>
                                                    </tr>

                                                    <tr>
                                                        <td class="center">Sexto</td>
                                                        <td class="center" style="text-align: center">1</td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                            <canvas id="bar2" class="chart chart-bar"
                                                    chart-data="data2" chart-labels="labels2" chart-series="series2">
                                            </canvas>

                                        </div> 
                                    </form>
                                    <form class="form-horizontal col-sm-10" method="get" ng-show="options[3]" ng-hide="!options[3]" >
                                        <div class="center panel-body" >
                                            <table ng-table="tablaIndex" class="table table-hover table-bordered table-condensed editable-table">
                                                <thead>
                                                    <tr>
                                                        <th class="center" style="text-align: center">Año de monitoreo</th>
                                                        <th class="center" style="text-align: center">2017</th>
                                                    </tr>
                                                    <tr>
                                                        <th class="center" style="text-align: center">Grado</th>
                                                        <th class="center" style="text-align: center">Cantidad</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="center">Primero</td>
                                                        <td class="center" style="text-align: center">1</td>
                                                    </tr>

                                                    <tr>
                                                        <td class="center">Segundo</td>
                                                        <td class="center" style="text-align: center">0</td>
                                                    </tr>

                                                    <tr>
                                                        <td class="center">Tercero</td>
                                                        <td class="center" style="text-align: center">0</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="center">Cuarto</td>
                                                        <td class="center" style="text-align: center">1</td>
                                                    </tr>

                                                    <tr>
                                                        <td class="center">Quinto</td>
                                                        <td class="center" style="text-align: center">3</td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                            <canvas id="bar3" class="chart chart-bar"
                                                    chart-data="data3" chart-labels="labels3" chart-series="series3">
                                            </canvas>
                                        </div> 
                                    </form>

                                </div>

                            </uib-tab>

                            <uib-tab index="1" heading="Resultados de la Ficha de Evaluación" >

                                <div class="row">
                                    <div class="form-horizontal">
                                        <div class="form-group" >
                                            <label class="col-sm-offset-2 col-sm-2 control-label">Año</label>
                                            <div class="col-sm-2">
                                                <select class="form-control">
                                                    <option>2017</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>


                                    <div class = "col-sm-2">
                                        <uib-tabset active="active" vertical="true" type="pills" style="border: 2px solid darkblue; border-radius: 8px">
                                            <uib-tab index="0" heading="Resultados por Fichas de Evaluación" style="text-align: justify" ng-click="updateOptions(0)"></uib-tab>
                                            <uib-tab index="1" heading="Etapa de Visita de Fichas de Evaluación" style="text-align: justify" ng-click="updateOptions(1)"></uib-tab>

                                        </uib-tabset>
                                    </div>
                                    <form class="form-horizontal col-sm-10" method="get" ng-show="options[0]" ng-hide="!options[0]" >
                                        <div class="center panel-body" >
                                            <table ng-table="tablaIndex" class="table table-hover table-bordered table-condensed editable-table">
                                                <thead>

                                                    <tr>
                                                        <th class="center" style="text-align: center">Nivel de avance</th>
                                                        <th class="center" style="text-align: center">Cantidad</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="center">En inicio</td>
                                                        <td class="center" style="text-align: center">20</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="center">En progreso</td>
                                                        <td class="center" style="text-align: center">10</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="center">Logrado</td>
                                                        <td class="center" style="text-align: center">30</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <canvas id="pie" class="chart chart-pie"
                                                    chart-data="data4" chart-labels="labels4">
                                            </canvas> 

                                        </div> 
                                    </form>
                                    <form class="form-horizontal col-sm-10" method="get" ng-show="options[1]" ng-hide="!options[1]" >
                                        <div class="center panel-body" >
                                            <table ng-table="tablaIndex" class="table table-hover table-bordered table-condensed editable-table">
                                                <thead>

                                                    <tr>
                                                        <th class="center" style="text-align: center">Etapa</th>
                                                        <th class="center" style="text-align: center">Cantidad</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="center">Entrada (1ra visita)</td>
                                                        <td class="center" style="text-align: center">10</td>


                                                    </tr>
                                                    <tr>
                                                        <td class="center">Proceso (2da visita)</td>
                                                        <td class="center" style="text-align: center">20</td>

                                                    </tr>

                                                    <tr>
                                                        <td class="center">Salida (3era visita)</td>
                                                        <td class="center" style="text-align: center">30</td>

                                                    </tr>
                                                </tbody>
                                            </table>

                                            <canvas id="pie1" class="chart chart-pie"
                                                    chart-data="data5" chart-labels="labels5">
                                            </canvas> 

                                        </div> 
                                    </form>

                                </div>

                            </uib-tab>

                            <uib-tab index="2" heading="Evolución de desempeño del docente">

                                <div class="row">
                                    <div class="form-horizontal">
                                        <div class="form-group" >
                                            <label class="col-sm-offset-2 col-sm-2 control-label">Año</label>
                                            <div class="col-sm-2">
                                                <select class="form-control">
                                                    <option>2017</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>


                                    <div class = "col-sm-2">
                                        <uib-tabset active="active" vertical="true" type="pills" style="border: 2px solid darkblue; border-radius: 8px">
                                            <uib-tab index="0" heading="Resultados por Fichas de Evaluación" style="text-align: justify" ng-click="updateOptions(0)"></uib-tab>
                                            <uib-tab index="1" heading="Etapa de Visita de Fichas de Evaluación" style="text-align: justify" ng-click="updateOptions(1)"></uib-tab>

                                        </uib-tabset>
                                    </div>
                                    <form class="form-horizontal col-sm-10" method="get" ng-show="options[0]" ng-hide="!options[0]" >
                                        <div class="center panel-body" >
                                            <table ng-table="tablaIndex" class="table table-hover table-bordered table-condensed editable-table">
                                                <thead>

                                                    <tr>
                                                        <th class="center" style="text-align: center">Código de Ficha</th>
                                                        <th class="center" style="text-align: center">Orden de Ficha</th>
                                                        <th class="center" style="text-align: center">Resultado</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="center">002AF</td>
                                                        <td class="center">1era Ficha de Evaluación</td>
                                                        <td class="center" style="text-align: center">14</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="center">002BF</td>
                                                        <td class="center">2da Ficha de Evaluación</td>
                                                        <td class="center" style="text-align: center">20</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="center">001AD</td>
                                                        <td class="center">3era Ficha de Evaluación</td>
                                                        <td class="center" style="text-align: center">17</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <canvas id="line" class="chart chart-line" chart-data="data6"
                                                    chart-labels="labels6" chart-series="series6" chart-options="options6"
                                                    chart-dataset-override="datasetOverride6" chart-click="onClick">
                                            </canvas>

                                        </div> 
                                    </form>
                                    <form class="form-horizontal col-sm-10" method="get" ng-show="options[1]" ng-hide="!options[1]" >
                                        <div class="center panel-body" >
                                            <table ng-table="tablaIndex" class="table table-hover table-bordered table-condensed editable-table">
                                                <thead>

                                                    <tr>
                                                        <th class="center" style="text-align: center">Código de Ficha</th>
                                                        <th class="center" style="text-align: center">Orden de Ficha</th>
                                                        <th class="center" style="text-align: center">Resultado %</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="center">002AF</td>
                                                        <td class="center">1era Ficha de Evaluación</td>
                                                        <td class="center" style="text-align: center">60%</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="center">002BF</td>
                                                        <td class="center">2da Ficha de Evaluación</td>
                                                        <td class="center" style="text-align: center">80%</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="center">001AD</td>
                                                        <td class="center">3era Ficha de Evaluación</td>
                                                        <td class="center" style="text-align: center">72%</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <canvas id="base7" class="chart-bar"
                                                    chart-data="data7" chart-labels="labels7" chart-colors="colors7"
                                                    chart-dataset-override="datasetOverride7" >
                                            </canvas> 

                                        </div> 
                                    </form>

                                </div>
                            </uib-tab>

                            <uib-tab index="3" heading="Reporte de Malla Curricular" >    
                                <div class="form-horizontal">
                                    <div class="form-group" >
                                        <label class="col-sm-offset-0 col-sm-1 control-label">Año</label>
                                        <div class="col-sm-2">
                                            <select class="form-control">
                                                <option>2017</option>
                                            </select>
                                        </div>

                                        <label class="col-sm-offset-1 col-sm-1 control-label">Docente</label>
                                        <div class="col-sm-2">
                                            <select class="form-control">
                                                <option>Docente 1</option>
                                            </select>
                                        </div>

                                        <label class="col-sm-offset-1 col-sm-1 control-label">Nivel</label>
                                        <div class="col-sm-2">
                                            <select class="form-control">
                                                <option>Primaria</option>
                                                <option>Secundaria</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group" >
                                        <label class="col-sm-offset-0 col-sm-1 control-label">Curso</label>
                                        <div class="col-sm-2">
                                            <select class="form-control">
                                                <option>Matematica</option>
                                            </select>
                                        </div>

                                        <label class="col-sm-offset-1 col-sm-1 control-label">Grado</label>
                                        <div class="col-sm-2">
                                            <select class="form-control">
                                                <option>Quinto</option>
                                            </select>
                                        </div>

                                        <label class="col-sm-offset-1 col-sm-1 control-label">Sección</label>
                                        <div class="col-sm-2">
                                            <select class="form-control">
                                                <option>A</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>


                                <div class="row">
                                    <div class="panel-body" >                    
                                        <div class="tabla-responsiva"><table ng-table="tablaMonitoreos" class="table table-bordered table-condensed" show-filter="true" >                        
                                                <tr ng-repeat="p in $data">                            
                                                    <td data-title="'Unidad de Aprendizaje'" filter="{uni: 'text'}"></td>
                                                    <td data-title="'Sesión'" filter="{sesion: 'text'}"></td>
                                                    <td data-title="'Fecha de Inicio'" filter="{fecIni: 'text'}"></td>                
                                                    <td data-title="'Fecha de Fin'" filter="{fecFin: 'text'}"></td>
                                                    <td data-title="'Bimestre'" filter="{bim: 'text'}"></td>

                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>

                            <uib-tab index="4" heading="Avance de unidades de aprendizaje" >
                                <div class="form-horizontal">
                                    <div class="form-group" >
                                        <label class="col-sm-offset-0 col-sm-1 control-label">Año</label>
                                        <div class="col-sm-2">
                                            <select class="form-control">
                                                <option>2017</option>
                                            </select>
                                        </div>

                                        <label class="col-sm-offset-1 col-sm-1 control-label">Docente</label>
                                        <div class="col-sm-2">
                                            <select class="form-control">
                                                <option>Docente 1</option>
                                            </select>
                                        </div>

                                        <label class="col-sm-offset-1 col-sm-1 control-label">Nivel</label>
                                        <div class="col-sm-2">
                                            <select class="form-control">
                                                <option>Primaria</option>
                                                <option>Secundaria</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group" >
                                        <label class="col-sm-offset-0 col-sm-1 control-label">Curso</label>
                                        <div class="col-sm-2">
                                            <select class="form-control">
                                                <option>Matematica</option>
                                            </select>
                                        </div>

                                        <label class="col-sm-offset-1 col-sm-1 control-label">Grado</label>
                                        <div class="col-sm-2">
                                            <select class="form-control">
                                                <option>Quinto</option>
                                            </select>
                                        </div>

                                        <label class="col-sm-offset-1 col-sm-1 control-label">Sección</label>
                                        <div class="col-sm-2">
                                            <select class="form-control">
                                                <option>A</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class = "col-sm-2">
                                        <uib-tabset active="active1" vertical="true" type="pills" style="border: 2px solid darkblue; border-radius: 8px">
                                            <uib-tab index="0" heading="Control de Avance de Aprendizaje" style="text-align: justify" ng-click="updateOptions(0)"></uib-tab>
                                            <uib-tab index="1" heading="Reporte de Avance de Aprendizaje" style="text-align: justify" ng-click="updateOptions(1)"></uib-tab>
                                            <uib-tab index="2" heading="Reporte de Avance por Trimestre" style="text-align: justify" ng-click="updateOptions(2)"></uib-tab>

                                        </uib-tabset>
                                    </div>
                                    <form class="form-horizontal col-sm-10" method="get" ng-show="options[0]" ng-hide="!options[0]" >
                                        <div class="center panel-body" >
                                            <div class="row">
                                                <div class="panel-body" >                    
                                                    <div class="tabla-responsiva"><table ng-table="tablaMonitoreos" class="table table-bordered table-condensed" show-filter="true" >                        
                                                            <tr ng-repeat="p in $data">                            
                                                                <td data-title="'Unidad de Aprendizaje'" filter="{uni: 'text'}"></td>
                                                                <td data-title="'Sesión'" filter="{sesion: 'text'}"></td>
                                                                <td data-title="'Fecha de Inicio'" filter="{fecIni: 'text'}"></td>                
                                                                <td data-title="'Fecha de Fin'" filter="{fecFin: 'text'}"></td>
                                                                <td data-title="'Bimestre'" filter="{Bim: 'text'}"></td>

                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                        </div> 
                                    </form>
                                    <form class="form-horizontal col-sm-10" method="get" ng-show="options[1]" ng-hide="!options[1]" >
                                        <div class="center panel-body" >
                                            <table ng-table="tablaIndex" class="table table-hover table-bordered table-condensed editable-table">
                                                <thead>
                                                    <tr>
                                                        <th class="center" style="text-align: center">Unidad de Aprendizaje</th>
                                                        <th class="center" style="text-align: center">Porcentaje</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="center">Unidad de Aprendizaje 1</td>
                                                        <td class="center" style="text-align: center">10</td>


                                                    </tr>
                                                    <tr>
                                                        <td class="center">Unidad de Aprendizaje 2</td>
                                                        <td class="center" style="text-align: center">20</td>

                                                    </tr>

                                                    <tr>
                                                        <td class="center">Unidad de Aprendizaje 3</td>
                                                        <td class="center" style="text-align: center">40</td>

                                                    </tr>
                                                </tbody>
                                            </table>

                                            <canvas id="bar9" class="chart chart-bar"
                                                    chart-data="data9" chart-labels="labels9" chart-series="series9">
                                            </canvas>

                                        </div> 
                                    </form>
                                    <form class="form-horizontal col-sm-10" method="get" ng-show="options[2]" ng-hide="!options[2]" >
                                        <div class="center panel-body" >
                                            <table ng-table="tablaIndex" class="table table-hover table-bordered table-condensed editable-table">
                                                <thead>
                                                    <tr>
                                                        <th class="center" style="text-align: center">Trimestre</th>
                                                        <th class="center" style="text-align: center">Porcentaje</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="center">Trimestre 1</td>
                                                        <td class="center" style="text-align: center">50</td>


                                                    </tr>
                                                    <tr>
                                                        <td class="center">Trimestre 2</td>
                                                        <td class="center" style="text-align: center">30</td>

                                                    </tr>

                                                    <tr>
                                                        <td class="center">Trimestre 3</td>
                                                        <td class="center" style="text-align: center">60</td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                            <canvas id="bar10" class="chart chart-bar"
                                                    chart-data="data10" chart-labels="labels10" chart-series="series10">
                                            </canvas>

                                        </div> 
                                    </form>

                                </div>
                            </uib-tab>

                            <uib-tab index="5" heading="Reporte de compromisos de la Ficha de Evaluación" >    
                                <div class="row">
                                    <div class="form-horizontal">
                                        <div class="form-group" >
                                            <label class="col-sm-offset-2 col-sm-2 control-label">Año</label>
                                            <div class="col-sm-2">
                                                <select class="form-control">
                                                    <option>2017</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>




                                    <div class="center panel-body" >
                                        <table ng-table="tablaIndex" class="table table-hover table-bordered table-condensed editable-table">
                                            <thead>

                                                <tr>
                                                    <th class="center" style="text-align: center">Código de Ficha</th>
                                                    <th class="center" style="text-align: center">Compromiso</th>
                                                    <th class="center" style="text-align: center">Fecha</th>
                                                    <th class="center" style="text-align: center">Avance</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="center">002AF</td>
                                                    <td class="center">Compromiso Número 1</td>
                                                    <td class="center" style="text-align: center">09/03/2017</td>
                                                    <td class="center" style="text-align: center">9</td>
                                                </tr>
                                                <tr>
                                                    <td class="center">002BF</td>
                                                    <td class="center">Compromiso Número 2</td>
                                                    <td class="center" style="text-align: center">09/03/2017</td>
                                                    <td class="center" style="text-align: center">5</td>
                                                </tr>
                                                <tr>
                                                    <td class="center">001AD</td>
                                                    <td class="center">Compromiso Número 3</td>
                                                    <td class="center" style="text-align: center">09/03/2017</td>
                                                    <td class="center" style="text-align: center">6</td>
                                                </tr>
                                                <tr>
                                                    <td class="center">002AF</td>
                                                    <td class="center">Compromiso Número 4</td>
                                                    <td class="center" style="text-align: center">09/03/2017</td>
                                                    <td class="center" style="text-align: center">2</td>
                                                </tr>
                                                <tr>
                                                    <td class="center">002BF</td>
                                                    <td class="center">Compromiso Número 5</td>
                                                    <td class="center" style="text-align: center">09/03/2017</td>
                                                    <td class="center" style="text-align: center">10</td>
                                                </tr>
                                                <tr>
                                                    <td class="center">001AD</td>
                                                    <td class="center">Compromiso Número 6</td>
                                                    <td class="center" style="text-align: center">09/03/2017</td>
                                                    <td class="center" style="text-align: center">1</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <canvas id="bar8" class="chart chart-bar"
                                                chart-data="data8" chart-labels="labels8" chart-series="series8">
                                        </canvas>

                                    </div> 
                                </div>
                            </uib-tab>

                        </uib-tabset>


                    </uib-tab>
                    -->
                </uib-tabset>
            </div>    
        </section>
    </div></div>

<!---
<div class="row">
    <div class="col-lg-12">

        <div class="form-horizontal" style="background-color: white;">
            <div class="form-group" >
                <label class="col-sm-offset-2 col-sm-2 control-label">Institucion</label>
                <div class="col-sm-4">
                    <select class="form-control" ng-model="busqueda.orgID" ng-change="diseoCurricularVigente()">
                        <option ng-repeat="o in organizaciones" value="{{o.organizacionID}}">{{o.nombre}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-horizontal" style="background-color: white;">
            <div class="form-group">
                <label class="col-sm-offset-2 col-sm-1 control-label">Nivel</label>
                <div class="col-sm-4">
                    <select class="form-control" ng-model="busqueda.nivelID" >
                        <option value="0"></option>
                        <option ng-repeat="o in disenoActual.niveles" value="{{o.nivelID}}">{{o.nombre}}</option>
                    </select>
                </div>
                <div class="col-sm-5">
                    <button class="btn btn-success " type="button" ng-click="generarEstadistica()">generar</button>
                </div>
            </div>
            <hr/>
            <div style="height: 300px" align="center">
                <canvas id="metasAtencion" width="800" height="300"></canvas>
            </div>
        </div>

    </div>
</div>

--->
