
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h4 style="display:inline;line-height: 1.9">DOCUMENTOS GENERADOS</h4>
                
                <span class="tools pull-right">  
                        <button class="btn btn-primary" type="button" ng-click="listarDocumentos()"><i class="fa fa-rotate-right"></i> Listar </button>
                </span>
            </header>
           

            <div class="tabla-responsiva" ng-init="listarDocumentos()">
                <table ng-table="miTabla" class="table table-striped table-hover" show-filter="true" >
                    <colgroup>
                        <col width="10%" />
                        <col width="30%" />
                        <col width="10%" />
                        <col width="10%" />
                        <col width="10%" />
                        <col width="20%" />
                        
                    </colgroup>
                    <tr ng-repeat="o in $data">
                        <td data-title="'N'" style="text-align: center"  sortable="'i'" >{{o.i}} </td>
                        <td data-title="'Descripcion'" filter="{ descripcion: 'text'}" sortable="'descripcion'" 
                            style="text-align: center">{{o.descripcion}}
                        </td>
<!--                        <td data-title="'Version'" filter="{ version: 'text'}" filter-data="versiones" 
                            sortable="'version'" style="text-align: center">{{o.version}}
                        </td>-->
                        <td data-title="'Tipo Documento'" filter="{tipoDocumentoID:'select'}" filter-data="tipoDocumentos"     
                            sortable="'tipoDocumentoID'" style="text-align: center">
                            <!--{{tipoDocumentos[o.tipoDocumentoID-1].nombre}}-->
                            {{o.nombreDocumento}}
                        </td>
                        <td data-title="'Fecha'" sortable="'fecha'" style="text-align: center">{{o.fechaRegistro}}</td>
                        <td data-title="'Descargar'" style="text-align: center">
                            <button class="btn btn-success btn-xs"  ng-click="generar(o)">
                                <i class="fa fa-print" ></i>
                            </button>
                        </td>
                        <td data-title="'Adjunto'" style="text-align: center">
                            <span><view-file url="{{o.url}}" nombre="o.archivo"> </view-file></span>
                        </td>
                        <!--<button type="button" class="btn btn-success tools  pull-right" ng-click="vistaPreliminar()"><i class="fa fa-eye" ></i> Ver</button>-->
                        
                    </tr>
                </table>
            </div>
            
        </section>

    </div>

</div>


<!--<div class="modal fade" id="modalGenerarDocumento" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Generar Documento</h4>
                <button type="button" class="btn btn-success tools  pull-right" ng-click="vistaPreliminar(true)"><i class="fa fa-eye" ></i> Ver</button>
            </div>
            <div class="modal-body" style="max-height: calc(100vh - 210px);overflow-y: auto;">
               <div class="form-panel">

                    <fieldset >
                        <legend>Paso #1:</legend>
                        <form class="form-horizontal">
                            <div class="form-group " >               
                                <label class="control-label col-sm-3" for="tipoPlantillaId">Tipo de Plantilla: </label>

                                <div class="col-sm-3" >
                                    <select class="form-control" ng-model="documentoSeleccionado.tipoDoc" ng-options="tip.nombre for tip in tipoDocumentos track by tip.tipoDocumentoID" disabled="true"></select>
                                </div>

                                <label class="control-label col-sm-offset-1 col-sm-2" for="tipoFirmaId">Tipo de Firma: </label>

                                <div class="col-sm-2">
                                    <select class="form-control"  ng-model="documentoSeleccionado.tipoFir" ng-options="item as item.title for item in tipoFirmas" disabled="true"></select>

                                </div>
                            </div>
                            <div class="form-group" >               
                                <label class="control-label col-sm-3" for="descripcionPlantilla">Descripcion de Plantilla: </label>
                                <div class="col-sm-6">
                                    <input  class="form-control" size="40" type="text" id="descripcionPlantilla" ng-model="documentoSeleccionado.descripcion" disabled="true">
                                </div>
                            </div>

                        </form>
                    </fieldset>

                    <fieldset>
                        <legend>Paso #2:</legend>
                        <div class="form-horizontal " >
                            <div class="form-group"> 
                                <div class="col-sm-3">
                                    <label class="control-label">Letra:</label>
                                    <select class="form-control" ng-model="documentoSeleccionado.contenidoPlantilla[0].nombreLetra" ng-options="tip.nomLetra for tip in letras" disabled="true">

                                    </select>
                                </div>
                                <div class="col-sm-2">

                                    <label class="control-label" for="tipoFirmaId" >Tamaño:</label>


                                    <input class="form-control" type="number" min="8" max="20" value="11" ng-model="documentoSeleccionado.contenidoPlantilla[0].size" disabled="true">

                                </div>
                                <div class="col-sm-3">

                                    <label class="control-label" for="alineacionId">Alineacion:</label>
                                    <select id="alineacionId" class="form-control" ng-model="documentoSeleccionado.contenidoPlantilla[0].alineacion" ng-options="tip.title for tip in alineacion" disabled="true">

                                    </select>

                                </div>
                                <div class="col-sm-2">
                                    <br>
                                    <label class="checkbox-inline"><input type="checkbox" ng-model="documentoSeleccionado.contenidoPlantilla[0].isBold" disabled="true">Negrita</label>
                                </div>

                                <div class="col-sm-2">
                                    <br>
                                    <label class="checkbox-inline"><input type="checkbox" ng-model="documentoSeleccionado.contenidoPlantilla[0].isCursiva" disabled="true">Cursiva</label>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="form-group ">
                            <textarea class="form-control" rows="3" id="cabecera" ng-model="documentoSeleccionado.contenidoPlantilla[0].contenido" ></textarea>
                        </div>

                    </fieldset>
                    <fieldset >
                        <legend>Paso #3:</legend>
                        <div class="form-horizontal " >
                            <div class="form-group"> 
                                <div class="col-sm-3">
                                    <label class="control-label" for="tipoPlantillaId">Letra:</label>
                                    <select class="form-control" ng-model="documentoSeleccionado.contenidoPlantilla[1].nombreLetra" ng-options="tip.nomLetra for tip in letras" disabled="true">

                                    </select>
                                </div>
                                <div class="col-sm-2">

                                    <label class="control-label" for="tipoFirmaId" >Tamaño:</label>


                                    <input class="form-control" type="number" min="8" max="20" value="11" ng-model="documentoSeleccionado.contenidoPlantilla[1].size" disabled="true">

                                </div>
                                <div class="col-sm-3">

                                    <label class="control-label" for="alineacionId">Alineacion:</label>
                                    <select id="alineacionId" class="form-control" ng-model="documentoSeleccionado.contenidoPlantilla[1].alineacion" ng-options="tip.title for tip in alineacion" disabled="true">

                                    </select>

                                </div>
                                <div class="col-sm-2">
                                    <br>
                                    <label class="checkbox-inline"><input type="checkbox" ng-model="documentoSeleccionado.contenidoPlantilla[1].isBold" disabled="true">Negrita</label>
                                </div>

                                <div class="col-sm-2">
                                    <br>
                                    <label class="checkbox-inline"><input type="checkbox" ng-model="documentoSeleccionado.contenidoPlantilla[1].isCursiva" disabled="true">Cursiva</label>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="form-group ">
                            <textarea class="form-control" rows="5" id="contenido" ng-model="documentoSeleccionado.contenidoPlantilla[1].contenido"></textarea>
                        </div>

                    </fieldset>
                    <fieldset>
                        <legend>Paso #4:</legend>
                        <div class="form-horizontal " >
                            <div class="form-group"> 
                                <div class="col-sm-3">
                                    <label class="control-label" for="tipoPlantillaId">Letra:</label>
                                    <select class="form-control" ng-model="documentoSeleccionado.contenidoPlantilla[2].nombreLetra" ng-options="tip.nomLetra for tip in letras" disabled="true">

                                    </select>
                                </div>
                                <div class="col-sm-2">

                                    <label class="control-label" for="tipoFirmaId" >Tamaño:</label>


                                    <input class="form-control" type="number" min="8" max="20" value="11" ng-model="documentoSeleccionado.contenidoPlantilla[2].size" disabled="true">

                                </div>
                                <div class="col-sm-3">

                                    <label class="control-label" for="alineacionId">Alineacion:</label>
                                    <select id="alineacionId" class="form-control" ng-model="documentoSeleccionado.contenidoPlantilla[2].alineacion" ng-options="tip.title for tip in alineacion" disabled="true">

                                    </select>

                                </div>
                                <div class="col-sm-2">
                                    <br>
                                    <label class="checkbox-inline"><input type="checkbox" ng-model="documentoSeleccionado.contenidoPlantilla[2].isBold" disabled="true">Negrita</label>
                                </div>

                                <div class="col-sm-2">
                                    <br>
                                    <label class="checkbox-inline"><input type="checkbox" ng-model="documentoSeleccionado.contenidoPlantilla[2].isCursiva" disabled="true">Cursiva</label>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <textarea  class="form-control" rows="3" id="despedida" ng-model="documentoSeleccionado.contenidoPlantilla[2].contenido" ></textarea>
                        </div>

                    </fieldset>

                </div></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" ng-click="generar()">Generar</button>
            </div>
        </div>
    </div>
</div>-->

