<!-- Banco de Preguntas -->
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="form-group" style="vertical-align: middle">
                    <div class="col-sm-12">
                        <h4 style="display:inline;line-height: 1.9">Banco de Preguntas</h4>  
                    </div>
                </div>
            </header>
            <div class="panel-body">
                <form class="form-horizontal style-form" name="myForm">
                    <section class="panel">
                        <div class="form-group" ng-init="bancoCtrl.listarOrg()">
                            <label class="col-sm-2 control-label">Organización: </label>
                            <div class="col-sm-3">
                                <select class="form-control" ng-model="bancoCtrl.state.orgCod" ng-change="bancoCtrl.cambiarOrg()">
                                    <option ng-repeat="organization in bancoCtrl.organizaciones" value="{{organization.cod}}">{{organization.nom}}</option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label">Capacitación: </label>
                            <div class="col-sm-5">
                                <select class="form-control" ng-model="bancoCtrl.state.capCod" ng-change="bancoCtrl.cambiarCap()" ng-disabled="!bancoCtrl.state.orgEst">
                                    <option ng-repeat="course in bancoCtrl.capacitaciones" value="{{course.cod}}">{{course.nom}}</option>
                                </select>
                            </div>     
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" ng-if="bancoCtrl.state.capTip === 'Presencial'">Sede</label>
                            <div class="col-sm-4" ng-if="bancoCtrl.state.capTip === 'Presencial'">
                                <select class="form-control" ng-model="bancoCtrl.state.sedCod" ng-change="bancoCtrl.cambiarSed()" ng-disabled="!bancoCtrl.state.capEst">
                                    <option ng-repeat="places in bancoCtrl.sedes" value="{{places.cod}}">{{places.nom}}</option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label">Evaluación: </label>
                            <div class="col-sm-4">
                                <select class="form-control" ng-model="bancoCtrl.state.evaCod" ng-change="bancoCtrl.cambiarEva()" ng-disabled="!bancoCtrl.state.sedEst">
                                    <option ng-repeat="test in bancoCtrl.evaluaciones" value="{{test.cod}}">{{test.nom}}</option>
                                </select>
                            </div>                            
                        </div>
                    </section>
                    <section class="panel">
                        <div class="form-group" ng-if="bancoCtrl.state.evaEst">
                            <div class="col-sm-12">
                                <div ng-class="{'col-sm-10 col-sm-offset-1': !bancoCtrl.watch,'col-sm-6': bancoCtrl.watch}">
                                    <div class="tabla-responsiva">
                                        <table ng-table="bancoCtrl.tablaPreguntas" class="table table-striped table-hover">
                                            <tr ng-repeat="question in $data">
                                                <td width="15%" data-title="'Nombre'" filter="{nom: 'text'}" sortable="'nom'">{{question.nom}}</td>
                                                <td width="10%" data-title="'Tipo'" filter="{tip: 'select'}" filter-data="[{id: 'S', title:'Simple'},{id: 'L', title:'Verdadero o Falso'},{id: 'M', title:'Opción Múltiple'}]" sortable="'tip'" style="text-align: center">
                                                    <span class="label label-mini" ng-class="{'label-info': question.tip === 'S','label-warning': question.tip === 'L','label-success': question.tip === 'M'}">{{question.tip === 'S' ? "Simple" : question.tip === 'L' ? "Verdadero o Falso" : "Opción Múltiple"}}</span>
                                                </td>
                                                <td width="5%" data-title="'Acción'" style="text-align: center">
                                                    <button class="btn btn-default btn-xs" ng-click="bancoCtrl.verPregunta(question)" title="Ver Pregunta"><span class="glyphicon glyphicon-eye-open"></span></button>
                                                    <button class="btn btn-danger btn-xs" ng-click="bancoCtrl.reasignarPregunta(question)" title="Agregar Pregunta"><span class="glyphicon glyphicon-ok"></span></button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-sm-6" ng-if="bancoCtrl.watch">
                                    <div ng-if="bancoCtrl.question.tip === 'S'">
                                        <uib-accordion>
                                            <div uib-accordion-group class="panel-info" is-open="true">
                                                <uib-accordion-heading>
                                                    P1: {{bancoCtrl.question.nom}}
                                                    <i class="pull-right glyphicon"> 
                                                        <button class="btn btn-info btn-xs">{{bancoCtrl.question.pun}} pts. <span class="glyphicon glyphicon-education"></span></button>
                                                    </i>
                                                </uib-accordion-heading>
                                                <p><strong>{{bancoCtrl.question.des}}</strong></p>
                                                <label class="col-lg-2 control-label" style="text-align:left">Respuesta:</label>
                                                <div class="col-lg-7">
                                                    <input class="form-control" type="text" ng-model="bancoCtrl.question.res" ng-disabled="true">
                                                    <small class="form-text text-muted" style="text-align:justify">Solución: {{bancoCtrl.question.res}}</small>
                                                </div>
                                                <div class="col-lg-3" style="text-align:center">
                                                    <span class="label" ng-class="{'label-info': bancoCtrl.question.pun === bancoCtrl.question.pun,'label-default': bancoCtrl.question.pun !== bancoCtrl.question.pun}">{{bancoCtrl.question.pun}} pts.</span>
                                                    <center><small class="form-text text-muted">Puntaje Logrado</small></center>
                                                </div>
                                            </div>                                            
                                        </uib-accordion>
                                    </div>
                                    <div ng-if="bancoCtrl.question.tip === 'L'">
                                        <uib-accordion>
                                            <div uib-accordion-group class="panel-warning" is-open="true">
                                                <uib-accordion-heading>
                                                    P1: {{bancoCtrl.question.nom}}
                                                    <i class="pull-right glyphicon"> 
                                                        <button class="btn btn-warning btn-xs">{{bancoCtrl.question.pun}} pts. <span class="glyphicon glyphicon-education"></span></button>
                                                    </i>
                                                </uib-accordion-heading>
                                                <p><strong>{{bancoCtrl.question.des}}</strong></p>
                                                <div class="col-lg-5 col-lg-offset-2" style="text-align:center">
                                                    <div class="btn-group">
                                                        <label ng-class="{'btn btn-default disabled': !bancoCtrl.question.res,'btn btn-success disabled': bancoCtrl.question.res}" ng-model="bancoCtrl.question.res" uib-btn-radio="true" uncheckable>Verdadero</label>
                                                        <label ng-class="{'btn btn-default disabled': bancoCtrl.question.res,'btn btn-success disabled': !bancoCtrl.question.res}" ng-model="bancoCtrl.question.res" uib-btn-radio="false" uncheckable>Falso</label>
                                                    </div><br>
                                                    <center><small class="form-text text-muted" style="text-align:justify">Solución: {{(bancoCtrl.question.res)?"Verdadero":"Falso"}}</small></center>
                                                </div>
                                                <div class="col-lg-3" style="text-align:center">
                                                    <span class="label" ng-class="{'label-warning': bancoCtrl.question.pun === bancoCtrl.question.pun,'label-default': bancoCtrl.question.pun !== bancoCtrl.question.pun}">{{bancoCtrl.question.pun}} pts.</span>
                                                    <center><small class="form-text text-muted">Puntaje Logrado</small></center>
                                                </div>
                                            </div>                                            
                                        </uib-accordion>
                                    </div>
                                    <div ng-if="bancoCtrl.question.tip === 'M'">
                                        <uib-accordion>
                                            <div uib-accordion-group class="panel-success" is-open="true">
                                                <uib-accordion-heading>
                                                    P1: {{bancoCtrl.question.nom}}
                                                    <i class="pull-right glyphicon"> 
                                                        <button class="btn btn-success btn-xs">{{bancoCtrl.question.pun}} pts. <span class="glyphicon glyphicon-education"></span></button>
                                                    </i>
                                                </uib-accordion-heading>
                                                <p><strong>{{bancoCtrl.question.des}}</strong></p>
                                                <div class="col-lg-10 col-lg-offset-1">
                                                    <table class="table table-striped table-advance table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th colspan="2">Opciones</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="opt in bancoCtrl.question.res">
                                                                <td width="5%" sortable="'sel'" style="text-align: center">
                                                                    <button ng-class="{'btn btn-success btn-xs': opt.sel, 'btn btn-default btn-xs': !opt.sel}"><span class="glyphicon glyphicon-check"></span></button>
                                                                </td>
                                                                <td>{{opt.nom}}</td>
                                                            </tr>                                                            
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="col-lg-5 col-lg-offset-2" style="text-align:center">
                                                    <div ng-if="bancoCtrl.question.emp">
                                                        <small class="form-text text-muted" style="text-align:justify">Solución: No debió marcar ninguna</small></center>
                                                    </div>
                                                    <div ng-if="!bancoCtrl.question.emp">
                                                        <small class="form-text text-muted" style="text-align:justify">Solución(es):</small></center>
                                                        <div class="col-lg-12" ng-repeat="opt in bancoCtrl.question.res">
                                                            <small class="form-text text-muted" ng-if="opt.sel">{{opt.nom}}</small>
                                                        </div>
                                                    </div>                                                    
                                                </div>
                                                <div class="col-lg-3" style="text-align:center">
                                                    <span class="label" ng-class="{'label-success': bancoCtrl.question.pun === bancoCtrl.question.pun,'label-default': bancoCtrl.question.pun !== bancoCtrl.question.pun}">{{bancoCtrl.question.pun}} pts.</span>
                                                    <center><small class="form-text text-muted">Puntaje Logrado</small></center>
                                                </div>
                                            </div>                                            
                                        </uib-accordion>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </form>
                <span class="tools pull-right">
                    <button type="button" class="btn btn-primary" ng-click="enviarCorreos()" ng-show="registro.ok"><span class="glyphicon glyphicon-floppy-saved"></span> Guardar Datos</button>
                </span>
            </div>            
        </section>
    </div>
</div>