<!-- Listado de Cursos de Capacitación Disponibles -->
<div class="row">
    <div class="col-lg-12">
        <section class="panel">            
            <header class="panel-heading">                
                <div class="form-group" style="vertical-align: middle">
                    <div class="col-sm-12">
                        <h4 class="modal-title" style="display:inline;line-height: 1.9">Cursos de Capacitación Disponibles</h4><br>
                    </div>
                </div>
            </header>            
            <div class="panel-body" ng-init="listarCursosCapacitacion()">
                <div class="tabla-responsiva">
                    <table ng-table="tablaCapacitaciones" class="table table-striped table-hover">
                        <tr ng-repeat-start="course in $data">
                            <td width="80%" data-title="'Capacitación'" filter="{nom: 'text'}" sortable="'nom'">{{course.nom}}</td>
                            <td width="15%" data-title="'Tipo'" filter="{tip: 'select'}" filter-data="[{id: 'Presencial', title:'Presencial'},{id: 'Online', title:'Online'}]" sortable="'tip'" style="text-align: center">
                                <span class="label label-mini" ng-class="{'label-info': course.tip === 'Presencial','label-warning': course.tip === 'Online'}">{{course.tip}}</span>
                            </td>
                            <td width="5%" data-title="'Detalle'" style="text-align: center">
                                <button class="btn btn-success btn-xs" ng-click="course.$detail = !course.$detail" title="Ver Deatlle"><i class="fa" ng-class="{'fa-chevron-down': course.$detail,'fa-chevron-right': !course.$detail}"></i></button>                            
                            </td>
                        </tr>
                        <tr ng-show="course.$detail" style="background-color: rgb(244, 255, 244)" ng-repeat-end>
                            <td colspan="3">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <uib-accordion>
                                        <div uib-accordion-group class="panel-success" is-open="true">
                                            <uib-accordion-heading>{{course.nom}}</uib-accordion-heading>
                                            <div class="col-sm-8">
                                                <label class="col-sm-4 control-label" style="text-align:left">Organizador:</label>
                                                <label class="col-sm-8 control-label" style="text-align:left">{{course.org}}</label>  
                                                <label class="col-sm-4 control-label" style="text-align:left">Autorizado por:</label>
                                                <label class="col-sm-8 control-label" style="text-align:left">{{course.aut}}</label> 
                                                <label class="col-sm-4 control-label" style="text-align:left">Tipo:</label>
                                                <label class="col-sm-8 control-label" style="text-align:left">{{course.tip}}</label> 
                                                <label class="col-sm-4 control-label" style="text-align:left">Inicio:</label>
                                                <label class="col-sm-8 control-label" style="text-align:left">{{course.ini}}</label>
                                                <label class="col-sm-4 control-label" style="text-align:left">Fin:</label>
                                                <label class="col-sm-8 control-label" style="text-align:left">{{course.fin}}</label>
                                                <label class="col-sm-4 control-label" style="text-align:left">Capacitador(es): </label>
                                                <div class="col-sm-8" ng-if="course.cap.length > 0">
                                                    <div class="tabla-responsiva">
                                                        <table>
                                                            <tbody>
                                                                <tr ng-repeat="row in course.cap">
                                                                    <td style="text-align:left"><b>{{row}}</b></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>  
                                                <label class="col-sm-8 control-label" ng-if="course.cap.length === 0" style="text-align:left">NO ASIGNADO</label>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="tabla-responsiva">
                                                    <table class="table table-striped table-advance table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th width="100%" style="text-align:center">Horarios</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="row in course.hor">
                                                                <td style="text-align:center">{{row}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <span class="tools pull-right">
                                                <button class="btn btn-primary" ng-click="enviarSolicitud(course.cod, course.usu)"><span class="glyphicon glyphicon-envelope"></span> Enviar Solicitud</button>                    
                                            </span>
                                        </div>                                       
                                    </uib-accordion>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>       
            </div>            
        </section>
    </div>
</div>