<div class="row">
    <div class="col-lg-12" ng-init="misEvaCtrl.listarPreguntas()">
        <section class="panel">
            <header class="panel-heading">                
                <div class="form-group" style="vertical-align: middle">
                    <div ng-class="{'col-sm-10': !misEvaCtrl.result, 'col-sm-9': misEvaCtrl.result}">
                        <h4 class="modal-title" style="display:inline;line-height: 1.9">{{misEvaCtrl.evaNom}}</h4><br>
                        <small class="form-text text-muted">{{misEvaCtrl.evaObs}}</small>
                    </div>                    
                    <div ng-class="{'col-sm-2': !misEvaCtrl.result, 'col-sm-3': misEvaCtrl.result}" style="horizontal-align: center">
                        <button class="btn btn btn-danger btn-block" ng-if="!misEvaCtrl.result" ng-disabled="misEvaCtrl.result" ng-click="misEvaCtrl.calificar()"><span class="glyphicon glyphicon-check"></span> Calificar</button>
                        <div class="col-sm-12" ng-if="misEvaCtrl.result">
                            <uib-progressbar class="progress-striped active" value="value" type="danger">{{misEvaCtrl.perScore}} %</uib-progressbar>
                            <center><small class="form-text text-muted">Nota: {{misEvaCtrl.finalScore}} de {{misEvaCtrl.startScore}}</small></center>
                        </div>                        
                    </div>
                </div>
            </header>          
            <div class="panel-body" ng-if="misEvaCtrl.evaTip === 'P'">                
                <div class="col-sm-10 col-sm-offset-1" ng-repeat="question in misEvaCtrl.questions">
                    <div ng-if="question.tip === 'S'">
                    <uib-accordion>
                            <div uib-accordion-group class="panel-info" is-open="true">
                                <uib-accordion-heading>
                                    P{{$index + 1}}: {{question.nom}}
                                    <i class="pull-right glyphicon"> 
                                        <button class="btn btn-info btn-xs">{{question.pun}} pts. <span class="glyphicon glyphicon-education"></span></button>
                                    </i>
                                </uib-accordion-heading>
                                <p><strong>{{question.des}}</strong></p>
                                <label class="col-lg-2 col-lg-offset-1 control-label" style="text-align:left">Respuesta:</label>
                                <div class="col-lg-6">
                                    <input class="form-control" type="text" ng-model="question.resUsu" ng-disabled="misEvaCtrl.result" capitalize>
                                    <small class="form-text text-muted" style="text-align:justify" ng-if="misEvaCtrl.result">Solución: {{question.res}}</small>
                                </div>
                                <div class="col-lg-2" style="text-align:center" ng-if="misEvaCtrl.result">
                                    <span class="label" ng-class="{'label-info': question.punUsu === question.pun,'label-default': question.punUsu !== question.pun}">{{question.punUsu}} pts.</span>
                                    <center><small class="form-text text-muted">Puntaje Logrado</small></center>
                                </div>
                            </div>                                            
                        </uib-accordion>
                    </div>
                    <div ng-if="question.tip === 'L'">
                        <uib-accordion>
                            <div uib-accordion-group class="panel-warning" is-open="true">
                                <uib-accordion-heading>
                                    P{{$index + 1}}: {{question.nom}}
                                    <i class="pull-right glyphicon"> 
                                        <button class="btn btn-warning btn-xs">{{question.pun}} pts. <span class="glyphicon glyphicon-education"></span></button>
                                    </i>
                                </uib-accordion-heading>
                                <p><strong>{{question.des}}</strong></p>
                                <div class="col-lg-4 col-lg-offset-3" style="text-align:center">                                    
                                    <div class="btn-group" ng-init="question.resUsu = 'NN'">
                                        <button class="btn" ng-class="{'btn-default': (!question.resUsu || question.resUsu === 'NN'),'btn-success': question.resUsu === true}" ng-click="(question.resUsu === 'NN')?question.resUsu = true:question.resUsu = !question.resUsu" ng-disabled="misEvaCtrl.result">Verdadero</button>
                                        <button class="btn" ng-class="{'btn-default': (question.resUsu || question.resUsu === 'NN'),'btn-success': !question.resUsu === true}" ng-click="(question.resUsu === 'NN')?question.resUsu = false:question.resUsu = !question.resUsu" ng-disabled="misEvaCtrl.result">Falso</button>                                        
                                    </div><br>
                                    <center><small class="form-text text-muted" style="text-align:justify" ng-if="misEvaCtrl.result">Solución: {{(question.res)?"Verdadero":"Falso"}}</small></center>
                                </div>
                                <div class="col-lg-2" style="text-align:center" ng-if="misEvaCtrl.result">
                                    <span class="label" ng-class="{'label-warning': question.punUsu === question.pun,'label-default': question.punUsu !== question.pun}">{{question.punUsu}} pts.</span>
                                    <center><small class="form-text text-muted">Puntaje Logrado</small></center>
                                </div>
                            </div>                                            
                        </uib-accordion>
                    </div>
                    <div ng-if="question.tip === 'M'">
                        <uib-accordion>
                            <div uib-accordion-group class="panel-success" is-open="true">
                                <uib-accordion-heading>
                                    P{{$index + 1}}: {{question.nom}}
                                    <i class="pull-right glyphicon"> 
                                        <button class="btn btn-success btn-xs">{{question.pun}} pts. <span class="glyphicon glyphicon-education"></span></button>
                                    </i>
                                </uib-accordion-heading>
                                <p><strong>{{question.des}}</strong></p>
                                <center><small class="form-text text-muted" style="text-align:justify">Seleccione la(s) opción(es) que considere correctas</small></center>
                                <div class="col-lg-10 col-lg-offset-1">
                                    <table class="table table-striped table-advance table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="2">Opciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="opt in question.res">
                                                <td width="5%" sortable="'sel'" style="text-align: center">
                                                    <button class="btn btn-xs" ng-class="{'btn-success': opt.resUsu, 'btn-default': !opt.resUsu}" ng-disabled="misEvaCtrl.result" ng-click="opt.resUsu = !opt.resUsu"><span class="glyphicon glyphicon-check"></span></button>
                                                </td>
                                                <td>{{opt.nom}}</td>
                                            </tr>                                                            
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-lg-4 col-lg-offset-3" style="text-align:center" ng-if="misEvaCtrl.result">
                                    <div ng-if="question.emp">
                                        <center><small class="form-text text-muted" style="text-align:justify">Solución: No debió marcar ninguna</small></center>
                                    </div>
                                    <div ng-if="!question.emp">
                                        <center><small class="form-text text-muted" style="text-align:justify">Solución(es): Debió marcar</small></center>
                                        <div class="col-lg-12" ng-repeat="opt in question.res">
                                            <small class="form-text text-muted" ng-if="opt.sel">{{opt.nom}}</small>
                                        </div>
                                    </div>                                                    
                                </div>
                                <div class="col-lg-2" style="text-align:center" ng-if="misEvaCtrl.result">
                                    <span class="label" ng-class="{'label-success': question.punUsu === question.pun,'label-default': question.punUsu !== question.pun}">{{question.punUsu}} pts.</span>
                                    <center><small class="form-text text-muted">Puntaje Logrado</small></center>
                                </div>
                            </div>                                            
                        </uib-accordion>
                    </div>
                </div>
            </div>    
            <div class="panel-body" ng-if="misEvaCtrl.evaTip === 'E'">                
                <div class="col-sm-10 col-sm-offset-1" ng-repeat="question in misEvaCtrl.questions">
                    <div ng-if="question.tip === 'S'">
                    <uib-accordion>
                            <div uib-accordion-group class="panel-info" is-open="true">
                                <uib-accordion-heading>
                                    E{{$index + 1}}: {{question.nom}}
                                </uib-accordion-heading>
                                <p><strong>{{question.des}}</strong></p>
                                <label class="col-lg-2 col-lg-offset-1 control-label" style="text-align:left">Respuesta:</label>
                                <div class="col-lg-6">
                                    <input class="form-control" type="text" ng-model="question.resUsu" capitalize>
                                </div>                                
                            </div>                                            
                        </uib-accordion>
                    </div>
                    <div ng-if="question.tip === 'L'">
                        <uib-accordion>
                            <div uib-accordion-group class="panel-warning" is-open="true">
                                <uib-accordion-heading>
                                    E{{$index + 1}}: {{question.nom}}
                                </uib-accordion-heading>
                                <p><strong>{{question.des}}</strong></p>
                                <div class="col-lg-4 col-lg-offset-4" style="text-align:center">
                                    <div class="btn-group" ng-init="question.resUsu = 'NN'">
                                        <button class="btn" ng-class="{'btn-default': (!question.resUsu || question.resUsu === 'NN'),'btn-success': question.resUsu === true}" ng-click="(question.resUsu === 'NN')?question.resUsu = true:question.resUsu = !question.resUsu">Verdadero</button>
                                        <button class="btn" ng-class="{'btn-default': (question.resUsu || question.resUsu === 'NN'),'btn-success': !question.resUsu === true}" ng-click="(question.resUsu === 'NN')?question.resUsu = false:question.resUsu = !question.resUsu">Falso</button>
                                    </div>
                                </div>
                            </div>                                            
                        </uib-accordion>
                    </div>
                    <div ng-if="question.tip === 'M'">
                        <uib-accordion>
                            <div uib-accordion-group class="panel-success" is-open="true">
                                <uib-accordion-heading>
                                    E{{$index + 1}}: {{question.nom}}
                                </uib-accordion-heading>
                                <p><strong>{{question.des}}</strong></p>
                                <div class="col-lg-10 col-lg-offset-1">
                                    <table class="table table-striped table-advance table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="2">Opciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="opt in question.res">
                                                <td width="5%" sortable="'sel'" style="text-align: center" ng-init="opt.resUsu = false">
                                                    <button class="btn btn-xs" ng-class="{'btn-success': opt.resUsu, 'btn-default': !opt.resUsu}" ng-click="opt.resUsu = !opt.resUsu"><span class="glyphicon glyphicon-check"></span></button>
                                                </td>
                                                <td>{{opt.nom}}</td>
                                            </tr>                                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>                                            
                        </uib-accordion>
                    </div>
                </div>
            </div> 
        </section>
    </div>
</div>