<!-- Listado de Temas / Capacitador - Docente -->
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="form-group" style="vertical-align: middle">
                    <div class="col-sm-10">
                        <h4 style="display:inline;line-height: 1.9">Tema: {{foroCtrl.temNom}}</h4>  
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-success btn-block" ng-disabled="foroCtrl.est === 'F'" ng-click="foroCtrl.agregarComentario()"><span class="glyphicon glyphicon-plus"></span> Añadir Comentario</button>
                    </div>
                </div>
            </header>          
            <div class="panel-body" ng-init="foroCtrl.listarComentarios()">
                <uib-accordion close-others="false">
                    <uib-accordion-group ng-repeat="comment in foroCtrl.comentarios" is-open="true" class="panel-success">
                        <uib-accordion-heading>
                            RE: {{comment.doc}}
                            <i class="pull-right glyphicon">
                                <button class="btn btn-info btn-xs" ng-click="foroCtrl.responder(comment, $event)" ng-disabled="foroCtrl.est === 'F'"><span class="glyphicon glyphicon-share-alt"></span> Responder</button>
                                <button class="btn btn-primary btn-xs" ng-click="foroCtrl.editar(comment, $event)" ng-disabled="foroCtrl.est === 'F' || comment.usu !== foroCtrl.usu"><span class="glyphicon glyphicon-pencil"></span></button>
                                <button class="btn btn-danger btn-xs" ng-click="foroCtrl.eliminar(comment, $event, comment.adj.length > 0)" ng-disabled="foroCtrl.est === 'F' || comment.usu !== foroCtrl.usu"><span class="glyphicon glyphicon-trash"></span></button>
                            </i>
                        </uib-accordion-heading>
                        <div class="form-group">
                            <label ng-class="{'col-sm-8 control-label': comment.adj.length > 0, 'col-sm-12 control-label': comment.adj.length === 0}">
                                {{comment.tex}}
                            </label>
                            <div class="col-sm-4" ng-if="comment.adj.length > 0"> 
                                <div class="tabla-responsiva">
                                    <table class="table table-striped table-advance table-hover">
                                        <thead>
                                            <tr>
                                                <th width="80%">Archivos Adjuntos</th>
                                                <th width="20%" style="text-align:center"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="attachment in comment.adj">
                                                <td>{{attachment.nom}}</td>
                                                <td style="text-align:center">
                                                    <a href="{{attachment.url}}" class="btn btn-primary btn-xs" role="button" download><span class="glyphicon glyphicon-download-alt"></span></a>                                                                      
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-12" ng-if="comment.res.length > 0"> 
                                <uib-accordion close-others="false">
                                    <uib-accordion-group ng-repeat="answer in comment.res" class="panel-warning">
                                        <uib-accordion-heading>
                                            RE: {{answer.doc}}
                                            <i class="pull-right glyphicon">                                                
                                                <button class="btn btn-primary btn-xs" ng-click="foroCtrl.editar(answer, $event)" ng-disabled="foroCtrl.est === 'F' || answer.usu !== foroCtrl.usu"><span class="glyphicon glyphicon-pencil"></span></button>
                                                <button class="btn btn-danger btn-xs" ng-click="foroCtrl.eliminar(answer, $event, false)" ng-disabled="foroCtrl.est === 'F' || answer.usu !== foroCtrl.usu"><span class="glyphicon glyphicon-trash"></span></button>
                                            </i>
                                        </uib-accordion-heading>
                                        <div class="form-group">
                                            <label ng-class="{'col-sm-8 control-label': answer.adj.length > 0, 'col-sm-12 control-label': answer.adj.length === 0}">
                                                {{answer.tex}}
                                            </label>
                                            <div class="col-sm-4" ng-if="answer.adj.length > 0"> 
                                                <table class="table table-striped table-advance table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th width="80%">Archivos Adjuntos</th>
                                                            <th width="20%" style="text-align:center"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="attachment in answer.adj">
                                                            <td>{{attachment.nom}}</td>
                                                            <td style="text-align:center">
                                                                <a href="{{attachment.url}}" class="btn btn-primary btn-xs" role="button" download><span class="glyphicon glyphicon-download-alt"></span></a>                                                                      
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </uib-accordion-group>
                                </uib-accordion>
                            </div>
                        </div>
                    </uib-accordion-group>
                </uib-accordion>
            </div>            
        </section>
    </div>
</div>
<script type="text/ng-template" id="comment.html">
    <div class="modal-header">
        <h3 class="modal-title">Nuevo Comentario</h3>
    </div>
    <div class="modal-body">
        <form name="myForm" class="form-horizontal" role="form">
            <div class="form-group">
                <div class="col-lg-12">
                    <textarea name="comment" ng-model="comment.comentario.com" rows="6" cols="113" required></textarea>
                ​    <small class="form-text text-muted" ng-show="myForm.comment.$error.required">Este campo es requerido</small>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-8 col-sm-offset-2">
                    <div class="tabla-responsiva">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th style="text-align:center" width="95%">Documento Adjunto</th>
                                    <th width="5%">Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="document in comment.comentario.adjuntos">
                                    <td>{{document.nom}}</td>
                                    <td style="text-align: center">
                                        <button class="btn btn-danger btn-xs"  ng-click="comment.eliminarAdjunto($index)" title="Eliminar"><span class="glyphicon glyphicon-trash"></span></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input-file nombre="comment.doc.nom" archivo="comment.doc.arc"></input-file></td>
                                    <td style="text-align:center">
                                        <button class="btn btn-success btn-xs" ng-click="comment.agregarAdjunto()" ng-disabled="comment.doc.nom === '' || comment.doc.nom === undefined" title="Agregar"><span class="glyphicon glyphicon-plus"></span></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="comment.aceptar()">Aceptar</button>
        <button class="btn btn-danger" ng-click="comment.cancelar()">Cancelar</button>
    </div>
</script>