<!-- Gestión de Certificados -->
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="form-group" style="vertical-align: middle">
                    <div class="col-sm-12">
                        <h4 style="display:inline;line-height: 1.9">Gestión de Certificados</h4>  
                    </div>
                </div>
            </header>
            <div class="panel-body">
                <form class="form-horizontal style-form" name="myForm">
                    <section class="panel">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Organizado por: </label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" style="text-align:center" ng-model="certCtrl.capOrg" ng-disabled="true">
                            </div>
                            <label class="col-sm-2 control-label">Autorizado por: </label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" style="text-align:center" ng-model="certCtrl.capAut" ng-disabled="true">
                            </div>   
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Capacitación: </label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" style="text-align:center" ng-model="certCtrl.capNom" ng-disabled="true">
                            </div>
                            <label class="col-sm-2 control-label">Código de Autentización: </label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" style="text-align:center" ng-model="certCtrl.capSer" ng-disabled="true">
                            </div>   
                        </div>
                        <div class="form-group" ng-if="certCtrl.tipCap === 'Presencial'">
                            <label class="col-sm-2 control-label">Sede</label>
                            <div class="col-sm-4">
                                <select class="form-control" ng-model="certCtrl.sedCod" ng-change="certCtrl.cargarEvaluacion()">
                                    <option ng-repeat="places in certCtrl.capSed" value="{{places.id}}">{{places.nom}}</option>
                                </select>
                            </div>
                        </div>
                    </section>
                    <section class="panel">
                        <div class="form-group" ng-if="certCtrl.state">
                            <div class="col-sm-12">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <div class="tabla-responsiva">
                                        <table ng-table="certCtrl.tablaParticipantes" class="table table-striped table-hover">
                                            <tr ng-repeat-start="row in $data">
                                                <td width="10%" data-title="'All'" sortable="'sel'" style="text-align: center" ng-init="row.sel = false">
                                                    <button ng-class="{'btn btn-warning btn-xs': row.sel, 'btn btn-default btn-xs': !row.sel}"  ng-disabled="!row.genEst" ng-click="row.sel = !row.sel" title="Seleccionar"><span class="glyphicon glyphicon-check"></span></button>
                                                </td>
                                                <td width="70%" data-title="'Apellidos y Nombres'" filter="{nom: 'text'}" sortable="'nom'">{{row.nom}}</td>
                                                <td width="10%" data-title="'Estado'" filter="{genEst: 'select'}" filter-data="[{id: true, title:'Aprobado'},{id: false, title:'Reprobado'}]" sortable="'genEst'" style="text-align: center">
                                                    <span class="label label-mini" ng-class="{'label-success': row.genEst === true,'label-danger': row.genEst === false}">{{ row.genEst ? "Aprobado" : "Reprobado"}}</span>
                                                </td>
                                                <td width="10%" data-title="'Acción'" style="text-align: center">
                                                    <button class="btn btn-info btn-xs" ng-click="row.$det = !row.$det" title="Ver Detalle"><i class="fa" ng-class="{'fa-chevron-down': row.$det,'fa-chevron-right': !row.$det}"></i></button>
                                                </td>
                                            </tr>
                                            <tr ng-show="row.$det" style="background-color: rgb(244, 255, 244)" ng-repeat-end>
                                                <td colspan="4">
                                                    <div class="col-sm-10 col-sm-offset-1">
                                                        <uib-accordion>
                                                            <div uib-accordion-group class="panel-success" is-open="true" heading="Detalle de Evaluación">
                                                                <div class="col-sm-12" ng-if="certCtrl.cri.length > 0">
                                                                    <table class="table table-striped table-advance table-hover">
                                                                        <thead>
                                                                            <tr>
                                                                                <th width="30%">Criterio</th>
                                                                                <th width="25%" style="text-align: center">Tipo de Evaluación</th>
                                                                                <th width="35%" style="text-align: center">Evaluación</th>
                                                                                <th width="10%" style="text-align: center">Estado</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr ng-repeat="cri in certCtrl.cri">
                                                                                <td>{{cri.nom}}</td>
                                                                                <td style="text-align: center">
                                                                                    <span class="label label-mini" ng-class="{'label-warning': row.cri[$index].tip === true,'label-info': row.cri[$index].tip === false}">{{row.cri[$index].tip?"Porcentual":"Nominal"}}</span>    
                                                                                </td>
                                                                                <td style="text-align: center">
                                                                                    <div style="horizontal-align: center">
                                                                                        <uib-progressbar class="progress-striped active" value="row.cri[$index].val" type="{{row.cri[$index].sty}}">{{row.cri[$index].tip?row.cri[$index].per:row.cri[$index].num}} {{row.cri[$index].tip?"%":""}}</uib-progressbar>
                                                                                        <center><small class="form-text text-muted" ng-if="cri.tip === 'C' || cri.tip === 'A' || cri.tip === 'P' || cri.tip === 'H'">Mínimo Aprobatorio {{row.cri[$index].tot}} {{row.cri[$index].tip?"%":""}}</small></center>
                                                                                        <center><small class="form-text text-muted" ng-if="cri.tip === 'F' || cri.tip === 'T'">Máximo Permitido {{row.cri[$index].tot}} {{row.cri[$index].tip?"%":""}}</small></center>
                                                                                    </div>
                                                                                </td>
                                                                                <td style="text-align: center">
                                                                                    <span class="label label-mini" ng-class="{'label-primary': row.cri[$index].est === true,'label-danger': row.cri[$index].est === false}">{{row.cri[$index].est?"Aprobado":"Reprobado"}}</span>    
                                                                                </td>
                                                                            </tr>                                                            
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                <div class="col-sm-12" ng-if="certCtrl.cri.length === 0">
                                                                    <p><center><strong>Este curso de capacitación no posee criterios de certificación configurados</strong></center></p>
                                                                </div>
                                                                <!--div class="col-sm-2 col-sm-offset-10" style="text-align:center" ng-if="row.genEst && row.genNot">
                                                                    <span class="label label-success">{{row.notGen}} pts.</span>
                                                                    <center><small class="form-text text-muted">Puntaje Logrado</small></center>
                                                                </div-->
                                                            </div>                                            
                                                        </uib-accordion>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                        <span class="tools pull-right" style="text-align: center">
                                            <button class="btn btn-warning btn-xs" ng-click="certCtrl.seleccionarTodos()"><span class="glyphicon glyphicon-flash"></span> Todos</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </form>
                <span class="tools pull-right">
                    <button type="button" class="btn btn-primary" ng-click="certCtrl.generarCertificados()" ng-if="certCtrl.state"><span class="glyphicon glyphicon-floppy-saved"></span> Generar Certificación</button>
                </span>
            </div>            
        </section>
    </div>
</div>