<!-- Listado de Cursos de Capacitación / Capacitador - Docente -->
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h4 style="display:inline;line-height: 1.9">Cursos de Capacitación</h4>                
            </header>            
            <div class="panel-body" ng-init="listarCursosCapacitacion()">
                <div class="tabla-responsiva">
                    <table ng-table="tablaCapacitaciones" class="table table-striped table-hover">
                        <tr ng-repeat="course in $data">                            
                            <td width="8%" data-title="'Estado'" filter="{sedEst: 'select'}" filter-data="[{id: 'A', title:'Activo'},{id: 'F', title:'Finalizado'},{id: 'I', title:'Iniciado'}]" sortable="'sedEst'" style="text-align: center">
                                <span class="label label-mini" ng-class="{'label-success': course.sedEst === 'A','label-danger': course.sedEst === 'F', 'label-default': course.sedEst === 'I'}">{{course.sedEst === 'A' ? "Activo" : course.sedEst === 'F' ? "Finalizado" : "Iniciado"}}</span>
                            </td>
                            <td width="9%" data-title="'Tipo'" filter="{curTip: 'select'}" filter-data="[{id: 'Presencial', title:'Presencial'},{id: 'Online', title:'Online'}]" sortable="'curTip'" style="text-align: center">
                                <span class="label label-mini" ng-class="{'label-info': course.curTip === 'Presencial','label-warning': course.curTip === 'Online'}">{{course.curTip}}</span>
                            </td>
                            <td width="40%" data-title="'Nombre'" filter="{curNom: 'text'}" sortable="'curNom'">{{course.curNom}}</td>
                            <td width="8%" data-title="'# Part.'" filter="{curPar: 'number'}" sortable="'curPar'" style="text-align: center" ng-if="state">{{course.curPar}}</td>
                            <td width="20%" data-title="'Responsable'" filter="{orgNom: 'text'}" sortable="'orgNom'" ng-if="state">{{course.orgNom}}</td>
                            <td width="14%" data-title="'Fecha Inicio'" filter="{curIni: 'text'}" sortable="'curIni'" style="text-align: center" ng-if="!state">{{course.sedIni}}</td>
                            <td width="14%" data-title="'Fecha Fin'" filter="{curFin: 'text'}" sortable="'curFin'" style="text-align: center" ng-if="!state">{{course.sedFin}}</td>
                            <td width="15%" data-title="'Acción'" style="text-align: center" ng-if="state">
                                <button class="btn btn-danger btn-xs" ng-click="registrarAsistencia(course)" ng-disabled="!(course.sedEst === 'I') || course.curTip === 'Online'" title="Registrar Asistencia"><span class="glyphicon glyphicon-calendar"></span></button>
                                <button class="btn btn-warning btn-xs" ng-click="verTemas(course)" title="Ver Temas"><span class="glyphicon glyphicon-level-up"></span></button>
                                <button class="btn btn-success btn-xs" ng-click="editarAvance(course)" title="Editar Avance" ng-disabled="!(course.sedEst === 'I')"><span class="glyphicon glyphicon-tasks"></span></button>                                
                                <button class="btn btn-info btn-xs" ng-click="evaluacionesCapacitacion(course)" title="Evaluaciones" ng-disabled="course.sedEst === 'F'"><span class="glyphicon glyphicon-list-alt"></span></button>
                                <button class="btn btn-primary btn-xs" ng-click="justificaciones(course)" title="Justificaciones" ng-disabled="course.sedEst === 'F'"><span class="glyphicon glyphicon-hourglass"></span></button>
                            </td>
                            <td width="15%" data-title="'Acción'" style="text-align: center" ng-if="!state">    
                                <button class="btn btn-danger btn-xs" ng-click="verAsistencia(course)" title="Ver Asistencia"><span class="glyphicon glyphicon-calendar"></span></button>
                                <button class="btn btn-warning btn-xs" ng-click="verTemas(course)" title="Ver Temas"><span class="glyphicon glyphicon-level-up"></span></button>
                                <button class="btn btn-info btn-xs" ng-click="misEvaluaciones(course)" title="Mis Evaluaciones"><span class="glyphicon glyphicon-list-alt"></span></button>
                            </td>
                        </tr>
                    </table>
                </div>    
            </div>            
        </section>
    </div>
</div>
<script type="text/ng-template" id="progress.html">
    <div class="modal-header">
        <div class="form-group" style="vertical-align: middle">
            <div class="col-sm-8">
                <h3 class="modal-title">Editar Avance</h3>
                <small class="form-text text-muted">Capacitación: {{nombre}}</small>
            </div>
            <div class="col-sm-4" style="horizontal-align: center">
                <uib-progressbar class="progress-striped active" value="value" type="{{type}}">{{value}} %</uib-progressbar>
                <center><small class="form-text text-muted">Estado de avance</small></center>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <form name="myForm" class="form-horizontal" role="form">
            <div class="form-group">
                <div class="col-lg-8 col-sm-offset-2">
                    <div class="tabla-responsiva">
                        <table ng-table="tablaTemas" class="table table-striped table-hover">
                            <colgroup>
                                <col width="10%"/>
                                <col width="90%"/>
                            </colgroup>
                            <tr ng-repeat="topic in $data">
                                <td style="text-align: center">
                                    <button ng-class="{'btn btn-success btn-xs': topic.sel, 'btn btn-default btn-xs': !topic.sel}"  ng-click="seleccionar(topic)" title="Seleccionar" ng-show="topic.est === 'A'"><span class="glyphicon glyphicon-check"></span></button>
                                </td>
                                <td data-title="'Tema'" filter="{nom: 'text'}" sortable="'nom'" style="text-align: left">{{topic.nom}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="state" ng-click="aceptar()">Aceptar</button>
        <button class="btn btn-danger" ng-click="cancelar()">Cancelar</button>
    </div>
</script>
<script type="text/ng-template" id="evaluation.html">
    <div class="modal-header" ng-init="evaluation.listarEvaluaciones()">
        <div class="form-group" style="vertical-align: middle">
            <div class="form-group" style="vertical-align: middle">
                <div class="col-sm-12">
                    <h4 class="modal-title" style="display:inline;line-height: 1.9">{{evaluation.capNom}}</h4><br>
                    <small class="form-text text-muted" ng-if="evaluation.tipCap === 'P'">Sede: {{evaluation.sedNom}}</small>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <form name="myForm" class="form-horizontal" role="form">
            <div class="form-group">
                <div class="col-lg-10 col-sm-offset-1">
                    <div class="tabla-responsiva">
                        <table ng-table="evaluation.tablaEvaluaciones" class="table table-striped table-hover">
                            <tr ng-repeat="test in $data">                                
                                <td width="50%" data-title="'Nombre'" filter="{nom: 'text'}" sortable="'nom'">{{test.nom}}</td>
                                <td width="20%" data-title="'Tipo'" filter="{tip: 'select'}" filter-data="[{id: 'P', title:'Evaluación Parcial'},{id: 'E', title:'Encuesta'}]" sortable="'tip'" style="text-align: center">
                                    <span class="label label-mini" ng-class="{'label-info': test.tip === 'P','label-warning': test.tip === 'E'}">{{test.tip === 'P' ? "Evaluación Parcial" : "Encuesta"}}</span>
                                </td>                        
                                <td width="15%" data-title="'Nota'" style="text-align: center" >
                                    <span class="label label-mini label-danger" ng-if="test.estUlt === 'A'">No Realizado</span>
                                    <span class="label label-mini label-primary" ng-if="test.estUlt === 'N'">En Elaboración</span>
                                    <span class="label label-mini label-default" ng-if="test.estUlt === 'C' && test.tip === 'P'">{{test.not}}</span>
                                    <span class="label label-mini label-success" ng-if="test.estUlt === 'C' && test.tip === 'E'">Enviada</span>
                                </td>
                                <td width="15%" data-title="'Acción'" style="text-align: center">
                                    <button class="btn btn-primary btn-xs" ng-disabled="test.est !== 'I' || (test.estUlt === 'C' && test.int === test.opo)" ng-click="evaluation.rendirEvaluacion(test)" title="Rendir Evaluación"><span class="glyphicon glyphicon-share"></span></button>                                    
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" ng-click="evaluation.cerrar()">Cerrar</button>
    </div>
</script>
<script type="text/ng-template" id="shift.html">
    <div class="modal-header">
        <div class="form-group" style="vertical-align: middle">
            <div class="col-sm-9">
                <h3 class="modal-title">Registrar Asistencia</h3>
                <small class="form-text text-muted">Capacitación: {{shift.name}}</small>
            </div>
            <div class="col-sm-3" style="horizontal-align: center">
                <small class="form-text text-muted">Horario</small>
                <select class="form-control" ng-model="shift.codHor" ng-change="shift.cambiarHorario()">
                    <option ng-repeat="shift in shift.horarios" value="{{shift.horCod}}">{{shift.des}}</option>
                </select>
                <small class="form-text text-muted" ng-show="shift.codHor === ''">Seleccione horario</small>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <form name="myForm" class="form-horizontal" role="form">
            <div class="form-group" ng-if="shift.state">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="tabla-responsiva">
                        <table ng-table="shift.tableShifts" class="table table-bordered table-hover table-condensed editable-table demoTable" ng-form="tableForm">
                            <tr ng-repeat="row in $data" ng-form="rowForm" demo-tracked-table-row="row">
                                <td width="80%" title="'Apellidos y Nombres'" filter="{doc: 'text'}" sortable="'doc'">{{row.doc}}</td>
                                <td width="20%" data-title="'Estado'" filter="{est: 'select'}" filter-data="[{id: 'G', title:'No Disponible'},{id: 'A', title:'Presente'},{id: 'T', title:'Tarde'},{id: 'F', title:'Falta'},{id: 'J', title:'Justificada'},{id: 'P', title:'Pendiente'}]" sortable="'est'" style="text-align: center">
                                    <span class="label label-mini" ng-class="{'label-default': row.est === 'G', 'label-success': row.est === 'A','label-info': row.est === 'T','label-danger': row.est === 'F','label-warning': row.est === 'J','label-primary': row.est === 'P'}" ng-click="shift.cambiarEstado(row)">{{shift.getState(row.est)}}</span>
                                </td>                                
                            </tr>                            
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="shift.aceptar()">Guardar</button>
        <button class="btn btn-danger" ng-click="shift.cerrar()">Cancelar</button>
    </div>
</script>
<script type="text/ng-template" id="attendance.html">
    <div class="modal-header">
        <div class="form-group" style="vertical-align: middle">
            <div class="col-sm-8">
                <h3 class="modal-title">Visualizar Asistencia</h3>
                <small class="form-text text-muted">Capacitación: {{attendance.name}}</small>
            </div>
            <div class="col-sm-4" style="horizontal-align: center">
                <small class="form-text text-muted">Horario</small>
                <select class="form-control" ng-model="attendance.codHor" ng-change="attendance.cambiarHorario()">
                    <option ng-repeat="shift in attendance.horarios" value="{{shift.horCod}}">{{shift.des}}</option>
                </select>
                <small class="form-text text-muted" ng-show="shift.codHor === ''">Seleccione horario</small>
            </div>
        </div>
    </div>
    <div class="modal-body" ng-if="attendance.state">
        <form name="myForm" class="form-horizontal" role="form">
            <div class="form-group" ng-init="attendance.watch = false">
                <div ng-class="{'col-lg-8 col-sm-offset-2': !attendance.watch,'col-sm-4': attendance.watch}">
                    <div class="tabla-responsiva">
                        <table ng-table="attendance.tableAttendances" class="table table-bordered table-hover table-condensed editable-table demoTable" ng-form="tableForm">
                            <tr ng-repeat="row in $data" ng-form="rowForm" demo-tracked-table-row="row">
                                <td width="70%" title="'Fecha'" filter="{fec: 'text'}" sortable="'fec'" style="text-align: center">{{row.fec}}</td>
                                <td width="20%" data-title="'Estado'" filter="{est: 'select'}" filter-data="[{id: 'G', title:'No Disponible'},{id: 'A', title:'Presente'},{id: 'T', title:'Tarde'},{id: 'F', title:'Falta'},{id: 'J', title:'Justificada'},{id: 'P', title:'Pendiente'}]" sortable="'est'" style="text-align: center">
                                    <span class="label label-mini" ng-class="{'label-default': row.est === 'G', 'label-success': row.est === 'A','label-info': row.est === 'T','label-danger': row.est === 'F','label-warning': row.est === 'J','label-primary': row.est === 'P'}">{{attendance.getState(row.est)}}</span>
                                </td>
                                <td width="10%" data-title="'Acciones'" style="text-align: center">
                                    <button class="btn btn-success btn-xs" ng-disabled="!(row.est === 'F' || row.est === 'J' || row.est === 'P')" ng-click="attendance.justificarInasistencia(row)" title="Justificar Inasistencia"><span class="glyphicon glyphicon-envelope"></span></button>                                    
                                </td>     
                            </tr>                            
                        </table>
                    </div>
                </div>
                <div class="col-sm-8" ng-if="attendance.watch">
                    <uib-accordion>
                        <div uib-accordion-group class="panel-warning" is-open="true">
                            <uib-accordion-heading>
                                Justificación: {{attendance.just.tim}}
                                <br><small class="form-text text-muted" style="text-align:justify">Horario: {{attendance.just.shift}}</small>
                            </uib-accordion-heading>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="tabla-responsiva">
                                        <table class="table table-striped table-hover">
                                            <thead>
                                                <tr>
                                                    <th style="text-align:center" width="95%">Documento Adjunto</th>
                                                    <th width="5%">Acción</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="document in attendance.just.adj">
                                                    <td>{{document.nom}}</td>
                                                    <td style="text-align: center" ng-if="attendance.just.est">
                                                        <button class="btn btn-danger btn-xs"  ng-click="attendance.eliminarAdjunto($index)" title="Eliminar"><span class="glyphicon glyphicon-trash"></span></button>
                                                    </td>
                                                    <td style="text-align:center" ng-if="!attendance.just.est">
                                                        <a href="{{document.url}}" class="btn btn-primary btn-xs" role="button" download><span class="glyphicon glyphicon-download-alt"></span></a>                                                                      
                                                    </td>
                                                </tr>
                                                <tr ng-if="attendance.just.est">
                                                    <td><input-file nombre="attendance.doc.nom" archivo="attendance.doc.arc"></input-file></td>
                                                    <td style="text-align:center">
                                                        <button class="btn btn-success btn-xs" ng-click="attendance.agregarAdjunto()" ng-disabled="attendance.doc.nom === '' || attendance.doc.nom === undefined" title="Agregar"><span class="glyphicon glyphicon-plus"></span></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <span class="tools pull-right">
                                        <button class="btn btn btn-primary" ng-if="attendance.just.est" ng-disabled="attendance.just.adj.length === 0" ng-click="attendance.justificar()"><span class="glyphicon glyphicon-envelope"></span> Justificar</button>
                                    </span>
                                </div>
                            </div>
                        </div>                                            
                    </uib-accordion>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" ng-click="attendance.cerrar()">Cerrar</button>
    </div>
</script>
<script type="text/ng-template" id="justification.html">
    <div class="modal-header">
        <div class="form-group" style="vertical-align: middle">
            <div class="col-sm-12">
                <h3 class="modal-title">JustificacionesRegistrar Asistencia</h3>
                <small class="form-text text-muted">Capacitación: {{justification.name}}</small>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <form name="myForm" class="form-horizontal" role="form">
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="tabla-responsiva" ng-init="justification.listarJustificaciones()">
                        <table ng-table="justification.tableJusts" class="table table-bordered table-hover table-condensed editable-table demoTable">
                            <tr ng-repeat-start="row in $data" ng-form="rowForm" demo-tracked-table-row="row">
                                <td width="60%" title="'Apellidos y Nombres'" filter="{doc: 'text'}" sortable="'doc'">{{row.doc}}</td>
                                <td width="15%" title="'Fecha'" filter="{fec: 'text'}" sortable="'fec'" style="text-align: center">{{row.fec}}</td>
                                <td width="15%" data-title="'Estado'" style="text-align: center">
                                    <span class="label label-mini label-primary">Pendiente</span>
                                </td>
                                <td width="10%" data-title="'Acciones'" style="text-align: center">
                                    <button class="btn btn-success btn-xs" ng-click="row.$ver = !row.$ver" title="Justificar Inasistencia"><i class="fa" ng-class="{'fa-chevron-down': row.$ver,'fa-chevron-right': !row.$ver}"></i></button>                            
                                    <button class="btn btn-info btn-xs" ng-click="justification.justificar(row)"><span class="glyphicon glyphicon-envelope"></span></button>
                                </td> 
                            </tr>    
                            <tr ng-show="row.$ver" ng-repeat="at in row.adj" style="background-color: rgb(244, 255, 244)" ng-repeat-end>
                                <td colspan="3" style="text-align:right">{{at.nom}}</td>
                                <td style="text-align:center">
                                    <a href="{{at.url}}" class="btn btn-warning btn-xs" role="button" download><span class="glyphicon glyphicon-download-alt"></span></a>                                                                      
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" ng-click="justification.cerrar()">Cerrar</button>
    </div>
</script>