<!-- Listado de Temas / Capacitador - Docente -->
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h4 style="display:inline;line-height: 1.9">Curso de Capacitación: {{temaCtrl.capNom}}</h4>                
            </header>            
            <div class="panel-body" ng-init="temaCtrl.listarTemas()">
                <div class="tabla-responsiva">
                    <table ng-table="temaCtrl.tablaTemas" class="table table-striped table-hover">
                        <colgroup>
                            <col width="55%"/>
                            <col width="15%"/>
                            <col width="15%"/>
                            <col width="15%"/>
			</colgroup>
                        <tr ng-repeat="topic in $data">
                            <td data-title="'Nombre'" filter="{nom: 'text'}" sortable="'nom'">{{topic.nom}}</td>
                            <td data-title="'Fecha Inicio'" filter="{ini: 'text'}" sortable="'ini'" style="text-align: center">{{topic.ini}}</td>
                            <td data-title="'Fecha Fin'" filter="{fin: 'text'}" sortable="'fin'" style="text-align: center">{{topic.fin}}</td>
                            <td data-title="'Acción'" style="text-align: center" ng-if="temaCtrl.docCap">
                                <button class="btn btn-info btn-xs" ng-disabled="!(topic.est === 'A')" ng-click="temaCtrl.agregarContenido(topic)" title="Añadir Contenido"><span class="glyphicon glyphicon-floppy-open"></span></button>
                                <button class="btn btn-primary btn-xs" ng-disabled="!(topic.est === 'A')" ng-click="temaCtrl.editarTema(topic)" title="Editar Tema"><span class="glyphicon glyphicon-pencil"></span></button>
                                <button class="btn btn-danger btn-xs" ng-disabled="!(topic.est === 'A')" ng-click="temaCtrl.eliminarTema(topic)" title="Eliminar Tema"><span class="glyphicon glyphicon-trash"></span></button>
                                <button class="btn btn-warning btn-xs" ng-click="temaCtrl.verContenido(topic)" title="Ver Contenido"><span class="glyphicon glyphicon-book"></span></button>
                            </td>
                            <td data-title="'Acción'" style="text-align: center" ng-if="!temaCtrl.docCap">
                                <button class="btn btn-info btn-xs" ng-disabled="temaCtrl.estCur === 'A'" ng-click="temaCtrl.irForo(topic)" title="Ir al Foro"><span class="glyphicon glyphicon glyphicon-comment"></span></button>
                                <button class="btn btn-warning btn-xs" ng-click="temaCtrl.verContenido(topic)" title="Ver Contenido"><span class="glyphicon glyphicon-book"></span></button>
                            </td>
                        </tr>
                    </table>
                </div>
                <span class="tools pull-right" ng-if="temaCtrl.docCap && temaCtrl.est">
                    <button class="btn btn btn-success" ng-click="temaCtrl.agregarTema()"><span class="glyphicon glyphicon-plus"></span> Nuevo Tema</button>
                </span>
            </div>            
        </section>
    </div>
</div>

<script type="text/ng-template" id="topic.html">
    <div class="modal-header">
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body">
        <form name="myForm" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-lg-2 control-label">Nombre:</label>
                <div class="col-lg-10">
                    <input name = "name" class="form-control" type="text" ng-model="tema.nom" required>
                    <small class="form-text text-muted" ng-show="myForm.name.$error.required">Este campo es requerido</small>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Fecha Inicio:</label>
                <div class="col-lg-4">
                    <div class="input-group">
                        <input name = "iniDate" type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="tema.ini" is-open="date_1" datepicker-options="dateOptions" close-text="Cerrar" clear-text="Limpiar" required/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="date_1 = true"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>                        
                    </div>
                    <small class="form-text text-muted" ng-show="myForm.iniDate.$error.required">Este campo es requerido</small>
                </div>
                <label class="col-lg-2 control-label">Fecha Fin:</label>
                <div class="col-lg-4">
                    <div class="input-group">
                        <input name = "endDate" type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="tema.fin" is-open="date_2" datepicker-options="dateOptions" close-text="Cerrar" clear-text="Limpiar" required/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="date_2 = true"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                    <small class="form-text text-muted" ng-show="myForm.endDate.$error.required">Este campo es requerido</small>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="aceptar()">Aceptar</button>
        <button class="btn btn-danger" ng-click="cancelar()">Cancelar</button>
    </div>
</script>

<script type="text/ng-template" id="content.html">
    <div class="modal-header">
        <h3 class="modal-title">Añadir Contenido</h3>
    </div>
    <div class="modal-body">
        <form name="myForm" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-lg-1 control-label">Tipo:</label>
                <div class="col-lg-3">
                    <select class="form-control" name="type" ng-model="content.contenido.tip" required>
                        <option ng-repeat="type in content.tipos" value="{{type.id}}">{{type.nom}}</option>
                    </select>
                    <small class="form-text text-muted" ng-show="myForm.type.$error.required">Este campo es requerido {{content.contenido.tip}}</small>
                </div>
                <label class="col-lg-2 control-label">Nombre:</label>  
                <div class="col-lg-6">
                    <input name = "name" class="form-control" type="text" maxlength="20" ng-model="content.contenido.nom" required>
                    <small class="form-text text-muted" ng-show="myForm.name.$error.required">Este campo es requerido</small>
                </div>
            </div>
            <div class="form-group">
                <div ng-if="content.contenido.tip !== 'C' && content.contenido.tip !== undefined">
                    <label class="col-lg-2 control-label">Fecha Entrega: </label>
                    <div class="col-lg-4">
                        <div class="input-group">
                            <input name = "delDate" type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="content.contenido.ent" is-open="content.date_1" datepicker-options="content.dateOptions" close-text="Cerrar" clear-text="Limpiar" required/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="content.date_1 = true"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>                        
                        </div>
                        <small class="form-text text-muted" ng-show="myForm.delDate.$error.required">Este campo es requerido</small>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-8 col-sm-offset-2">
                    <div class="tabla-responsiva">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th style="text-align:center" width="95%">Documento Adjunto</th>
                                    <th width="5%">Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="document in content.contenido.adjuntos">
                                    <td>{{document.nom}}</td>
                                    <td style="text-align: center">
                                        <button class="btn btn-danger btn-xs"  ng-click="content.eliminarAdjunto($index)" title="Eliminar"><span class="glyphicon glyphicon-trash"></span></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input-file nombre="content.doc.nom" archivo="content.doc.arc"></input-file></td>
                                    <td style="text-align:center">
                                        <button class="btn btn-success btn-xs" ng-click="content.agregarAdjunto()" ng-disabled="content.doc.nom === '' || content.doc.nom === undefined" title="Agregar"><span class="glyphicon glyphicon-plus"></span></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="content.aceptar()">Aceptar</button>
        <button class="btn btn-danger" ng-click="content.cancelar()">Cancelar</button>
    </div>
</script>