<div class="row"><div class="col-lg-12">
        <script type="text/ng-template" id="app/ng-table/filters/checkbox.html">
    <input type="checkbox" ng-model="seleccionar" ng-click="seleccionarTodos(seleccionar,name)"/>
</script>
<section class="panel">
    <header class="panel-heading">
        <h4><span>Entorno de Peticiones y Soporte</span></h4>
    </header>
    <div ng-init="cambiarVistaUsuario()">
        <uib-tabset active="active" justified="true" ng-hide="mostrarAdministrador">
            <uib-tab index="0" heading="Soporte Recibido">
                <section class="panel">
                    <header class="panel-heading">                                
                        <div class="col-sm-10">
                            <div class="btn-group btn-group-sm">                                   
                                <button type="button" class="btn btn-default"><i class="fa fa-folder-open fa-2x"></i>Archivar como solucionado</button>
                                <button type="button" class="btn btn-default"><i class="fa fa-mail-forward fa-2x"></i>Re-Solicitar Soporte</button>
                                <button type="button" class="btn btn-default"><i class="fa fa-trash-o fa-2x"></i>Eliminar Mensaje</button>
                            </div>
                            </div>
                            <!--<div>
                                <button type="button" class="btn btn-primary"><i class="fa fa-rotate-right"></i> Actualizar</button>
                            </div>-->

                    </header>
                    <div class="panel-body" ng-init="listarMensajesRecibidos()" ng-show="hayRecibidos">
                        <div class="tabla-responsiva col-sm-12">
                            <table ng-table="tablaRecibidos" class="tabla table-striped table-hover" show-filter="true">
                                <colgroup>
                                    <!--<col width="10px" />-->
                                    <col width="25%" />
                                    <col width="30%" />
                                    <col width="12%" />
                                    <col width="12%" />
                                    <col width="12%" />
                                    <col width="20%"/>
                                </colgroup>
                                <tr ng-repeat="f in $data">                
                                  <!--<td data-title="''" filter="{tablaEnviados: 'checkbox'}"> 
                                        <input type="checkbox" ng-model="f.selec"/>
                                    </td>-->
                                    <td data-title="'Remitente'" filter="{autor: 'text'}" sortable="'autor'" class="hidden-phone"  style="text-align: center">{{f.autor}}</td>
                                    <td data-title="'Mensaje de Soporte'" style="text-align: center">{{f.mensajeSoporte}}</td>
                                    <td data-title="'Tipo Soporte'" filter="{tipoSoporte: 'text'}" sortable="'tipoSoporte'" class="hidden-phone"  style="text-align: center">{{f.tipoSoporte}}</td>
                                    <td data-title="'Fec. Envio'" filter="{fechaEnvio: 'text'}" sortable="'fechaEnvio'" class="hidden-phone"  style="text-align: center">{{f.fechaEnvio}}</td>
                                    <td data-title="'Estado'" filter="{estado: 'text'}" sortable="'estado'" class="hidden-phone"  style="text-align: center"><span class="label label-default label-mini">{{f.estado}}</span></td>
                                    <td data-title="'Acciones'" style="text-align: center;">
                                        <button class="btn btn-primary btn-xs" ng-click="mostrarMensaje(f)"><i class="fa fa-eye"></i></button>
                                        <button class="btn btn-success btn-xs" ng-click="archivarMensaje(f,false)"><i class="fa fa-folder-open" ></i></button>
                                        <button class="btn btn-primary btn-xs" ng-click="reenviarMensaje(f)"><i class="fa fa-mail-forward" ></i></button>
                                        <button class="btn btn-danger btn-xs" ng-click="eliminarMensaje(f,'Recibidos')"><i class="fa fa-trash-o" ></i></button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </section>
            </uib-tab>
            <uib-tab index="1" heading="Peticiones Enviadas" >
                <section class="panel">
                    <header class="panel-heading">                                
                        <div class="col-sm-10">
                            <div class="btn-group btn-group-sm">                                   
                                <button type="button" class="btn btn-default"><i class="fa fa-folder-open fa-2x"></i>Archivar como solucionado</button>
                                <button type="button" class="btn btn-default"><i class="fa fa-mail-forward fa-2x"></i>Re-Solicitar Soporte</button>
                                <button type="button" class="btn btn-default"><i class="fa fa-trash-o fa-2x"></i>Eliminar Mensaje</button>
                            </div>
                            </div>
                            <!--<div>
                                <button type="button" class="btn btn-primary"><i class="fa fa-rotate-right"></i> Actualizar</button>
                            </div>-->

                    </header>
                    <div class="panel-body" ng-init="listarMensajesEnviados()" ng-show="hayEnviados">
                        <div class="tabla-responsiva">
                            <table ng-table="tablaEnviados" class="tabla table-striped table-hover" show-filter="true">
                                <colgroup>                                           
                
                                    <col width="25%" />
                                    <col width="30%" />
                                    <col width="12%" />
                                    <col width="12%" />
                                    <col width="12%" />
                                    <col width="20%"/>
                                </colgroup>
                                <tr ng-repeat="f in $data" >                
                                    <!--<td data-title="'Marcar'">{{f.autor}}</td>-->
              
                                    <td data-title="'Destinatario'" filter="{destinatario: 'text'}" sortable="'destinatario'" class="hidden-phone"  style="text-align: center" >{{f.destinatario}}</td>
                                    <td data-title="'Mensaje de Soporte'" class="hidden-phone"  style="text-align: center">{{f.mensajeSoporte}}</td>
                                    <td data-title="'Tipo Soporte'" filter="{tipoSoporte: 'text'}" sortable="'tipoSoporte'" class="hidden-phone"  style="text-align: center">{{f.tipoSoporte}}</td>
                                    <td data-title="'Fec. Envio'" filter="{fechaEnvio: 'text'}" sortable="'fechaEnvio'" class="hidden-phone"  style="text-align: center">{{f.fechaEnvio}}</td>
                                    <td data-title="'Estado'" filter="{estado: 'text'}" sortable="'estado'" class="hidden-phone"  style="text-align: center"><span class="label label-default label-mini">{{f.estado}}</span></td>
                                    <td data-title="'Acciones'" style="text-align: center;">
                                        <button class="btn btn-primary btn-xs" ng-click="mostrarMensaje(f)"><i class="fa fa-eye"></i></button>
                                        <button class="btn btn-success btn-xs" ng-click="archivarMensaje(f,true)"><i class="fa fa-folder-open" ></i></button>
                                        <button class="btn btn-primary btn-xs" ng-click="reenviarMensaje(f)"><i class="fa fa-mail-forward" ></i></button>
                                        <button class="btn btn-danger btn-xs" ng-click="eliminarMensaje(f,'Enviados')"><i class="fa fa-trash-o" ></i></button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </section>   
            </uib-tab>
            <uib-tab index="2" heading="Escribir Peticion" ng-click="limpiarEscribirPeticion()">
                
                <form class="form-horizontal style-form" method="get">                    
                    <div class="form-group">
                        <div class="col-sm-8">                            
                            <br>
                            <br>
                            <div class="row">
                                <label class="col-sm-3 control-label">Destinatario: </label>
                                <input type="text" class="col-sm-8" ng-model="mensajeEnviar.destinatario" readonly/> 
                            </div>
                            <br>
                            <div class="row">
                                <label class="col-sm-3 control-label">Remitente: </label>
                                <input type="text" class="col-sm-8" ng-model="mensajeEnviar.remitente" readonly/>
                            </div>
                            <br>
                            <div class="row">
                                <label class="col-sm-3 control-label">Asunto: </label>
                                <input type="text" class="col-sm-8" ng-model="mensajeEnviar.asunto" maxlength="30">
                            </div>
                            <br>
                            <div class="row">
                                <label class="col-sm-3 control-label">Tipo de Ayuda: </label>                                
                                <div class="radio" style="display: inline">
                                    <label><input type="radio" ng-model="subTipoMensaje" value="GuiaPasos" ng-change="cambiarSubTipoMensaje()">Guía de Pasos</label>
                                </div>
                                <div class="radio" style="display: inline">
                                    <label><input type="radio" ng-model="subTipoMensaje" value="ReporteError" ng-change="cambiarSubTipoMensaje()">Reporte de Error</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <br>
                            <br>
                            <label class="control-label">Fecha de Envío</label>
                           <div>
                               <p class="input-group">
                                  <input type="text" class="form-control" ng-model="mensajeEnviar.fechaEnvioMostrar" readonly/>                                             
                               </p>
                           </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-3">
                            <label class="control-label">Módulo</label>
                            <select class="form-control" ng-model="mod_selec_men" ng-options="o as o.nombre for o in menuPrincipal" ng-change="cambioModulo(mod_selec_men, sub_mod_selec_men,func_selec_men)">
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label class="control-label">SubModulo</label>
                            <select class="form-control" ng-model="sub_mod_selec_men" ng-options="o as o.nombre for o in mod_selec_men.subModulos" ng-change="cambioSubMod(sub_mod_selec_men, func_selec_men)">
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label class="control-label">Función</label>
                            <select class="form-control" ng-model="func_selec_men" ng-options="o as o.nombre for o in sub_mod_selec_men.funciones" ng-change="prepararFuncionParaMensaje(func_selec_men, mensajeEnviar)">
                            </select>
                        </div>  
                    </div>                                          
                    <hr>
                    <br>
                    <div class="form-group">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <label class="control-label">Descripción de Petición</label>
                            <textarea rows="5" class="form-control" maxlength="500" ng-model="mensajeEnviar.descripcion"></textarea>
                        </div>                       
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="col-sm-1"></div>
                        <span class="col-sm-6">
                        <p class="input-group">
                            <label class="control-label">Subir Imagen</label>
                            <!--<view-file nombre="mensajeEnviar.nombreReal" archivo="mensajeEnviar.imagen"></view-file>-->
                            <input-file nombre="mensajeEnviar.nombreReal" archivo="mensajeEnviar.imagen" ></input-file>
                        </p>
                        </span>
                    </div>
                    <hr>
                    <div class="form-group">
                        <div class="col-sm-8"></div>
                        <button type="button" class="btn btn-success" ng-click="vistaPrevia()"><i class="fa fa-eye"></i> Vista Previa</button>
                        <button type="button" class="btn btn-primary" ng-click="confirmarMensaje()"><i class="fa fa-mail-forward"></i> Enviar</button>
                    </div>

                </form>
            </uib-tab>           
        </uib-tabset>
        <uib-tabset active="active2" justified="true" ng-show="mostrarAdministrador">
            <uib-tab index="0" heading="Peticiones Recibidas" ng-show="mostrarAdministrador">
                <section class="panel">
                    <header class="panel-heading">                                
                        <div class="col-sm-10">
                            <div class="btn-group btn-group-sm">                                   
                                <button type="button" class="btn btn-default"><i class="fa fa-folder-open fa-2x"></i>Archivar como solucionado</button>
                                <button type="button" class="btn btn-default"><i class="fa fa-mail-forward fa-2x"></i>Responder Soporte</button>
                                <button type="button" class="btn btn-default" ><i class="fa fa-trash-o fa-2x"></i>Eliminar Mensaje</button>
                            </div>
                            </div>
                            <!--<div>
                                <button type="button" class="btn btn-primary"><i class="fa fa-rotate-right"></i> Actualizar</button>
                            </div>-->

                    </header>
                    <div class="panel-body" ng-init="listarMensajesRecibidos()" ng-show="hayRecibidos">
                        <div class="tabla-responsiva col-sm-12">
                            <table ng-table="tablaRecibidos" class="tabla table-striped table-hover" show-filter="true">
                                <colgroup>
                          
                                    <col width="25%" />
                                    <col width="30%" />
                                    <col width="12%" />
                                    <col width="12%" />
                                    <col width="12%" />
                                    <col width="20%"/>
                                </colgroup>
                                <tr ng-repeat="f in $data">                
                             
                                    <td data-title="'Remitente'" filter="{autor: 'text'}" sortable="'autor'" class="hidden-phone" style="text-align: center">{{f.autor}}</td>
                                    <td data-title="'Mensaje de Soporte'" style="text-align: center">{{f.mensajeSoporte}}</td>
                                    <td data-title="'Tipo Soporte'" filter="{tipoSoporte: 'text'}" sortable="'tipoSoporte'" class="hidden-phone" style="text-align: center">{{f.tipoSoporte}}</td>
                                    <td data-title="'Fec. Envio'" filter="{fechaEnvio: 'text'}" sortable="'fechaEnvio'" class="hidden-phone" style="text-align: center">{{f.fechaEnvio}}</td>
                                    <td data-title="'Estado'" filter="{estado: 'text'}" sortable="'estado'" class="hidden-phone" style="text-align: center"><span class="label label-default label-mini">{{f.estado}}</span></td>
                                    <td data-title="'Acciones'" style="text-align: center;">
                                        <button class="btn btn-primary btn-xs" ng-click="mostrarMensaje(f)"><i class="fa fa-eye"></i></button>
                                        <button class="btn btn-success btn-xs" ng-click="archivarMensaje(f,false)"><i class="fa fa-folder-open" ></i></button>
                                        <button class="btn btn-primary btn-xs" ng-click="responderMensaje(f)"><i class="fa fa-mail-forward" ></i></button>
                                        <button class="btn btn-danger btn-xs" ng-click="eliminarMensaje(f,'Enviados')"><i class="fa fa-trash-o" ></i></button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </section> 
            </uib-tab>
            <uib-tab index="1" heading="Soporte Enviado" ng-show="mostrarAdministrador">
               <section class="panel">
                    <header class="panel-heading">                                
                        <div class="col-sm-10">
                            <div class="btn-group btn-group-sm">                                   
                                <button type="button" class="btn btn-default"><i class="fa fa-folder-open fa-2x"></i>Archivar como solucionado</button>
                                <button type="button" class="btn btn-default"><i class="fa fa-mail-forward fa-2x"></i>Responder</button>
                                <button type="button" class="btn btn-default"><i class="fa fa-trash-o fa-2x"></i>Eliminar Mensaje</button>
                            </div>
                            </div>
                            <!--<div>
                                <button type="button" class="btn btn-primary"><i class="fa fa-rotate-right"></i> Actualizar</button>
                            </div>-->

                    </header>
                   <div class="panel-body" ng-init="listarMensajesEnviados()" ng-show="hayEnviados">
                        <div class="tabla-responsiva col-sm-12">
                            <table ng-table="tablaEnviados" class="tabla table-striped table-hover" show-filter="true">
                                <colgroup>
                                  
                                    <col width="25%" />
                                    <col width="30%" />
                                    <col width="12%" />
                                    <col width="12%" />
                                    <col width="12%" />
                                    <col width="20%"/>
                                </colgroup>
                                <tr ng-repeat="f in $data">                
                               
                                    <td data-title="'Destinatario'"  filter="{destinatario: 'text'}"  sortable="'destinatario'" class="hidden-phone"  style="text-align: center">{{f.destinatario}}</td>
                                    <td data-title="'Mensaje de Soporte'" style="text-align: center">{{f.mensajeSoporte}}</td>
                                    <td data-title="'Tipo Soporte'"  filter="{tipoSoporte: 'text'}"  sortable="'tipoSoporte'" class="hidden-phone"  style="text-align: center">{{f.tipoSoporte}}</td>
                                    <td data-title="'Fec. Envio'"  filter="{fechaEnvio: 'text'}"  sortable="'fechaEnvio'" class="hidden-phone"  style="text-align: center">{{f.fechaEnvio}}</td>
                                    <td data-title="'Estado'"  filter="{estado: 'text'}"  sortable="'estado'" class="hidden-phone"  style="text-align: center"><span class="label label-default label-mini">{{f.estado}}</span></td>
                                    <td data-title="'Acciones'" style="text-align: center;">
                                        <button class="btn btn-primary btn-xs" ng-click="mostrarMensaje(f)"><i class="fa fa-eye"></i></button>
                                        <button class="btn btn-success btn-xs" ng-click="archivarMensaje(f,true)"><i class="fa fa-folder-open" ></i></button>
                                        <button class="btn btn-primary btn-xs" ng-click="reenviarMensaje(f)"><i class="fa fa-mail-forward" ></i></button>
                                        <button class="btn btn-danger btn-xs" ng-click="eliminarMensaje(f,'Enviados')"><i class="fa fa-trash-o" ></i></button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
               </section>
            </uib-tab>
            <uib-tab index="2" heading="Escribir Soporte" ng-show="mostrarAdministrador" ng-click="limpiarEscribirMensaje()">
               <form class="form-horizontal style-form" method="get">                    
                    <div class="form-group">
                        <div class="col-sm-8">                            
                            <br>
                            <br>
                            <div class="row">
                                <label class="col-sm-3 control-label">Destinatario: </label>
                                <input type="text" class="col-sm-8" ng-model="mensajeEnviar.destinatario" readonly/> 
                            </div>
                            <br>
                            <div class="row">
                                <label class="col-sm-3 control-label">Remitente: </label>
                                <input type="text" class="col-sm-8" ng-model="mensajeEnviar.remitente" readonly/>
                            </div>
                            <br>
                            <div class="row">
                                <label class="col-sm-3 control-label">Asunto: </label>
                                <input type="text" class="col-sm-8" ng-model="mensajeEnviar.asunto" maxlength="30">
                            </div>
                            <br>
                            <div class="row">
                                <label class="col-sm-3 control-label">Tipo de Ayuda: </label>                                
                                <div class="radio" style="display: inline">
                                    <label><input type="radio" ng-model="subTipoMensaje" value="GuiaPasos" ng-change="cambiarSubTipoMensaje()">Guía de Pasos</label>
                                </div>
                                <div class="radio" style="display: inline">
                                    <label><input type="radio" ng-model="subTipoMensaje" value="ReporteError" ng-change="cambiarSubTipoMensaje()">Reporte de Error</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <br>
                            <br>
                            <label class="control-label">Fecha de Envío</label>
                           <div>
                               <p class="input-group">
                                  <input type="text" class="form-control" ng-model="mensajeEnviar.fechaEnvioMostrar" readonly/>                                             
                               </p>
                           </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-3">
                            <label class="control-label">Módulo: </label>
                            <select class="form-control" ng-model="mod_selec_men" ng-options="o as o.nombre for o in menuPrincipal" ng-change="cambioModulo(mod_selec_men,sub_mod_selec_men,func_selec_men)">
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label class="control-label">SubModulo</label>
                            <select class="form-control" ng-model="sub_mod_selec_men" ng-options="o as o.nombre for o in mod_selec_men.subModulos" ng-change="cambioSubMod(sub_mod_selec_men,func_selec_men)">
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label class="control-label">Función</label>
                            <select class="form-control" ng-model="func_selec_men" ng-options="o as o.nombre for o in sub_mod_selec_men.funciones" ng-change="prepararFuncionParaMensaje(func_selec_men, mensajeEnviar)">
                            </select>
                        </div>  
                    </div>                                          
                    <hr>
                    <br>
                    <div class="form-group">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <label class="control-label">Descripción de Soporte</label>
                            <textarea rows="5" class="form-control" maxlength="500" ng-model="mensajeEnviar.descripcion"></textarea>
                        </div>                       
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="col-sm-1"></div>
                        <span class="col-sm-6">
                        <p class="input-group">
                            <label class="control-label">Subir Imagen</label>
                            <!--<view-file nombre="mensajeEnviar.nombreReal" archivo="mensajeEnviar.imagen"></view-file>-->
                            <input-file nombre="mensajeEnviar.nombreReal" archivo="mensajeEnviar.imagen" ></input-file>
                        </p>
                        </span>
                    </div>
                    <hr>
                    <div class="form-group">
                        <div class="col-sm-8"></div>
                        <button type="button" class="btn btn-success" ng-click="vistaPrevia()"><i class="fa fa-eye"></i> Vista Previa</button>
                        <button type="button" class="btn btn-primary" ng-click="confirmarMensaje()"><i class="fa fa-mail-forward"></i> Enviar</button>
                    </div>

                </form>
            </uib-tab>
        </uib-tabset>
    </div>
</section>

<div class="modal fade" id="modalConfirmacionMensaje" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Confirmación mensaje</h4>                
            </div>
            <div class="modal-body">
                <div class="form-horizontal" >
                    <div class="form-group">
                        <div class="col-md-3">
                            <p style="font-style: italic;">Seleccione fecha: </p>
                        </div>                                                
                        <div class="col-md-6">
                            <p class="input-group">
                              <input type="text" class="form-control" uib-datepicker-popup ng-model="mensajeEnviar.fechaOcurrencia" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                            </p>
                        </div>

                        <div class="col-sm-3">
                            <button type="button" class="btn btn-primary" ng-click="enviarMensaje(mensajeEnviar,func_selec)"><i class="fa fa-mail-forward"></i> Enviar</button>                
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

<div class="modal fade" id="modalVistaPrevia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Vista Previa Mensaje</h4>                
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-10">
                        <h3><em>{{mensajeEnviar.asunto}}</em></h3>
                        </div>
                    </div>
                    <div class="form-group"> 
                        <div class="col-sm-5">
                        <h5><em>Para {{mensajeEnviar.destinatario}}</em></h5>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">     
                        <div class="col-sm-4">
                            <h6><em>MODULO: {{mensajeEnviar.moduloNom}}</em></h6>
                        </div>
                        <div class="col-sm-4">
                            <h6><em>SUBMODULO: {{mensajeEnviar.subModNom}}</em></h6>
                        </div>
                        <div class="col-sm-4">
                            <h6><em>FUNCION: {{mensajeEnviar.funcNom}}</em></h6>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12" style="text-transform: none">
                        <p style="font-style: italic;">{{mensajeEnviar.descripcion}}</p>
                        </div>
                    </div>
                    <br>

                    <div class="form-group">
                        <div class="col-sm-5">
                        <h5><em>Atte: {{mensajeEnviar.remitente}}</em></h5>
                        </div>
                    </div> 
                    <div class="form-group">
                        <div class="col-sm-7">
                            <h5><em>Imagen Adjunta:</em></h5>
                            <view-file nombre="mensajeEnviar.nombreReal" archivo="mensajeEnviar.imagen"></view-file>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

<div class="modal fade" id="modalVisualizarMensaje" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Ver Mensaje</h4>                
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-10">
                        <h3><em>{{mensajeVer.asunto}}</em></h3>
                        </div>
                    </div>
                    <div class="form-group"> 
                        <div class="col-sm-5">
                        <h5><em>Para {{mensajeVer.destinatario}}</em></h5>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="col-sm-5">
                            <h5><em>Fecha Envio:  {{mensajeVer.fechaEnvio}}</em></h5>
                        </div>
                        <div class="col-sm-5" ng-show="mensajeVer.fechaOcurrencia">
                            <h5><em>Fecha Ocurrencia:  {{mensajeVer.fechaOcurrencia}}</em></h5>
                        </div>
                    </div>
                    <div class="form-group">     
                        <div class="col-sm-4">
                            <h6><em>MODULO: {{mensajeVer.moduloNom}}</em></h6>
                        </div>
                        <div class="col-sm-4">
                            <h6><em>SUBMODULO: {{mensajeVer.subModNom}}</em></h6>
                        </div>
                        <div class="col-sm-4">
                            <h6><em>FUNCION: {{mensajeVer.funcNom}}</em></h6>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <div class="col-sm-12" style="text-transform: none">
                        <p style="font-style: italic;">{{mensajeVer.descripcion}}</p>
                        </div>
                    </div>
                    <br>

                    <div class="form-group">
                        <div class="col-sm-5">
                        <h5><em>Atte: {{mensajeVer.remitente}}</em></h5>
                        </div>
                    </div> 
                    <div class="form-group">
                        <div class="col-sm-7">
                            <h5><em >Imagen Adjunta:</em></h5>
                            <view-file nombre="mensajeVer.nombreReal" url="{{mensajeVer.url}} "></view-file>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>