<section class="panel">
    <header class="panel-heading">
        <h4><span>Personalizacion Vista</span></h4>
    </header>
    <div>
        <form class="form-horizontal style-form">
            <br><br>
            <div class="form-group">
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <h4><label>Tipo de Color</label></h4>
                </div>
            </div>    
            <div class="form-group">
                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-primary" ng-click="seleccionarColor(1)">&nbsp &nbsp &nbsp &nbsp</button>
                    <button type="button" class="btn btn-success" ng-click="seleccionarColor(2)">&nbsp &nbsp &nbsp &nbsp</button>
                    <button type="button" class="btn btn-danger" ng-click="seleccionarColor(3)">&nbsp &nbsp &nbsp &nbsp</button>
                </div>
                <div class="col-sm-5">
                    <p ng-show="color==1"><font color="blue">Azul</font></p>
                    <p ng-show="color==2"><font color="green">Verde</font></p>
                    <p ng-show="color==3"><font color="red">Rojo</font></p>                    
                </div>
            </div>
            <br><br>
            <div class="form-group">
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <h4><label>Tipo de Plantilla</label></h4>
                </div>
            </div>
            <br>
            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-2">                    
                    <img src="../archivos/mantenimiento/LadoIzqNoLadoDerNo.PNG" alt="LadoIzqNoLadoDerNo" width="170" height="120" ng-click="seleccionarImagen(false,false)">
                    <h5 style="text-align: center" ng-show="selecPlantilla==1">Seleccionado</h5>
                </div>
                <div class="col-sm-2">
                    <img src="../archivos/mantenimiento/LadoIzqNoLadoDerSi.PNG" alt="LadoIzqNoLadoDerSi" width="170" height="120" ng-click="seleccionarImagen(false,true)">
                    <h5 style="text-align: center" ng-show="selecPlantilla==2">Seleccionado</h5>
                </div>
                <div class="col-sm-2">                   
                    <img src="../archivos/mantenimiento/LadoIzqSiLadoDerNo.PNG" alt="LadoIzqSiLadoDerNo" width="170" height="120" ng-click="seleccionarImagen(true,false)">
                    <h5 style="text-align: center" ng-show="selecPlantilla==3">Seleccionado</h5>
                </div>
                 <div class="col-sm-2">
                    <img src="../archivos/mantenimiento/LadoIzqSiLadoDerSi.PNG" alt="LadoIzqSiLadoDerSi" width="170" height="120" ng-click="seleccionarImagen(true,true)">
                    <h5 style="text-align: center" ng-show="selecPlantilla==4">Seleccionado</h5>
                </div>
                <div class="col-sm-2"></div>                 
            </div>
            <br><br>
            <div class="form-group">
                <div class="col-sm-7"></div>
                <div>
                    <button type="button" class="btn btn-primary" ng-click="guardarConfiguracion()"><i class="fa fa-check"></i> Guardar</button>
                    <button type="button" class="btn btn-success" ng-click="restaurarConfiguracion()"><i class="fa fa-refresh"></i> Restaurar por Defecto</button>
                </div>
            </div>
            
                     
        </form>  
    </div>
</section>