<div class="row"><div class="col-lg-12">
<section class="panel">
    <header class="panel-heading">
        <span>PROYECTOS DE LA INSTITUCION: {{institucionn}}</span>        
        <span class="tools pull-right">
            <button class="btn btn btn-primary btn-sm" ng-click="listarProyectos()"><i class="fa fa-rotate-right"></i> Actualizar</button>
<!--            <button class="btn btn btn-primary btn-sm" ng-click="modalreporte()"><i class="fa fa-rotate-right"></i> Reporte</button>-->
        </span>    
    </header>    
    <div class="panel-body" ng-init = "listarProyectos()">                    
        <div class="tabla-responsiva"><table ng-table="tablaProyectos" class="table table-striped table-hover" show-filter="true" >                        
            <tr ng-repeat="p in $data">                            
                <td data-title="'ID'" filter="{ proid: 'text'}" sortable="'proid'" style="width: 25px">{{p.proid}}</td>
                <td data-title="'Nombre'" filter="{ pronom: 'text'}" sortable="'pronom'">{{p.pronom}} {{d.perMat}}</td>                
                <td data-title="'Responsable'" filter="{ proresnom: 'text'}" sortable="'proresnom'">{{p.proresnom}}</td>
                <td data-title="'DNI'" filter="{ proresdni: 'text'}" sortable="'proresdni'">{{p.proresdni}}</td>
                <td data-title="'Fcha. Inicio'" filter="{ proini: 'text'}" sortable="'proini'">{{p.proini}}</td>
                <td data-title="'Fcha. Fin'" filter="{ profin: 'text'}" sortable="'profin'">{{p.profin}}</td>
                <td data-title="'Documento'" filter="{ prodoc: 'text'}" sortable="'prodoc'">{{p.prodoc}}</td>
                <td data-title="'Avance'" filter="{ proava: 'number'}" sortable="'proava'">{{p.proava.toFixed(2)}}%</td>
                <td data-title="'Acciones'" style="text-align: center ; width:100px">
                    <button class="btn btn-primary btn-xs" ng-click="editarProyecto(p)"><i class="fa fa-pencil" ></i></button>
                    <button class="btn btn-danger btn-xs" ng-click="eliminarProyecto(p.i,  p.proid)"><i class="fa fa-trash-o" ></i></button>
                    <view-file url="{{p.url}}" nombre="p.prodoc" archivo="p.archivo" nover='true'></view-file>
                </td>
            </tr>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn btn-success" data-toggle="modal" data-target="#modalNuevoProyecto"><i class="fa fa-plus" ></i> Agregar </button>
    </div>  
</section>
</div></div>

<!-- Modal para proyectos-->
<div class="modal fade" id="modalNuevoProyecto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="width: 80%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">NUEVO PROYECTO</h4>
      </div>
      <div class="modal-body">
        <div class="row">                                         
            <div class="col-sm-6">              
                Nombre:
                <input class="form-control" type="text" ng-model="proyectoNuevo.pronom">
            </div>            
        </div>
        <div class="row">
            <div class="col-sm-6">
                Responsable:                
                <input type="text" ng-model="proyectoNuevo.prores" uib-typeahead="trabajador as trabajador.perDNI + ' ' + trabajador.perNom + ' ' + trabajador.perPat for trabajador in trabajadores | filter:$viewValue | limitTo:8" class="form-control">
            </div>
            <div class="col-sm-6">              
                Documento:                
                <input-file nombre="proyectoNuevo.prodoc" archivo="proyectoNuevo.archivo"></input-file>
                <view-file url="{{proyectoNuevo.url}}" nombre="proyectoNuevo.prodoc" archivo="proyectoNuevo.archivo" vernombre='true'></view-file>
            </div>            
        </div>              
        <div class="row">                                         
            <div class="col-sm-6">
                Fecha Inicio:
                <input class="form-control" type="date" ng-model="proyectoNuevo.proini" ng-required="true"/>
            </div>
            <div class="col-sm-6">
                Fecha Fin:
                <input class="form-control" type="date" ng-model="proyectoNuevo.profin" ng-required="true"/>
            </div>            
        </div>            
        <div class="panel-body">            
            <div class="tabla-responsiva"><table ng-table="tablaActividades" class="table table-striped table-hover" show-filter="true" demo-tracked-table="tableTracker">
                <tr ng-repeat="a in $data">
                    <td data-title="'Descripcion'" filter="{ pacdes: 'text'}" sortable="'pacdes'" style="width: 25%; min-width: 200px;">
    <!--                                {{p.parApe}}-->
                        <span ng-hide="a.edi" >{{a.pacdes}}</span>
                        <span ng-show="a.edi" ><input ng-model="a.copia.pacdes"/></span>
                    </td>
                    <td data-title="'Fec. Inicio'" filter="{ pacini: 'text'}" sortable="'pacini'" style="width: 15%; min-width: 150px;">
    <!--                                {{p.parApe}}-->
                        <span ng-hide="a.edi" >{{a.pacini|date:"dd/MM/yyyy"}}</span>
                        <span ng-show="a.edi" ><input type="date" ng-model="a.copia.pacini"/></span>
                    </td>
                    <td data-title="'Fec. Fin'" filter="{ pacfin: 'text'}" sortable="'pacfin'" style="width: 15%; min-width: 150px;">
    <!--                                {{p.parApe}}-->
                        <span ng-hide="a.edi" >{{a.pacfin|date:"dd/MM/yyyy"}}</span>
                        <span ng-show="a.edi" ><input type="date" ng-model="a.copia.pacfin"/></span>
                    </td>
                    <td data-title="'Responsable'" filter="{ pacres: 'text'}" sortable="'pacres'" style="width: 25%; min-width: 150px;">
    <!--                                {{p.parNom}}-->
                        <span ng-hide="a.edi" >{{a.pacres.perDNI}}</span>
                        <span ng-show="a.edi" >
<!--                            <select ng-model="a.copia.pacres"  ng-options="tra.traId as tra.perDNI for tra in trabajadores"></select>-->
                            <input type="text" ng-model="a.copia.pacres" uib-typeahead="trabajador as trabajador.perDNI + ' ' + trabajador.perNom + ' ' + trabajador.perPat for trabajador in trabajadores | filter:$viewValue | limitTo:8" class="form-control input-table">
                        </span>
                    </td>
                    <td data-title="'Avance'" filter="{ pacava: 'number'}" sortable="'pacava'" style="width: 10%; min-width: 50px;">
                        <span ng-hide="a.edi" >{{a.pacava}}%</span>
                        <span ng-show="a.edi" ><input type="number" ng-model="a.copia.pacava"/></span>
                    </td>
                    <td data-title="'Acción'" style="width: 5%; text-align: center">
                        <button class="btn btn-primary btn-xs" ng-click="editarActividad(a)"><i class="fa" ng-class="{'fa-check':a.edi,'fa-pencil':!a.edi}" ></i></button>
                        <button class="btn btn-xs" ng-class="{'btn-danger':!a.edi}" ng-click="eliminarActividad(a.i, a)"><i class="fa" ng-class="{'fa-times':a.edi,'fa-trash-o':!a.edi}"></i></button>
                    </td>
                    <td data-title="'Recursos'" style="width: 5%; text-align: center">
                        <button class="btn btn-primary btn-xs" ng-click="prepararRecursos(a.i, a)"><i class="fa fa-plus"></i></button>                        
                    </td>
                </tr>
                </table></div>
            <button class="btn btn btn-primary" ng-click="prepararActividad()"><i class="fa fa-plus"></i> Actividad </button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="guardarProyecto()"> Guardar </button>                
        <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="cancelar()"> Cancelar </button>                        
      </div>
    </div>
  </div>
</div>

<!--modal para nueva actividad-->
<div class="modal fade" id="modalNuevaActividad" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">ACTIVIDAD</h4>
      </div>
      <div class="modal-body">
        <form name="actividadForm" ng-submit="agregarActividad()" novalidate>
            <!-- nombre de actividad -->
            <div class="form-group" ng-class="{ 'has-error' : actividadForm.name.$invalid && !actividadForm.name.$pristine }">
                <label>Nombre de actividad</label>
                <input type="text" name="name" class="form-control" ng-model="nuevaActividad.pacdes" required>
                <p ng-show="actividadForm.name.$invalid && !actividadForm.name.$pristine" class="help-block">El nombre es requerido.</p>
            </div>
            <!-- fecha de inicio -->
            <div class="form-group" ng-class="{ 'has-error' : actividadForm.date1.$invalid && !actividadForm.date1.$pristine }">
                <label>Fecha de Inicio</label>
                <input type="date" name="date1" class="form-control" ng-model="nuevaActividad.pacini">
                <p ng-show="actividadForm.date1.$invalid && !actividadForm.date1.$pristine" class="help-block">Esta fecha es requerida.</p>                
            </div>
            <!-- fecha de fin -->
            <div class="form-group" ng-class="{ 'has-error' : actividadForm.date2.$invalid && !actividadForm.date2.$pristine }">
                <label>Fecha de Fin</label>
                <input type="date" name="date2" class="form-control" ng-model="nuevaActividad.pacfin">
                <p ng-show="actividadForm.date2.$invalid && !actividadForm.date2.$pristine" class="help-block">Esta fecha es requerida.</p>
            </div>            
            <!-- nombre del responsable -->
            <div class="form-group" ng-class="{ 'has-error' : actividadForm.nameres.$invalid && !actividadForm.nameres.$pristine }">
                <label>Responsable</label>                
                <input type="text" name="nameres" class="form-control" ng-model="nuevaActividad.pacres" uib-typeahead="trabajador as trabajador.perDNI + ' ' + trabajador.perNom + ' ' + trabajador.perPat for trabajador in trabajadores | filter:$viewValue | limitTo:8" required>
                <p ng-show="actividadForm.nameres.$invalid && !actividadForm.nameres.$pristine" class="help-block">Este campo es necesario.</p>
            </div>
        </form> 
      </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-disabled="actividadForm.$invalid" ng-click="agregarActividad()">Agregar</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>

<!-- Modal para recursos-->
<div class="modal fade" id="modalNuevoRecurso" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">RECURSOS</h4>
      </div>
      <div class="modal-body">
        
        <table style="width:100%; background: #f1f2f7;">
            <tr>                        
                <td style="width: 40%"><input style="margin: 10px 10px 10px 10px; display:block" type="text" class="form-control input-table" ng-model="nuevoRecurso.recnom"></td>
                <td style="width: 40%"><input style="margin: 10px 10px 10px 10px" type="number" class="form-control input-table" ng-model="nuevoRecurso.reccos"></td>                                            
                <td style="text-align: center; width: 20%">
                    <button class="btn btn-success btn-xs" ng-click="agregarRecurso()" title="agregar recurso" ><i class="fa fa-plus" ></i></button>
                </td>                
            </tr>
        </table>
          
        <div class="panel-body">
            <div class="tabla-responsiva"><table ng-table="tablaRecursos" class="table table-striped table-hover" show-filter="true" >
                <tr ng-repeat="r in $data">
                    <td style="width: 50%" data-title="'Nombre'" filter="{ recnom: 'text'}" sortable="'recnom'">
                        <span ng-hide="r.edi" >{{r.recnom}}</span>
                        <span ng-show="r.edi" ><input ng-model="r.copia.recnom"/></span>
                    </td>
                    <td style="width: 40%" data-title="'Costo'" filter="{ reccos: 'text'}" sortable="'reccos'">    
                        <span ng-hide="r.edi" >{{r.reccos}}</span>
                        <span ng-show="r.edi" ><input type="number" ng-model="r.copia.reccos"/></span>
                    </td>
                    <td data-title="'Acción'" style="width: 10%">
                        <button class="btn btn-primary btn-xs" ng-click="editarRecurso(r)"><i class="fa" ng-class="{'fa-check':r.edi,'fa-pencil':!r.edi}" ></i></button>
                        <button class="btn btn-xs" ng-class="{'btn-danger':!r.edi}" ng-click="eliminarRecurso(r.i, r)"><i class="fa fa-plus" ng-class="{'fa-times':r.edi,'fa-trash-o':!r.edi}"></i></button>
                    </td>
                </tr>
                </table></div>
        </div>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="guardarRecursos()"> Guardar </button>                
        <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="cancelar()"> Cancelar </button>                        
      </div>        
    </div>
  </div>
</div>

<!--Modal para los reportes-->
<div class="modal fade" id="modalReportes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">REPORTES</h4>
      </div>
      <div class="modal-body">          
        <div class="form-panel">            
            <pre>Seleccione las columnas que se van a mostrar en el reporte:</pre>            

            <div layout="column">
                <div layout="row">
                    <div flex="30" flex-offset="30"><label style="text-align: center">Columnas</label></div>                    
                    <div flex="15"><label style="text-align: center">Ancho</label></div>                    
                </div>
                <div layout="row">
                    <div class="checkbox" flex="30" flex-offset="30"><label><input type="checkbox" ng-checked="checkModel['p.dni']" ng-model="checkModel['p.dni']">DNI</label></div>
                    <div flex="15"><input type="number" min="0" max="10" class="form-control" ng-show ="checkModel['p.dni']" ng-model="checkModel2['p.dni'][1]"></div>
                </div>
                <div layout="row">
                    <div class="checkbox" flex="30" flex-offset="30"><label><input type="checkbox" ng-checked="checkModel['p.ape_mat']" ng-model="checkModel['p.ape_mat']">Ape. Materno</label></div>
                    <div flex="15"><input type="number" min="0" max="10"  class="form-control" ng-show ="checkModel['p.ape_mat']" ng-model="checkModel2['p.ape_mat'][1]"></div>
                </div>                
                <div layout="row">
                    <div class="checkbox" flex="30" flex-offset="30"><label><input type="checkbox" ng-checked="checkModel['p.ape_pat']" ng-model="checkModel['p.ape_pat']">Ape. Paterno</label></div>
                    <div flex="15"><input type="number" min="0" max="10"  class="form-control" ng-show ="checkModel['p.ape_pat']" ng-model="checkModel2['p.ape_pat'][1]"></div>
                </div>                
                <div layout="row">
                    <div class="checkbox" flex="30" flex-offset="30"><label><input type="checkbox" ng-checked="checkModel['p.nom']" ng-model="checkModel['p.nom']">Nombre</label></div>
                    <div flex="15"><input type="number" min="0" max="10"  class="form-control" ng-show ="checkModel['p.nom']" ng-model="checkModel2['p.nom'][1]"></div>
                </div>
                <div layout="row">
                    <div class="checkbox" flex="30" flex-offset="30"><label><input type="checkbox" ng-checked="checkModel['p.per_dir']" ng-model="checkModel['p.per_dir']">Direccion</label></div>
                    <div flex="15"><input type="number" min="0" max="10"  class="form-control" ng-show ="checkModel['p.per_dir']" ng-model="checkModel2['p.per_dir'][1]"></div>
                </div>                
                <div layout="row">
                    <div class="checkbox" flex="30" flex-offset="30"><label><input type="checkbox" ng-checked="checkModel['p.email']" ng-model="checkModel['p.email']">Email</label></div>
                    <div flex="15"><input type="number" min="0" max="10"  class="form-control" ng-show ="checkModel['p.email']" ng-model="checkModel2['p.email'][1]"></div>
                </div>                
                <div layout="row">
                    <div class="checkbox" flex="30" flex-offset="30"><label><input type="checkbox" ng-checked="checkModel['p.fij']" ng-model="checkModel['p.fij']">Telefono</label></div>
                    <div flex="15"><input type="number" min="0" max="10"  class="form-control" ng-show ="checkModel['p.fij']" ng-model="checkModel2['p.fij'][1]"></div>
                </div>
                <div layout="row" ng-hide="ocultar" class="ng-hide">
                    <div class="checkbox" flex="30" flex-offset="30"><label><input type="checkbox" ng-checked="checkModel['tc.crg_tra_nom']" ng-model="checkModel['tc.crg_tra_nom']">Cargo</label></div>
                    <div flex="15"><input type="number" min="0" max="10"  class="form-control" ng-show ="checkModel['tc.crg_tra_nom']" ng-model="checkModel2['tc.crg_tra_nom'][1]"></div>
                </div>
                <div layout="row">
                    <div class="checkbox" flex="30" flex-offset="30"><label><input type="checkbox" ng-checked="checkModel['o.nom']" ng-model="checkModel['o.nom']">Institucion</label></div>
                    <div flex="15"><input type="number" min="0" max="10"  class="form-control" ng-show ="checkModel['o.nom']" ng-model="checkModel2['o.nom'][1]"></div>
                </div>
                <div layout="row" layout-align="center center">
                    <label>
                      Horientacion de las hojas:  
                      <input type="radio" ng-model="page" value="true">Horizontal                
                    </label>
                    <label>
                        <input type="radio" ng-model="page" value="false" ng-checked="true">Vertical                
                    </label>
                </div>                 
            </div>                                          
            <div>
                <h6>(*)Seleccione al menos 3 columnas</h6>
            </div>

        </div>          
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>                
        <button type="button" class="btn btn-primary" ng-click="reporte()"><i class="fa fa-check" ></i>Reporte</button>        
      </div>        
    </div>
  </div>
</div>>
<!--***************************************************************************************************************--
                                                        Visualizar Documento
<!--***************************************************************************************************************-->
<div class="modal fade" id="modalVisArch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">{{iteFilSelected.nomFil | uppercase}}</h4>
        </div>
        <div class="modal-body">
            <div class="form-panel">
                <form class="form-horizontal style-form" method="get">
                    <div class="form-group" style="margin-bottom: 0;">
                        <div class="col-sm-10">
                            <iframe ng-model="urlArch" style="display:block" src={{urlArch}} width="560" height="600"></iframe>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>