<section class="panel" ng-show="main">
    <header class="panel-heading">
        <span>PLANTILLAS DE FICHA DE MONITOREO</span>                      
        <span class="tools pull-right">
            <button class="btn btn btn-primary btn-sm" ng-click="listarPlantillas()"><i class="fa fa-rotate-right"></i> Actualizar</button>            
        </span>   
    </header>                                
    <div class="panel-body" ng-init="listarPlantillas()">                    
        <div class="tabla-responsiva"><table ng-table="tablaPlantillas" class="table table-striped table-hover" show-filter="true" >                        
                <tr ng-repeat="d in $data">
                    <td style="width:70px" data-title="'Codigo'" filter="{ placod: 'text'}" sortable="'placod'">{{d.placod}}</td>
                    <td data-title="'Nombre'" filter="{ planom: 'text'}" sortable="'planom'">{{d.planom}}</td>
                    <td data-title="'Descripción'" filter="{ plades: 'text'}" sortable="'plades'">{{d.plades}}</td>
                    <td data-title="'Fec. Creacion'" filter="{ plafec: 'text'}" sortable="'plafec'">{{d.plafec}}</td> 


                    <td data-title="'Acción'" style="text-align: center">
                        <!--<button class="btn btn-primary btn-xs" ><i class="fa fa-pencil" ></i></button>-->
                        <button class="btn btn-danger btn-xs" ><i class="fa fa-trash-o" ></i></button>
                        <!-- <button class="btn btn-primary btn-xs" uib-tooltip="Crear nueva version" ng-click="editarPlantilla(d.plaide)"><i class="fa fa-plus" ></i></button>
                        <!--                        <button class="btn btn-danger btn-xs" ng-click="eliminarPlantilla(d.plaide)"><i class="fa fa-trash-o"></i></button>-->
                        <!--  <button class="btn btn-success btn-xs" uib-tooltip="Visualizar Plantilla en Pdf" ng-click="visualizarPlantilla(d.plaide)"><i class="fa fa-eye" ></i></button>
                        -->
                    </td>                    
                </tr>
            </table>
        </div>
        <div class="modal-footer">
            <!--            <button class="btn btn btn-primary " data-toggle="modal" data-target="#modalNuevo"><i class="fa fa-plus" ></i>Crear Plantilla</button>-->
            <button type="button" class="btn btn-success" ng-click="crearPlantilla(false, true)"><i class="fa fa-plus" ></i> Crear Plantilla </button>
        </div>
    </div>     
</section>

<!--Vista para crear una nueva plantilla-->
<section class="panel" ng-hide="main">
    <header class="panel-heading">
        <span align="center">
            <h3>PLANTILLA DE FICHA DE MONITOREO DE SESION DE APRENDIZAJE</h3>
        </span>        
    </header>
    <form name="plantillaForm" novalidate>
        <div class="panel panel-primary">        
            <div class="panel-heading">Datos de la Plantilla</div>
            <div class="panel-body">
                <div class="form-group" ng-class="{ 'has-error' : plantillaForm.nompla.$invalid && !plantillaForm.nompla.$pristine }">
                    <label>Nombre</label>
                    <input class="form-control" name="nomPla" type="text" ng-model="plantilla.nombre" required>
                    <p ng-show="plantillaForm.nompla.$invalid && !plantillaForm.nompla.$pristine" class="help-block">Este campo es requerido.</p>
                </div> 

                <div class="form-group" ng-class="{ 'has-error' : plantillaForm.despla.$invalid && !plantillaForm.despla.$pristine }">
                    <label> Descripcion </label>
                    <input class="form-control" name="desPla" type="text" ng-model="plantilla.descripcion" required>
                    <p ng-show="plantillaForm.despla.$invalid && !plantillaForm.despla.$pristine" class="help-block">Este campo es requerido.</p>
                </div>
            </div>        
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Configuracion de la Plantilla</div>
            <div class="panel-body">
                <uib-accordion close-others="false">
                    <div ng-repeat="compromiso in compromisos">
                        
                        <div uib-accordion-group class="pancompromisosel-success" is-open="true">
                            <uib-accordion-heading> 
                                <div class="row">
                                    <div class="col-sm-9">
                                        <span ng-hide="compromiso.edi" >{{compromiso.comNom}}</span>
                                        <span ng-show="compromiso.edi" style="display:block"><textarea class="form-control" rows="1" style="display:block" ng-model="compromiso.copia.comNom"></textarea></span>
                                    </div>

                                    <div class="col-sm-1" style="text-align: center">
                                        <button class="pull-right btn btn-danger btn-xs" ng-click="eliminarCompromiso($index);
                                                $event.stopPropagation();
                                                $event.preventDefault();"><i class="fa fa-trash-o"></i></button>
                                        <button class="pull-right btn btn-primary btn-xs" ng-click="editarCompromiso(compromiso);
                                                $event.stopPropagation();
                                                $event.preventDefault();"><i class="fa" ng-class="{'fa-check':compromiso.edi,'fa-pencil':!compromiso.edi}"></i></button>

                                    </div>                            
                                </div>                        
                            </uib-accordion-heading>                
                            <div ng-repeat="item in compromiso.items">
                                <div uib-accordion-group class="panel-info">
                                    <uib-accordion-heading>
                                        <span ng-hide="item.edi" >{{item.iteNom}}</span>
                                        <span ng-show="item.edi" ><input ng-model="item.copia.iteNom"/></span>    
                                        <button class="pull-right btn btn-danger btn-xs" ng-click="eliminarItem($index, compromiso);
                                                    $event.stopPropagation();
                                                    $event.preventDefault();"><i class="fa fa-trash-o"></i></button>
                                        <button class="pull-right btn btn-primary btn-xs" ng-click="editarItem(compromiso, item);
                                                    $event.stopPropagation();
                                                    $event.preventDefault();"><i class="fa" ng-class="{'fa-check':item.edi,'fa-pencil':!item.edi}"></i></button>
                                    </uib-accordion-heading>                          
                                </div>                    
                            </div>
                            <div class="row" style="margin: 10px 20px 10px 20px">
                                <div class="col-sm-11">
                                    <textarea class="form-control" rows="1" ng-model="compromiso.nuevoItem.iteNom" name="" placeholder="Nombre del Item"></textarea>                            
                                </div>                       

                                <div class="col-sm-1" style="text-align: center">
                                    <button class="btn btn-success btn-sm" ng-click="agregarItem(compromiso)"><i class="glyphicon glyphicon-plus" ></i> Item </button>
                                </div>                        
                            </div>
                            <div id="choicesDisplay">                        
                            </div>
                        </div>
                    </div>            
                    <div class="row" style="margin: 10px 10px 10px 10px">
                        <div class="col-sm-9">
                            <textarea class="form-control" rows="1" ng-model="nuevoCompromiso.comNom" name="" placeholder="Nombre del Compromiso"></textarea>
                        </div>
                        <div class="col-sm-1" style="text-align: center">
                            <button class="btn btn-success btn-sm" ng-click="agregarCompromiso()"><i class="glyphicon glyphicon-plus" ></i> Compromiso </button>                
                        </div>                    
                    </div>            
                </uib-accordion>
                <div ng-show="advertenciaCompromiso"><h6 style="color: lightcoral;">Ingrese al menos un compromiso</h6></div>
            </div></div>

        <div class="modal-footer">
            <button type="button" class="btn btn-warning" ng-click="crearPlantilla(true, true)"><i class="glyphicon glyphicon-arrow-left" ></i></button>
            <button type="button" class="btn btn-success" ng-disabled="verificarPlantilla(formPlantilla.$invalid)" ng-click="reportePlantilla(true)"><i class="glyphicon glyphicon-print" ></i></button>
            <button type="button" class="btn btn-primary" ng-disabled="verificarPlantilla(formPlantilla.$invalid)" ng-click="guardarPlantilla()"><i class="glyphicon glyphicon-floppy-disk" ></i></button>
        </div>
    </form>

</section>