<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h4 style="display:inline;line-height: 1.9">CONFIGURACION DIGITALIZACION</h4>
            </header>
            <div class="panel-body">
                <br>
                <div class="form-group">
                    <label class="col-sm-3 control-label">URL Servicio:</label>
                    <div class="col-sm-4">
                        <input placeholder="Ingrese la ruta de conexión" name="servicio" type="text"  class="form-control"   ng-readonly="editar" ng-model="servicio" ng-init="verDireccion()">
                        <label>{{conec}}</label>
                    </div>
                    <button title="Editar" class="btn btn-primary btn-xs"  ng-disabled="!editar" ng-click="editarServicio()">
                                    <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button title="Guardar" class="btn btn-primary btn-xs"  ng-click="guardarServicio(servicio)" ng-disabled="editar">
                                    <span class="glyphicon glyphicon-check" ></span>
                    </button>
                </div>
            </div>
        </section>
    </div>
</div>     
