<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h4 style="display:inline;line-height: 1.9">CONFIGURACION DE REGIMEN LABORAL</h4>
            </header>
            <div class="panel-body">
                <uib-tabset active="tabPrincipal" justified="true" >
                    
                    <uib-tab index="0" heading="Planillas">
                        <br>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-condensed editable-table" ng-table ="tablaPlanillas" ng-init="listarPlanillas()">
                                <colgroup>
                                    <col width="5%" />
                                    <col width="10%" />
                                    <col width="10%" />
                                    <col width="60%" />
                                    <col width="5%" />
                                    <col width="10%" />
                                </colgroup>
                                <tr ng-repeat="p in $data">
                                    <td data-title="'N°'" style="text-align: center"><span>{{$index + 1}}</span></td>
                                    <td td filter="{codPla: 'text'}" sortable="'codPla'"  ng-form="codPla" data-title="'Código'"  style="text-align: center">{{p.codPla}}</td>
                                    <td td filter="{abrPla: 'text'}" sortable="'abrPla'"  ng-form="abrPla" data-title="'Abreviatura'"  style="text-align: center">{{p.abrPla}}</td>
                                    <td td filter="{nomPla: 'text'}" sortable="'nomPla'"  ng-form="nomPla" data-title="'Nombre'"  style="text-align: center">{{p.nomPla}}</td>
                                    <td data-title="'Estado'"  style="text-align: center">{{p.estReg}}</td>

                                    <td data-title="'Acción'" style="text-align: center">
                                        <button title="Editar" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modalnuevoplanilla" ng-click="cargarFormularioPlanilla(p)">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                        <button title="Eliminar" class="btn btn-danger btn-xs md-primary md-raised" ng-click="eliminarPlanilla(p)">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </td>
                                </tr> 
                            </table>

                            <div align="right" >
                                <button title="Crear Nueva Planilla" style="float:right;" class="btn btn btn-primary" data-toggle="modal" data-target="#modalnuevoplanilla" ng-click="limpiarFormularioPlanilla()"><i class="fa fa-plus"></i> Nuevo</button>
                            </div>
                        </div>

                    </uib-tab>
                    
                    <uib-tab index="1" heading="Categorias">
                        <br>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-condensed editable-table" ng-table ="tablaCategorias" ng-init="listarCategorias()">
                                <colgroup>
                                    <col width="5%" />
                                    <col width="10%" />
                                    <col width="40%" />
                                    <col width="30%" />
                                    <col width="5%" />
                                    <col width="10%" />
                                    
                                </colgroup>
                                <tr ng-repeat="cat in $data">
                                    <td data-title="'N°'" style="text-align: center"><span>{{$index + 1}}</span></td>
                                    <td td filter="{abrCat: 'text'}" sortable="'abrCat'"  ng-form="abrCat" data-title="'Abreviatura'"  style="text-align: center">{{cat.abrCat}}</td>
                                    <td td filter="{nomCat: 'text'}" sortable="'nomCat'"  ng-form="nomCat" data-title="'Nombre'"  style="text-align: center">{{cat.nomCat}}</td>
                                    <td td filter="{plaNom: 'text'}" sortable="'plaNom'"  ng-form="plaNom" data-title="'Planilla'"  style="text-align: center">{{cat.plaNom}}</td>
                                    <td data-title="'Estado'"  style="text-align: center">{{cat.estReg}}</td>
                                    <td data-title="'Acción'" style="text-align: center">
                                        <button title="Editar" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modalnuevocategoria" ng-click="cargarFormularioCategoria(cat)">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                        <button title="Eliminar" class="btn btn-danger btn-xs md-primary md-raised" ng-click="eliminarCategoria(cat)">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </td>
                                </tr> 
                            </table>

                            <div align="right" >
                                <button title="Crear Nueva Categoria" style="float:right;" class="btn btn btn-primary" data-toggle="modal" data-target="#modalnuevocategoria" ng-click="limpiarFormularioCategoria()"><i class="fa fa-plus"></i> Nuevo</button>
                            </div>
                        </div>
                    </uib-tab>
                    
                    <uib-tab index="2" heading="Cargos">
                        <br>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-condensed editable-table" ng-table ="tablaCargos" ng-init="listarCargos()">
                                <colgroup>
                                    <col width="5%" />
                                    <col width="10%" />
                                    <col width="70%" />
                                    <col width="5%" />
                                    <col width="10%" />
                                </colgroup>
                                <tr ng-repeat="car in $data">
                                    <td data-title="'N°'" style="text-align: center"><span>{{$index + 1}}</span></td>
                                    <td td filter="{codCar: 'text'}" sortable="'codCar'"  ng-form="codCar" data-title="'Código'"  style="text-align: center">{{car.codCar}}</td>
                                    <td td filter="{nomCar: 'text'}" sortable="'nomCar'"  ng-form="nomCar" data-title="'Nombre'"  style="text-align: center">{{car.nomCar}}</td>
                                    <td data-title="'Estado'"  style="text-align: center">{{car.estReg}}</td>
                                    <td data-title="'Acción'" style="text-align: center">
                                        <button title="Editar" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modalnuevocargo" ng-click="cargarFormularioCargo(car)">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                        <button title="Eliminar" class="btn btn-danger btn-xs md-primary md-raised" ng-click="eliminarCargo(car)">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>

                                    </td>
                                </tr> 
                            </table>

                            <div align="right" >
                                <button title="Crear Nuevo Cargo" style="float:right;" class="btn btn btn-primary" data-toggle="modal" data-target="#modalnuevocargo" ng-click="limpiarFormularioCargo()"><i class="fa fa-plus"></i>Nuevo</button>
                            </div>
                        </div>

                    </uib-tab>
                    
                </uib-tabset>
            </div>
        </section>
            <!----- MODEL CARGO ----->

            <div class="modal fade" id="modalnuevocargo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-init="">
                    <div class="modal-dialog">
                        <div class ="modal-content">
                            <div class ="modal-header">
                               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                               <h4 class="modal-title" id="myModalLabel">Cargos</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-horizontal style-form">
                                    <form name="myForm4">
                                    <div class="form-panel" ng-init="">
                                    <!-- ---------------------------------------------------- -->
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Codigo(*):</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" ng-model="item_cargo.codCar" required >   
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Nombre(*):</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" ng-model="item_cargo.nomCar" required> 
                                            </div>
                                            <br>
                                        </div>
                                        
                                               <div class="modal-footer">
                                                   <button class="btn btn-default"  data-dismiss="modal">Cancelar</button>
                                                   <button class="btn btn btn-primary"  ng-disabled="myForm4.$invalid" ng-click="procesarCargo()"><i class="fa fa-save" ></i>Guardar</button>
                                               </div>
                                         
                                     <!-- ---------------------------------------------------- -->
                                     </div>
                                    </form>   
                                </div>
                            </div>
                        </div>
                    </div>
            </div>

            <!---------->
            <!----- MODEL CATEGORIA ----->

            <div class="modal fade" id="modalnuevocategoria" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-init="">
                    <div class="modal-dialog">
                        <div class ="modal-content">
                            <div class ="modal-header">
                               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                               <h4 class="modal-title" id="myModalLabel">Categorias</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-horizontal style-form">
                                    <form name="myForm">
                                    <div class="form-panel" ng-init="">
                                    <!-- ---------------------------------------------------- -->
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Planilla(*):</label>
                                            <div class="col-sm-4">
                                                <select required class="form-control input-sm" ng-model="item_categoria.plaCat" ng-options="planDat.plaId as planDat.nomPla  for planDat in settingPlanillas.dataset">
                                                    <option value="" disabled selected hidden>Seleccione la planilla</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Abreviatura(*):</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" ng-model="item_categoria.abrCat" required>   
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Nombre(*):</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" ng-model="item_categoria.nomCat" required> 
                                            </div>
                                            <br>
                                        </div>
                                        
                                               <div class="modal-footer">
                                                   <button class="btn btn-default"  data-dismiss="modal">Cancelar</button>
                                                   <button class="btn btn btn-primary"  ng-disabled="myForm.$invalid" ng-click="procesarCategoria()"><i class="fa fa-save" ></i> Guardar</button>
                                               </div>
                                         
                                     <!-- ---------------------------------------------------- -->
                                     </div> 
                                        </form>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            
            <!---------->
            <!----- MODEL PLANILLA ----->

            <div class="modal fade" id="modalnuevoplanilla" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-init="">
                    <div class="modal-dialog">
                        <div class ="modal-content">
                            <div class ="modal-header">
                               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                               <h4 class="modal-title" id="myModalLabel">Planillas</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-horizontal style-form">
                                    <form name="myForm1">
                                    <div class="form-panel" ng-init="">
                                    <!-- ---------------------------------------------------- -->
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Codigo(*):</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" ng-model="item_planilla.codPla" required>   
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Abreviatura(*):</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" ng-model="item_planilla.abrPla" required> 
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Nombre(*):</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" ng-model="item_planilla.nomPla" required> 
                                            </div>
                                            <br>
                                        </div>
                                        
                                               <div class="modal-footer">
                                                   <button class="btn btn-default"  data-dismiss="modal">Cancelar</button>
                                                   <button class="btn btn btn-primary" ng-disabled="myForm1.$invalid" ng-click="procesarPlanilla()"><i class="fa fa-save" ></i>Guardar</button>
                                               </div>
                                        
                                     <!-- ---------------------------------------------------- -->
                                     </div>
                                        </form>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>

            
    </div>
</div>     
