<script type="text/ng-template" id="custom/pager">
    <ul class="pager ng-cloak" style="margin: 0;">
      <li ng-repeat="page in pages"
            ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
            ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
        <a ng-switch-when="prev" ng-click="params.page(page.number);params.calcularMatriz();params.calcularMatrizDetalle();" href="">&laquo; Previous</a>
        <a ng-switch-when="next" ng-click="params.page(page.number);params.calcularMatriz();params.calcularMatrizDetalle();" href="">Next &raquo;</a>
      </li>
      </ul>
</script>
<div class="row">
    
<div class="col-md-12">
    <section class="panel">
        
        <div class="panel-body mi-tabla-body" ng-init="listarDisenos(usuMaster.organizacion.organizacionID)">
        <div align="center">
            <button ng-if="!estaCreado" class="btn btn btn-primary btn-sm" data-toggle="modal" data-target="#modalNuevo"><i class="fa fa-plus" ></i> Crear Diseño Curricular</button>
        </div>
        <table ng-table="tabla" class="table" template-pagination="custom/pager">
            <tr ng-repeat="o in $data">
                <td >
                    <div class="profile-information">
                        <div class="col-md-9">
                            <div class="profile-desk">
                                <h1 style="margin-top: 0">{{o.nombre}}</h1>
                                <span class="text-muted" style="padding-bottom: 10px;">{{o.resolucion}}</span>
                                <p style="display: block;padding-bottom: 0px;">
                                    {{o.descripcion}}
                                </p>
                                <div align="center">
                                    <button class="btn btn-primary btn-sm" ng-click="prepararEditar(o)" ng-show="usuMaster.organizacion.organizacionID==o.organizacionID"><i class="fa fa-pencil" ></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="profile-statistics">
                                <h1 style="margin-top: 0">{{o.tipo}}</h1>
                                <p>{{o.fecha}}</p>
                                <ul style="margin-top: 0px;">
                                    <li>
                                        <a title="ver resolucion" href="http://www.minedu.gob.pe/curriculo/pdf/curriculo-nacional-2016-2.pdf" target="-1">
                                            <i class="fa fa-file"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>        
        </div>
        
    </section>
</div>
</div>

<div class="row"  >
<div class="col-lg-12">
<uib-tabset active="activeJustified" justified="true">
<uib-tab index="0" heading="MODALIDAD" ><section class="panel">
        
    <div class="panel-body" style="display: block;">                

        <div class="form-horizontal style-form" >
            <div class="form-group" >
                <label class="col-sm-2 control-label">Abreviacion</label>
                <div class="col-sm-2">
                    <span class="form-control">{{disenoActual.modalidad.abreviacion}}</span>
                </div>
                <label class="col-sm-2 control-label">Nombre</label>
                <div class="col-sm-6">
                    <span class="form-control">{{disenoActual.modalidad.nombre}}</span>
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-2 control-label">Descripcion</label>
                <div class="col-sm-10">
                    <span class="form-control" style="display:table">{{disenoActual.modalidad.descripcion}}</span>
                </div>
            </div>
        </div>
    </div>
        
</section></uib-tab>
<uib-tab index="1" heading="NIVELES" ><section class="panel">

    <div class="panel-body" style="display: block;">
        <table class="table table-bordered peque" style="margin-bottom: 0;">
          <thead>
          <tr>
              <th style="width:50px">Abr</th><th style="width:25%;">Nombre</th><th style="width:auto">Descripcion</th><th style="width:55px">Accion</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="o in disenoActual.niveles">
              <td>
                  <span ng-hide="o.edi" >{{o.abreviacion}}</span>
                  <span ng-show="o.edi" ><input style="max-width:50px" ng-model="o.copia.abreviacion"/></span>
              </td>
              <td style="word-break: break-all;">
                  <span ng-hide="o.edi" >{{o.nombre}}</span>
                  <span ng-show="o.edi" ><input ng-model="o.copia.nombre"/></span>
              </td>
              <td style="word-break: break-all;">
                  <span ng-hide="o.edi" >{{o.descripcion}}</span>
                  <span ng-show="o.edi" ><input ng-model="o.copia.descripcion"/></span>
              </td>
              <td>
                  <div ng-show="usuMaster.organizacion.organizacionID==disenoActual.organizacionID">
                  <button type="button" class="btn btn-primary btn-xs" ng-click="editarNivel($index,o)"><i class="fa" ng-class="{'fa-check':o.edi,'fa-pencil':!o.edi}" ></i></button>
                  <button type="button" class="btn btn-xs" ng-class="{'btn-danger':!o.edi}" ng-click="eliminar($index,o)"><i class="fa" ng-class="{'fa-times':o.edi,'fa-trash-o':!o.edi}"></i></button>                          
                  </div>
              </td>
          </tr>
          </tbody>
        </table>
        <table ng-show="usuMaster.organizacion.organizacionID==disenoActual.organizacionID" class="table peque" style="margin-bottom: 0;background: #f1f2f7;">
          <tr>
              <td style="width:50px"><input type="text" class="form-control input-table" ng-model="nivel.abreviacion"></td>
              <td style="width:25%"><input type="text" class="form-control input-table" ng-model="nivel.nombre"></td>
              <td style="width:auto;"><input type="text" class="form-control input-table" ng-model="nivel.descripcion"></td>
              <td style="width:55px">
                  <button class="btn btn-success btn-xs" ng-click="agregarNivel()" title="agregar nivel"><i class="fa fa-plus" ></i></button>
                  <button type="button" class="btn btn-xs" ng-click="nivel = {};" title="cancelar"><i class="fa fa-times"></i></button>
              </td>
          </tr>                      
      </table>

    </div>
        
</section></uib-tab>
<uib-tab index="2" heading="CICLOS" ><section class="panel">
    <div class="panel-body" style="display: block;">
        
        <table class="table table-bordered peque" style="margin-bottom: 0;">
        <thead>
        <tr>
            <th style="width:50px">Abr</th><th style="width:25%;">Nombre</th><th style="width:auto">Descripcion</th><th style="width:55px">Accion</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="o in disenoActual.ciclos">
            <td >
                <span ng-hide="o.edi" >{{o.abreviacion}}</span>
                <span ng-show="o.edi" ><input style="max-width:50px" ng-model="o.copia.abreviacion"/></span>
            </td>
            <td style="word-break: break-all;">
                <span ng-hide="o.edi" >{{o.nombre}}</span>
                <span ng-show="o.edi" ><input ng-model="o.copia.nombre"/></span>
            </td>
            <td  style="word-break: break-all;">
                <span ng-hide="o.edi" >{{o.descripcion}}</span>
                <span ng-show="o.edi" ><input ng-model="o.copia.descripcion"/></span>
            </td>
            <td >
                <div ng-show="usuMaster.organizacion.organizacionID==disenoActual.organizacionID">                              
                <button type="button" class="btn btn-primary btn-xs" ng-click="editarCiclo($index,o)"><i class="fa" ng-class="{'fa-check':o.edi,'fa-pencil':!o.edi}" ></i></button>
                <button type="button" class="btn btn-xs" ng-class="{'btn-danger':!o.edi}" ng-click="eliminar($index,o)"><i class="fa" ng-class="{'fa-times':o.edi,'fa-trash-o':!o.edi}"></i></button>
                </div>
            </td>
        </tr>
        </tbody>
        </table>
        <table ng-show="usuMaster.organizacion.organizacionID==disenoActual.organizacionID" class="table peque" style="margin-bottom: 0;background: #f1f2f7;">
          <tr>
              <td style="width:50px"><input type="text" class="form-control input-table" ng-model="ciclo.abreviacion"></td>
              <td style="width:25%"><input type="text" class="form-control input-table" ng-model="ciclo.nombre"></td>
              <td style="width:auto;"><input type="text" class="form-control input-table" ng-model="ciclo.descripcion"></td>
              <td style="width:55px">
                  <button class="btn btn-success btn-xs" ng-click="agregarCiclo()" title="agregar ciclo"><i class="fa fa-plus" ></i></button>
                  <button type="button" class="btn btn-xs" ng-click="ciclo = {};" title="cancelar"><i class="fa fa-times"></i></button>
              </td>
          </tr>                      
        </table>
        
        
        
    </div>
</section></uib-tab>
<uib-tab index="3" heading="GRADOS" ><section class="panel">

    <div class="panel-body" style="display: block;">
        <table class="table table-bordered peque" style="margin-bottom: 0;">
          <thead>
          <tr>
              <th style="width:15%;">Nivel</th><th style="width:10%;">Ciclo</th><th style="width:50px">Abr</th><th style="width:25%;">Nombre</th><th style="width:auto">Descripcion</th><th style="width:55px">Accion</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="o in disenoActual.grados">
              <td >
                  <span ng-hide="o.edi" >{{o.nivel}}</span>
                  <span ng-show="o.edi" ><select class="form-control input-table" ng-model="o.copia.nivelID" ng-options="o.nivelID as o.nombre for o in disenoActual.niveles"></select></span>
              </td> 
              <td >
                  <span ng-hide="o.edi" >{{o.ciclo}}</span>
                  <span ng-show="o.edi" ><select class="form-control input-table" ng-model="o.copia.cicloID" ng-options="o.cicloID as o.abreviacion for o in disenoActual.ciclos"></select></span>
              </td>                           
              <td >
                  <span ng-hide="o.edi" >{{o.abreviacion}}</span>
                  <span ng-show="o.edi" ><input style="max-width:50px" ng-model="o.copia.abreviacion"/></span>
              </td>
              <td style="word-break: break-all;">
                  <span ng-hide="o.edi" >{{o.nombre}}</span>
                  <span ng-show="o.edi" ><input ng-model="o.copia.nombre"/></span>
              </td>
              <td style="word-break: break-all;">
                  <span ng-hide="o.edi" >{{o.descripcion}}</span>
                  <span ng-show="o.edi" ><input ng-model="o.copia.descripcion"/></span>
              </td>
              <td >
                  <div ng-show="usuMaster.organizacion.organizacionID==disenoActual.organizacionID">
                  <button type="button" class="btn btn-primary btn-xs" ng-click="editarGrado($index,o)"><i class="fa" ng-class="{'fa-check':o.edi,'fa-pencil':!o.edi}" ></i></button>
                  <button type="button" class="btn btn-xs" ng-class="{'btn-danger':!o.edi}" ng-click="eliminar($index,o)"><i class="fa" ng-class="{'fa-times':o.edi,'fa-trash-o':!o.edi}"></i></button>
                  </div>
              </td>
          </tr>
          </tbody>
        </table>
        <table ng-show="usuMaster.organizacion.organizacionID==disenoActual.organizacionID" class="table peque" style="margin-bottom: 0;background: #f1f2f7;">
          <tr>              
              <td style="width:15%">
                  <select class="form-control input-table" ng-model="grado.nivelID" ng-options="o.nivelID as o.nombre for o in disenoActual.niveles"></select>
              </td>
              <td style="width:10%">
                  <select class="form-control input-table" ng-model="grado.cicloID" ng-options="o.cicloID as o.abreviacion for o in disenoActual.ciclos"></select>
              </td>
              <td style="width:50px"><input type="text" class="form-control input-table" ng-model="grado.abreviacion"></td>
              <td style="width:25%"><input type="text" class="form-control input-table" ng-model="grado.nombre"></td>
              <td style="width:auto;"><input type="text" class="form-control input-table" ng-model="grado.descripcion"></td>
              <td style="width:55px">
                  <button class="btn btn-success btn-xs" ng-click="agregarGrado()" title="agregar grado"><i class="fa fa-plus" ></i></button>
                  <button type="button" class="btn btn-xs" ng-click="grado = {};" title="cancelar"><i class="fa fa-times"></i></button>
              </td>
          </tr>                      
      </table>

    </div>
        
</section></uib-tab>
<uib-tab index="4" heading="AREA CURRICULAR" ><section class="panel">
    <div class="panel-body" style="display: block;">
        
        <table class="table table-bordered peque" style="margin-bottom: 0;">
        <thead>
        <tr>
            <th style="width:10%;">Tipo</th><th style="width:50px">Abr</th><th style="width:25%;">Nombre</th><th style="width:auto">Descripcion</th><th style="width:55px">Accion</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="o in disenoActual.areas">
            <td >
                <span ng-hide="o.edi" >{{o.tipo? 'taller':'area'}}</span>
                <span ng-show="o.edi" >
                <select class="form-control input-table" ng-model="o.copia.tipo" ng-options="(item?'taller':'area') for item in [true, false]">
                </select></span>
            </td>
            <td >
                <span ng-hide="o.edi" >{{o.abreviacion}}</span>
                <span ng-show="o.edi" ><input style="max-width:50px" ng-model="o.copia.abreviacion"/></span>
            </td>
            <td  style="word-break: break-all;">
                <span ng-hide="o.edi" >{{o.nombre}}</span>
                <span ng-show="o.edi" ><input ng-model="o.copia.nombre"/></span>
            </td>
            <td style="word-break: break-all;">
                <span ng-hide="o.edi" >{{o.descripcion}}</span>
                <span ng-show="o.edi" ><input ng-model="o.copia.descripcion"/></span>
            </td>
            <td >
                <div ng-show="usuMaster.organizacion.organizacionID==disenoActual.organizacionID">                              
                <button type="button" class="btn btn-primary btn-xs" ng-click="editarArea($index,o)"><i class="fa" ng-class="{'fa-check':o.edi,'fa-pencil':!o.edi}" ></i></button>
                <button type="button" class="btn btn-xs" ng-class="{'btn-danger':!o.edi}" ng-click="eliminar($index,o)"><i class="fa" ng-class="{'fa-times':o.edi,'fa-trash-o':!o.edi}"></i></button>                          
                </div>
            </td>
        </tr>
        </tbody>
        </table>
        <table ng-show="usuMaster.organizacion.organizacionID==disenoActual.organizacionID" class="table peque" style="margin-bottom: 0;background: #f1f2f7;">
          <tr>
              <td style="width:10%">
                <select class="form-control input-table" ng-model="area.tipo" ng-options="(item?'taller':'area') for item in [true, false]">
                </select>
              </td>
              <td style="width:50px"><input type="text" class="form-control input-table" ng-model="area.abreviacion"></td>
              <td style="width:25%"><input type="text" class="form-control input-table" ng-model="area.nombre"></td>
              <td style="width:auto;"><input type="text" class="form-control input-table" ng-model="area.descripcion"></td>
              <td style="width:55px">
                  <button class="btn btn-success btn-xs" ng-click="agregarArea()" title="agregar area curricular"><i class="fa fa-plus" ></i></button>
                  <button type="button" class="btn btn-xs" ng-click="area = {tipo:false};" title="cancelar"><i class="fa fa-times"></i></button>
              </td>
          </tr>                      
        </table>
        
        
    </div>
</section></uib-tab>

</uib-tabset>
</div>    
    

<div class="col-lg-12">
<section class="panel">
    <header class="panel-heading">
        <h4 style="display:inline;line-height: 1.9">CUADRO DEL PLAN DE ESTUDIOS</h4>
    </header>
    <div class="panel-body" >
        <div class="tabla-responsiva">
        <table class="table table-invoice" style="margin-top: 0px;">
        <thead>
            <tr>
                <th >NIVELES</th>
                <th class="text-center" ng-repeat="o in matris.niveles" colspan="{{o.c}}">{{o.nom}}</th>
            </tr>
            <tr>
                <th >CICLOS</th>
                <th class="text-center" ng-repeat="o in matris.ciclos" colspan="{{o.c}}">{{o.nom}}</th>
            </tr>
            <tr>
                <th >GRADOS</th>
                <th class="text-center" ng-repeat="o in disenoActual.grados">{{o.nombre}}</th>
            </tr>
        </thead>
        <tbody>            
            <tr ng-repeat="a in matris.gradoAreas track by $index" >
                <td ng-if="$index==0" rowspan="{{matris.gradoAreas.length}}" style="background: #e8e9f0"> 
                    <span style="writing-mode: tb-rl;-webkit-transform: rotate(-180deg);-moz-transform: rotate(-180deg);-o-transform: rotate(-180deg);-ms-transform: rotate(-180deg);transform: rotateZ(-180deg);">AREAS CURRICULARES</span>
                </td>
                <td class="text-center" ng-repeat="o in a track by $index" ng-class="{'areaSel':o,'areaNoSel':!o}">
                    <span  style="display: inline-block;" ng-click="editarGradoArea(o)">{{o.nombre}} </span>
                    <button ng-show="usuMaster.organizacion.organizacionID==disenoActual.organizacionID && o.edi" type="button" class="btn btn-xs btn-danger" style="margin-left: 15px" ng-click="eliminarGradoArea(o,$index)" title="eliminar"><i class="fa fa-trash-o"></i></button>
                    
                </td>
            </tr>
            <tr ng-show="usuMaster.organizacion.organizacionID==disenoActual.organizacionID">
            <th ></th>
            <th class="text-center" colspan="{{matris.c}}">
                <select class="form-control input-table" ng-model="gradoArea.grado" ng-options="o as o.nombre for o in disenoActual.grados" style="width: 45%;display: inline-block;"></select>
                <select class="form-control input-table" ng-model="gradoArea.area" ng-options="o as o.nombre for o in disenoActual.areas" style="width: 45%;display: inline-block;"></select>
                <button class="btn btn-success btn-xs" ng-click="agregarGradoArea()" title="agregar area al grado"><i class="fa fa-plus" ></i></button>
                <button type="button" class="btn btn-xs" ng-click="gradoArea = {};" title="cancelar"><i class="fa fa-times"></i></button>
            </th>
            </tr>
        </tbody>
        </table>
        </div>
    </div>
</section>
</div>
    
<div class="col-lg-12">
<uib-tabset justified="true">
<uib-tab index="0" heading="DISTRIBUCION DEL TIEMPO X NIVEL" ><section class="panel">
    <div class="panel-body" style="display: block;">
        <div class="tabla-responsiva">
        <table class="table table-bordered peque" style="margin-bottom: 0;">
        <thead>
        <tr>
            <th style="width:15%;">Nivel</th><th style="width:50px">Abr</th><th style="width:25%;">Nombre</th><th style="width:50px;">H. Obli</th><th style="width:50px;">H. Disp</th><th style="width:50px;">H. Tut</th><th style="width:50px;">H. Tot</th><th style="width:auto">Descripcion</th><th style="width:55px">Accion</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="o in disenoActual.jornadas">
            <td >
                <span ng-hide="o.edi" >{{o.nivel}}</span>
                <span ng-show="o.edi" ><select class="form-control input-table" ng-model="o.copia.nivelID" ng-options="o.nivelID as o.nombre for o in disenoActual.niveles"></select></span>
            </td>
            <td >
                <span ng-hide="o.edi" >{{o.abreviacion}}</span>
                <span ng-show="o.edi" ><input style="max-width:50px" ng-model="o.copia.abreviacion"/></span>
            </td>
            <td  style="word-break: break-all;">
                <span ng-hide="o.edi" >{{o.nombre}}</span>
                <span ng-show="o.edi" ><input ng-model="o.copia.nombre"/></span>
            </td>
            <td >
                <span ng-hide="o.edi" >{{o.hObligatoria}}</span>
                <span ng-show="o.edi" ><input style="max-width:50px" type="number" ng-model="o.copia.hObligatoria"/></span>
            </td>
            <td >
                <span ng-hide="o.edi" >{{o.hLibre}}</span>
                <span ng-show="o.edi" ><input style="max-width:50px" type="number" ng-model="o.copia.hLibre"/></span>
            </td>
            <td >
                <span ng-hide="o.edi" >{{o.hTutoria}}</span>
                <span ng-show="o.edi" ><input style="max-width:50px" type="number" ng-model="o.copia.hTutoria"/></span>
            </td>
            <td >
                <span >{{o.hTotal}}</span>
            </td>
            <td style="word-break: break-all;">
                <span ng-hide="o.edi" >{{o.descripcion}}</span>
                <span ng-show="o.edi" ><input ng-model="o.copia.descripcion"/></span>
            </td>
            <td >
                <div ng-show="usuMaster.organizacion.organizacionID==disenoActual.organizacionID">                              
                <button type="button" class="btn btn-primary btn-xs" ng-click="editarJornada($index,o)"><i class="fa" ng-class="{'fa-check':o.edi,'fa-pencil':!o.edi}" ></i></button>
                <button type="button" class="btn btn-xs" ng-class="{'btn-danger':!o.edi}" ng-click="eliminar($index,o)"><i class="fa" ng-class="{'fa-times':o.edi,'fa-trash-o':!o.edi}"></i></button>                          
                </div>
            </td>
        </tr>
        </tbody>
        </table>
        <table ng-show="usuMaster.organizacion.organizacionID==disenoActual.organizacionID" class="table peque" style="margin-bottom: 0;background: #f1f2f7;">
          <tr>
              <td style="width:15%">
                <select class="form-control input-table" ng-model="jornada.nivelID" ng-options="o.nivelID as o.nombre for o in disenoActual.niveles"></select>
              </td>
              <td style="width:50px"><input type="text" class="form-control input-table" ng-model="jornada.abreviacion"></td>
              <td style="width:25%"><input type="text" class="form-control input-table" ng-model="jornada.nombre"></td>
              <td style="width:5%"><input type="number" class="form-control input-table" ng-model="jornada.hObligatoria"></td>
              <td style="width:5%"><input type="number" class="form-control input-table" ng-model="jornada.hLibre"></td>
              <td style="width:5%"><input type="number" class="form-control input-table" ng-model="jornada.hTutoria"></td>              
              <td style="width:auto;"><input type="text" class="form-control input-table" ng-model="jornada.descripcion"></td>
              <td style="width:55px">
                  <button class="btn btn-success btn-xs" ng-click="agregarJornada()" title="agregar jornada"><i class="fa fa-plus" ></i></button>
                  <button type="button" class="btn btn-xs" ng-click="jornada = {};" title="cancelar"><i class="fa fa-times"></i></button>
              </td>
          </tr>                      
        </table>
        </div>
        
    </div>
</section></uib-tab>
<uib-tab index="1" heading="DISTRIBUCION DEL TIEMPO X AREA" ><section class="panel">
    <div class="panel-body" style="display: block;">
        
        <div class="form-group" >
            <label class="col-sm-2 control-label">Jornada Escolar</label>
            <div class="col-sm-4">
                <select class="form-control" ng-model="jornadaSel" ng-options="o as o.nombre for o in disenoActual.jornadas"  ng-change="calcularMatriz2(jornadaSel)"></select>                
            </div>
            <label class="col-sm-1 control-label">Horas Obligatorias</label>
            <div class="col-sm-2">
                <span class="form-control">{{jornadaSel.hObligatoria}}</span>
            </div>
            <label class="col-sm-1 control-label">Total Horas</label>
            <div class="col-sm-2">
                <span class="form-control">{{jornadaSel.hTotal}}</span>
            </div>
        </div>
        <div class="tabla-responsiva">
        <table class="table table-bordered" >
        <thead>
            <tr>
                <th style="width: 20%;background: #e8e9f0">NIVEL</th>
                <th style="background: #e8e9f0" class="text-center" colspan="{{matris2.c}}">{{jornadaSel.nivel}}</th>
            </tr>
            <tr>
                <th style="background: #e8e9f0">GRADOS</th>
                <th style="background: #f5f6f9" class="text-center" ng-repeat="o in matris2.grados">{{o.nombre}}</th>
            </tr>
        </thead>
        <tbody>            
            <tr ng-repeat="a in matris2.gradoAreas track by $index"  >
                <td style="background: #f5f6f9"> 
                    {{matris2.areas[$index]}}
                </td>
                <td class="text-center" ng-repeat="o in a track by $index" ng-class="{'areaSel':o,'areaNoSel':!o}">
                    <span ng-hide="usuMaster.organizacion.organizacionID==disenoActual.organizacionID && o.edi" style="display: inline-block;" ng-click="editarAreaHora(o)">{{o.hora}}</span>
                    <span ng-show="usuMaster.organizacion.organizacionID==disenoActual.organizacionID && o.edi" >
                        <input type="number" ng-model="o.copia.hora" style="width: 50px;" min="0"/>
                        <button type="button" class="btn btn-primary btn-xs" ng-click="agregarAreaHora(o,jornadaSel,$index)"><i class="fa" ng-class="{'fa-check':o.edi,'fa-pencil':!o.edi}" ></i></button>
                        <button type="button" class="btn btn-xs" ng-click="editarAreaHora(o)"><i class="fa fa-times"></i></button>
                    </span>
                    
                </td>
            </tr>
            <tr>
                <td style="background: #f5f6f9">HORAS TUTORIA</td>
                <td style="background:#F1F8E9" class="text-center" ng-repeat="o in matris2.grados track by $index">
                    {{jornadaSel.hTutoria}}
                </td>
            </tr><tr>
                <td style="background: #f5f6f9">HORAS OBLIGATORIAS</td>
                <td style="background: #E1F5FE" class="text-center" ng-repeat="o in matris2.grados track by $index">
                    {{o.total}}
                </td>
            </tr><tr>
                <td style="background: #f5f6f9">HORAS LIBRE DISPONIBILIDAD</td>
                <td style="background: #FFFDE7" class="text-center" ng-repeat="o in matris2.grados track by $index">
                    {{jornadaSel.hLibre}}
                </td>
            </tr><tr>
                <td style="background: #e8e9f0" class="text-right">TOTAL :</td>
                <td style="background: #FFECB3" class="text-center" ng-repeat="o in matris2.grados track by $index">
                    {{jornadaSel.hTutoria + o.total + jornadaSel.hLibre}}
                </td>
            </tr>
        </tbody>
        </table>
        </div>
        
    </div>
</section></uib-tab>
</uib-tabset>
</div>     
</div>

<!-- Modal -->
<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">ACTUALIZAR DISEÑO CURRICULAR</h4>
      </div>
      <div class="modal-body">
          
          
        <div class="form-panel">
            <div class="form-horizontal style-form" >
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Nombre</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="disenoSel.nombre">
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Descripcion</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" ng-model="disenoSel.descripcion"></textarea>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Resolucion</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="disenoSel.resolucion"/>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Tipo</label>
                    <div class="col-sm-10">
                        <div class="radio" style="display: inline-block">
                          <label><input type="radio" ng-model="disenoSel.tipo" ng-value="'N'" >nacional</label>
                        </div>
                        <div class="radio" style="display: inline-block">
                          <label><input type="radio" ng-model="disenoSel.tipo" ng-value="'R'">regional</label>
                        </div>
                        <div class="radio" style="display: inline-block">
                          <label><input type="radio" ng-model="disenoSel.tipo" ng-value="'L'">local</label>
                        </div>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Estado</label>
                    <div class="col-sm-10">
                        <div class="radio" style="display: inline-block">
                          <label><input type="radio" ng-model="disenoSel.estado" ng-value="'A'" >activo</label>
                        </div>
                        <div class="radio" style="display: inline-block">
                          <label><input type="radio" ng-model="disenoSel.estado" ng-value="'I'">inactivo</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" ng-click="editarDiseno()"><i class="fa fa-save" ></i> Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modalNuevo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">NUEVO DISEÑO CURRICULAR</h4>
      </div>
      <div class="modal-body">
          
          
            <div class="form-panel">
                <div class="form-horizontal style-form" >
                    
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Nombre</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="nuevoDiseno.nombre">
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Descripcion</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" ng-model="nuevoDiseno.descripcion"></textarea>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Resolucion</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="nuevoDiseno.resolucion"/>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Tipo</label>
                    <div class="col-sm-10">
                        <div class="radio" style="display: inline-block">
                          <label><input type="radio" ng-model="nuevoDiseno.tipo" ng-value="'N'" >nacional</label>
                        </div>
                        <div class="radio" style="display: inline-block">
                          <label><input type="radio" ng-model="nuevoDiseno.tipo" ng-value="'R'">regional</label>
                        </div>
                        <div class="radio" style="display: inline-block">
                          <label><input type="radio" ng-model="nuevoDiseno.tipo" ng-value="'L'">local</label>
                        </div>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Estado</label>
                    <div class="col-sm-10">
                        <div class="radio" style="display: inline-block">
                          <label><input type="radio" ng-model="nuevoDiseno.estado" ng-value="'A'" >activo</label>
                        </div>
                        <div class="radio" style="display: inline-block">
                          <label><input type="radio" ng-model="nuevoDiseno.estado" ng-value="'I'">inactivo</label>
                        </div>
                    </div>
                </div>
                    
                    
                    
                </div>
            </div>
          
          
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="agregarDiseno(usuMaster.organizacion.organizacionID)"><i class="fa fa-check" ></i> Guardar</button>
      </div>
    </div>
  </div>
</div>

