<style>
    .checkbox{
        min-height: 27px;
        height: 27px;
    }
</style>

<div class="row">
    
    <form name="bienInmuebleForm" class="css-form" novalidate>
    
        <div class="col-sm-12" ng-init="loadDpto(); mostrarAmbientes(); revisarLocalStorage();">
            <section class="panel">
                <header class="panel-heading">
                    <h4 style="display:inline;line-height: 1.9">Datos del Inmueble</h4>
                </header>
                <div class="panel-body">                

                    <div class="row m-bot15">

                        <div class="col-md-12 m-bot15" style="text-align: right;">

                            <!--<button class="btn btn btn-warning" ng-click="openModalNuevoAmbiente()"><i class="fa fa-plus"> Agregar Ambientes</i></button>-->

                        </div>                    

                        <div class="col-md-12">

                            <div class="form-group form-horizontal">

                                <label class="col-md-1 control-label">Dirección*</label>
                                <div class="col-md-2">
                                    <select name="tipoDireccion" class="form-control" ng-options="dir.nombre for  dir in direccion" ng-model="lista.direccion" required></select>   
                                    <p ng-show="bienInmuebleForm.tipoDireccion.$invalid" class="help-block">Este campo es requerido.</p>
                                </div>

                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="Direccion" ng-model="bien_inmueble.direccion" >
                                </div>

                                <label class="col-md-1 control-label">N° *</label>
                                <div class="col-md-1">
                                    <input type="text" name="numDireccion" class="form-control" ng-model="bien_inmueble.nro" required>
                                    <p ng-show="bienInmuebleForm.numDireccion.$invalid" class="help-block">Este campo es requerido.</p>
                                </div>

                                <label class="col-md-1 control-label">Mz. </label>
                                <div class="col-md-1">
                                    <input type="text" class="form-control" ng-model="bien_inmueble.mz">
                                </div>

                                <label class="col-md-1 control-label">Lte.</label>
                                <div class="col-md-1">
                                    <input type="text" class="form-control" ng-model="bien_inmueble.lt">
                                </div>
                            </div>

                        </div>                   

                    </div>

                    <div class="row m-bot15">

                        <div class="col-md-12">

                            <div class="form-group form-horizontal">

                                <label class="col-md-1 control-label">Departamento</label>
                                <div class="col-md-3">
                                    <select name="departamento" class="form-control" ng-model= "datosUbigeo.dpto" ng-change="loadProv()">
                                        <option ng-repeat="dpto in datosUbigeo.departamentos" value="{{dpto.codigo_ubigeo}}" >{{dpto.nombre_ubigeo}}</option>
                                    </select>
                                    
                                    <p ng-show="datosUbigeo.dpto == -1" class="help-block">Este campo es requerido.</p>
                                </div>

                                <label class="col-md-1 control-label">Provincia</label>
                                <div class="col-md-3">
                                    <select class="form-control" ng-model= "datosUbigeo.prov" ng-change="loadDist()">
                                        <option ng-repeat="prov in datosUbigeo.provincias" value="{{prov.codigo_ubigeo}}">{{prov.nombre_ubigeo}}</option>
                                    </select>
                                    
                                    <p ng-show="datosUbigeo.prov == -1" class="help-block">Este campo es requerido.</p>
                                </div>

                                <label class="col-md-1 control-label">Distrito</label>
                                <div class="col-md-3">
                                    <select class="form-control" ng-model= "datosUbigeo.dist">
                                        <option ng-repeat="dist in datosUbigeo.distritos" value="{{dist.codigo_ubigeo}}">{{dist.nombre_ubigeo}}</option>
                                    </select>
                                    
                                    <p ng-show="datosUbigeo.dist == -1" class="help-block">Este campo es requerido.</p>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-12">

                            <div class="form-group form-horizontal">

                                <label class="col-sm-2">Descripción:</label>
                                <div class="col-sm-6">
                                    <textarea class="form-control" ng-model="bien_inmueble.descripcion">

                                    </textarea>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </section>
        </div>

        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    <h4 style="display:inline;line-height: 1.9">Detalle Técnico</h4>
                </header>
                <div class="panel-body">                

                    <div class="row">

                        <div class="col-md-8">                                                

                            <div class="row m-bot15">

                                <div class="col-md-12">

                                    <div class="form-group form-horizontal">

                                        <label class="col-md-2">Propiedad: *</label>
                                        <div class="col-md-4">
                                            <select name="tipoPropiedad" class="form-control" ng-options="pr.nombre for pr in propiedad" ng-model="lista.propiedad" required></select>
                                            <p ng-show="bienInmuebleForm.tipoPropiedad.$invalid" class="help-block">Este campo es requerido.</p>
                                        </div>

                                        <label class="col-md-2">Tipo Terreno *</label>
                                        <div class="col-md-4">
                                            <select name="tipoTerreno" class="form-control" ng-options="pr.nombre for pr in tipo_terreno" ng-model="lista.tipo_terreno" required></select>
                                            <p ng-show="bienInmuebleForm.tipoTerreno.$invalid" class="help-block">Este campo es requerido.</p>
                                        </div>

                                    </div>

                                </div>                   

                            </div>

                            <div class="row m-bot15">

                                <div class="col-md-6">

                                    <div class="form-group form-horizontal">

                                        <label class="col-md-5 control-label">Esta saneado </label>
                                        <div class="col-md-2">
                                            <input type="checkbox" class="form-control" ng-model="bien_inmueble.est_sanea" ng-value="true">
                                        </div>                                    

                                    </div>

                                </div> 

                                <div class="col-md-6">

                                    <div class="form-group form-horizontal">

                                        <label class="col-md-2">Area *</label>
                                        <div class="col-md-4">
                                            <input type="text" name="area" class="form-control" ng-model="bien_inmueble.area" required>
                                            <p ng-show="bienInmuebleForm.area.$invalid" class="help-block">Este campo es requerido.</p>
                                        </div>

                                        <label class="col-md-2">UM *</label>
                                        <div class="col-md-4">
                                            <select name="unidadMed" class="form-control" ng-options="um.nombre for um in unidades_metricas" ng-model="lista.um" required></select>
                                            <p ng-show="bienInmuebleForm.unidadMed.$invalid" class="help-block">Este campo es requerido.</p>
                                        </div>

                                    </div>

                                </div> 

                            </div>

                            <div class="row m-bot15">

                                <div class="col-md-12">

                                    <div class="form-group form-horizontal">

                                        <!--<label class="col-md-3">N° de título</label>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" placeholder="1000">
                                        </div>-->

                                        <label class="col-md-3">Partida Electrónica: *</label>
                                        <div class="col-md-3">
                                            <input type="text" name="partElec" class="form-control" ng-model="bien_inmueble.part_elec" required>
                                            <p ng-show="bienInmuebleForm.partElec.$invalid" class="help-block">Este campo es requerido.</p>
                                        </div>

                                    </div>

                                </div>                   

                            </div>                       

                            <div class="row m-bot15">

                                <div class="col-md-12">

                                    <div class="form-group form-horizontal">

                                        <label class="col-md-3">Registro SINABIP</label>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" ng-model="bien_inmueble.reg_sinabip">
                                        </div>

                                        <label class="col-md-3">N° Ficha Registral *</label>
                                        <div class="col-md-3">
                                            <input type="text" name="numFichReg" class="form-control" ng-model="bien_inmueble.nro_fic_reg" required>
                                            <p ng-show="bienInmuebleForm.numFichReg.$invalid" class="help-block">Este campo es requerido.</p>
                                        </div>

                                    </div>

                                </div>                   

                            </div>

                        </div>     

                        <div class="col-md-4">                                                

                            <div class="tabla-responsiva">
                                <table ng-table="tabla_ambientes" class="table table-striped table-hover" show-filter="true" >

                                    <colgroup>
                                        <col width="20px" /><col width="50px" /><col width="auto" /><col width="auto" /><col width="200px" /><col width="200px" /><col width="65px" />
                                    </colgroup>

                                    <tr ng-repeat="o in $data">
                                        <td data-title="'Nro.'" filter="{ cod: 'text'}" sortable="'cod'" style="text-align: center">{{o.i}}</td>
                                        <td data-title="'Descripcion'" filter="{ amb_des : 'text'}" sortable="'amb_des'" style="text-align: center">{{o.amb_des}}</td>
                                        <td data-title="'Estado'" filter="{ amb_est : 'text'}" sortable="'amb_est'" style="text-align: center">{{o.amb_est}}</td>
                                        <td data-title="'Accion'">
                                            <!--<button class="btn btn-primary btn-xs" ng-disabled="" ng-click="elegirAmbiente(o)"><i class="fa fa-check" ></i></button>  -->
                                            <input type="checkbox" style="width: 25px" class="checkbox form-control" ng-model="selectedAmbiente" ng-click="changeSelectedAmbiente($event, o)">
                                        </td>        
                                    </tr>  

                                </table>
                            </div>

                        </div> 

                    </div>               

                </div>
            </section>
        </div>

        <div class="row">

            <div class="col-md-12">

                <div class="col-md-offset-9">
                              
                   <button class="btn btn-success" ng-click="registrar_bien_inmueble(usuMaster.usuario.ID,usuMaster.organizacion.organizacionID)"><i class="fa fa-save"> {{accion_bien}}  </i></button>
                   <button class="btn btn-danger" ng-click="cancelarRegistro()"><i class="fa fa-times">  Cancelar  </i></button> 
                   
               </div>

            </div>

        </div>
        
    </form>
    
</div>
