<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title"> {{title}} </h4>
            </div>
            
            <div class="modal-body">

                <div class="md-col-12">
                    
                    <div class="row">
                        <span class="label label-warning" style="font-size: 13px; margin-left: 15px">Haga doble click para seleccionar la cuenta contable</span>
                    </div> 
                    
                    <br>                    
                    
                    <div class="table-responsive">
                        
                        <table class="table table-condensed table-bordered"  ng-table ="tablaCuentasContables" >
                            
                            
                            <tr ng-repeat="sm in $data " ng-dblclick="setClickedRow(sm)" style="cursor:pointer;">
                                <td data-title="'N°'" style="width: 65px;text-align:left">
                                    {{sm.i}}
                                </td>
                                <td data-title="'Nombre'" filter="{ nombre: 'text' }" style="width: 170px;text-align:left">
                                    {{sm.nombre}}
                                </td>
                                <td data-title="'Número'" style="width: 50px;text-align:center">
                                    {{sm.numero}}
                                </td>                                                                                    

                            </tr>
                        </table>
                    
                    </div>                      
                </div>
            </div>
            
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Cancelar</button>
            </div>
        </div>
    </div>
</div>