<div class="row" ng-cloak>

    <div class="col-md-12" ng-init="mostrarCatalogo()">
        <section class="panel">

            <header class="panel-heading">
                <h4 style="display:inline;line-height: 1.9">Catalogo SBN</h4>
                <div class="tools pull-right">               
                    <button type="button" class="btn btn-primary btn-md" ng-click="reporteCatalogo()"><i class="fa fa-print"></i></button>
                    <!--<button type="button" class="btn btn-default btn-md" ng-click="eliminarAuth()"><i class="fa fa-edit"></i></button>-->
                </div>
            </header>

            <div class="panel-body">

                <div class="col-md-12">
                    <button type="button" class="btn btn-success" ng-if="usuMaster.rol.rolID == ROLES.ESCTRPA" ng-click="agregarItem()"><i class="fa fa-plus"></i>  Agregar Item </button>
                    <button type="button" class="btn btn-warning pull-right">Actualizar Catálogo <i class="fa fa-share-square-o"></i> </button>

                </div> 

                <div class="col-md-12">
                    <hr>

                    <table ng-table="tabla_catalogo" class="table table-striped table-hover" show-filter="true" >

                        <tr ng-repeat="o in $data">
                            <td data-title="'N°'" sortable="'cod'" style="text-align: center; width: 5%;">{{o.i}}</td> 
                            <td data-title="'Código Patrimonial'" filter="{ cod: 'text'}" sortable="'cod'" style="text-align: center; width: 25%;">{{o.cod}}</td>
                            <td data-title="'Descripcion Patrimonial'" filter="{ den_bie : 'text'}" sortable="'den_bie'" style="text-align: center; width: 25%;">{{o.den_bie}}</td>
                            <td data-title="'Unidad de Medida'" filter="{ uni_med_nom : 'text'}" sortable="'uni_med_nom'" style="text-align: center; width: 25%;">{{o.uni_med_nom}}</td>

                            <td data-title="'Acciones'" style="text-align: center;">
                                <button class="btn btn-warning btn-xs" ng-click="verItemCatalogo(o)" title="Ver Detalles"><i class="fa fa-eye" ></i></button>
                                <button class="btn btn-primary btn-xs" ng-if="usuMaster.rol.rolID == ROLES.ADM_UGEL" ng-click="editarItemCatalogo(o)" title="Editar"><i class="fa fa-pencil" ></i></button>
                                <button class="btn btn-danger btn-xs"  ng-click="eliminarItemCatalogo(o)" title="Eliminar"><i class="fa fa-trash-o"></i></button>  
                            </td>
                        </tr>   
                    </table>

                </div>

            </div>
        </section>
    </div>

</div>


<!----- MODAL AGREGAR/EDITAR NUEVO ITEM ----->

<div class="modal fade" id="modalnuevoitem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">{{modalTitle}}</h4>
            </div>
            <div class="modal-body">

                <form name="catalogoSbnForm" class="form-horizontal css-form"  novalidate>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Código</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control m-bot15" ng-model="item_catalogo.cod" ng-disabled="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Descripción *</label>
                        <div class="col-sm-6">
                            <textarea name="denBie" class="form-control" ng-model="item_catalogo.den_bie" placeholder="Escriba la descripción" required></textarea>
                            <p ng-show="catalogoSbnForm.denBie.$invalid" class="help-block">Este campo es requerido.</p>
                        </div>
                    </div>
                    <div class="form-group" ng-init="listarUnidadesMedida()">
                        <label class="col-sm-3 control-label">Unidad de medida *</label>
                        <div class="col-sm-6">
                            
                            <select name="uniMed" class="form-control" ng-model="item_catalogo.uni_med" ng-change="seleccionarUnidadMed(item_catalogo.uni_med)" ng-options="um.nom for um in unidades_medida" required>
                            </select> 
                            
                            <p ng-show="catalogoSbnForm.uniMed.$pristine && !editItem" class="help-block">Este campo es requerido.</p>
                        </div>
                    </div>

                    <div class="form-group" ng-init="listarGruposGenericos()">
                        <label class="col-sm-3 control-label">Grupo *</label>
                        <div class="col-sm-6">
                            <select name="gruGen" class="form-control" ng-model="item_catalogo.gru_gen" ng-change="listarClasesGenericas(item_catalogo.gru_gen)" ng-options="gg.nom for gg in grupos_genericos" required>
                            </select>
                            
                            <p ng-show="catalogoSbnForm.gruGen.$pristine && !editItem" class="help-block">Este campo es requerido.</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Clase *</label>
                        <div class="col-sm-6">                            
                            <select name="calGen" class="form-control" ng-model="item_catalogo.cla_gen" ng-change="listarFamiliasGenericas(item_catalogo.cla_gen)" ng-options="cg.nom for cg in clases_genericas" required>
                            </select> 
                            
                            <p ng-show="catalogoSbnForm.calGen.$pristine && !editItem" class="help-block">Este campo es requerido.</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Familia *</label>
                        <div class="col-sm-6">
                            <select name="famGen" class="form-control" ng-model="item_catalogo.fam_gen" ng-change="cargar_codigo()" ng-options="fg.nom for fg in familias_genericas"required>
                            </select> 
                            
                            <p ng-show="catalogoSbnForm.famGen.$pristine && !editItem" class="help-block">Este campo es requerido.</p>
                        </div>
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                
                <button class="btn btn-success" ng-click="agregarItemCatalogo(item_catalogo, usuMaster.usuario)"> <i class="fa fa-save"></i> Guardar  </button>
                <button data-dismiss="modal" class="btn btn-danger"> <i class="fa fa-times"></i> Cancelar </button>
                
            </div>
        </div>
    </div>    

</div>

<!----- END MODAL AGREGAR/EDITAR NUEVO ITEM ----->


<!----- MODAL VER ITEM ----->

<div class="modal fade" id="modalVerItem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Ver Item</h4>
            </div>
            <div class="modal-body">

                <form class="form-horizontal css-form"  novalidate>
                    
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Código</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control m-bot15" ng-model="item_catalogo.cod" ng-disabled="true">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Descripción:</label>
                        <div class="col-sm-6">
                            <textarea name="denBie" class="form-control" ng-model="item_catalogo.den_bie" ng-disabled="true"></textarea>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Unidad de medida:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control m-bot15" ng-model="item_catalogo.uni_med_nom" ng-disabled="true">                            
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Grupo:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control m-bot15" ng-model="item_catalogo.gru_gen_nom" ng-disabled="true">                            
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Clase:</label>
                        <div class="col-sm-6">                            
                           <input type="text" class="form-control m-bot15" ng-model="item_catalogo.cla_gen_nom" ng-disabled="true">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Familia:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control m-bot15" ng-model="item_catalogo.fam_gen_nom" ng-disabled="true">
                        </div>
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                
                <button data-dismiss="modal" class="btn btn-danger"> <i class="fa fa-times"></i> Cancelar </button>
                
            </div>
        </div>
    </div>    

</div>

<!----- END MODAL VER ITEM ----->


<!----- MODAL IMPORTAR CATALOGO  ----->

<div class="modal fade" id="#modalcatalogo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-init="">
    <div class="modal-dialog">
        <div class ="modal-content">
            <div class ="modal-header">             
                <div class="form-group">          
                    <input-file nombre="catalogo_bienes.nombre" archivo="catalogo_bienes.archivo"></input-file></span>
                    <view-file nombre="catalogo_bienes.nombre" archivo="catalogo_bienes.archivo"></view-file></span>
                </div>

            </div>

        </div>
    </div>
</div>

<!----- END MODAL IMPORTAR CATALOGO ----->
