<div class="row">
    
    <div class="col-lg-12" >
        
        <section class="panel">
            
             
            <header class="panel-heading">
                <h4 style="display:inline;line-height: 1.9">Consulta Inventarios Control Patrimonial</h4>
                <div class="tools pull-right">               
                    <button type="button" class="btn btn-primary btn-md" data-toggle="tooltip" data-placement="bottom" title="Generar Reporte" ng-click="reporteInventarios(usuMaster.organizacion.organizacionID)"><i class="fa fa-print"></i></button>
                </div>
            </header>
            
            <div class="panel-body" ng-init="listarInventarios(usuMaster.organizacion.organizacionID)">
                <div class="tabla-responsiva">
                    
                    <table ng-table="tabla_inventarios" class="table table-striped table-hover" show-filter="true" >
                        
                        <colgroup>
                            <col width="20px" />
                           <!-- <col width="20px" />
                            <col width="20px" />-->
                            <col width="120px" />
                            <col width="120px" />
                            <col width="50px" />
                            <col width="45px" />
                        </colgroup>
                        
                        <tr ng-repeat="o in $data"> 
                            <td data-title="'Nro'" filter="{ i: 'text'}" sortable="'cod'" style="text-align: center">{{o.i}}</td>
                           <!--<td data-title="'Id. C.Patrimonial'" filter="{ con_pat_id : 'text'}" sortable="'con_pat_id'" style="text-align: center">{{o.con_pat_id}}</td>
                            <td data-title="'Id. Inventario '" filter="{ inv_ini_id : 'text'}" sortable="'inv_ini_id'" style="text-align: center">{{o.inv_id}}</td>
                            --><td data-title="'Fecha Inventario'" filter="{ fec_mod : 'text'}" sortable="'fec_mod'" style="text-align: center">{{o.fec_mod}}</td>
                            <td data-title="'Estado Cierre'" filter="{ fla_cie : 'text'}" sortable="'fla_cie'" style="text-align: center">{{o.fla_cie}}</td>
                            <td data-title="'Tipo Inventario'" filter="{ tipo_inv : 'text'}" sortable="'tipo_inv'" style="text-align: center">
                                <span class="label label-mini" ng-class="{'label-info': o.tipo_inv == 'Inventario Inicial','label-warning': o.tipo_inv == 'Inventario Fisico'}">{{o.tipo_inv}}</span>
                            </td>
                            <td data-title="'Accion'" style="text-align: center">
                                <button class="btn btn-success btn-xs" ng-disabled="" ng-click="reporteInventarioDetalle(o, usuMaster.organizacion.organizacionID)" data-toggle="tooltip" data-placement="bottom" title="Generar Reporte"><i class="fa fa-file-o" ></i></button>
                                <button class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="bottom" title="Editar" ng-click="editarInventario(o, usuMaster.organizacion.organizacionID)"><i class="fa fa fa-pencil" ></i></button>
                                <button class="btn btn-danger btn-xs"  data-toggle="tooltip" data-placement="bottom" title="Eliminar" ng-click="eliminarInventario(o)"><i class="fa fa-trash-o"></i></button>
                            </td>  
                        </tr>  
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>
