<div class="row"><div class="col-lg-12" >
  <section class="panel">
        <header class="panel-heading">
            <h4 style="display:inline;line-height: 1.9">Consulta de Bienes</h4>
        </header>
      <div class="panel-body">
        <div class="form-panel">
            <div class="form-horizontal style-form" >
                <div class="form-group">
                    <label class="col-sm-2 control-label">REPORTE DE BIENES MUEBLES :</label>
                    <div class="col-sm-4">
                        <button class="" ng-click="reporte_catalogo()"><i class="glyphicon glyphicon-print"></i></button>
                    </div>
                </div>
                <div class="form-group">
                    <div class=" col-sm-2">
                        <button class="btn btn btn-warning" data-toggle="modal" data-target="#modalnuevoitem"><i class="fa fa-plus"> Agregar Bien</i></button>
                    </div>     
                    <div class=" col-md-offset-10">
                        <button class="btn btn btn-warning" data-toggle="modal" data-target="#modalNuevoPrestamo"><i class="fa fa-plus"> Acutalizar Catalogo</i></button>
                    </div>          
                </div>
            </div>  
 
        </div>
      </div>
        
      
      
      
        <!----- TABLA CATALOGO DE BIENES ----->
        <div class="panel-body" ng-init="mostrar_bienes_muebles(usuMaster.organizacion.organizacionID)">
            <div class="tabla-responsiva"><table ng-table="tabla_catalogo" class="table table-striped table-hover" show-filter="true" >
                <colgroup>
                    <col width="20px" /><col width="50px" /><col width="auto" /><col width="auto" /><col width="200px" /><col width="200px" /><col width="65px" />
                </colgroup>
            <tr ng-repeat="o in $data">
                
                <td data-title="'Nro'" filter="{ cod: 'text'}" sortable="'cod'" style="text-align: center">{{o.cod}}</td>
                <td data-title="'Descripcion Bien'" filter="{ den_bie : 'text'}" sortable="'den_bie'" style="text-align: center">{{o.den_bie}}</td>
                <td data-title="'Fecha de Registro '" filter="{ uni_med_nom : 'text'}" sortable="'uni_med_nom'" style="text-align: center">{{o.uni_med_nom}}</td>
                <td data-title="'Estado '" filter="{ uni_med_nom : 'text'}" sortable="'uni_med_nom'" style="text-align: center">{{o.uni_med_nom}}</td>
                <td data-title="'Ubicacion '" filter="{ uni_med_nom : 'text'}" sortable="'uni_med_nom'" style="text-align: center">{{o.uni_med_nom}}</td>
                <td data-title="'Anexo '" filter="{ uni_med_nom : 'text'}" sortable="'uni_med_nom'" style="text-align: center">{{o.uni_med_nom}}</td>
             
                
                <td data-title="'Accion'" style="text-align: center;">
                   <button class="btn btn-primary btn-xs" ng-click="EditarItemCatalogo(o)"><i class="fa fa-pencil" ></i></button>
                   <button class="btn btn-danger btn-xs"  ng-click="EliminarItemCatalogo(o)"><i class="fa fa-trash-o"></i></button>  
                </td>
            </tr>   
            </table></div>
        </div>
  </section>
    </div>
</div>
