<div class="modal fade " >
     <div class="modal-dialog " style="max-width:700px">
        <div class="modal-content">
            <div class="modal-header">
                   <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{title}}</h4>
            </div>                                   
               <div class="modal-body">
                <div class="form-panel">
                <form class="form-horizontal " method="get">                                                                                                                                                                                                                      
                                              
                <div class="form-group">
                    <div class="col-xs-12 col-sm-3 col-lg-2">
                        <div class="pull-left">
                            <button class="btn btn-primary btn-sm" ng-click="verRegistros(doc.archivo)" > Ver Registros <i class="fa fa-plus" ></i></button>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-9 col-lg-10" >                   
                        <input-file-csv ng-hide="doc.edi"  nombre archivo="doc.archivo" header="true" verificar="verificar"></input-file-csv>                       
                    </div>
            
                 </div>
                <div class="form-group "> 
                    <div class="col-lg-12">
                         <label class="control-label small"> Observación: </label>                                                                                   
                         <textarea  class="form-control input-sm m-bot15 "  ng-model="observacion" rows="3" readonly style="background-color: white" ></textarea>
                    </div>
                </div>
                    <div class="form-group">
                          <div class="col-lg-12">
                        <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered small" ng-table="tablaArchivoJSON">
                           <thead>
                                <tr>
                                    <th ng-repeat="value in tablaHeaderArchivoJSON "  >{{value}}</th>
                                  
                                </tr>
                                </thead>
                            <tbody>
                                <tr ng-repeat="sm in $data">
                                    <td ng-repeat="j in sm">
                                       {{j}} 
                                    </td>
                                   
                                </tr>
                            </tbody>
                            
                        </table>
                        </div>
                    </div>
                    </div>
                                                                                            
              </form>
                                          

                
                </div>
               </div>
               <div class="modal-footer ">
                             
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-warning btn-sm" ng-click="upload(doc.archivo)">Importar Registros</button>

                </div>

        </div>
                    
     </div>
                     
</div>
                      
                      
                       
                 
                       
                        
                      
                   
                  
     
                        
                        
                                                                
   