<style>
    .label-leyend {
        padding: 6px 10px;
    }
</style>

<form name="inventarioForm" class="css-form" novalidate>

    <div class="row" ng-init="listar_tipos_movimiento(); listar_controles_patrimoniales(usuMaster.organizacion.organizacionID)">

        <div class="col-lg-12">

            <section class="panel">
                <header class="panel-heading">
                    <h4 style="display:inline;line-height: 1.9">DATOS DEL MOVIMIENTO </h4>
                </header>

                <div class="panel-body" >
                    <div class="form-horizontal style-form" >

                        <div class="form-group m-bot15">
                            <label class="col-sm-2 control-label">Tipo de Movimiento: *</label>
                            <div class="col-sm-2" style="display: inline-block" ng-init="">
                                <select name="movIngre" class="form-control" ng-options="mi.tip_mov_des for  mi in movimientos_ingreso" ng-model="lista.movimiento"></select>

                                <p ng-show="inventarioForm.movIngre.$pristine && !editarInventario" class="help-block">Este campo es requerido.</p>

                            </div> 

                            <label class="col-sm-2 control-label">Nro. Resolucion: *</label>
                            <div class="col-sm-2" style="display: inline-block">
                                <input type="text" name="numResolu" class="form-control" ng-model="movimiento.num_res" required>   
                                <p ng-show="inventarioForm.numResolu.$invalid" class="help-block">Este campo es requerido.</p>
                            </div>

                            <label class="col-sm-2 control-label">Fecha de Resolucion :</label>
                            <div class="col-sm-2" style="display: inline-block">
                                <input type="date" class="form-control" ng-model="movimiento.fec_res">   
                            </div>

                        </div>

                        <div class="form-group">

                            <label class="col-sm-2 control-label">Observación :</label>
                            <div class="col-sm-6" style="display: inline-block">
                                <textarea class="form-control" ng-model="movimiento.obs"></textarea>   
                            </div> 

                        </div>
                    </div>
                </div> 
            </section>

        </div>   
    </div>

    <div class="row">
        <div class="col-md-12">

            <section class="panel">

                <header class="panel-heading">
                    <h4 style="display:inline;line-height: 1.9">INVENTARIO DE BIENES MUEBLES</h4>
                    <div class="tools pull-right">               
                        <!--<button type="button" class="btn btn-default btn-md" ng-click="reporte_inventario()"><i class="fa fa-print"></i></button>-->
                    </div>
                </header>

                <div class="panel-body">

                    <div class="row m-bot15">

                        <div class="col-md-6">

                            <label class="control-label label-leyend">Leyenda: </label>

                            <label class="control-label label-leyend"><i class="fa fa-warning"></i> Inactivo  </label> 

                            <label class="control-label label-leyend"><i class="fa fa-check"></i> Activo</label>

                            <label class="control-label label-leyend"><i class="fa fa-times-circle-o"></i> Cerrado</label>

                        </div>

                        <div class="col-md-6" style="text-align: right;">
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalListarBienes"><i class="glyphicon glyphicon-new-window"></i> Seleccionar Bienes</button>
                            <button type="button" class="btn btn-success" ng-click="registrarNuevoBien()"><i class="glyphicon glyphicon-plus"></i> Nuevo Bien </button>
                        </div> 

                    </div>                                         

                    <div class="row m-bot15">

                        <div class="col-md-6">

                            <div class="form-group">
                                <label class="col-md-4 control-label">Cod. patrimonial: *</label>
                                <div class="col-md-8">
                                    
                                    <select name="contPatri" class="form-control" ng-options="cp.obs for cp in controles_patrimoniales" ng-model="lista.cont_pat" required></select> 
                                    
                                    <p ng-show="inventarioForm.contPatri.$pristine && !editarInventario" class="help-block">Este campo es requerido.</p>
                                </div>
                            </div>

                        </div>              

                        <div class="col-md-6">

                            <div class="col-sm-2">
                                <label>Inv.Inicial</label>    
                            </div>

                            <div class="col-sm-1">
                                <button class="btn btn-primary btn-xs" ng-disabled="tipo_inventario_inicial.val" ng-click="elegir_inv_inicial()"><i class="fa fa-check" ></i></button>
                            </div>

                            <div class="col-sm-2">
                                <label>Inv.Fisico</label>    
                            </div>

                            <div class="col-sm-1">
                                <button class="btn btn-primary btn-xs" ng-disabled="tipo_inventario_fisico.val" ng-click="elegir_inv_fisico()"><i class="fa fa-check" ></i></button>
                            </div>

                        </div>

                    </div>  

                    <div class="row m-bot15">
                        <hr>

                        <!----- TABLA DE INVENTARIO INICIAL ----->
                        <div class="form-group">
                            <div class="panel-body" ng-init="">
                                <div class="tabla-responsiva">

                                    <table ng-table="tabla_inventario_inicial" class="table table-striped table-hover" show-filter="true" >
                                        <colgroup>
                                            <col width="20px" />
                                            <col width="100px" />
                                            <col width="auto" />
                                            <col width="50px" />
                                            <col width="20px" />
                                            <col width="200px" />
                                            <col width="65px" />
                                            <col width="65px" />
                                        </colgroup>
                                        <tr ng-repeat="o in $data">

                                            <td data-title="'N°'" filter="{ i : 'number'}" sortable="'i'" style="text-align: center">{{o.i}}</td>
                                            <td data-title="'Cod Patr.'" filter="{ cod_pat : 'text'}" sortable="'cod_pat'" style="text-align: center">{{o.cat_bie_id}}</td>
                                            <td data-title="'Descripcion del Bien'" filter="{ des_bie : 'text'}" sortable="'des_bie'" style="text-align: center">{{o.des_bie}}</td>
                                            <td data-title="'Registro'" filter="{ fec_reg : 'text'}" sortable="'fec_reg'" style="text-align: center">{{o.fec_reg}}</td>
                                            <td data-title="'Estado'" filter="{ est_bien : 'text'}" sortable="'est_bien'" style="text-align: center">{{o.est_bien}}</td>
                                            <td data-title="'Ubicacion'" filter="{ ubi_bien : 'text'}" sortable="'ubi_bien'" style="text-align: center">{{o.ubi_bien}}</td>
                                            <td data-title="'Anexo'" filter="{ an_bien : 'text'}" sortable="'an_bien'" style="text-align: center">{{o.an_bien}}</td>

                                            <td data-title="'Accion'" style="text-align: center;">
                                                <button class="btn btn-primary btn-xs" ng-click="editarBienInventario(o)"><i class="fa fa-pencil" ></i></button>
                                                <button class="btn btn-danger btn-xs"  ng-click="eliminarBienInventario(o)"><i class="fa fa-trash-o"></i></button>  
                                            </td>
                                        </tr>   
                                    </table>

                                </div>                           

                            </div>    
                        </div>
                        <!-----  END TABLA DE INVENTARIO INICIAL ----->

                        <div class="form-group">
                            <div class="col-md-offset-9">
                                <button class="btn btn-success" ng-disabled="tabla_inventario_inicial.data.length == '0'" ng-click="registrar_bienes_inventario(usuMaster.usuario, usuMaster.organizacion.organizacionID)"><i class="fa fa-save" >  {{accion_inventario}}</i></button>
                            </div>
                        </div>

                    </div> <!-- END ROW -->

                </div>
            </section>

        </div>
    </div>

</form>

<div class="modal fade" id="modalListarBienes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Agregar Bienes</h4>
            </div>
            <div class="modal-body">

                <div class="form-group" ng-init="mostrar_bienes_muebles(usuMaster.organizacion.organizacionID)">
                    <div class="tabla-responsiva">
                        <table ng-table="tabla_bienes_muebles" class="table table-striped table-hover">
                            <tr ng-repeat="o in $data">
                                <td data-title="'Codigo Bien'" filter="{cod_bie: 'text'}" sortable="'cod_bie'">{{o.cod_bie}}</td>
                                <td data-title="'Catalogo SBN'" filter="{cat_bie_id : 'text'}" sortable="'cat_bie_id'">{{o.cat_bie_id}}</td>
                                <td data-title="'Descripcion'" filter="{des_bie : 'text'}" sortable="'des_bie'">{{o.des_bie}}</td>
                                <td data-title="'Cantidad'" filter="{cant_bie: 'text'}" sortable="'cant_bie'">{{o.cant_bie}}</td>                                  
                                <td data-title="'Accion'" style="text-align: center;">
                                    <button class="btn btn-primary btn-xs" ng-disabled="o.tip_bie" ng-click="elegir_bienes(o)"><i class="fa fa-check" ></i></button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                
                <button class="btn btn-success" type="button" ng-click="registrar_bienes()"> <i class="fa fa-save"></i> Aceptar</button>
                <button data-dismiss="modal" class="btn btn-danger" type="button"> <i class="fa fa-times"> </i> Cerrar</button>
                
            </div>
        </div>
    </div>
</div>   


