
<style>
    .checkbox{
        min-height: 27px;
        height: 27px;
    }
</style>

<form name="bienMuebleForm" class="css-form" novalidate>

    <div class="row">

        <div class="col-lg-12"> 

            <section class="panel"  ng-init="listar_tipos_movimiento(); listar_anexos(); mostrarCatalogo(); listar_ambientes(); revisarLocalStorage();">
                <header class="panel-heading">
                    <h4 style="display:inline;line-height: 1.9">BUSCAR BIEN:</h4>
                </header>
                <div class="panel-body" >
                    <div class="form-horizontal style-form" ng-init="listar_controles_patrimoniales(usuMaster.organizacion.organizacionID)">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Codigo de Barras :</label>
                            <div class="col-sm-4" style="display: inline-block">
                                <input type="text" class="form-control"  ng-model="codigo_bar" ng-keyup="buscarBienCodigoBarras()">   
                            </div>

                            <div class="col-sm-4" style="display: inline-block">
                                <!--<button class="btn btn-success" ng-if="actualizarBien" ng-click="generarCodigoBarras()"> Generar Código de barras </button>-->
                                <!--<button class="btn btn-success" ng-click="buscarBienCodigoBarras()"> Buscar </button>-->
                            </div>

                        </div>
                    </div>
                </div>
            </section>


            <section class="panel">
                <header class="panel-heading">
                    <h4 style="display:inline;line-height: 1.9">DATOS DEL MOVIMIENTO </h4>
                </header>
                <div class="panel-body" >

                    <div class="form-horizontal style-form" ng-init="">
                        <div class="form-group">
                            
                            <label class="col-sm-2 control-label">Tipo de Movimiento: *</label>
                            <div class="col-sm-2" style="display: inline-block" ng-init="">
                                <select name="tipMov" class="form-control" ng-options="mi.tip_mov_des for  mi in movimientos_ingreso" ng-model="lista.movimiento" required></select>
                                <p ng-show="bienMuebleForm.tipMov.$pristine && !actualizarBien" class="help-block">Este campo es requerido.</p>
                            </div> 

                            <label class="col-sm-2 control-label">Nro. Resolución *</label>
                            <div class="col-sm-2" style="display: inline-block">
                                <input type="text" name="numRes" class="form-control" ng-model="movimiento.num_res" required>   
                                <p ng-show="bienMuebleForm.numRes.$invalid" class="help-block">Este campo es requerido.</p>
                            </div>
                            
                            <label class="col-sm-2 control-label">Fecha de Resolucion :</label>
                            <div class="col-sm-2" style="display: inline-block">
                                <input type="date" class="form-control m-bot15" ng-model="movimiento.fec_res_dt">   
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Observacion :</label>
                            <div class="col-sm-6" style="display: inline-block">
                                <textarea class="form-control" ng-model="movimiento.obs"></textarea>   
                            </div>    
                        </div>
                    </div>
                </div> 
            </section>
        </div>   
    </div>

    <div class="row">

        <!-- PANEL TIPO DE BUEN  -->
        <div class="col-lg-8">
            <section class="panel" style=" min-height: 270px;">
                <header class="panel-heading">
                    <h4 style="display:inline;line-height: 1.9">SELECCIONE TIPO DE BIEN </h4>

                </header>
                <div class="panel-body" >
                    <div class="form-horizontal style-form" >
                        <div class="col-md-12">

                            <div class="col-md-4">

                                <div class="form-group">
                                    <label for="tipoAnexo">Tipo de Anexo: *</label>
                                    
                                    <select name="tipAnexo" class="form-control" ng-options="an.ane_nom for an in tipo_anexo" ng-model="lista.anexo" required></select>
                                    <p ng-show="bienMuebleForm.tipAnexo.$pristine && !actualizarBien" class="help-block">Este campo es requerido.</p>
                                
                                </div>                            

                            </div>

                            <div class="col-md-8">

                                <div class="tabla-responsiva">                                
                                    <table ng-table="tabla_catalogo" class="table table-striped table-hover" show-filter="true" >

                                        <tr ng-repeat="o in $data">

                                            <td data-title="'Codigo Patrimonial'"  sortable="'cod'" style="text-align: center">{{o.cod}}</td>
                                            <td data-title="'Descripcion Patrimonial'" sortable="'den_bie'" style="text-align: center">{{o.den_bie}}</td>
                                            <!--<td data-title="'Unidad de Medida'" filter="{ uni_med_nom : 'text'}" sortable="'uni_med_nom'" style="text-align: center">{{o.uni_med_nom}}</td>-->
                                            <td data-title="'Accion'">
                                                <!--<button class="btn btn-primary btn-xs" ng-disabled="editar_item_catalogo" ng-click="ElegirCatalogo(o)"><i class="fa fa-check" ></i></button>-->
                                                <input type="checkbox" style="width: 25px" class="checkbox form-control" ng-model="selectedCatalogo" ng-click="changeSelectedCatalogo($event, o)">
                                            </td>        
                                        </tr>   
                                    </table>
                                </div>

                                <div class="form-group" ng-if="!selectedCatalogo" >
                                    <span class="label label-warning" style="font-size: 13px; margin-left: 15px">Seleccione un item del catalogo</span>
                                </div>

                            </div>

                        </div>    
                    </div>
            </section>
        </div>

        <!-- END PANEL TIPO DE BUEN  -->

        <!-- PANEL CUENTA ACTIVO -->
        <div class="col-lg-4">
            <section class="panel">
                <header class="panel-heading">
                    <h4 style="display:inline;line-height: 1.9">CUENTA DEL ACTIVO </h4>
                </header>
                <div class="panel-body">

                    <div class="form-horizontal">

                        <div class="form-group">
                            <label for="valorMueble" class="col-lg-6 col-sm-6 control-label">Valor S/. *</label>
                            <div class="col-lg-6">
                                <input type="number" name="valorMueble" class="form-control" id="valorMueble" min="1" ng-model="bien_mueble.valor_cont" required>
                                <p ng-show="bienMuebleForm.valorMueble.$invalid" class="help-block">Este campo es requerido.</p>
                            </div>
                        </div>

                        <div class="form-group">

                            <label for="muebleDepreciable" class="col-lg-6 col-sm-6 control-label m-bot15">Activo Depreciable</label>

                            <div class="col-lg-6">
                                <input type="checkbox" class="checkbox form-control m-bot15" style="width: 25px;" ng-model="bien_mueble.act_dep" ng-value="false">    
                            </div>
                        </div>

                        <div class="form-group">
                            <br>
                            <div class="col-lg-offset-3 col-lg-6">
                                <button class="btn btn btn-info m-bot15" ng-click="showBuscarCuentaContable()"> <i class="fa fa-plus-circle">  </i>  Cuenta Contable</button>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-6 control-label">Activo Cod. de Cuenta</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" ng-model="bien_mueble.cod_cuenta" disabled="true">   
                            </div>
                        </div>

                    </div>

                </div>
            </section> 
        </div>

        <!-- END PANEL CUENTA ACTIVO -->
    </div>

    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <h4 style="display:inline;line-height: 1.9">DATOS DEL BIEN </h4>
                </header>
                <div class="panel-body" >
                    <div class="form-horizontal style-form" >
                        <div class="form-group">
                            <div class="col-sm-5">
                                <label class="col-sm-4 control-label">Cod. Patrimonial *</label>
                                <div class="col-sm-8">
                                    <select name="controlPatrimonial" class="form-control" ng-options="cp.obs for cp in controles_patrimoniales" ng-model="lista.cont_pat" required></select> 
                                    <p ng-show="bienMuebleForm.controlPatrimonial.$pristine && !actualizarBien" class="help-block">Este campo es requerido.</p>
                                </div> 
                            </div>
                            <div class="col-sm-7">
                                <label class="col-sm-4 control-label">Descripción del bien *</label>
                                <div class="col-sm-8">
                                    <input type="text" name="desBien" class="form-control" ng-model="bien_mueble.des_bie" required> 
                                    <p ng-show="bienMuebleForm.desBien.$invalid" class="help-block">Este campo es requerido.</p>
                                </div>
                            </div>

                            <!--
                            <div class="col-sm-4">
                                <label class="col-sm-5 control-label">Fecha de Registro :</label>
                                <div class="col-sm-7">
                                    <input type="date" class="form-control" ng-model="bien_mueble.fec_reg">   
                                </div>
                            </div>-->
                        </div> 

                        <div class="form-group">
                            <label class="col-sm-1 control-label">Ubicación*</label>
                            
                            <div class="col-sm-2">

                                <select name="ambiente" class="form-control" ng-options="am.amb_des for am in ambientes" ng-model="lista.ambiente" required></select> 
                                
                                <p ng-show="bienMuebleForm.ambiente.$pristine && !actualizarBien" class="help-block">Este campo es requerido.</p>
                            </div>
                            
                            <label class="col-sm-1 control-label">Cantidad*</label>
                            
                            <div class="col-sm-1">
                                <input name="cantBien" type="number" min="1" class="form-control" ng-model="bien_mueble.cant">    
                                <p ng-show="bienMuebleForm.cantBien.$invalid" class="help-block">Este campo es requerido.</p>
                            </div>
                            
                            <label class="col-sm-2 control-label">Codigo de Barras</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="bien_mueble.cod_ba_bie" ng-disabled="true">                
                            </div>
                            <label class="col-sm-1 control-label">Codigo Interno</label>

                            <div class="col-sm-2">
                                <input type="text"  class="form-control" ng-model="bien_mueble.cod_int" ng-disabled="true">       
                            </div>                       

                        </div>  

                        <div class="form-group">
                            <br>
                            <label class="col-sm-2 control-label">Doc. de Referencia </label>
                            <div class="col-sm-8">
                                <input-file nombre="doc_referencia.nombre" archivo="doc_referencia.archivo"></input-file> 
                                <span><view-file url={{doc_referencia.doc_ref_url}} nombre="doc_referencia.nombre_archivo" archivo="doc_referencia.nombre_archivo"></view-file></span>
                            </div>
                        </div>
                    </div>      
                </div>

            </section>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <h4 style="display:inline;line-height: 1.9">DETALLE TECNICO </h4>
                </header>
                <div class="panel-body" >
                    <div class="form-horizontal style-form" >
                        <div class="form-group">   
                            
                            <label class="col-sm-2 control-label">Marca: *</label>
                            <div class="col-sm-2">
                                <input name="marcaBien" type="text" class="form-control" ng-model="bien_mueble.marc" required>   
                                <p ng-show="bienMuebleForm.marcaBien.$invalid" class="help-block">Este campo es requerido.</p>
                            </div>
                            
                            <label class="col-sm-2 control-label">Dimensiones: *</label>
                            <div class="col-sm-2">
                                <input name="dimBien" type="number" min="1" class="form-control" ng-model="bien_mueble.dim" required> 
                                <p ng-show="bienMuebleForm.dimBien.$invalid" class="help-block">Este campo es requerido.</p>
                            </div>
                            
                            <label class="col-sm-2 control-label">Nro. Motor:</label>
                            <div class="col-sm-2">
                                <input type="text"  class="form-control" ng-model="bien_mueble.nro_mot">  
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Modelo: *</label>
                            <div class="col-sm-2">
                                <input type="text" name="modBien" class="form-control" ng-model="bien_mueble.mod" required>  
                                <p ng-show="bienMuebleForm.modBien.$invalid" class="help-block">Este campo es requerido.</p>
                            </div>    
                            
                            <label class="col-sm-2 control-label">Serie: *</label>
                            <div class="col-sm-2">
                                <input type="text" name="serieBien" class="form-control" ng-model="bien_mueble.ser" required>  
                                <p ng-show="bienMuebleForm.serieBien.$invalid" class="help-block">Este campo es requerido.</p>
                            </div>
                            
                            <label class="col-sm-2 control-label">Nro. Placa:</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="bien_mueble.nro_pla">        
                            </div>
                            
                        </div>
                        <div class="form-group">

                            <label class="col-sm-2 control-label">Condición: *</label>
                            <div class="col-sm-2"> 
                                <select name="condicionBien" class="form-control"  ng-options="con.cond_nom for con in condicion" ng-model="lista.condicion" required>
                                                               
                                </select>  
                                <p ng-show="bienMuebleForm.condicionBien.$pristine && !actualizarBien" class="help-block">Este campo es requerido.</p>
                            </div>   
                            
                            <label class="col-sm-2 control-label">Color: *</label>
                            <div class="col-sm-2">
                                <input type="text" name="colorBien" class="form-control" ng-model="bien_mueble.col" required> 
                                <p ng-show="bienMuebleForm.colorBien.$invalid" class="help-block">Este campo es requerido.</p>
                            </div>
                            
                            <label class="col-sm-2 control-label">Nro. Chasis:</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="bien_mueble.nro_cha">  
                            </div>

                        </div>
                        <div class="form-group">

                            <label class="col-sm-2 control-label">Tipo: *</label>
                            <div class="col-sm-2">
                                <input type="text" name="tipoBien" class="form-control" ng-model="bien_mueble.tip" required>     
                                <p ng-show="bienMuebleForm.tipoBien.$invalid" class="help-block">Este campo es requerido.</p>
                            </div>
                            
                            <label class="col-sm-2 control-label">Raza:</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="bien_mueble.raza">     
                            </div>
                            
                            <label class="col-sm-2 control-label">Edad: *</label>
                            <div class="col-sm-2">
                                <input type="number" name="edadBien" min="1" class="form-control" ng-model="bien_mueble.edad" required>     
                                <p ng-show="bienMuebleForm.edadBien.$invalid" class="help-block">Este campo es requerido.</p>
                            </div>
                        </div>
                        <br>
                        <!----- ADJUNTAR IMAGENES ----->
                        <div class="form-group">
                            <div class=" col-md-offset-1">
                                <label class="control-label">Adjuntar : </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class=" col-md-offset-1">
                                <button class="btn btn btn-default" ng-click="adjuntar_foto_1(bien_mueble.rut_imag_1)"><i class="fa fa-camera-retro"></i>
                                    <input-file nombre="imag_1.nombre" archivo="imag_1.archivo"></input-file>
                                    <span><view-file url={{imag_1.rut_imag_1_url}} nombre="imag_1.nombre_archivo" archivo="imag_1.nombre_archivo"></view-file></span>
                                </button>
                            </div>  
                        </div>
                        <div class="form-group">
                            <div class=" col-md-offset-1">
                                <button class="btn btn btn-default" ng-click="adjuntar_foto_2(bien_mueble.rut_imag_2)"><i class="fa fa-camera-retro" ></i>
                                    <input-file nombre="imag_2.nombre" archivo="imag_2.archivo"></input-file>
                                    <span><view-file url={{imag_2.rut_imag_2_url}} nombre="imag_2.nombre_archivo" archivo="imag_2.nombre_archivo"></view-file></span>
                                </button>
                            </div>
                        </div>
                        <!-------------------------------------->  

                        <!----- ADJUNTAR IMAGENES AUTOPARTES ----->
                        <div class="form-group">
                            <div class=" col-md-offset-1">
                                <label class="control-label">Autopartes : </label>
                            </div>
                        </div>
                        <div class ="form-group">
                            <div class=" col-md-offset-1">
                                <button class="btn btn btn-default" ng-click="adjuntar_autopartes(bien_mueble.rut_aut_img)"><i class="fa fa-wrench" ></i>
                                    <input-file nombre="autopartes.nombre" archivo="autopartes.archivo"></input-file>
                                    <span><view-file url={{imag_2.rut_aut_img_url}} nombre="autopartes.nombre_archivo" archivo="autopartes.nombre_archivo"></view-file></span>
                                </button>
                            </div>   
                        </div>
                        <!-------------------------------------->  

                    </div>



                </div>

            </section>
        </div>

    </div>

    <div class="panel-body" >
        <div class="form-horizontal style-form" >
            <div class="form-group">
                <div class=" col-md-offset-9">
                    
                    <button class="btn btn btn-success" ng-click="registrar_bien(usuMaster.usuario, usuMaster.organizacion.organizacionID)"><i class="fa fa-save" > {{accion_bien}}</i></button>
                    <button class="btn btn btn-danger" ng-click="cancelarRegistroBien()"><i class="fa fa-times"> Cancelar</i></button>
                    <!--<button class="btn btn btn-send" ng-if="!bien_mueble.actualizar_bien" ng-click="registrar_bien()"><i class="fa fa-file-o" >  Agregar por Grupo </i></button>-->                
                    <!--<button ng-if="bienesCookies" class="btn btn btn-warning" ng-click="registrar_bien(usuMaster.usuario, usuMaster.organizacion.organizacionID)"><i class="fa  fa-reply-all" > Guardar y Volver</i></button>-->
                </div> 
            </div>   
        </div>  
    </div>
    
</form>

<div class="modal fade" id="modalvalidarbien" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-init="">
    <div class="modal-dialog">
        <div class ="modal-content">
            <div class ="modal-header">
                <div class="panel panel-primary">
                    <h4 class="modal-title" id="myModalLabel">Validar Bien Mueble</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-horizontal style-form">
                    <div class="form-panel">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tipo Validacion:</label>
                            <div class="col-sm-4">
                                <select class="form-control" ng-model="tipo_validacion.id" ng-change="listar_causal()">
                                    <option value=""></option>
                                    <option ng-repeat="val in validacion" value="{{val.id}}">{{val.nombre}}</option>
                                </select> 
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Causal :</label>
                            <div class="col-sm-4" ng-init="">
                                <select class="form-control" ng-model="tipo_validacion.causal_id" ng-change="">
                                    <option value=""></option>
                                    <option ng-repeat="con in tipo_causal" value="{{con.id_cau}}">{{con.nom_cau}}</option>
                                </select> 
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-4">
                                <button class="btn btn btn-warning" ng-click="actualizar_bien(usuMaster.organizacion.organizacionID, usuMaster.usuario.ID)" ><i class="fa fa-save">Actualizar Bien</i></button>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





