<style>
    .form-group {
        margin: 2px 19px;
    }
</style>

<div class="row">
    
    <div class="col-lg-12">
        
        <!-- SECTION PANEL -->
        <section class="panel">
            
            <div class="panel-body" ng-init="listar_anexos(); 
                mostar_ambientes(usuMaster.organizacion.organizacionID);mostrar_control(usuMaster.organizacion.organizacionID)"> 
                
                <div ng-cloak>
                    <md-content>
                        <md-tabs md-dynamic-height md-border-bottom>
                            
                            <md-tab label="Reportes">
                                <md-content class="md-padding">
                                    
                                    <form name="reportesBienesForm" class="form-inline css-form" novalidate>
                                        <h4 class="" style="background: #f2f3f7; padding: 10px;">Por Anexo</h4>
                                    
                                        <div class="form-group">
                                            <label>Desde: </label>
                                            <md-datepicker ng-model="reporte.fec_ini_md" md-placeholder="Inicio" md-max-date="maxDateInicio" ng-change="seleccion_fecha_inicial()"></md-datepicker>
                                        </div>

                                        <div class="form-group">
                                            <label>Hasta</label>
                                            <md-datepicker ng-model="reporte.fec_fin_md" md-placeholder="Fin" md-min-date="minDateCierre" ng-change="seleccion_fecha_cierre()"></md-datepicker>
                                        </div>

                                        <div class="form-group">
                                            <label>Tipo de anexo: *</label>
                                            <select name="tipoAnexo" class="form-control" ng-model="reporte.ane_id" required>
                                                <option ng-repeat="a in anexos" value="{{a.ane_id}}">{{a.ane_nom}}</option>
                                            </select>
                                            <p ng-show="reportesBienesForm.tipoAnexo.$invalid" class="help-block">Este campo es requerido.</p>
                                        </div>
                                    
                                        <br><br>
                                        <h4 class="" style="background: #f2f3f7; padding: 10px;">Atributos Específicos</h4>

                                        <div class="col-sm-3">
                                            <button class="btn btn btn-info" data-toggle="modal" data-target="#modalListarAmbientes"><i class="fa fa-home"></i> AMBIENTE </button>
                                            <br><br>
                                            <input type="text" name="ambBien" class="form-control" ng-model="reporte.desc_amb" placeholder="Codigo de Ambiente" disabled="true" required>
                                            <p ng-show="reportesBienesForm.ambBien.$invalid" class="help-block">Este campo es requerido.</p>
                                        </div>

                                        <div class="col-sm-3">                                        
                                            <button class="btn btn btn-info" data-toggle="modal" data-target="#modalListarControl"> <i class="fa fa-cog"></i> BIEN PATRIMONIAL</button>
                                            <br><br>
                                            <input type="text" name="descPatr" class="form-control" ng-model="reporte.desc_pat" placeholder="Codigo Patrimonial" disabled="true" required>
                                            <p ng-show="reportesBienesForm.descPatr.$invalid" class="help-block">Este campo es requerido.</p>
                                        </div>

                                        <div class="col-sm-3">

                                            <div class="form-group" >
                                                <label>Estado: * </label>
                                                <select name="condicionBien" class="form-control" ng-model="reporte.est" required>
                                                    <option ng-repeat="c in condicion" value="{{c.cond_id}}">{{c.cond_nom}}</option>
                                                </select>
                                                <p ng-show="reportesBienesForm.condicionBien.$invalid" class="help-block">Este campo es requerido.</p>
                                            </div>

                                        </div>
                                    
                                    </form>
                                    
                                </md-content>
                                <button class="btn btn-primary" ng-click="ver_reporte(usuMaster.organizacion.organizacionID)" style="float: right; margin: 10px;"><i class="fa fa-file" >  Generar Reporte </i></button>
                            </md-tab>
                            
                            <md-tab label="Documentos Adjuntos">
                                <md-content class="md-padding">
                                    <h4 class="" style="background: #f2f3f7; padding: 10px;">CATALOGO DE DOCUMENTOS Y ACTAS</h4>
                                    
                                    <div class="tabla-responsiva" ng-init="mostrar_archivos(usuMaster.organizacion.organizacionID)">    
                                        <table ng-table="tabla_archivos" class="table table-striped table-hover">
                                            <tr ng-repeat="o in $data">
                                                <td data-title="'Nro.'" filter="{i : 'number'}" sortable="'i'" style="text-align: center;">{{o.i}}</td>
                                                <td data-title="'Descripcion Bien'" filter="{des_bie : 'text'}" sortable="'des_bie'" style="text-align: center;">{{o.des_bie}}</td>
                                                <td data-title="'Nombre del Archivo'" filter="{nom_arch_bie : 'text'}" sortable="'nom_arch_bie'" style="text-align: center;">{{o.nom_arch_bie}}</td>
                                                <td data-title="'Fecha de Registro '" filter="{fec_reg_bie : 'text'}" sortable="'fec_reg_bie'" style="text-align: center;">{{o.fec_reg_bie}}</td>
                                                <td data-title="'Ver Documento'" style="text-align: center;">
                                                    <span><view-file nombre="o.nombre_archivo" archivo="o.nombre_archivo"></view-file></span>
                                                </td>
                                            </tr>

                                        </table>
                                    </div> 
                                </md-content>
                            </md-tab>
                            
                        </md-tabs>
                    </md-content>
                </div>
                
                
            </div>
            
        </section>
    </div>
    
</div>
            
          
<div class="modal fade" id="modalListarAmbientes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Lista de Bienes Muebles de la Institución</h4>
            </div>
            <div class="modal-body">

                <div class="tabla-responsiva">    
                    <table ng-table="tabla_ambientes" class="table table-striped table-hover">
                        <tr ng-repeat="o in $data">
                            <td data-title="'Id. Ambiente'" filter="{amb_id: 'number'}" sortable="'amb_id'" style="text-align: center;">{{o.amb_id}}</td>
                            <td data-title="'Descripcion'" filter="{amb_des : 'text'}" sortable="'amb_des'" style="text-align: center;">{{o.amb_des}}</td>
                            <td data-title="'Ubicacion'" filter="{amb_ubi : 'text'}" sortable="'amb_ubi'" style="text-align: center;">{{o.amb_ubi}}</td>
                            <td data-title="'Accion'" style="text-align: center;">
                                <button class="btn btn-success btn-xs"  ng-click="elegir_ambiente(o)"><i class="fa fa-check" ></i></button>
                            </td>

                        </tr>
                    </table>

                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-danger" type="button"><i class="fa fa-times"></i> Cancelarr</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalListarControl" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Lista de Controles Patrimoniales de la Institución</h4>
            </div>
            <div class="modal-body">

                <div class="tabla-responsiva">    
                    <table ng-table="tabla_control_patrimonial" class="table table-striped table-hover">
                        <tr ng-repeat="o in $data">
                            <td data-title="'Id. Control'" filter="{cp_id: 'number'}" sortable="'cp_id'" style="text-align: center;">{{o.cp_id}}</td>
                            <td data-title="'Observacion'" filter="{obs : 'text'}" sortable="'obs'" style="text-align: center;">{{o.obs}}</td>
                            <td data-title="'Persona Responsable'" filter="{per_res: 'text'}" sortable="'per_res'" style="text-align: center;">{{o.per_res}}</td>
                            <td data-title="'Accion'" style="text-align: center;">
                                <button class="btn btn-success btn-xs"  ng-click="elegir_control(o)"><i class="fa fa-check" ></i></button>
                            </td>
                        </tr>
                    </table>

                </div>
                   
            </div>
            
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-danger" type="button"> <i class="fa fa-times"></i> Cancelar</button>
            </div>
        </div>
    </div>
</div>