<div class="row">
    <div class="col-lg-12">
        <section class="panel">
             <header class="panel-heading" style="overflow: inherit ">
                  INVENTARIO INICIAL II.EE. 
                          <div class=" btn-group pull-right" >
                                 
                               <a data-toggle="dropdown" class="fa fa-cog " ></a>

                              <ul role="menu" class="dropdown-menu " >
                              <li><a href="#"><i class="fa fa-edit"> </i>Descargar</a></li>
                              <li><a href="#"><i class="fa fa-folder-open"> </i> Exportar</a></li>                        
                              <li><a href="#"><i class="fa fa-print"> </i> Imprimir</a></li>

                              </ul>


                            </div>                       
                     
                           
            </header>
            
        <div class="panel-body" ng-init="listarLibros ()">
             <form class="form-horizontal " method="get">  
                <div class="form-group">
                <div class=" col-xs-12 col-sm-4 col-md-3 col-lg-3" >                          
                    <button class="btn btn-primary" data-toggle="modal" data-target="#modalNuevoControl"><i class="fa fa-calendar-o" ></i> Añadir Control </button>                          
                </div>   
           
                <div class=" col-xs-12  col-sm-4 col-md-3 col-lg-3">  
                    
                    <label class="text-right control-label "> AÑO DE CONTROL:  &nbsp; </label>                           
                    <button type="button" class=" btn btn-primary date-set btn-xs"  ng-click="open1()" > <strong style="font-size: 150%"> {{control.fecha | date:'yyyy'}} <i class="fa fa-calendar"></i></strong></button>                                       
                    <input ng-hide="true" type="text" class=" control-group " ng-change="listarLibros()" uib-datepicker-popup="yyyy" show-button-bar="false" ng-model="control.fecha" is-open="popup1.opened" datepicker-options="dateOptions"  close-text="Close">                                                         
                             
                </div> 
        
                <div class=" col-xs-12  col-sm-offset-0 col-sm-4  col-md-offset-0  col-md-3  col-lg-offset-0 col-lg-3">
                  
                    <label class=" control-label" > Periodo: &nbsp; </label>                           
                          
                                   <select class="control-group input-sm m-bot15" ng-model="control.controlID" ng-options="control.controlID as control.descripcion for control in controles" >
                                      <option value="">Seleccionar</option>
                                    </select>
                         
                </div>

                <div class=" col-xs-12  col-sm-4 col-md-3 col-lg-offset-1 col-lg-2">
                    <button class="  btn btn-primary btn-sm" ng-click="showNuevaNotificacion()"> <i class="fa fa-envelope" ></i> Notificar Control  </button>
                </div>
                </div>
                <div class="form-group ">
                    <div class="adv-table editable-table ">
                        <div id="editable-sample_wrapper" class="dataTables_wrapper form-inline" role="grid">
                            <div class="row">
                                <div class ="col-xs-2 col-sm-6">
                                <div class="col-xs-2 col-sm-12">
                                    <div id="editable-sample_length" class="dataTables_length ">
                                        <label>
                                            <select  name="editable-sample_length" aria-controls="editable-sample" class="form-control input-sm m-bot15 " ng-model="tablaLibrosCaja.parameters().count">
                                                <option value="10">10</option>
                                                <option value="15">15</option>
                                                <option value="20">20</option>
                                                <option value="50">50</option>
                                            </select> 
                                            
                                        </label>
                                    </div>
                                </div>
                                </div>

                                <div class="col-xs-10 col-sm-6 " >
                                    
                                    <div class="dataTables_filter " id="editable-sample_filter">                                        
                                       <div class="input-group m-bot15 col-sm-12 ">                                                                                    
                                           <input type="text" class="form-control input-sm m-bot15 col-sm-12" ng-model="globalSearchTerm" ng-change="applyGlobalSearch(globalSearchTerm)">
                                             <span class="input-group-btn">
                                                <button class="btn btn-warning btn-sm" type="button"><i class="fa fa-search"></i></button>
                                            </span>
                                        </div>
                                   </div>
                                 
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
             </form>
             <div class="table-responsive ">
                            <table  ng-table ="tablaLibrosCaja" class="table table-striped table-hover table-bordered small "  show-filter="false" >
                  
                                 <tr ng-repeat="sm in $data |filter :searchData">
                                    <td  data-title="'N'" style="text-align:center ;width:auto">
                                        {{sm.i}}
                                    </td>
                                    
                                    <td  data-title="'Código Modular'"  style="text-align:center; width: auto">
                                        {{sm.codigo }}
                                    </td>
                                    <td data-title="'Fecha Apertura'" style="text-align:center; width: 100px">
                                        {{sm.fechaApertura}}
                                    </td>
                                    <td data-title="'Fecha Cierre'" style="text-align:center; width: 120px">
                                        {{sm.fechaCierre }}
                                    </td>                                                                    

                                    <td data-title="'Descripcion I.E.'" style="text-align:center; width: 300px">
                                       <strong> {{sm.institucion}} </strong>
                                    </td>
                                    <td data-title="'Director I.E.'"  style="text-align:center; width: 300px">
                                        {{sm.director}}
                                    </td>
                                   
                                    <td  data-title="'Estado'" style="text-align: center;width:30px">
                                        <span class="label label-mini" ng-class="{'label-primary': sm.estado=='A','label-success': sm.estado=='I','label-warning': sm.estado=='C'}">{{sm.estado}}</span>
                                    </td>

                                    <td  data-title="'Accion'" style="text-align: center; width: 80px">
                                        <button class="btn btn-primary btn-xs" ng-click="showNuevoInventario()"><i class="fa fa fa-book" ></i></button>
                                        <button class="btn btn-danger btn-xs" ng-click="supervisarLibro(sm)"><i class="fa fa-pencil-square-o " ></i></button>
                                    </td>                                                                                                        
                                                                         
                                </tr>
                          
                            </table>
             </div>    

        </div>
         
        </section>
    </div>
</div>

<div class="modal fade" id="modalNuevoControl" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog " style="max-width:850px">
    <div class="modal-content" >
      <div class="modal-header">
          
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">CONTROL LIBRO CAJA II.EE.</h4>
      </div>
      <div class="modal-body" style="background-color: #eee"><div class="form-panel" >
        <form class="form-horizontal style-form" method="get">                    
         
            <div class="form-group" >
            
                    <div class="col-sm-4" >
                        <div class=" form-group col-sm-12">
                            <label>Detalle del Control</label>
                            <input type="text" class="form-control input-sm m-bot15 " ng-model="control.descripcion">
                        </div>
                        <div class=" form-group col-sm-12">
                           <label class="control-label "> Fecha Pre-Cierre:</label>
                            <div class="input-group date form_datetime-component">                                                        
                                <input style="background-color:white " type="text" class="form-control input-sm m-bot15" uib-datepicker-popup="dd/MM/yyyy" ng-model="control.fechaPreCierre" is-open="popup2.opened" datepicker-options="dateOptions1"  close-text="Close" readonly>
                                        <span class="input-group-btn">
                                        <button type="button" class="btn btn-primary date-set btn-sm"  ng-click="open2()" ><i class="fa fa-calendar"></i></button>
                                        </span>
                            </div>
                        </div>
                        <div class=" form-group col-sm-12">
                            <label class="control-label "> Fecha Cierre:</label>
                            <div class="input-group date form_datetime-component">                                                        
                                <input style="background-color:white " type="text" class="form-control input-sm m-bot15" uib-datepicker-popup="dd/MM/yyyy" ng-model="control.fechaCierre" is-open="popup3.opened" datepicker-options="dateOptions1"  close-text="Close" readonly>
                                        <span class="input-group-btn">
                                        <button type="button" class="btn btn-primary date-set btn-sm"  ng-click="open3()" ><i class="fa fa-calendar"></i></button>
                                        </span>
                            </div>
                        </div>
                        <div class="form-group col-sm-12" ><br></div>
                        
                           <div class="form-group col-sm-12" >
                                       
                                <div class="pull-right" >
                                    <button type="reset" class="btn btn-default" ng-click="cancelar()"> Cancelar</button>
                                    <button type="button" class="btn btn-warning btn-sm" ng-click="agregarControlLibro()"> Agregar </button>

                                </div>
                             </div>                                                                     
                        
                    </div>
               
                    <div class="col-sm-8" >
                        <br>
                         <div class="table-responsive " style="max-width:850px;border-top: 2px solid #ddd;margin-bottom: 0px;">
                         <table class="table table-hover ">
                    <thead>
                    <tr>
                        <th width="30px">#</th><th width="300px">Detalle</th><th width="200px">Pre-Cierre</th><th width="200px">Cierre</th><th width="100px">Accion</th>
                    </tr>
                    </thead>
                    <tbody style="background-color: white">
                    <tr ng-repeat="r in controles" >
                        <td>{{$index+1}}</td>
                        <td>
                            <span ng-hide="r.edi" >{{r.descripcion}}</span>
                            <span ng-show="r.edi" ><input ng-model="r.copia.descripcion"/></span>
                        </td>
                        <td>
                            <span ng-hide="r.edi" >{{r.fechaPreCierre |date:'dd/MM/yyyy'}}</span>
                            <span ng-show="r.edi" >                                                                                  
                                    <input type="date" ng-model="r.copia.fechaPreCierre" min="{{dateOptions1.minDate |date:'yyyy-MM-dd'}}" max="{{dateOptions1.maxDate |date:'yyyy-MM-dd'}}">                                        
                            </span>
                        </td>
                        <td>
                            <span ng-hide="r.edi" >{{r.fechaCierre |date:'dd/MM/yyyy'}}</span>
                            <span ng-show="r.edi" >                                                         
                                <input type="date" ng-model="r.copia.fechaCierre" min="{{dateOptions1.minDate |date:'yyyy-MM-dd'}}" max="{{dateOptions1.maxDate |date:'yyyy-MM-dd'}}">                                   
                            </span>
                        </td>
                      
                        <td>
                            <button type="button" class="btn btn-primary btn-xs" ng-click="editarControl($index,r,true)"><i class="fa" ng-class="{'fa-check':r.edi,'fa-pencil':!r.edi}" ></i></button>
                            <button type="button" class="btn btn-xs" ng-class="{'btn-danger':!r.edi}" ng-click="eliminarControl($index,r,true)"><i class="fa" ng-class="{'fa-times':r.edi,'fa-trash-o':!r.edi}"></i></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                         </div>
                       
                    </div>
                    
              
                
                </div>
                
          
           
        </form>
      </div></div>
     
    </div>
  </div>
</div>
                          
                   
                       
