<style>
    
    .fa-hover a {
        color: black;
        cursor: pointer;
    }
    
    .fa-hover .fa {
        font-size: 30px;
        padding: 0px 5px;
    }
    
    .number-icon {
        font-size: 25px
    }   
    
    .label-alta {
        background: green;
    }
    
    .label-baja {
        background: red;
    }
    
    .label-salida {
        background: black;
    }
    
    #modalMostrarDetallesBien .modal-body{
        height: 550px;
        overflow-y: auto;
    }
    
</style>

<div class="row" ng-init="mostrar_bienes_generales(usuMaster.organizacion.organizacionID); mostrar_bienes_alta(usuMaster.organizacion.organizacionID); mostrar_bienes_baja(usuMaster.organizacion.organizacionID); mostrar_bienes_salida(usuMaster.organizacion.organizacionID);">
    <div class="col-lg-12" >
        
        <section class="panel">
            
            <header class="panel-heading">
                <h4 style="display:inline;line-height: 1.9">Verificacion Registros</h4>
            </header>
            
            <div class="panel-body">
                
                <div class="clearfix">                   
                    
                    <div class="col-md-2 col-sm-4">
                        <label class="label label-mini label-alta">A</label> : Bien dado de Alta<br>
                        <label class="label label-mini label-baja">B</label> : Bien dado de Baja<br>
<!--                        <label class="label label-mini label-salida">S</label> : Bien Salida<br>-->
                        <label class="label label-mini label-info">N</label> : Bien No Verficado                       
                    </div>
                    
                    <div class="fa-hover col-md-2 col-sm-4 col-md-offset-4">
                        <a data-toggle="modal" data-target="#modalMostrarAltas"> <span class="number-icon">{{cant_bienes.bienes_alta}}</span> <i class="fa fa-arrow-circle-o-up" style='color: green'></i> Altas</a>
                    </div>
                    
                    <div class="fa-hover col-md-2 col-sm-4">
                        <a data-toggle="modal" data-target="#modalMostrarBajas"> <span class="number-icon"> {{cant_bienes.bienes_baja}} </span> <i class="fa fa-arrow-circle-o-down" style='color: red'></i> Bajas</a>
                    </div>
                    
                    <div class="fa-hover col-md-2 col-sm-4">
                        <a data-toggle="modal" data-target="#modalMostrarSalidas"> <span class="number-icon">{{cant_bienes.bienes_salida}} </span> <i class="fa fa-sign-out"></i> Salidas</a>
                    </div>                    
                    
                </div>
                
                <hr>  
                
                <div class="table-responsive">

                    <table class='table' ng-table="tabla_bienes" class="table table-striped table-hover" show-filter="true" >

                        <colgroup>
                            <col width="15px"/>
                            <col width="15px"/>
                            <col width="150px"/>
                            <col width="80px"/>
                            <col width="15px"/>
                            <col width="50px"/>
                            <col width="35px"/>
                            <col width="15px"/>
                            <col width="105px"/>
                        </colgroup>

                        <tr ng-repeat="o in $data">
                            <td data-title="'Nro.'" filter="{ cod: 'text'}" sortable="'i'" style="text-align: center">{{o.i}}</td>
                            <td data-title="'Cod.'" filter="{ cod_pat_bie : 'text'}" sortable="'cod_pat_bie'" style="text-align: center">{{o.cod_pat_bie}}</td>
                            <td data-title="'Descripción'" filter="{ des_bie : 'text'}" sortable="'des_bie'" style="text-align: center">{{o.des_bie}}</td>
                            <td data-title="'Fec. Reg.'" filter="{ fec_reg : 'text'}" sortable="'fec_reg'" style="text-align: center">{{o.fec_reg}}</td>
                            <td data-title="'Estado'" filter="{ est_bien : 'text'}" sortable="'est_bien'" style="text-align: center">{{o.est_bien}}</td>
                            <td data-title="'Ubicacion'" filter="{ ubi_bien : 'text'}" sortable="'ubi_bien'" style="text-align: center">{{o.ubi_bien}}</td>
                            <td data-title="'Anexo'" filter="{ an_bien : 'text'}" sortable="'an_bien'" style="text-align: center">{{o.an_bien}}</td>
                            <td data-title="'Estado'" filter="{ verificar : 'text'}" sortable="'verificar'" style="text-align: center">
                                <span class="label label-mini" ng-class="{'label-alta': o.verificar=='A','label-baja': o.verificar=='B', 'label-info': o.verificar=='N'}">{{o.verificar}}</span>
                            </td>
                            <td data-title="'Acciones'">
                                
                                <button class="btn btn-success btn-xs"  ng-click="mostrarModalValidarBienMueble(o)" data-toggle="tooltip" data-placement="bottom" title="Validar">
                                    
                                    <i ng-if="o.verificar=='N'" class="fa fa-check"></i>
                                    <i ng-if="o.verificar=='B'" class="fa fa-arrow-circle-o-up"></i>
                                    <i ng-if="o.verificar=='A'" class="fa fa-arrow-circle-o-down"></i>
                                    
                                </button>  
                                
                                <button class="btn btn-warning btn-xs"  ng-click="verBienMueble(o)" data-toggle="tooltip" data-placement="bottom" title="Ver Detalles"><i class="fa fa-eye"></i></button>  
                                <button class="btn btn-primary btn-xs" ng-click="editarBienMueble(o,usuMaster.usuario.ID)" data-toggle="tooltip" data-placement="bottom" title="Editar"><i class="fa fa fa-pencil" ></i></button>
                                <button class="btn btn-danger btn-xs"  ng-click="elimimarBienMueble(o)" data-toggle="tooltip" data-placement="bottom" title="Eliminar"><i class="fa fa-trash-o"></i></button>  
                                
                            </td>  

                        </tr>  

                    </table>
                    
                    <ul class="pagination">
                        
                        <!--<li ng-repeat="i in pages track by $index" ng-class="{'active': ($index + 1) === currentPage}" ng-click="changePage($index+1)"><a href="">{{$index + 1}}</a></li>-->                      
                        <li ng-repeat="i in pages track by $index" ng-class="{'active': ($index + 1) === currentPage}" ng-click="changePage($index+1)"></li>                      

                    </ul>

                </div>
            </div>
        </section>
    </div>
</div>

<!-- MODAL PARA MOSTRAR LOS BIENES DADOS DE ALTA -->
<div class="modal fade" id="modalMostrarAltas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Bienes dados de ALTA de la institución </h4>
            </div>
            <div class="modal-body">

                <div class="tabla-responsiva">
                    <table ng-table="tabla_altas" class="table table-striped table-hover">
                        <tr ng-repeat="o in $data">
                            <td data-title="'Codigo Patrimonial'" filter="{cod_bie: 'number'}" sortable="'cod_bie'">{{o.cod_pat_bie}}</td>
                            <td data-title="'Desc. Bien'" filter="{des_bie : 'text'}" sortable="'des_bie'">{{o.des_bie}}</td>
                            <td data-title="'Causal Alta'" filter="{cau_alt : 'text'}" sortable="'cau_alt'">{{o.cau_alt}}</td>
                            <td data-title="'Estado '" filter="{estado: 'text'}" sortable="'estado'">{{o.cond_nombre}}</td>                                  
                            <td data-title="' Documento Referencia'"  ><view-file url="{{o.urlDoc}}" nombre="o.nombreDoc" archivo> </view-file></td>                                  

                        </tr>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal" type="button"><i class="fa fa-times"></i> Cancelar</button>
            </div>
        </div>
    </div>
</div>  
<!-- #MODAL PARA MOSTRAR LOS BIENES DADOS DE ALTA -->

<!-- MODAL PARA MOSTRAR LOS BIENES DADOS DE BAJA -->
<div class="modal fade" id="modalMostrarBajas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Bienes dados de BAJA de la institución</h4>
            </div>
            <div class="modal-body">

                <div class="tabla-responsiva">
                    <table ng-table="tabla_bajas" class="table table-striped table-hover">
                        <tr ng-repeat="o in $data">
                            <td data-title="'Codigo Patrimonial'" filter="{cod_pat_bie: 'text'}" sortable="'cod_pat_bie'">{{o.cod_pat_bie}}</td>
                            <td data-title="'Desc. Bien'" filter="{des_bie: 'text'}" sortable="'des_bie'">{{o.des_bie}}</td>
                            <td data-title="'Causal Baja'" filter="{cau_baj: 'text'}" sortable="'cau_baj'">{{o.cau_baj}}</td>
                            <td data-title="'Estado'" filter="{estado:'text'}" sortable="'estado'">{{o.cond_nombre}}</td> 
                            <td data-title="' Documento Referencia'"  ><view-file url="{{o.urlDoc}}" nombre="o.nombreDoc" archivo> </view-file></td>                                  
                        </tr>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal" type="button"><i class="fa fa-times"></i> Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!-- #MODAL PARA MOSTRAR LOS BIENES DADOS DE BAJA -->


<!-- MODAL PARA MOSTRAR LOS BIENES DADOS DE SALIDA -->
<div class="modal fade" id="modalMostrarSalidas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Bienes RETIRADOS de la institución</h4>
            </div>
            <div class="modal-body">

                <div class="tabla-responsiva">
                    <table ng-table="tabla_salidas" class="table table-striped table-hover">
                        <tr ng-repeat="o in $data">
                            <td data-title="'Codigo Patrimonial'" filter="{cod_pat_bie: 'text'}" sortable="'cod_pat_bie'">{{o.cod_pat_bie}}</td>
                            <td data-title="'Desc. Bien'" filter="{des_bie: 'text'}" sortable="'des_bie'">{{o.des_bie}}</td>
                            <td data-title="'Causal Salida'" filter="{sal_baj: 'text'}" sortable="'sal_baj'">{{o.cau_sal}}</td>
                            <td data-title="'Organización'" filter="{org_des: 'text'}" sortable="'org_des'">{{o.org_des}}</td>
                            <td data-title="'Estado'" filter="{estado:'text'}" sortable="'estado'">{{o.cond_nombre}}</td>                                  
                            <td data-title="'Fec. Sal'" filter="{fec_sal:'text'}" sortable="'fec_sal'">{{o.fec_sal}}</td>
                            <td data-title="' Documento Referencia'"  ><view-file url="{{o.urlDoc}}" nombre="o.nombreDoc" archivo> </view-file></td>                                  

                        </tr>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal" type="button"> <i class="fa fa-times"></i> Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!-- #MODAL PARA MOSTRAR LOS BIENES DADOS DE SALIDA -->

<!-- MODAL PARA MOSTRAR LOS DETALLES DEL BIEN -->
<div class="modal fade" id="modalMostrarDetallesBien" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Detalle del Bien Mueble</h4>
            </div>
            <div class="modal-body">

                <div class="container-fluid">

                    <div class="row">

                        <h4> Datos del movimiento</h4>
                        <hr>
                        
                        <div class="row">

                            <label class="col-sm-3"><strong>Tipo de Movimiento: </strong></label>
                            <label class="col-sm-3">{{bienMueble.tip_mov_ing_des}}</label>                                        

                            <label class="col-sm-3"><strong> Nro. Resolucion: </strong></label>
                            <label class="col-sm-3">{{bienMueble.num_res}}</label>

                        </div>                                        

                        <div class="row">
                            <label class="col-sm-3"><strong>Fecha de Resolucion:</strong></label>
                            <label class="col-sm-3">{{bienMueble.fec_res}} </label> 
                        </div>

                        <div class="row">
                            <label class="col-sm-2"><strong>Observacion:</strong></label>
                            <label class="col-sm-8">{{bienMueble.obs}}</label>
                        </div>                                        

                    </div>
                    
                    <hr>
                    
                    <div class="row">

                        <h4> Datos cuenta del activo</h4>
                        <hr>
                        
                        <div class="row">

                            <label class="col-sm-3"><strong>Valor: </strong></label>
                            <label class="col-sm-3">S/. {{bienMueble.valor_cont}}</label>                                        

                            <label class="col-sm-3"><strong> Activo depreciable: </strong></label>
                            <label class="col-sm-3">{{bienMueble.act_dep}}</label>

                        </div>                                        

                        <div class="row">                      
                            
                            <label class="col-sm-3"><strong>Activo Cod. de cuenta:</strong></label>
                            <label class="col-sm-3">{{bienMueble.cod_cuenta}} </label> 
                        </div>                                                              

                    </div>
                    
                    <hr>
                    
                    <div class="row">

                        <h4> Tipo de bien </h4>
                        <hr>
                        
                        <div class="row">

                            <label class="col-sm-3"><strong>Tipo de Anexo: </strong></label>
                            <label class="col-sm-3">{{bienMueble.an_des}}</label>                                       

                        </div>                                        

                        <div class="row">
                            <label class="col-sm-3"><strong>Codigo Patrimonial: </strong></label>
                            <label class="col-sm-3">{{bienMueble.cb_cod}}</label>                                        

                            <label class="col-sm-3"><strong>Descripción Patrimonial: </strong></label>
                            <label class="col-sm-3">{{bienMueble.cb_den_bie}}</label>
                        </div>                                                              

                    </div>
                    
                    <hr>

                    <div class="row">

                        <h4> Datos del bien</h4>
                        <hr>
                        
                        <div class="row">

                            <label class="col-sm-3"><strong> Control Patrimonial:</strong></label>
                            <label class="col-sm-3">{{bienMueble.tip_mov_ing_des}}</label>                                        

                            <label class="col-sm-3"><strong>Descripción del bien: </strong></label>
                            <label class="col-sm-3">{{bienMueble.des_bie}}</label>

                        </div>                                        

                        <div class="row">
                            <label class="col-sm-3"><strong>Ubicación:</strong></label>
                            <label class="col-sm-3">{{bienMueble.fec_res}} </label> 
                        </div>

                        <div class="row">
                            <label class="col-sm-2"><strong>Cantidad:</strong></label>
                            <label class="col-sm-2">{{bienMueble.cant}}</label>
                            
                            <label class="col-sm-2"><strong>Doc de referencia</strong></label>
                            <span>
                                <view-file url="{{bienMueble.doc_ref_url}}" nombre="bienMueble.doc_ref_name" archivo> </view-file>
                            </span> 
                        </div>                                        

                    </div>  
                    
                    <hr>
                    
                    <div class="row">

                        <h4> Detalle Técnico </h4>
                        <hr>
                        <div class="row">

                            <label class="col-sm-2">Marca:</label>
                            <label class="col-sm-2">{{bienMueble.marc}}</label>                                        

                            <label class="col-sm-2">Dimensiones:</label>
                            <label class="col-sm-2">{{bienMueble.dim}}</label>
                            
                            <label class="col-sm-2">Nro Motor: </label>
                            <label class="col-sm-2">{{bienMueble.nro_mot}}</label>

                        </div>                                        
                        
                        <div class="row">

                            <label class="col-sm-2">Modelo:</label>
                            <label class="col-sm-2">{{bienMueble.mod}}</label>                                        

                            <label class="col-sm-2">Serie:</label>
                            <label class="col-sm-2">{{bienMueble.ser}}</label>
                            
                            <label class="col-sm-2">Nro Placa: </label>
                            <label class="col-sm-2">{{bienMueble.nro_pla}}</label>

                        </div>  
                        
                        <div class="row">

                            <label class="col-sm-2">Condición:</label>
                            <label class="col-sm-2">{{bienMueble.cond_nombre}}</label>                                        

                            <label class="col-sm-2">Color:</label>
                            <label class="col-sm-2">{{bienMueble.col}}</label>
                            
                            <label class="col-sm-2">Nro Chasis: </label>
                            <label class="col-sm-2">{{bienMueble.nro_cha}}</label>

                        </div>  
                        
                        <div class="row">

                            <label class="col-sm-2">Tipo:</label>
                            <label class="col-sm-2">{{bienMueble.tip}}</label>                                        

                            <label class="col-sm-2">Raza:</label>
                            <label class="col-sm-2">{{bienMueble.raza}}</label>
                            
                            <label class="col-sm-2">Edad: </label>
                            <label class="col-sm-2">{{bienMueble.edad}}</label>

                        </div>  
                        
                        <br>
                        
                        <div class="row">
                            <label class="col-sm-2">Imagen adjunta 1:</label>
                            
                            <span>
                                <view-file url="{{bienMueble.rut_imag_1_url}}" nombre="bienMueble.rut_imag_1_name" archivo> </view-file>
                            </span>                             
                            
                        </div>
                        
                        <div class="row">
                            <label class="col-sm-2">Imagen adjunta 2:</label>
                            
                            <span>
                                <view-file url="{{bienMueble.rut_imag_2_url}}" nombre="bienMueble.rut_imag_2_name" archivo> </view-file>
                            </span>                             
                            
                        </div>
                        
                        <div class="row">
                            <label class="col-sm-2">Autoparte adjunta:</label>
                            
                            <span>
                                <view-file url="{{bienMueble.rut_aut_img_url}}" nombre="bienMueble.rut_aut_img_name" archivo> </view-file>
                            </span>                             
                            
                        </div>
                        
                    </div>
                        
                </div>

            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-danger" type="button"> <i class="fa fa-times"></i> Cancelar</button>
              
            </div>
        </div>
    </div>
</div>
<!-- #MODAL PARA MOSTRAR LOS DETALLES DEL BIEN -->

<!-- MODAL PARA MOSTRAR LA VALIDACION DEL BIEN -->
<div class="modal fade" id="modalValidarBien" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Validar Bien Mueble</h4>
            </div>
            <div class="modal-body">
                
                <form name="validarBienesForm" class="css-form" novalidate>

                    <div class="form-horizontal style-form">
                        <div class="form-panel">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Tipo Validación: *</label>
                                <div class="col-sm-4">
                                    <select name="tipoValidacion" class="form-control" ng-model="tipo_validacion.id" ng-change="listar_causal()" required>
                                        <option ng-repeat="val in validacion" value="{{val.id}}">{{val.nombre}}</option>
                                    </select> 
                                    
                                    <p ng-show="validarBienesForm.tipoValidacion.$invalid" class="help-block">Este campo es requerido.</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Causal: *</label>
                                <div class="col-sm-4">
                                    <select name="causalValidacion" class="form-control" ng-model="tipo_validacion.causal_id" required>
                                        <option ng-repeat="con in tipo_causal" value="{{con.id_cau}}">{{con.nom_cau}}</option>
                                    </select> 
                                    
                                    <p ng-show="validarBienesForm.causalValidacion.$invalid" class="help-block">Este campo es requerido.</p>
                                </div>
                            </div>

                            <div class="form-group" ng-if="tipo_validacion.id == '3'">
                                <label class="col-sm-3 control-label">Organización de destino: *</label>
                                <div class="col-sm-4" ng-init="">
                                    <select name="orgNombre" class="form-control" ng-model="bien_mueble.org_id_des" required>
                                        <option ng-repeat="org in organizaciones" value="{{org.id}}">{{org.nom}}</option>
                                    </select> 
                                    <p ng-show="validarBienesForm.orgNombre.$pristine" class="help-block">Este campo es requerido.</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <br>
                                <label class="col-sm-3 control-label">Doc. de Referencia </label>
                                <div class="col-sm-8">
                                    <input-file nombre="doc_referencia.nombre" archivo="doc_referencia.archivo"></input-file> 
                                    <span><view-file url={{doc_referencia.doc_ref_url}} nombre="doc_referencia.nombre_archivo" archivo="doc_referencia.nombre_archivo"></view-file></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </form>

            </div>
            <div class="modal-footer">
                
                <button class="btn btn-success" type="button" ng-click="validarBienMueble(usuMaster.organizacion.organizacionID, usuMaster.usuario.ID)"> <i class="fa fa-save"></i>  Guardar</button>
                <button data-dismiss="modal" class="btn btn-danger" type="button"><i class="fa fa-times"></i> Cancelar</button>
                
            </div>
        </div>
    </div>
</div>
<!-- #MODAL PARA MOSTRAR LA VALIDACION DEL BIEN -->