<div class="modal fade " >
     <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                   <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-panel">
                    <form class="form-horizontal " method="get">
                        
                       
                        <div class="form-group "> 
                            <label class="col-lg-4"><strong>Datos personal I.E</strong> </label>  
                            <br>
                            <span class="label label-warning"> Haga click en el boton azul para buscar al trabajador</span>
                        </div> 

                        <div class="form-group col-lg-12">  

                            <div class="form-group col-lg-3">                             

                                <label class="control-label">DNI</label>

                                <div class="input-group col-lg-12">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" ng-click="showBuscarTrabajador()"><i class="fa fa-search"> </i></button>
                                    </span>
                                    <input type="text"  class="form-control" ng-model="trabajador.dni" disabled="true" >
                                </div>


                            </div> 
                            <div class="form-group col-lg-1"></div>

                            <div class="form-group col-lg-5">                             

                                <label class="control-label">Nombre</label>   

                                <input type="text" class="form-control" ng-model="trabajador.datos" disabled="true">


                            </div> 
                            <div class="form-group col-lg-1"> </div>

                            <div class="form-group col-lg-4">                             

                                <label class="control-label">Fecha</label>   
                                <input type="date" class="form-control" ng-model="registro.fecha" ng-change="listarAsistenciaPosibles()">
                            </div>
                        </div> 
                        <div class="form-group "><label></label></div>
                        <div class="col-lg-12">
                            
                            <div class="tabla-responsiva">
                                <table ng-table="miTablaRegistros" class="table table-striped table-hover"  >
                                    <colgroup>
                                        <col width="5%" />
                                        
                                        <col width="20%" />
                                        <col width="20%" />
                                        <col width="20%" />
                                        <col width="20%" />
                                        <col width="20%" />

                                    </colgroup>
                                    <tr ng-repeat="o in $data">

                                        <td data-title="'N'" sortable="'i'" style="text-align: center">{{o.i}}</td>
                                        
                                        <td data-title="'Ingreso'"   style="text-align: center">
                                            {{o.ingreso}}
                                        </td>

                                        <td data-title="'Salida'" style="text-align: center">
                                            {{o.salida}}
                                        </td>
                                         <td data-title="'Total'" style="text-align: center">
                                             <span ng-hide="o.edi" >{{o.adicional}}</span>
                                             <span ng-show="o.edi" ><input type="number" min="0"  ng-model="o.copia.adicional"/></span>
                                            
                                        </td>
                                        
<!--                                        <td data-title="'Adicional'" style="text-align: center">
                                            <input type="number" ng-model="">
                                            {{o.adicional}}
                                        </td>-->
                                        
                                        <td data-title="'Estado'" style="text-align: center">
                                            <span class="label label-mini" ng-class="{'label-info': o.estado == 1,'label-warning': o.estado == 2,'label-danger': o.estado == 3}">
                                                {{o.estado==1?'Asistio':o.estado==2?'Tardanza':'Otros'}}
                                            </span>
                                        </td>
                                        <td data-title="'Accion'" style="text-align: center">
                                            <button type="button" class="btn btn-primary btn-xs" ng-click="editarRegistro($index,o)"><i class="fa" ng-class="{'fa-check':o.edi,'fa-pencil':!o.edi}" ></i></button>
                                            <button type="button" class="btn btn-xs" ng-class="{'btn-danger':!o.edi}" ng-click="eliminarRegistro($index,o)"><i class="fa" ng-class="{'fa-times':o.edi,'fa-trash-o':!o.edi}"></i></button>                          
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                        <div class="form-group "><label></label></div>
                        
                        <div class="form-group col-lg-12">
                            <div class="form-group ">
                                <label class="col-lg-4"><strong>Autorizacion</strong></label>
                            </div> 
                            <div class="form-group ">   
                                <div class="col-lg-4">
                                    <input type="text"  placeholder="Numero de Documento" class="form-control" ng-model="registro.documento">
                                </div>  
                            
                                
                                <div class="col-lg-4">
                                    <span  class="tools  pull-left"><input-file nombre="registro.documentoAdj.nombreArchivo" archivo="registro.documentoAdj.archivo"></input-file></span>

                                    <span  class="tools  pull-left"><view-file url="{{registro.documentoAdj.url}}" nombre="registro.documentoAdj.nombreArchivo" archivo="registro.documentoAdj.archivo"></view-file></span>
        
                                </div>
                                <div class="col-lg-1">

                                    <label>Minutos</label>
                                </div>
                                <div class="col-lg-2">
                                    <input type="number"  min="0"  disabled="true" class="form-control" ng-model="registro.minTol">
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-12">
                            <div class="form-group ">
                                <label class="col-lg-4"><strong>Descripcion</strong></label>
                            </div> 
                            <div class="form-group ">   
                                <div class="col-lg-12">
                                    <textarea type="text" placeholder="Descripcion" class="form-control" ng-model="registro.descripcion"></textarea>
                                </div>  
                            </div> 
                        </div>

                        <div class="form-group "><label></label></div> 
                    </form>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default " data-dismiss="modal">Cancelar</button>

                <button ng-show="title==='Horas Adicionales'"  type="button" class="btn btn-primary" ng-click="agregarHoraAdicional()">Registrar</button>                     
                <!--<button ng-hide="title==='Nueva Configuracion'"  type="button" class="btn btn-primary" ng-click="actualizarConfiguracion()">Actualizar Configuracion</button>-->


            </div>
        </div>
     </div>
</div>       
