<div class="modal fade" >
    <div class="modal-dialog " style="width:45%">
        <div class="modal-content">
            <div class="modal-header">
                   <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body" >
                <div class="form-panel">
                    <form class="form-horizontal " method="get">                          
                                            
                       <div class="form-group col-lg-8 ">
                         <div class="input-group ">                                                                                   
                             <input type="text" class="form-control" placeholder="Buscar operacion" ng-model="tablaOperaciones.filter().descripcion" >                            
                             <div class="input-group-addon "><i class="fa fa-search"></i></div>                            
                         </div>      
                       </div>
                        
                   
                        
                        <div class="form-group "> <label></label> </div>
                            
                        <div class="form-group ">     
                                    <div class="col-lg-12">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover table-bordered "  ng-table ="tablaOperaciones" show-filter="false"  >
                                         <tr ng-repeat="sm in $data " ng-dblclick="setClickedRow(sm)">
                                            <td data-title="'#'"  style="width: 30px;text-align:left">
                                                {{(sm.i )}}
                                            </td>
                                            <td data-title="'Descripcion'" filter="{ descripcion: 'text' }" style="width: 170px;text-align:left">
                                                {{sm.descripcion}}
                                            </td>
                                             <td data-title="'Tipo'" filter="{ tipo :'text' }" style="width: 50px;text-align:center">
                                                {{sm.tipo}}
                                            </td>    
                                           
                                            
                                                                                                       
                                        </tr>
                                    </table>
                                </div>   
                                    </div>

                             
                        </div>
                        
                      
                        
                                                                
                    </form>
                </div>
            </div>
      <div class="modal-footer">
           
      </div>
        </div>
    </div>
</div>       