<div class="row" ng-show="libroEstado.estado==='A'">
    <div class="col-lg-12">
        <section class="panel">
             <header class="panel-heading" style="overflow: inherit">
           
            <div class=" btn-group " >
               
                <a data-toggle="dropdown" class="fa  fa-gears  " ></a>
               
                <ul role="menu" class="dropdown-menu " >
                    <li><a ng-click="reporte()"><i class="fa fa-edit"> </i>Descargar</a></li>
                <li><a href="#"><i class="fa fa-folder-open"> </i> Exportar</a></li>                        
                <li><a href="#"><i class="fa fa-print"> </i> Imprimir</a></li>
                               
                </ul>
                
                
            </div>
             LIBRO CAJA :
             <div class="pull-right">
                 <div class="btn-group " ng-click="cambiarMes(libroEstado.mesSel)"> <!---ng-click="getFilterMonth(libroEstado.mesSel)"-->
                                <label class="btn btn-primary btn-sm" ng-model="libroEstado.mesSel" uib-btn-radio="'0'" style="border:0px solid transparent; ;font-size: 88%; top: -5px">
                                     Enero
                                </label>
                                <label class="btn btn-primary btn-sm" ng-model="libroEstado.mesSel" uib-btn-radio="'1'" style="border:0px solid transparent ;font-size: 88%; top: -5px">
                                   Febrero
                                </label>
                                <label class="btn btn-primary btn-sm" ng-model="libroEstado.mesSel" uib-btn-radio="'2'" style="border:0px solid transparent ;font-size: 88%; top: -5px">
                                  Marzo
                                </label>
                                 <label class="btn btn-primary btn-sm" ng-model="libroEstado.mesSel" uib-btn-radio="'3'" style="border:0px solid transparent  ;font-size: 88%; top: -5px">
                                   Abril
                                </label>
                                 <label class="btn btn-primary btn-sm" ng-model="libroEstado.mesSel" uib-btn-radio="'4'" style="border:0px solid transparent  ;font-size: 88%; top: -5px">
                                     Mayo
                                </label>
                                 <label class="btn btn-primary btn-sm" ng-model="libroEstado.mesSel" uib-btn-radio="'5'" style="border:0px solid transparent  ;font-size: 88%; top: -5px">
                                    Junio
                                </label>
                                 <label class="btn btn-primary btn-sm" ng-model="libroEstado.mesSel" uib-btn-radio="'6'" style="border:0px solid transparent ;font-size: 88%; top: -5px">
                                     Julio
                                </label>
                                 <label class="btn btn-primary btn-sm" ng-model="libroEstado.mesSel" uib-btn-radio="'7'" style="border:0px solid transparent ;font-size: 88%; top: -5px">
                                    Agosto
                                </label>
                                 <label class="btn btn-primary btn-sm" ng-model="libroEstado.mesSel" uib-btn-radio="'8'" style="border:0px solid transparent  ;font-size: 88%; top: -5px">
                                    Septiembre
                                </label>
                                 <label class="btn btn-primary btn-sm" ng-model="libroEstado.mesSel" uib-btn-radio="'9'" style="border:0px solid transparent  ;font-size: 88%; top: -5px">
                                  Octubre
                                </label>
                                 <label class="btn btn-primary btn-sm" ng-model="libroEstado.mesSel" uib-btn-radio="'10'" style="border:0px solid transparent   ;font-size: 88%; top: -5px">
                                    Noviembre
                                </label>
                                 <label class="btn btn-primary btn-sm" ng-model="libroEstado.mesSel" uib-btn-radio="'11'" style="border:0px solid transparent  ;font-size: 88%; top: -5px">
                                     Diciembre
                                </label>
                            </div>
             </div>
            </header>
            

            <div class="panel-body" ng-init="$watch(listarOpe(),listarClienteProveedor())">
                
            <form class="form-horizontal " method="get">  

                 <div class="form-group">

                                                    <div class="col-lg-4"> 
                                                      <div class="btn-group" >
                                                            <button class="btn btn-warning" ng-click="showNuevaTransaccion()">Agregar Operación <i class="fa fa-plus" ></i>  </button>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                    <div class="form-group ">
                                                          
                                                    
                                                              
                                                              <div class="input-group m-bot15 ">  
                                                                         <span class="input-group-btn">
                                                                             <button class="btn btn-primary btn-sm" >Saldo {{libroEstado.mes |date:'MMMM'}}: </button></span>
                                                                                <span  class="form-control input-sm m-bot15 " style="text-align:center" > {{libroEstado.saldoMes |currency:'S/ ' :2 }}</span>
                                                                      </div>
                                                       
                                                    </div>
                                                    </div>
                                                   <div class="col-lg-0 "></div>
                                                    <div class="col-lg-4 ">
                                                        
                                                       
                                                                          <span class="input-group-btn ">
                                                                              <button class="btn btn-default btn-sm" > <span ><a>Debe: </a>{{libroEstado.debe |currency:' S/ ' :2 }}</span>   </button>
                                                                             <button class="btn btn-default btn-sm" > <span ><a>Haber: </a>{{libroEstado.haber |currency:' S/ ' :2 }}</span>   </button>
                                                                      
                                                                            </span>
                                                                     
                                                      
                                                    </div>

                                                 

                                                  
                                                                                                                                                                  
                                                </div>

                                
                <div class="form-group">
                      <div class="adv-table editable-table ">

                        <div id="editable-sample_wrapper" class="dataTables_wrapper form-inline" role="grid">
                            <div class="row">
                                <div class="col-lg-6">
                                <div class="col-lg-12">
                                    <div id="editable-sample_length" class="dataTables_length">
                                        <label>
                                            <select size="1" name="editable-sample_length" aria-controls="editable-sample" class="form-control xsmall" ng-model="tablaLibroCaja.parameters().count">
                                                <option value="10" >10</option>
                                                <option value="15">15</option>
                                                <option value="20">20</option>
                                                <option value="50">50</option>
                                            </select> 
                                            registros
                                        </label>
                                    </div>
                                </div>
                                </div>

                                <div class="col-lg-6 ">
                                    
                                    <div class="dataTables_filter " id="editable-sample_filter">
                                        
                                       <div class="input-group m-bot15 col-lg-12 ">
                                            <span class="input-group-btn">
                                                <button class="btn btn-warning btn-sm col-lg-12" type="button"><i class="fa fa-search"></i></button>
                                            </span>
                                           <input type="text" class="form-control input-sm m-bot15 col-lg-12" ng-model="tablaLibroCaja.filter().glosa">
                                            <div class="input-group-btn ">
                                                <select class="form-control input-sm m-bot15 ">
                                                    <option>Fecha Operación</option>
                                                    <option>Medio Pago</option>
                                                    <option>Option 3</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        <div class="table-responsive col-lg-12">
                            <table class="table table-striped table-hover table-bordered small "  ng-table ="tablaLibroCaja" show-filter="false" >
                                <tr ng-show ="tablaLibroCaja.parameters().page==1">                                     
                                     <td  data-title="'N'" style="width: 40px;text-align:center">
                                        {{}}
                                    </td>
                                    <td data-title="'Fecha Operación'" filter="{fecha:'text'}" sortable="'fecha'" style="width: 40px;text-align:left">
                                        {{}}
                                    </td>
                                     <td  data-title="'Medio Pago'" style="width: 40px;text-align:center">
                                        {{}}
                                    </td>
                                    <td  data-title="'Descripcion Operación'" filter="{glosa:'text'}" style="width: 180px;text-align:left">
                                        <a> {{libroEstado.enunciado}} </a>
                                    </td>
                                    <td data-title="'Razon Social'" style="width: 120px;text-align:left">
                                        {{}}
                                    </td>
                                     <td  data-title="'N° Doc.'" style="width: 50px;text-align:center">
                                        {{}}
                                    </td>
                                    
                                    
                                     <td data-title="'Cod. Cta'" style="width: 50px;text-align:center">
                                        {{}}
                                    </td>
                                     <td data-title="'Descripción Cuenta'" style="width: 100px;text-align:left">
                                        {{}}
                                    </td>
                                    <td data-title="'Debe'" style="width: 50px;text-align:right">
                                        <a>  {{libroEstado.saldoMesAnterior}} </a>
                                    </td><td data-title="'Haber'" style="width: 50px;text-align:right">
                                       {{}}
                                    </td>

                                    <td   data-title="'Estado'" style="text-align: center;width:30px">
                                    </td>

                                    <td   data-title="'Ver'" style="width: 30px">
                                        
                                    </td>
                                                                        
                                </tr>
                                <tbody  ng-repeat="sm in $data">                                                                    
                                 <tr>                                     
                                     <td rowspan="2" data-title="'N'" style="width: 40px;text-align:center">
                                        {{sm.i}}
                                    </td>
                                    <td  rowspan="2" data-title="'Fecha Operación'" filter="{fecha:'text'}" sortable="'fecha'" style="width: 40px;text-align:left">
                                        {{sm.fecha | date:'dd/MM/yyyy'}}
                                    </td>
                                     <td rowspan="2" data-title="'Medio Pago'" style="width: 40px;text-align:center">
                                        {{sm.tipoPago.tipoPagoID}}
                                    </td>
                                    <td rowspan="2" data-title="'Descripcion Operación'" filter="{glosa:'text'}" style="width: 180px;text-align:left">
                                        {{sm.glosa}}
                                    </td>
                                    <td rowspan="2" data-title="'Razon Social'" style="width: 120px;text-align:left">
                                        {{sm.clienteProveedor.datos}}
                                    </td>
                                     <td rowspan="2" data-title="'N° Doc.'" style="width: 50px;text-align:center">
                                        {{sm.numeroD}}
                                    </td>
                                    
                                    
                                     <td data-title="'Cod. Cta'" style="width: 50px;text-align:center">
                                        {{sm.debe.cuentaContableID}}
                                    </td>
                                     <td data-title="'Descripción Cuenta'" style="width: 100px;text-align:left">
                                        {{sm.debe.nombre}}
                                    </td>
                                    <td data-title="'Debe'" style="width: 50px;text-align:right">
                                        {{sm.debe.importe  |currency:'':2}}
                                    </td><td data-title="'Haber'" style="width: 50px;text-align:right">
                                       {{}}
                                    </td>

                                    <td  rowspan="2" data-title="'Estado'" style="text-align: center;width:30px">
                                        <span class="label label-mini" ng-class="{'label-info': sm.estado=='A','label-warning': sm.estado=='I'}">{{sm.estado}}</span>
                                    </td>

                                    <td  rowspan="2" data-title="'Ver'" style="width: 30px">
                                        <button class="btn btn-primary btn-xs" ng-click="prepararEditar(sm)"><i class="fa fa-search-plus" ></i></button>
                                      <!--  <button class="btn btn-danger btn-xs" ng-click="eliminarCuenta(sm.i,sm.cuentaContableID)"><i class="fa fa-trash-o " ></i></button>
                                      -->
                                    </td>
                                    
                                    
                                </tr>
                                
                                 <tr>
                                                                         
                                     <td data-title="'Cod. Cta'" style="width: 50px;text-align:center">
                                        {{sm.haber.cuentaContableID}}
                                    </td>
                                     <td data-title="'Descripción Cuenta'" style="width: 100px;text-align:left">
                                        {{sm.haber.nombre}}
                                    </td>
                                    <td data-title="'Debe'" style="width: 50px;text-align:right">
                                      {{}}
                                    </td><td data-title="'Haber'" style="width: 50px;text-align:right">
                                        {{sm.haber.importe |currency:'':2}}
                                    </td>

                                   
                                    
                                    
                                </tr>
                                </tbody>
                            </table>
                        </div>    

                        </div>
              </div>





                
            </form>    
            </div>
        </section>

    </div>
</div>


                          
                   
                       
