<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div class="row" >
    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading" style="overflow: inherit">
            OPERACIONES/TRANSACCIONES
            <div class=" btn-group pull-right" >
               
                <a data-toggle="dropdown" class="fa fa-cog " ></a>
               
                <ul role="menu" class="dropdown-menu " >
                <li><a  ng-click="showNuevaCuenta()"><i class="fa fa-edit"> </i>Agregar Cuenta Contable</a></li>
                <li><a data-toggle="modal" data-target="#modalImportarCuentas"><i class="fa fa-folder-open"> </i> Importar Operaciones</a></li>                        
                <li><a href="#"><i class="fa fa-print"> </i> Imprimir Operaciones</a></li>
                               
                </ul>
                
                
            </div>
            
            </header>
           <div class="panel-body" ng-init="listarOperaciones()">
                <div class="adv-table editable-table ">
                    <div class="clearfix">
                        <div class="btn-group" >
                            <button class="btn btn-primary" ng-click="showNuevaOperacion()"><i class="fa fa-plus" ></i> Agregar Operación </button>
                        </div>
                   
                    </div>
                    
                    <div class="space15"></div>
                    <div id="editable-sample_wrapper" class="dataTables_wrapper form-inline" role="grid">
                        <div class="row">
                            <div class="col-lg-6">
                                <div id="editable-sample_length" class="dataTables_length">
                                    <label>
                                        <select size="1" name="editable-sample_length" aria-controls="editable-sample" class="form-control xsmall" ng-model="tablaOperaciones.parameters().count">
                                            <option value="10">10</option>
                                            <option value="15">15</option>
                                            <option value="20">20</option>
                                           
                                        </select> 
                                        registros por pág.
                                    </label>
                                </div>
                            </div>
                            
                            <div class="col-lg-6">
                                <div class="dataTables_filter" id="editable-sample_filter">
                                    <label>
                                        Buscar: 
                                        <input type="text" aria-controls="editable-sample" class="form-control medium" ng-model="tablaOperaciones.filter().descripcion">
                                    </label>
                                </div>
                            </div>
                        </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered "  ng-table ="tablaOperaciones" >
                             <tr ng-repeat="sm in $data ">
                                <td data-title="'N°'" style="width: 30px;text-align:left">
                                    {{sm.i}}
                                </td>
                                <td data-title="'Descripción'" style="width: 170px;text-align:center">
                                    {{sm.descripcion}}
                                </td>
                                <td data-title="'Tipo'" style="width: 40px;text-align:center">
                                    {{tipo(sm.tipo)}}
                                </td>
                                <td data-title="'Ver Cuentas'" style="width: 70px ;text-align:center">
                                    <div class="col-lg-4"></div>
                                    <div class="col-lg-4">                        
                                            <ul class="nav top-menu">                                
                                            <li  class="dropdown " >
                                                            <button data-toggle="dropdown" class="dropdown-toggle btn btn-success btn-xs ">
                                                                <i class="fa fa-search"></i>

                                                            </button>
                                                            <ul class="dropdown-menu extended notification " style="top:90%"> 
                                                  
                                                                <li>
                                                                    <p>Cuentas Asociadas</p>
                                                                </li>
                                                                <li ng-repeat="n in sm.cuentaOperaciones">
                                                                    <div class="alert clearfix alert-info" style="height: 15px" > 

                                                                        <a class="center-block"> {{n.numero}}: {{n.nombre}}</a>                           
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </li>
                                            </ul>
                                    </div>

                                   
                                </td>                               
                                <td data-title="'Estado'" style="text-align: center;width:45px">
                                    <span class="label label-mini" ng-class="{'label-info': sm.estado=='A','label-warning': sm.estado=='I'}">{{sm.estado}}</span>
                                </td>
                                
                                <td data-title="'accion'" style="width: 70px ;text-align:center">
                                    <button class="btn btn-primary btn-xs" ng-click="prepararEditar(sm)"><i class="fa fa-pencil" ></i></button>
                                    <button class="btn btn-danger btn-xs" ng-click="eliminarOperacion($index,sm.operacionID)"><i class="fa fa-trash-o " ></i></button>
                                </td>
                            </tr>
                        </table>
                    </div>    
                     
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
