<div class="modal fade"  id="modalAgregarExposicion">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-panel">
                    <form class="form-horizontal style-form" >
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Descripción: </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="Descripción" ng-model="nuevaExpPon.des">
                            </div>
                        </div>
                    
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Institución organizadora </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="Institución organizadora" ng-model="nuevaExpPon.insOrg">
                            </div>
                        </div>
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Tipo de participacion: </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" placeholder="Tipo de participación" ng-model="nuevaExpPon.tipPar">
                            </div>
                        </div> 
                        
                        <br>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha de inicio: </label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" placeholder="dd-mm-yyyy" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="nuevaExpPon.fecIni" 
                                           is-open="date_1" current-text="Hoy" close-text="Cerrar" clear-text="Limpiar" show-meridian="true" datepicker-options="{startingDay: 1, yearFormat: 'yy'}"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_1 = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha de término: </label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" placeholder="dd-mm-yyyy" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="nuevaExpPon.fecTer" 
                                           is-open="date_2" current-text="Hoy" close-text="Cerrar" clear-text="Limpiar" show-meridian="true" datepicker-options="{startingDay: 1, yearFormat: 'yy'}"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_2 = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label ">Horas lectivas </label>
                            <div class="col-sm-3">
                                <input type="number" class="form-control" placeholder="Horas lectivas" ng-model="nuevaExpPon.horLec">
                            </div>
                        </div>
                        
                        <!--
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Adjuntar documento: </label>
                            <div class="col-sm-3 form-inline">
                                <input-file nombre="nuevoLegajoExp.nom" archivo="nuevoLegajoExp.archivo"></input-file>
                                <view-file url="{{nuevoLegajoExp.url}}" nombre="nuevoLegajoExp.nom" archivo="nuevoLegajoExp.archivo" vernombre='true'></view-file>
                            </div>
                        </div>
                        
                        -->
                       
                    </form>       
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click= "cancel()" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="agregarExposicion()">Registrar datos</button>
            </div>
        </div>
    </div>
</div>       
