<div class="modal fade"  id="modalAgregarReconocimiento">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <form name="formRec">
            <div class="modal-body">
                <div class="form-panel">
                    <div class="form-horizontal style-form">
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Tipo de documento: </label>
                            <div class="col-sm-8">
                                <select class="form-control input-sm m-bot15" ng-model="nuevoReconocimiento.tipDoc" required>
                                   <option ng-repeat="t in tipDocs" value="{{t.id}}">{{t.nom}}</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Número de documento: </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" placeholder="Número de documento" ng-model="nuevoReconocimiento.numDoc">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha de documento: </label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" placeholder="dd-mm-yyyy" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="nuevoReconocimiento.fecDoc" 
                                           is-open="date_1" current-text="Hoy" close-text="Cerrar" clear-text="Limpiar" show-meridian="true" datepicker-options="{startingDay: 1, yearFormat: 'yy'}"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_1 = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <hr style="border-width:3px">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Motivo*: </label>
                            <div class="col-sm-3">
                                <select class="form-control input-sm m-bot15" ng-model="nuevoReconocimiento.mot" required>
                                   <option ng-repeat="m in motivos" value="{{m.id}}">{{m.title}}</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Descripción: </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="Descripción de Motivo" ng-model="nuevoReconocimiento.desMot">
                            </div>
                        </div>
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Entidad que emite el documento: </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="Entidad que emite el documento" ng-model="nuevoReconocimiento.entEmi">
                            </div>
                        </div>
                        <!--
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Adjuntar documento </label>
                            <div class="col-sm-3 form-inline">
                                <input-file nombre="nuevoLegajoRec.nom" archivo="nuevoLegajoRec.archivo"></input-file>
                                <view-file url="{{nuevoLegajoRec.url}}" nombre="nuevoLegajoRec.nom" archivo="nuevoLegajoRec.archivo" vernombre='true'></view-file>
                            </div>
                        </div> 
                        -->
                    </div>       
                </div>
            </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click= "cancel()" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" ng-disabled="formRec.$invalid" data-dismiss="modal" ng-click="agregarReconocimiento()">Registrar datos</button>
            </div>
        </div>
    </div>
</div>       
