<div class="modal fade" id="editarAgregarFormacionEducativa">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-panel">
                    <form class="form-horizontal style-form" >
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tipo de Documento: </label>
                            <div class="col-sm-6">
                                <select class="form-control" ng-model="forEduSel.tipDocId" ng-options="td.id as td.nom for td in tipDocs">
                                </select>
                            </div>
                        </div>

                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Nº de Documento: </label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" placeholder="Numero de titulo" ng-model="forEduSel.numDoc">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha de expedición: </label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" placeholder="dd-mm-yyyy" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="forEduSel.fecDoc" 
                                           is-open="date_1" current-text="Hoy" close-text="Cerrar" clear-text="Limpiar" show-meridian="true" datepicker-options="{startingDay: 1, yearFormat: 'yy'}"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_1 = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        
                        <hr style="border-width:3px">
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tipo Formación: </label>
                            <div class="col-sm-6">
                                <select class="form-control" ng-model="forEduSel.tipForId" ng-options="t.id as t.nom for t in tipFors" ng-change="loadTipoFormacion()">
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Nivel Academico: </label>
                            <div class="col-sm-6">
                                <select class="form-control" ng-model="forEduSel.nivAcaId" ng-options="n.id as n.nom for n in comNiveles">
                                </select>
                            </div>
                        </div>

                        <div class="form-group ">   
                            <label class="col-sm-3 control-label"> Especialidad </label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" placeholder="Especialidad" ng-model="forEduSel.esp">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label">¿Estudios concluidos? </label>                                                                                             
                            <div class="col-sm-3">
                                <input type="checkbox" ng-model="forEduSel.estCon"> 
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha de inicio: </label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" placeholder="dd-mm-yyyy" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="forEduSel.fecIni" 
                                           is-open="date_2" current-text="Hoy" close-text="Cerrar" clear-text="Limpiar" show-meridian="true" datepicker-options="{startingDay: 1, yearFormat: 'yy'}"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_2 = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        
                        <div class="form-group" ng-hide="forEduSel.estCon===false">
                            <label class="col-sm-3 control-label">Fecha de término: </label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" placeholder="dd-mm-yyyy" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="forEduSel.fecTer" 
                                           is-open="date_3" current-text="Hoy" close-text="Cerrar" clear-text="Limpiar" show-meridian="true" datepicker-options="{startingDay: 1, yearFormat: 'yy'}"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_3 = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>

                        <div class="form-group ">   
                            <label class="col-sm-3 control-label ">Centro de estudios: </label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" placeholder="Centro de estudios" ng-model="forEduSel.cenEst">
                            </div>
                                                       
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Pais donde se obtuvo la formación: </label>
                            <div class="col-sm-3">
                                <select class="form-control" ng-model="forEduSel.paisId" ng-options="pa.nacId as pa.nacNom for pa in paises">
                                </select>
                            </div>
                        </div>
                        <!--
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Mérito obtenido: </label>
                            <div class="col-sm-3">
                                <select class="form-control" ng-model="">
                                   <option ng-repeat="" value=""></option>
                                   <option ng-repeat="" value="">Tercio Superior</option>
                                   <option ng-repeat="" value="">Quinto Superior</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label ">Detalles de mérito obtenido: </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control">
                            </div>

                        </div>-->
                        
                    </form>       
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default" ng-click= "cancel()" data-dismiss="modal">Cancelar</button>

                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="actualizarFormacionEducativa()">Registrar datos</button>

            </div>
        </div>
    </div>
</div>       
