<div class="modal fade"  id="modalEditarAscenso">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-panel">
                    <form class="form-horizontal style-form" >
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Número de documento: </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" placeholder="Número de documento" ng-model="ascensoSel.numDoc">
                            </div>
                        </div>
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Tipo de documento: </label>
                            <div class="col-sm-9">
                                <select class="form-control" ng-model="ascensoSel.tipDocId" ng-options="o.id as o.nom for o in tiposDocumentos">
                                   <option value="">-- Seleccione --</option>
                                </select>
                            </div>
                        </div> 
                        
                        <br>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha de documento: </label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" placeholder="dd-mm-yyyy" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="ascensoSel.fecDoc" 
                                           is-open="date_1" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_1 = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        
                        <br>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha efectiva: </label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" placeholder="dd-mm-yyyy" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="ascensoSel.fecEfe" 
                                           is-open="date_2" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_2 = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Motivo: </label>
                            <div class="col-sm-3">
                                <textarea type="text" class="form-control" placeholder="Motivo" ng-model="ascensoSel.mot"></textarea>
                            </div>
                        </div>
                        
                    </form>       
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click= "cancel()" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="actualizarAscenso()">Actualizar datos</button>
            </div>
        </div>
    </div>
</div>       
