<div class="modal fade"  id="modalEditarLicencia">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-panel">
                    <form class="form-horizontal style-form">
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Entidad emisora de documento: </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Entidad emisora de documento" ng-model="vacacionSel.entEmi">
                            </div>
                        </div>
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">N° de informe: </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Número de Informe" ng-model="vacacionSel.numInf">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha de informe: </label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="vacacionSel.fecInf" 
                                           is-open="date_fecInf" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_fecInf = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha de recepción de informe: </label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="vacacionSel.fecRecInf" 
                                           is-open="date_fecRecInf" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_fecRecInf = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>

                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">N° de documento: </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="N° de documento" ng-model="vacacionSel.numDoc">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tipo de documento: </label>
                            <div class="col-sm-9">
                                <select class="form-control" ng-model="vacacionSel.tipDocId" ng-options="t.id as t.nom for t in tiposDocumentos">
                                    <option value="">-- Seleccione --</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha de documento </label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="vacacionSel.fecDoc" 
                                           is-open="date_fecDoc" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_fecDoc = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        
                        <!--
                        <div class="form-inline col-sm-offset-1">
                            <label class="control-label">¿Vacación con goce de haber?: </label>
                            <label class="control-label">¿Finalizadas?: </label>
                            <div class="btn-group" data-toggle="buttons">
                                <input type="radio" ng-model="vacacionSel.estGoc" ng-value="true"> SI
                                <input type="radio" ng-model="vacacionSel.estGoc" ng-value="false" > NO
                            </div>
                        </div>
                        -->
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha de inicio: </label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="vacacionSel.fecIni" 
                                           placeholder="dd-mm-yyyy" ng-change="opcionesFechaIni.maxDate = vacacionSel.fecTer"
                                           is-open="date_fecIni" close-text="Cerrar" show-meridian="true" datepicker-options="opcionesFechaIni"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_fecIni = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha de término: </label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="vacacionSel.fecTer" 
                                           placeholder="dd-mm-yyyy" ng-change="opcionesFechaTer.minDate = vacacionSel.fecIni"
                                           is-open="date_fecTer" close-text="Cerrar" show-meridian="true" datepicker-options="opcionesFechaTer"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_fecTer = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Motivo: </label>
                            <div class="col-sm-9">
                                <textarea row="2" type="text" class="form-control" placeholder="Motivo" ng-model="vacacionSel.mot"></textarea>
                            </div>
                        </div>
                        
                        <div class="form-group">   
                            <label class="col-sm-3 control-label">Estado de proceso: </label>
                            <div class="col-sm-9">
                                <select class="form-control" ng-model="vacacionSel.estProId" ng-options="ep.id as ep.nom for ep in estadosProceso">
                                   <option value="">-- Seleccione --</option> 
                                </select>
                            </div>
                        </div>
                    </form>       
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click= "cancel()" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="actualizarVacacion()">Registrar datos</button>
            </div>
        </div>
    </div>
</div>       
