<div class="modal fade"  id="modalEditarReconocimiento">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-panel">
                    <form class="form-horizontal style-form" >
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Tipo de documento: </label>
                            <div class="col-sm-8">
                                <select class="form-control" ng-model="reconocimientoSel.tipDocId" ng-options="r.id as r.nom for r in tipDocs">
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Número de documento: </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" placeholder="Número de documento" ng-model="reconocimientoSel.numDoc">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha de documento: </label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" placeholder="dd-mm-yyyy" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="reconocimientoSel.fecDoc" 
                                           is-open="date_1" current-text="Hoy" close-text="Cerrar" clear-text="Limpiar" show-meridian="true" datepicker-options="{startingDay: 1, yearFormat: 'yy'}"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_1 = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        
                        <hr style="border-width:3px">
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Motivo*: </label>
                            <div class="col-sm-3">
                                <select class="form-control input-sm m-bot15" ng-model="reconocimientoSel.mot" >
                                   <option ng-repeat="m in motivos" value="{{m.id}}">{{m.title}}</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Descripción: </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="Descripción de Motivo" ng-model="reconocimientoSel.desMot">
                            </div>
                        </div>
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Entidad que emite el documento: </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="Entidad que emite el documento" ng-model="reconocimientoSel.entEmi">
                            </div>
                        </div>
                        
                    </form>       
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click= "cancel()" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="actualizarReconocimiento()">Actualizar datos</button>
            </div>
        </div>
    </div>
</div>       
