<div class="modal fade"  id="modalEditarLicencia">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-panel">
                    <div class="form-horizontal style-form">
                        
                        <h4>Datos de Resolucion</h4>
                        <div class="form-group">   
                            <label class="col-sm-3 control-label">Entidad emisora de documento: </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Entidad emisora de documento" ng-model="licenciaSel.entEmi">
                            </div>
                        </div>
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Tipo de documento: </label>
                            <div class="col-sm-9">
                                <select class="form-control" ng-model="licenciaSel.tipDocIdMain" ng-options="t.id as t.nom for t in tiposDocumentos">
                                   <option value="">-- Seleccione --</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">N° de Resolución </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Número de Informe" ng-model="licenciaSel.numInfMain">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha de Resolución: </label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="licenciaSel.fecInfMain" 
                                        placeholder="dd-mm-yyyy"   
                                        is-open="date_fecInfMain" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_fecInfMain = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                            
                            <label class="col-sm-3 control-label">Fecha de recepción de Resolución: </label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="licenciaSel.fecRecInfMain" 
                                        placeholder="dd-mm-yyyy"  
                                        is-open="date_fecRecInf" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_fecRecInf = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tipo de licencia: </label>
                            <div class="col-sm-3">
                                <select class="form-control" ng-model="licenciaSel.tipLicId" ng-options="t.id as t.nom for t in tiposLicencias">
                                   <option value="">-- Seleccione --</option>  
                                </select>
                            </div>
                            <div class="form-inline col-sm-offset-1">
                            <label class="control-label">¿Licencia con goce de haber?: </label>
                                <div class="btn-group" data-toggle="buttons">
                                    <input type="radio" name="nuevaLicencia.estGoc" ng-model="licenciaSel.estGoc" ng-value="true"> SI
                                    <input type="radio" name="nuevaLicencia.estGoc" ng-model="licenciaSel.estGoc" ng-value="false"> NO
                                </div>
                        </div>
                        </div>
                        
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha de inicio(*): </label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="licenciaSel.fecIni" 
                                        placeholder="dd-mm-yyyy" ng-change="calcularAnioProEditarLic()" ng-required="true"
                                        is-open="date_fecIni" close-text="Cerrar" show-meridian="true" datepicker-options="opcionesFechaIni"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_fecIni = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                            
                            <label class="col-sm-3 control-label">Fecha de término(*): </label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="licenciaSel.fecTer" 
                                        placeholder="dd-mm-yyyy" ng-change="calcularAnioProEditarLic()" ng-required="true"
                                        is-open="date_fecTer" close-text="Cerrar" show-meridian="true" datepicker-options="opcionesFechaTer"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_fecTer = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tiempo Calculado: </label>
                            <table>
                                <tr style="background-color: rgb(255, 246, 228)">
                                    <td>
                                        <label class="col-sm-3 control-label">AÑOS </label>
                                    </td>
                                    <td>
                                        <label class="col-sm-3 control-label">MESES</label>
                                    </td>
                                    <td>
                                        <label class="col-sm-3 control-label">DIAS </label>
                                    </td>
                                </tr>
                                <tr style="background-color: rgb(255, 246, 228)">
                                    <td>
                                        <input type="number" class="form-control" placeholder="AÑOS" min="0" max="150" ng-model="licenciaSel.anioPro">
                                    </td>
                                    <td>
                                        <input type="number" class="form-control" placeholder="MESES" min="0" max="12" ng-model="licenciaSel.mesPro">
                                    </td>
                                    <td>
                                        <input type="number" class="form-control" placeholder="DIAS" min="0" max="30" ng-model="licenciaSel.diaPro">
                                    </td>
                                </tr>
                            </table>
                        </div>
                        
                        
                        
                        <hr style="border-color:gainsboro">
                        <h4>Datos de Informe</h4>
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Tipo de documento: </label>
                            <div class="col-sm-9">
                                <select class="form-control" ng-model="licenciaSel.tipDocIdSec" ng-options="t.id as t.nom for t in tiposDocumentos">
                                   <option value="">-- Seleccione --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">N° de documento: </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" placeholder="N° de documento" ng-model="licenciaSel.numDocSec">
                            </div>
                            <label class="col-sm-3 control-label">Fecha de documento: </label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="licenciaSel.fecDocSec" 
                                        placeholder="dd-mm-yyyy"  
                                        is-open="date_fecRes" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_fecRes = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        
                        <hr style="border-color:gainsboro">
                        <h4>Datos de Reincorporacion</h4>
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Tipo de documento: </label>
                            <div class="col-sm-9">
                                <select class="form-control" ng-model="licenciaSel.tipDocIdMemo" ng-options="t.id as t.nom for t in tiposDocumentos">
                                   <option value="">-- Seleccione --</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">N° de Resolución </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Número de Informe" ng-model="licenciaSel.numInfMemo">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha de documento: </label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="licenciaSel.fecInfMemo" 
                                        placeholder="dd-mm-yyyy"   
                                        is-open="date_fecInfM" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_fecInfM = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                            
                            
                            <label class="col-sm-3 control-label">Fecha de reincorporacion: </label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="licenciaSel.fecRecInMemo" 
                                        placeholder="dd-mm-yyyy"  
                                        is-open="date_fecRecInfMemo" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_fecRecInfMemo = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        
                        <div class="form-group">
                        </div>
                        
                        
                        <hr style="border-color:gainsboro">
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Motivo: </label>
                            <div class="col-sm-9">
                                <textarea row="2" type="text" class="form-control" placeholder="Motivo" ng-model="licenciaSel.mot"></textarea>
                            </div>
                        </div>
                        
                        <div class="form-group">   
                            <label class="col-sm-3 control-label">Estado de proceso: </label>
                            <div class="col-sm-9">
                                <select class="form-control" ng-model="licenciaSel.estProId" ng-options="ep.id as ep.nom for ep in estadosProceso">
                                   <option value="">-- Seleccione --</option> 
                                </select>
                            </div>
                        </div>
                    </div>       
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click= "cancel()" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="actualizarLicencia()">Registrar datos</button>
            </div>
        </div>
    </div>
</div>       
