<div class="row" >
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h4 style="display:inline;line-height: 1.9">LISTA DE TRABAJADORES</h4>
                <span class="tools pull-right">
                    <button class="btn btn btn-primary btn-sm" title="Nuevo Trabajador" ng-click="nuevoTrabajador()">Nuevo Trabajador <i class="fa fa-plus"></i></button>
                </span>
            </header>
            <div class="panel-body">
                <div id="editable-sample_wrapper" class="dataTables_wrapper form-inline" role="grid">
                    <div class="table-responsive" >
                        <table class="table table-striped table-hover"  ng-table ="tablaTrabajadores" ng-init="listarTrabajadores(10,0)">
                            <colgroup>
                                <col width="5%" />
                                <col width="20%" />
                                <col width="20%" />
                                <col width="20%" />
                                <col width="20%" />
                                <col width="15%" />
                            </colgroup> 
                            <tr>
                                <th>N</th>
                                <th>Apellido Paterno</th>
                                <th>Apellido Materno</th>
                                <th>Nombre</th>
                                <th>DNI</th>
                                <th>Accion</th>
                            </tr>
                            <tr>
                                <td></td>
                                <!--<td><input ng-model="f.apePat" ng-change="filter_by('apePat',f.apePat)"></td>
                                <td><input ng-model="f.apeMat" ng-change="filter_by('apeMat',f.apeMat)"></td>
                                <td><input ng-model="f.nombre" ng-change="filter_by('nombre',f.nombre)"></td>
                                <td><input ng-model="f.DNI" ng-change="filter_by('DNI',f.DNI)"></td>-->
                                <td><input ng-model="confFiltros[0].data" ng-change="filtrar()"></td>
                                <td><input ng-model="confFiltros[1].data" ng-change="filtrar()"></td>
                                <td><input ng-model="confFiltros[2].data" ng-change="filtrar()"></td>
                                <td><input ng-model="confFiltros[3].data" ng-change="filtrar()"></td>
                                <td></td>
                            </tr>
                            <tr ng-repeat-start="d in $data">

                                <td>{{d.i}}</td>
                                <td>{{d.perApePat}}</td>
                                <td>{{d.perApeMat}}</td>
                                <td>{{d.perNom}}</td>
                                <td>{{d.perDni}}</td>  
                                <td data-title="'Acción'" style="text-align: center;width: 100px">
                                    <button class="btn btn-success btn-xs" ng-click="d.ver = !d.ver" title="Ver cargos"><i class="fa" ng-class="{'fa-chevron-down': d.ver,'fa-chevron-right': !d.ver}"></i></button>
                                    <button title="Actualizar Datos Personales" class="btn btn-info btn-xs" ng-click="actualizarDatosTrabajador(d)">
                                        <span class="glyphicon glyphicon-edit" ></span>
                                    </button>
                                    <button rel="preload" title="Ver legajo digitalizado" class="btn btn-warning btn-xs" ng-click="prepararVerLegajoPersonalRidea(d)">
                                        <span class="glyphicon glyphicon-folder-open"></span>
                                    </button>
                                </td>
                            </tr>
                            <tr ng-show="d.ver" ng-hide="!d.ver" ng-repeat="t in d.trabajadores" style="background-color: rgb(221, 246, 221)" ng-repeat-end>
                                    <td></td>
                                    <td>Planilla:</td>
                                    <td>{{t.nomPla}}</td>
                                    <td>Categoria:</td>
                                    <td>{{t.nomCat}}</td>
                                    <td>
                                        <center>
                                            <button title="Visualizar Ficha Escalafonaria" class="btn btn-primary btn-xs" ng-click="visualizarFichaEscalafonaria(t)">
                                                <span class="glyphicon glyphicon-eye-open"></span> Datos Escalafón
                                            </button>
                                        </center>
                                    </td>
                            </tr>
                        </table>
                        <div class='btn-group'>
                            <button type='button' class='btn btn-default' ng-disabled='currentPage == 0' ng-click='mostrarDataPagAnt()'>&laquo;</button>
                            <!--<button type='button' class='btn btn-default' ng-disabled='currentPage == 0' ng-click='(currentPage = currentPage - 1);mostrarDataPagAnt()'>&laquo;</button>-->
                            <button type='button' class='btn btn-default' ng-disabled='currentPage == page.no - 1' ng-click='setPage(page.no)' ng-repeat='page in pages'>{{page.no}}</button>
                            <button type='button' class='btn btn-default' ng-disabled='currentPage >= canTotTra/pageSize - 1' ng-click='mostrarDataPagSig()'>&raquo;</button>
                            <!--<button type='button' class='btn btn-default' ng-disabled='currentPage >= canTotUsu/pageSize - 1' ng-click='mostrarDataPagSig()'>&raquo;</button>-->
                        </div>
                    </div>    
                </div>
            </div>
        </section>
    </div>
</div>
