<div class="col-lg-12">
    <section class="panel">
        <header class="panel-heading">
            <div class="table-responsive">
                <table class="table">
                <colgroup>
                                    <col width="85%" />
                                    <col width="15%" />
                                    
                </colgroup>
                <tr>                    
                    <td>
                         ACTUALIZAR FICHA ESCALAFONARIA
                        <h5 style="text-align:left">Perteneciente a: <span>{{trabajadorData != "" ? trabajadorData : "No registrado" }}</span></h5>
                        <h5 style="text-align:left">DNI: <span>{{trabajadorDNI != "" ? trabajadorDNI : "No registrado" }}</span></h5>
                    </td>
                    <td>
                        <div class="col-xs-3 imagen">
                            <br>
                          <img src="{{perfil}}" class="imagen-usuario img-circle">
                        </div>                                                
                    </td>
                </tr>
            </table>
           </div>             
        </header>
        <table>
            <tr ng-repeat="l in dataRidea">
                <td data-title="'Accion'"  style="text-align: center;width: 70px">
                    <button ng-disabled="!l.estagrupamiento"  title= "Ver Agrupamientos" class="btn btn-success btn-lg" ng-click="prepararVerAgrups(l); showAgrupamiento()" ng-show="mostrarButtonOpen" ng-hide="mostrarButtonClose">
                        <span class="glyphicon glyphicon-eye-open"> Ver Legajo</span>
                    </button>
                </td>

                <td data-title="'Accion'"  style="text-align: center;width: 70px">
                    <button ng-disabled="!l.estagrupamiento"  title= "Ver Agrupamientos" class="btn btn-danger btn-lg" ng-click="prepararVerAgrups(l); hideAgrupamiento()" ng-show="mostrarButtonClose" ng-hide="mostrarButtonOpen">
                        <span class="glyphicon glyphicon-eye-close"> Ocultar Legajo</span>
                    </button>
                </td>
            </tr>
        </table>
        <div  class="btn-group-vertical" ng-show="mostrarAgrupamiento" ng-hide="ocultarAgrupamiento">
            <article >
                <section >
                    <ul>
                        <li ng-repeat="ag in doc.agrupamientos">
                            <a class="btn btn-primary btn-md btn-block" rel="preload" ng-click="OpenBrowserInNewTab(doc.coddocumento, ag.nroPagAgrp, ag.pagInicio, uriv)" >{{ag.Agrupamiento != "" ? ag.Agrupamiento : "No registrado" }}</a>
                    </ul>		
                </section>
            </article>
        </div>

        <div class="panel-body">
            <uib-tabset id="tabModificarFichaEscalafonaria" active="tabPrincipal" justified="true" >
                <uib-tab index="0" heading="Tipo de trabajador">
                    <div class="panel-body">
                        <div class="table-responsive" ng-init="">
                            <table class="table table-striped table-hover"  ng-table ="tablaDatCenLab" ng-init="listarDatCenLab()">
                                <colgroup>
                                    <col width="30%">
                                    <col width="20%">
                                    <col width="20%">
                                    <col width="1%">
                                    <col width="29%">
                                </colgroup>
                                <tr ng-repeat-start="d in $data">
                                    <!--<td data-title="'Código UNSA'"  style="text-align: center;" filter="{ codTra: 'text'}" sortable="'codTra'">{{d.perCod != "" ? d.perCod : "No registrado" }}</td>-->
                                    <td data-title="'Cargo'"  style="text-align: center;" sortable="'rolNom'">{{d.rolNom != "" ? d.rolNom : "No registrado" }}</td>
                                    <td data-title="'Código ESCALAFON'"  style="text-align: center;" sortable="'codTra'">{{d.perId != "" ? d.perId : "No registrado" }}</td>
                                    
                                    <td data-title="'Proyecciones y Reportes'" style="text-align: center;">
                                        <button title="Ver Proyección" class="btn btn-success btn-sm" ng-click="prepararEditarProyeccion(d)">
                                            <span class="glyphicon glyphicon-fullscreen"></span>
                                        </button>
                                        <button title="Reporte personalizado area Escalafón" class="btn btn-warning btn-sm" ng-click="prepararReportePersonalizado(d)">
                                            <span class="glyphicon glyphicon-level-up"></span>
                                        </button>
                                        <button title="Ver reporte ficha escalafonaria" class="btn btn-info btn-sm" ng-click="verFichaEscalafonaria(d)">
                                            <span class="glyphicon glyphicon-file" ></span>
                                        </button>
                                    </td>
                                    <td></td>
                                    <td data-title="'Acción'" style="text-align: center;">
                                        <button class="btn btn-primary btn-sm" ng-click="showOrganigramaRegLab(d)" title="Editar Organigrama">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                        <button title="Realizar Desplazamiento" class="btn btn-warning btn-sm" ng-click="showRealizarRotacion(d)">
                                            <span class="glyphicon glyphicon-share"></span>
                                        </button>
                                        
                                        <button id="{{'btn-dplz' + d.i}}" type="submit" class="btn btn-danger btn-sm" ng-click="cambiarEstadoLaboral(d)">
                                            {{mostrarOpcionDesplazamiento(d)}}
                                        </button>
                                    </td>
                                </tr>
                                <tr style="background-color: rgb(255, 246, 228)">
                                    <td>Planilla: {{d.nomPla != "" ? d.nomPla : "No registrado" }}</td>
                                    <td>Categoria: {{d.nomCat != "" ? d.nomCat : "No registrado" }}</td>
                                    <td>Cargo: {{d.nomCar != "" ? d.nomCar : "No registrado" }}</td>
                                    <td colspan=2></td>
                                </tr>
                                <tr style="background-color: rgb(255, 246, 228)">
                                    <td>Ubicación: {{d.nomUbi != "" ? d.nomUbi : "No registrado" }}</td>
                                    <td>Año: {{d.anioDatOrgi != "" ? d.anioDatOrgi : "No registrado" }}</td>
                                    <td>Nombre de Organigrama: {{d.nomDatOrgi != "" ? d.nomDatOrgi : "No registrado" }}</td>
                                    <td colspan=2></td>
                                </tr>
                                <tr style="background-color: rgb(255, 246, 228)" ng-repeat-end>
                                    <td>Organigrama: {{d.nomOrgiN3 != "" ? d.nomOrgiN3 : "No registrado" }}</td>
                                    <td>{{d.nomOrgiN2 != "" ? d.nomOrgiN2 : "No registrado" }}</td>
                                    <td>{{d.nomOrgiN1 != "" ? d.nomOrgiN1 : "No registrado" }}</td>
                                    <td colspan=2></td>
                                </tr>
                            </table>
                        </div> 
                        
                        <div class="form-group" ng-show="estadoInfoOrgi" ng-hide="!estadoInfoOrgi">
                            <div class="form-group">
                                <label class="col-sm-3 control-label ">Organigrama: </label>
                                <div class="col-sm-3">
                                    <select class="form-control" ng-model="organigrama.id">
                                        <option ng-repeat="o in organigramas" value="{{o.datId}}">{{o.nomDat}}</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div id="editable-sample_wrapper" class="dataTables_wrapper form-inline" role="grid">
                                <div class="table-responsive" >
                                    <table class="table table-striped table-hover"  ng-table ="tablaOrganismos" ng-init="listarTiposOrganismos()">
                                        <colgroup>
                                            <col width="5%" />
                                            <col width="20%" />
                                        </colgroup> 
                                        <tr ng-repeat="d in $data">
                                            <td>{{d.i}}</td>
                                            <td>{{d.nomTipOrga}}</td>
                                            <td><select ng-model="datos.orgId" ng-options="option.orgId as option.nomOrg for option in d.organismos"></select></td>
                                        </tr>
                                    </table>
                                </div>    
                            </div>
                        </div>    
                        
                    </div>
                </uib-tab>

                <uib-tab index="1" heading="Record Laboral">
                    <br>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover" ng-init="listarDesplazamientos()" ng-table ="tablaModDesplazamientos" >
                                <colgroup>
                                    <col width="5%" />
                                    <col width="20%" />
                                    <col width="20%" />
                                    <col width="10%" />
                                    <col width="19%" />
                                    <col width="19%" />
                                    <col width="1%" />
                                    <col width="1%" />
                                    <col width="10%" />
                                </colgroup>
                                <tr ng-repeat-start="des in $data">
                                    <td data-title="'N°'" >{{$index}}</td>
                                    <td data-title="'Tipo'"  style="text-align: center;width: 70px" filter="{ tipDes: 'text'}" sortable="'tipDes'">{{des.tipDes != "" ? des.tipDes : "No registrado" }}</td>
                                    <td data-title="'Fecha de inicio y/o término'"  style="text-align: center;width: 70px" filter="{ fechaDes: 'text'}" sortable="'fecIni'">{{des.fechaDes !== "" ? des.fechaDes : "No registrado"| date : "dd-MM-yyyy"}}</td>
                                    <td data-title="'Tipo de documento'"  style="text-align: center;width: 70px" filter="{ tipDocDes: 'text'}" sortable="'tipDocDes'">{{des.tipDocDes !== "" ? des.tipDocDes : "No registrado" }}</td>
                                    <td data-title="'Nº de documento'"  style="text-align: center;width: 70px" filter="{ numeroDoc: 'text'}" sortable="'numDoc'">{{des.numeroDoc !== "" ? des.numeroDoc : "No registrado" }}</td>
                                    <td data-title="'Fecha de documento'"  style="text-align: center;width: 70px" filter="{ fechaDoc: 'text'}" sortable="'fecDoc'">{{des.fechaDoc !== "" ? des.fechaDoc : "No registrado"| date : "dd-MM-yyyy"}}</td>
                                    <!--<td data-title="'Jornada Laboral'"  style="text-align: center;width: 70px" filter="{ jorLabDes: 'text'}" sortable="'jorLabDes'">{{des.jorLabDes !== "" ? des.jorLabDes : "No registrado" }}</td>-->
                                    <td></td>
                                    <td></td>
                                    <td data-title="'Acción'" style="text-align: center;width: 100px">
                                        <!--FELIPE -->
                                        <button class="btn btn-primary btn-xs" ng-click="des.ingHis = !des.ingHis" title="ver historico"><i class="fa" ng-class="{'fa-chevron-down': des.ingHis,'fa-chevron-right': !des.ingHis}"></i></button>
                                        <!--FELIPE -->
                                        <button class="btn btn-primary btn-xs" ng-click="prepararEditarDesplazamiento(des)">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                    </td>
                                </tr>
                                <!--FELIPE -->
                                <tr ng-show="des.ingHis" ng-hide="!des.ingHis" style="background-color: rgb(255, 246, 228)">
                                    <td>Planilla:</td>
                                    <td>{{des.nomPla != "" ? des.nomPla : "No registrado" }}</td>
                                    <td>Categoria:</td>
                                    <td>{{des.nomCat != "" ? des.nomCat : "No registrado" }}</td>
                                    <td>Cargo:</td>
                                    <td>{{des.nomCar != "" ? des.nomCar : "No registrado" }}</td>
                                    <td>Ubicación:</td>
                                    <td>{{des.nomUbi != "" ? des.nomUbi : "No registrado" }}</td>
                                </tr>
                                <tr ng-show="des.ingHis" ng-hide="!des.ingHis" style="background-color: rgb(255, 246, 228)" ng-repeat-end>
                                    <td>Año y Nombre de Organigrama:</td>
                                    <td>{{des.anioDatOrgi != "" ? des.anioDatOrgi : "No registrado" }}</td>
                                    <td>{{des.nomDatOrgi != "" ? des.nomDatOrgi : "No registrado" }}</td>
                                    <td>Organigrama:</td>
                                    <td>{{des.nomOrgiN3 != "" ? des.nomOrgiN3 : "No registrado" }}</td>
                                    <td>{{des.nomOrgiN2 != "" ? des.nomOrgiN2 : "No registrado" }}</td>
                                    <td>{{des.nomOrgiN1 != "" ? des.nomOrgiN1 : "No registrado" }}</td>
                                    <td></td>
                                </tr>
                                <!--FELIPE -->
                            </table>
                        </div>   
                    </div>

                </uib-tab>

                <uib-tab index="2" heading="Interrupciones">
                    <br>
                    <div align="right">  
                        <button class="btn btn btn-success" ng-click="showNuevoCese()" ng-disabled="estLabTraSel === '4' && estLabTraSel !== '' && estLabTraSel !== undefined">
                            <span class="glyphicon glyphicon-plus-sign"></span> Nueva Interrupción
                        </button>
                    </div>
                    <br>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover" ng-init="listarCeses()" ng-table ="tablaModCeses" >
                                <colgroup>
                                    <col width="5%" />
                                    <col width="10%" />
                                    <col width="15%" />
                                    <col width="10%" />
                                    <col width="10%" />
                                    <col width="10%" />
                                    <col width="10%" />
                                    <col width="7%" />
                                    <col width="7%" />
                                    <col width="6%" />
                                    <col width="10%" />
                                </colgroup>
                                <tr ng-repeat-start="des in $data">
                                    <td data-title="'N°'"  style="text-align: center;width: 70px" >{{$index}}</td>
                                    <td data-title="'Tipo'"  style="text-align: center;width: 70px" filter="{ tipCesDes: 'text'}" sortable="'tipCesDes'">{{des.tipCesDes != "" ? des.tipCesDes : "No registrado" }}</td>
                                    <td data-title="'Tipo de documento'"  style="text-align: center;width: 70px" filter="{ tipDocDes: 'text'}" sortable="'tipDocDes'">{{des.tipDocDes != "" ? des.tipDocDes : "No registrado" }}</td>
                                    <td data-title="'Nº de documento'"  style="text-align: center;width: 70px" filter="{ numDoc: 'number'}" sortable="'numDoc'">{{des.numDoc != "" ? des.numDoc : "No registrado" }}</td>
                                    <td data-title="'Fecha de documento'"  style="text-align: center;width: 70px" sortable="'fecDoc'">{{des.fecDoc !== "" ? des.fecDoc : "No registrado"| date : "dd-MM-yyyy"}}</td>
                                    <td data-title="'Fecha de inicio'"  style="text-align: center;width: 70px" sortable="'fecIni'">{{des.fecIni !== "" ? des.fecIni : "No registrado"| date : "dd-MM-yyyy"}}</td>
                                    <td data-title="'Fecha de término'"  style="text-align: center;width: 70px" sortable="'fecTer'">{{des.fecTer !== "" ? des.fecTer : "No registrado"| date : "dd-MM-yyyy"}}</td>
                                    <td data-title="'Años'"  style="text-align: center;width: 70px" filter="{ aniosPro: 'number'}" sortable="'aniosPro'">{{des.aniosPro != "" ? des.aniosPro : "0"}}</td>
                                    <td data-title="'Meses'"  style="text-align: center;width: 70px" filter="{ mesesPro: 'number'}" sortable="'mesesPro'">{{des.mesesPro != "" ? des.mesesPro : "0"}}</td>
                                    <td data-title="'Dias'"  style="text-align: center;width: 70px" filter="{ diasPro: 'number'}" sortable="'diasPro'">{{des.diasPro != "" ? des.diasPro : "0"}}</td>
                                    <td data-title="'Acción'" style="text-align: center;width: 100px">
                                        <!--FELIPE -->
                                        <button class="btn btn-primary btn-xs" ng-click="des.intHis = !des.intHis" title="ver historico"><i class="fa" ng-class="{'fa-chevron-down': des.intHis,'fa-chevron-right': !des.intHis}"></i></button>
                                        <!--FELIPE -->
                                        <button class="btn btn-primary btn-xs" ng-click="prepararEditarCese(des)">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                        <button class="btn btn-danger btn-xs md-primary md-raised" ng-click="eliminarCese(des)">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </td>
                                </tr>
                                <!--FELIPE -->
                                <tr ng-show="des.intHis" ng-hide="!des.intHis" style="background-color: rgb(255, 246, 228)">
                                    <td></td>
                                    <td></td>
                                    <td>Planilla:</td>
                                    <td>{{des.nomPla != "" ? des.nomPla : "No registrado" }}</td>
                                    <td>Categoria:</td>
                                    <td>{{des.nomCat != "" ? des.nomCat : "No registrado" }}</td>
                                    <td>Cargo:</td>
                                    <td>{{des.nomCar != "" ? des.nomCar : "No registrado" }}</td>
                                    <td>Ubicación:</td>
                                    <td>{{des.nomUbi != "" ? des.nomUbi : "No registrado" }}</td>
                                </tr>
                                <tr ng-show="des.intHis" ng-hide="!des.intHis" style="background-color: rgb(255, 246, 228)" ng-repeat-end>
                                    <td></td>
                                    <td></td>
                                    <td>Año y Nombre de Organigrama:</td>
                                    <td>{{des.anioDatOrgi != "" ? des.anioDatOrgi : "No registrado" }}</td>
                                    <td>{{des.nomDatOrgi != "" ? des.nomDatOrgi : "No registrado" }}</td>
                                    <td>Organigrama:</td>
                                    <td>{{des.nomOrgiN3 != "" ? des.nomOrgiN3 : "No registrado" }}</td>
                                    <td>{{des.nomOrgiN2 != "" ? des.nomOrgiN2 : "No registrado" }}</td>
                                    <td>{{des.nomOrgiN1 != "" ? des.nomOrgiN1 : "No registrado" }}</td>
                                    <td></td>
                                </tr>
                                <!--FELIPE -->
                            </table>
                        </div>
                    </div>

                </uib-tab>
                <uib-tab index="3" heading="Desplazamientos">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover" ng-init="listarAscensos()" ng-table ="tablaModAscensos" >
                                <colgroup>
                                    <col width="5%" />
                                    <col width="5%" />
                                    <col width="20%" />
                                    <col width="20%" />
                                    <col width="10%" />
                                    <col width="10%" />
                                    <col width="19%" />
                                    <col width="1%" />
                                    <col width="10%" />

                                </colgroup>
                                <tr ng-repeat-start="a in $data">
                                    <td data-title="'N°'" >{{$index}}</td>
                                    <td data-title="'Tipo'"  style="text-align: center;width: 70px" filter="{ tipDes: 'text'}" sortable="'tipDes'">{{a.tipDes != "" ? a.tipDes: "No registrado" }}</td>
                                    <td data-title="'Tipo de documento'"  style="text-align: center;width: 70px" filter="{ tipDocDes: 'text'}" sortable="'tipDocDes'">{{a.tipDocDes != "" ? a.tipDocDes : "No registrado" }}</td>
                                    <td data-title="'N° de documento'"  style="text-align: center;width: 70px" filter="{ numDoc: 'text'}" sortable="'numDoc'">{{a.numDoc != "" ? a.numDoc : "No registrado" }}</td>
                                    <td data-title="'Fecha de documento'"  style="text-align: center;width: 70px" filter="{ fecDoc: 'date'}" sortable="'fecDoc'">{{a.fecDoc !== "" ? a.fecDoc : "No registrado"| date : "dd-MM-yyyy"}}</td>
                                    <td data-title="'Fecha que surte efecto '"  style="text-align: center;width: 70px" filter="{ fecEfe: 'date'}" sortable="'fecEfe'">{{a.fecEfe !== "" ? a.fecEfe : "No registrado"| date : "dd-MM-yyyy"}}</td>
                                    <td data-title="'Motivo '"  style="text-align: center;width: 70px">{{a.mot != "" ? a.mot : "No registrado" }}</td>
                                    <td></td>
                                    <td data-title="'Acción'" style="text-align: center;width: 100px">
                                        <!--FELIPE -->
                                        <button class="btn btn-primary btn-xs" ng-click="a.ascHis = !a.ascHis" title="ver historico"><i class="fa" ng-class="{'fa-chevron-down': a.ascHis,'fa-chevron-right': !a.ascHis}"></i></button>
                                        <!--FELIPE -->
                                        <button class="btn btn-primary btn-xs" ng-click="prepararEditarAscenso(a)">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                    </td>
                                </tr>
                                <!--FELIPE -->
                                <tr ng-show="a.ascHis" ng-hide="!a.ascHis" style="background-color: rgb(255, 246, 228)">
                                    <td colspan=8 align="center">DATOS ORGANIZACIONALES ANTERIORES</td>
                                </tr>
                                <tr ng-show="a.ascHis" ng-hide="!a.ascHis" style="background-color: rgb(255, 246, 228)">
                                    <td>Planilla:</td>
                                    <td>{{a.nomAntPla != "" ? a.nomAntPla : "No registrado" }}</td>
                                    <td>Categoria:</td>
                                    <td>{{a.nomAntCat != "" ? a.nomAntCat : "No registrado" }}</td>
                                    <td>Cargo:</td>
                                    <td>{{a.nomAntCar != "" ? a.nomAntCar : "No registrado" }}</td>
                                    <td>Ubicación:</td>
                                    <td>{{a.nomAntUbi != "" ? a.nomAntUbi : "No registrado" }}</td>
                                </tr>
                                <tr ng-show="a.ascHis" ng-hide="!a.ascHis" style="background-color: rgb(255, 246, 228)">
                                    <td>Año y Nombre de Organigrama:</td>
                                    <td>{{a.nomAntAnioOrgi != "" ? a.nomAntAnioOrgi : "No registrado" }}</td>
                                    <td>Organigrama:</td>
                                    <td>{{a.nomAntOrgi != "" ? a.nomAntOrgi : "No registrado" }}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                
                                <tr ng-show="a.ascHis" ng-hide="!a.ascHis" style="background-color: rgb(255, 246, 228)">
                                    <td colspan=8 align="center">DATOS ORGANIZACIONALES POSTERIORES</td>
                                </tr>
                                <tr ng-show="a.ascHis" ng-hide="!a.ascHis" style="background-color: rgb(255, 246, 228)">
                                    <td>Planilla:</td>
                                    <td>{{a.nomPostPla != "" ? a.nomPostPla : "No registrado" }}</td>
                                    <td>Categoria:</td>
                                    <td>{{a.nomPostCat != "" ? a.nomPostCat : "No registrado" }}</td>
                                    <td>Cargo:</td>
                                    <td>{{a.nomPostCar != "" ? a.nomPostCar : "No registrado" }}</td>
                                    <td>Ubicación:</td>
                                    <td>{{a.nomPostUbi != "" ? a.nomPostUbi : "No registrado" }}</td>
                                </tr>
                                <tr ng-show="a.ascHis" ng-hide="!a.ascHis" style="background-color: rgb(255, 246, 228)" ng-repeat-end>
                                    <td>Año y Nombre de Organigrama:</td>
                                    <td>{{a.nomPostAnioOrgi != "" ? a.nomPostAnioOrgi : "No registrado" }}</td>
                                    <td>Organigrama:</td>
                                    <td>{{a.nomPostOrgi != "" ? a.nomPostOrgi : "No registrado" }}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <!--FELIPE -->
                            </table>
                        </div>
                    </div>

                </uib-tab>

                <uib-tab index="4" heading="Vacaciones">
                    <div align="right">  
                        <button class="btn btn btn-success" ng-click="showNuevaVacacion()">
                            <span class="glyphicon glyphicon-plus-sign"></span> Nuevo
                        </button>
                    </div>

                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover" ng-init="listarVacaciones()" ng-table="tablaModVacaciones">
                                <colgroup>
                                    <col width="7%" />
                                    <col width="7%" />
                                    <col width="7%" />
                                    <col width="7%" />
                                    <col width="7%" />
                                    <col width="7%" />
                                    <col width="8%" />
                                    <col width="8%" />
                                    <col width="1%" />
                                    <col width="8%" />
                                    <col width="8%" />
                                    <col width="9%" />
                                    <col width="8%" />
                                    <col width="8%" />
                                </colgroup>
                                <tr ng-repeat-start="vac in $data">
                                    <td data-title="'N°'"  style="text-align: center;width: 70px" >{{$index}}</td>
                                    <td data-title="'Entidad que emite resolución'"  style="text-align: center">{{vac.entEmi != "" ? vac.entEmi : "No registrado" }}</td>
                                    <td data-title="'N° de informe'"  style="text-align: center">{{vac.numInf != "" ? vac.numInf : "No registrado" }}</td>
                                    <td data-title="'Fecha de informe'"  style="text-align: center">{{vac.fecInf !== "" ? vac.fecInf : "No registrado"| date : "dd-MM-yyyy"}}</td>
                                    <td data-title="'Fecha de recepción de informe'"  style="text-align: center">{{vac.fecRecInf !== "" ? vac.fecRecInf : "No registrado"| date : "dd-MM-yyyy"}}</td>
                                    <td data-title="'Número de resolución'"  style="text-align: center">{{vac.numDoc != "" ? vac.numDoc : "No registrado" }}</td>
                                    <td data-title="'Tipo de documento'"  style="text-align: center">{{vac.tipDocDes != "" ? vac.tipDocDes : "No registrado" }}</td>
                                    <td data-title="'Fecha de documento'"  style="text-align: center">{{vac.fecDoc !== "" ? vac.fecDoc : "No registrado"| date : "dd-MM-yyyy"}}</td>
                                    <td data-title="''"  style="text-align: center"></td>
                                    <!--<td data-title="'C/G o S/G'" style="text-align: center">{{vac.estGocDes != "" ? vac.estGocDes : "No registrado" }}</td>-->
                                    <td data-title="'Fecha de inicio'"  style="text-align: center">{{vac.fecIni !== "" ? vac.fecIni : "No registrado"| date : "dd-MM-yyyy"}}</td>
                                    <td data-title="'Fecha de fin'"  style="text-align: center">{{vac.fecTer !== "" ? vac.fecTer : "No registrado"| date : "dd-MM-yyyy"}}</td>
                                    <td data-title="'Motivo '"  style="text-align: center">{{vac.mot != "" ? vac.mot : "No registrado" }}</td>
                                    <td data-title="'Estado de proceso'"  style="text-align: center">{{vac.estProDes != "" ? vac.estProDes : "No registrado" }}</td>
                                    <td data-title="'Accion'" style="text-align: center">
                                        <!--FELIPE -->
                                        <button class="btn btn-primary btn-xs" ng-click="vac.vacHis = !vac.vacHis" title="ver historico"><i class="fa" ng-class="{'fa-chevron-down': vac.vacHis,'fa-chevron-right': !vac.vacHis}"></i></button>
                                        <!--FELIPE -->
                                        <button class="btn btn-primary btn-xs" ng-click="prepararEditarVacacion(vac)">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                        <button class="btn btn-danger btn-xs md-primary md-raised" ng-click="eliminarVacacion(vac)">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </td>
                                </tr>
                                <!--FELIPE -->
                                <tr ng-show="vac.vacHis" ng-hide="!vac.vacHis" style="background-color: rgb(255, 246, 228)">
                                    <td colspan="1"></td>
                                    <td colspan="1">Planilla:</td>
                                    <td colspan="2">{{vac.nomPla != "" ? vac.nomPla : "No registrado" }}</td>
                                    <td colspan="1">Categoria:</td>
                                    <td colspan="2">{{vac.nomCat != "" ? vac.nomCat : "No registrado" }}</td>
                                    <td colspan="1">Cargo:</td>
                                    <td colspan="2">{{vac.nomCar != "" ? vac.nomCar : "No registrado" }}</td>
                                    <td colspan="1">Ubicación:</td>
                                    <td colspan="2">{{vac.nomUbi != "" ? vac.nomUbi : "No registrado" }}</td>
                                    <td colspan="1"></td>
                                </tr>
                                <tr ng-show="vac.vacHis" ng-hide="!vac.vacHis" style="background-color: rgb(255, 246, 228)" ng-repeat-end>
                                    <td colspan="1"></td>
                                    <td colspan="2">Año y Nombre de Organigrama:</td>
                                    <td colspan="1">{{vac.anioDatOrgi != "" ? vac.anioDatOrgi : "No registrado" }}</td>
                                    <td colspan="1">{{vac.nomDatOrgi != "" ? vac.nomDatOrgi : "No registrado" }}</td>
                                    <td colspan="1">Organigrama:</td>
                                    <td colspan="2">{{vac.nomOrgiN3 != "" ? vac.nomOrgiN3 : "No registrado" }}</td>
                                    <td colspan="2">{{vac.nomOrgiN2 != "" ? vac.nomOrgiN2 : "No registrado" }}</td>
                                    <td colspan="2">{{vac.nomOrgiN1 != "" ? vac.nomOrgiN1 : "No registrado" }}</td>
                                    <td colspan="2"></td>
                                    
                                </tr>
                                <!--FELIPE -->
                            </table>
                        </div>
                    </div>

                </uib-tab>

                <uib-tab index="5" heading="Licencias">
                    <div align="right">  
                        <button class="btn btn btn-success" ng-click="showNuevaLicencia()">
                            <span class="glyphicon glyphicon-plus-sign"></span> Nuevo
                        </button>
                    </div>
                    <br/>

                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover" ng-init="listarLicencias()" ng-table ="tablaModLicencias">
                                <colgroup>
                                    <col width="5%" />
                                    <col width="10%" />
                                    <col width="10%" />
                                    <col width="10%" />
                                    <col width="10%" />
                                    <col width="5%" />
                                    <col width="10%" />
                                    <col width="10%" />
                                    <col width="10%" />
                                    <col width="10%" />
                                    <col width="10%" />
                                </colgroup>
                                <tr ng-repeat-start="lic in $data">
                                    <td data-title="'N°'"  style="text-align: center;width: 70px" >{{$index}}</td>
                                    <!--<td data-title="'Entidad que emite resolución'"  style="text-align: center">{{lic.entEmi != "" ? lic.entEmi : "No registrado" }}</td>
                                    <td data-title="'N° de Resolución'"  style="text-align: center">{{lic.numInf != "" ? lic.numInf : "No registrado" }}</td>
                                    <td data-title="'Fecha de Resolución'"  style="text-align: center">{{lic.fecInf != "" ? lic.fecInf : "No registrado"| date : "dd-MM-yyyy"}}</td>
                                    <td data-title="'Fecha de recepción de Resolución'"  style="text-align: center">{{lic.fecRecInf != "" ? lic.fecRecInf : "No registrado"| date : "dd-MM-yyyy"}}</td>-->
                                    <td data-title="'Fecha de inicio'"  style="text-align: center">{{lic.fecIni !== "" ? lic.fecIni : "No registrado"| date : "dd-MM-yyyy"}}</td>
                                    <td data-title="'Fecha de fin'"  style="text-align: center">{{lic.fecTer !== "" ? lic.fecTer : "No registrado"| date : "dd-MM-yyyy"}}</td>
                                    <td data-title="'Fecha de Reincorporacion'"  style="text-align: center">{{lic.fecRecInMemo !== "" ? lic.fecRecInMemo : "No registrado"| date : "dd-MM-yyyy"}}</td>                                    
                                    <!--<td data-title="'Días'"  style="text-align: center">{{lic.dias != "" ? lic.dias : "No registrado" }}</td>-->
                                    <td data-title="'Tipo'" style="text-align: center" filter="{ tipLicDes: 'text'}" sortable="'tipLicDes'">{{lic.tipLicDes != "" ? lic.tipLicDes : "No registrado" }}</td>
                                    <td data-title="'C/G o S/G'" style="text-align: center" filter="{ estGocDes: 'text'}" sortable="'estGocDes'">{{lic.estGocDes != "" ? lic.estGocDes : "No registrado" }}</td>
                                    <!--<td data-title="'Número de documento'"  style="text-align: center">{{lic.numDoc != "" ? lic.numDoc : "No registrado" }}</td>
                                    <td data-title="'Tipo de documento'"  style="text-align: center">{{lic.tipDocDes != "" ? lic.tipDocDes : "No registrado" }}</td>
                                    <td data-title="'Fecha de documento'"  style="text-align: center">{{lic.fecDoc != "" ? lic.fecDoc : "No registrado"| date : "dd-MM-yyyy" }}</td>
                                    <td data-title="'Motivo '"  style="text-align: center">{{lic.mot != "" ? lic.mot : "No registrado" }}</td>-->
                                    <td data-title="'Estado de proceso'"  style="text-align: center" filter="{ estProDes: 'text'}" sortable="'estProDes'">{{lic.estProDes != "" ? lic.estProDes : "No registrado" }}</td>
                                    <td data-title="'Años'"  style="text-align: center;width: 70px" filter="{ anioPro: 'number'}" sortable="'anioPro'">{{lic.anioPro!= "" ? lic.anioPro : "0" }}</td>
                                    <td data-title="'Meses'"  style="text-align: center;width: 70px" filter="{ mesPro: 'number'}" sortable="'mesPro'">{{lic.mesPro != "" ? lic.mesPro : "0" }}</td>
                                    <td data-title="'Dias'"  style="text-align: center;width: 70px" filter="{ diasPro: 'number'}" sortable="'diasPro'">{{lic.diaPro != "" ? lic.diaPro : "0" }}</td>
                                    <td data-title="'Accion'" style="text-align: center">
                                        <!--FELIPE -->
                                        <button class="btn btn-primary btn-xs" ng-click="lic.licHis = !lic.licHis" title="ver historico"><i class="fa" ng-class="{'fa-chevron-down': lic.licHis,'fa-chevron-right': !lic.licHis}"></i></button>
                                        <!--FELIPE -->
                                        <button class="btn btn-primary btn-xs" ng-click="prepararEditarLicencia(lic)">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                        <button class="btn btn-danger btn-xs md-primary md-raised" ng-click="eliminarLicencia(lic)">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </td>
                                </tr>
                                <!--FELIPE -->
                                <tr ng-show="lic.licHis" ng-hide="!lic.licHis" style="background-color: rgb(255, 246, 228)">
                                    <td></td>
                                    <td colspan="1">Planilla:</td>
                                    <td colspan="1">{{lic.nomPla != "" ? lic.nomPla : "No registrado" }}</td>
                                    <td colspan="1">Categoria:</td>
                                    <td colspan="1">{{lic.nomCat != "" ? lic.nomCat : "No registrado" }}</td>
                                    <td colspan="1">Cargo:</td>
                                    <td colspan="1">{{lic.nomCar != "" ? lic.nomCar : "No registrado" }}</td>
                                    <td colspan="1">Ubicación:</td>
                                    <td colspan="1">{{lic.nomUbi != "" ? lic.nomUbi : "No registrado" }}</td>
                                    <td colspan="2"></td>
                                </tr>
                                <tr ng-show="lic.licHis" ng-hide="!lic.licHis" style="background-color: rgb(255, 246, 228)" ng-repeat-end>
                                    <td></td>
                                    <td colspan="2">Año y Nombre de Organigrama:</td>
                                    <td colspan="1">{{lic.anioDatOrgi != "" ? lic.anioDatOrgi : "No registrado" }}</td>
                                    <td colspan="2">{{lic.nomDatOrgi != "" ? lic.nomDatOrgi : "No registrado" }}</td>
                                    <td colspan="1">Organigrama:</td>
                                    <td colspan="1">{{lic.nomOrgiN3 != "" ? lic.nomOrgiN3 : "No registrado" }}</td>
                                    <td colspan="1">{{lic.nomOrgiN2 != "" ? lic.nomOrgiN2 : "No registrado" }}</td>
                                    <td colspan="1">{{lic.nomOrgiN1 != "" ? lic.nomOrgiN1 : "No registrado" }}</td>
                                    <td></td>
                                    
                                </tr>
                                <!--FELIPE -->
                            </table>
                        </div>
                    </div>

                </uib-tab>


            </uib-tabset>
        </div>
    </section>
</div>