<div class="modal fade"  id="modalVisualizarOrganigramaRegLab">
    <div class="modal-dialog modal-lg" style="width: 80%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label ">Organigrama: </label>
                                    <div class="col-sm-7">
                                        <select class="form-control" ng-model="organigrama.id" ng-options="o.datId as o.nomDat for o in organigramas" ng-init="listarDatosOrg()" ng-change="listarTiposOrganismos()">
                                            <option value="">-- Seleccione --</option>  
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <div class="table-responsive" ng-show="!mostrarMensaje" ng-hide="mostrarMensaje">
                                    <table class="table table-striped table-hover" ng-table="tablaOrganismos" >
                                        <colgroup>
                                            <col width="5%" />
                                            <col width="20%" />
                                            <col width="20%" />
                                        </colgroup> 
                                        <tr ng-repeat="r in $data">
                                            <td>{{r.i}}</td>
                                            <td>{{r.nomTipOrga}}</td>
                                            <td><select ng-model="arregloSelects[r.i]" ng-options="option as option.nomOrg for option in r.organismosFil track by option.orgId" ng-change="actualizarDescendiente(r.i,arregloSelects[r.i].orgId,$last)">
                                                    <option value="">-- Seleccione --</option>                                                
                                                </select>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <h4 style="text-align:left" ng-show="mostrarMensaje" ng-hide="!mostrarMensaje"><span>{{mensajeOrganigrama}}</span></h4>
                            </form>
                        </div>
                        <div class="col-xs-6">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label ">Planilla: </label>
                                    <div class="col-sm-7">
                                        <select class="form-control" ng-model="newTraOrgDetalle.plaId" ng-options="option.plaId as option.nomPla for option in planillas" ng-init="listarPlanillas()" ng-change="listarCategorias()">
                                            <option value="">-- Seleccione --</option> 
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label ">Categoría: </label>
                                    <div class="col-sm-7">
                                        <select class="form-control" ng-model="newTraOrgDetalle.catId" ng-options="option.catId as option.nomCat for option in categorias" ng-init="listarCategorias()">
                                            <option value="">-- Seleccione --</option> 
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label ">Cargo: </label>
                                    <div class="col-sm-7">
                                        <select class="form-control" ng-model="newTraOrgDetalle.carId" ng-options="option.carId as option.nomCar for option in cargos">
                                            <option value="">-- Seleccione --</option> 
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click= "cancel()" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-show="operacion===1" ng-hide="operacion!==1" ng-click="actualizarTraOrgDet()">Registrar datos</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-show="operacion===2" ng-hide="operacion!==2" ng-click="actualizarTraOrgDet()">Actualizar datos</button>
            </div>
        </div>
    </div>
</div>       
