<style>
    .group{
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    border: solid 1px #666;
    }

    .group-conditions{
        margin-left: 20px;
    }

    .alert-group{
        margin-top: 10px;
        margin-bottom: 10px;
        border-color: rgb(192, 152, 83);
        border-color: rgb(251, 238, 213);
        border-color: rgb(220, 200, 150);
    }

    .condition, .group{
        margin-top: 15px;
        margin-bottom: 15px;   
    }
    

md-switch.md-checked .md-bar {
    background-color: #1fb5ad8a;
}
md-switch.md-checked .md-thumb {
    background-color: #1fb5ad;
}
/*Is it possible to change the false state color of Angular Material's mdSwitch?
Stackover*/

</style>
<div class="row" >
    <div class="col-lg-12">
        <section class="panel">
            <!--////////////////////////////////////CONSULTAS FRECUENTES////////////////////////////////-->
            <header class="panel-heading">
                LISTA DE CONSULTAS FRECUENTES
            </header>
            <div class="container" style="width:auto;" ng-init="listarConsultasFrecuentes()">
                <div class="alert alert-warning alert-group">
                    <div class="form-inline">
                        <!--<select class="form-control input-sm" ng-model="idConsulta">
                              <option ng-repeat="f in listaConsultasFrecuentes" value="{{f.titulo}}" >{{f.titulo}}</option>
                        </select>-->
                        <select class="form-control input-sm" ng-model="idConsulta" ng-options="item.con_cer_id as item.tit for item in listaConsultasFrecuentes"></select>
                        <button style="margin-left: 5px" ng-click="cargarConsulta(idConsulta)" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-plus-sign"></span> Cargar Consulta</button>
                        <!--<button style="margin-left: 5px" ng-click="limpiarTablasSel()" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-plus-sign"></span> LIMPIAR TABLAS SEL</button>-->
                    </div>
                </div>
            </div>
            <!--////////////////////////////////////CONSULTAS FRECUENTES////////////////////////////////-->
            </br>
            <header class="panel-heading">
                CONSULTA GENERAL 
            </header>
            <div class="panel-body">
                <div class="form-group">
                        <!--<label class="col-sm-2 control-label">Seleccione Datos para reporte</label>-->
                        <div class="col-sm-12" ng-init="listarTablas()">
                            <header class="panel-heading">
                                SELECCIONE DATOS PARA EL REPORTE 
                            </header>
                            <div class="ms-container" id="ms-my_multi_select2">
                                
                                <div class="ms-selectable">
                                    <h5>Catalogo de datos disponibles</h5>
                                    <ul class="ms-list" tabindex="-1">
                                        <li class="ms-optgroup-container" ng-repeat="sm in listaTablas">
                                            <ul class="ms-optgroup">
                                                <li class="ms-optgroup-label" style="text-transform: uppercase;font-weight: 600;" ng-hide="sm.hide"><span>{{sm.entity_name}} </span></li>
                                                <li class="ms-elem-selectable" ng-repeat="f in sm.atributos" ng-click="seleccionar(f.entity_name,f.atrib_name,f.alias_name,f.indexTab,f.indexAtr)" ng-hide="f.hide"><span>{{f.alias_name}}</span></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                
                                <div class="ms-selection" style="width: 48%">
                                    <h5>Datos Seleccionados para Reporte</h5>
                                    <ul class="ms-list" tabindex="-1">
                                        <li class="ms-optgroup-container" ng-repeat="sm in listaTablasSel">
                                            <ul class="ms-optgroup">
                                                <li class="ms-optgroup-label" style="text-transform: uppercase;font-weight: 600;"><span>{{sm.entity_name}}</span></li>
                                                <li class="ms-elem-selection" ng-repeat="f in sm.atributos" style="padding-right: 0;">
                                                    <span ng-click="deseleccionar(f.entity_name,f.atrib_name,f.alias_name,f.indexTab,f.indexAtr)" style="float:left; width: calc( 100% - 100px );font-size: 15px;display: inline-block;">{{f.alias_name}}</span>
                                                    <md-switch title="NO MOSTRAR / MOSTRAR EN REPORTE" ng-model="f.show" style=" margin:0; height:24px;width: 40px;display: inline-block;" aria-label="Switch"></md-switch>
                                                        <!--<select ng-model="f.orden" style="display: inline-block;vertical-align: top;">
                                                            <option>SIN ORDEN</option>
                                                            <option value="ASC">Ascendente</option>
                                                            <option value="DESC">Descendente</option>
                                                        </select>-->
                                                                <!--<md-input-container style="margin:0px;display: inline-block;vertical-align: top;padding: 0px;margin-left:10px;"title="ORDENAR POR">
                                                                <!--<label>Size</label>
                                                                    <md-select ng-model="f.orden">
                                                                        <md-option>SIN ORDEN</md-option>
                                                                        <md-option value="ASC">Ascendente</md-option>
                                                                        <md-option value="DESC">Descendente</md-option>
                                                                    </md-select>
                                                                </md-input-container>-->
                                                    
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                
                            </div>
                        </div>
                </div>
                <!--////////////////////////seleccion////////////////-->
                <div class="form-group">
                        <!--<label class="col-sm-2 control-label">Seleccione Datos para reporte</label>-->
                        <div class="col-sm-12">
                            </br>
                            <header class="panel-heading">
                                AGREGE OPERACIONES LOGICAS AL REPORTE
                            </header>
                            
                            <div class="" id="ms-my_multi_select2">
  <!--/////////////////////////////////////////////////////////////////////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////////////////////////////////-->
                                <!--*********seleccion***-->                         
  <div>
        <div class="container" style="width:auto;">
            <!--<h1>Angular.js Query Builder</h1>-->
            </br>
            <div class="alert alert-info">
                <strong>OPERACION LOGICA A REALIZAR:</strong><br>
                <span ng-bind-html="output"></span>
            </div>
            <!--<div class="alert alert-info">
                <strong>RESULTADO LOGICO</strong><br>
                <span ng-bind-html="output2"></span>
            </div>-->

            <query-builder campos="listaTablasSel" group="filter.group"></query-builder>  
            
        </div>

        <script type="text/ng-template" id="/queryBuilderDirective.html">
            <div class="alert alert-warning alert-group">
                <div class="form-inline">
                    <select ng-model="group.operator" class="form-control input-sm">
                        <option ng-repeat="o in operators" value="{{o.name}}">{{o.label}}</option>
                    </select>
                    <button style="margin-left: 5px" ng-click="addCondition()" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Agregar Condición</button>
                    <button style="margin-left: 5px" ng-click="addGroup()" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Agregar Grupo</button>
                    <button style="margin-left: 5px" ng-click="removeGroup()" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-minus-sign"></span> Quitar Grupo</button>
                </div>
                <div class="group-conditions">
                    <div ng-repeat="rule in group.rules | orderBy:'index'" class="condition">
                        <div ng-switch="rule.hasOwnProperty('group')">

                            <div ng-switch-when="true">
                                <query-builder campos="fields" group="rule.group">
                            </div>

                            <div ng-switch-default="ng-switch-default">
                                <div class="form-inline">
                                    <select class="form-control input-sm"  ng-model="rule.field" ng-change="rule.data_type=changeInputFieldDataType(rule.field)[0]; rule.alias=changeInputFieldDataType(rule.field)[1];">
                                        <optgroup ng-repeat="sm in fields" label="{{sm.entity_name}}" style="text-transform: uppercase;font-weight: 600;">
+                                         <option value="{{sm.entity_name}}.{{f.atrib_name}}" ng-repeat="f in sm.atributos">{{f.alias_name}}</option>
+                                       </optgroup>
                                    </select>
                                    <select style="margin-left: 5px" ng-model="rule.condition" class="form-control input-sm">
                                        <option ng-repeat="c in conditions" value="{{c.name}}">{{c.label}}</option> 
                                    </select>
                                    <input style="margin-left: 5px" type="{{rule.data_type}}" ng-model="rule.dataLogic" class="form-control input-sm" required/>
                                    <button style="margin-left: 5px" ng-click="removeCondition($index)" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-minus-sign"></span></button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </script>
  </div> 
<!--////////////////////////////////////AGREGAR FILTROS////////////////////////////////-->
</br>
<header class="panel-heading">
    AGREGE ORDENACIONES A SU REPORTE
</header>
<div class="container" style="width:auto;">
    <div class="alert alert-warning alert-group">
        <div class="form-inline">
            <button style="margin-left: 5px" ng-click="addFiltro()" class="btn btn-sm btn-success" ><span class="glyphicon glyphicon-plus-sign"></span> Agregar Filtro</button>
        </div>
        <div class="group-conditions">
            <div ng-repeat="sf in listaFiltros">
               <div style="margin-top:10px;">
                    <div class="form-inline">
                        <select class="form-control input-sm"  ng-model="sf.valor">
                            <optgroup ng-repeat="sm in listaTablasSel" label="{{sm.entity_name}}" style="text-transform: uppercase;font-weight: 600;">
                              <option ng-repeat="f in sm.atributos" value="{{sm.entity_name}}.{{f.atrib_name}}" >{{f.alias_name}}</option>
                            </optgroup>
                        </select>
                        <select class="form-control input-sm"  ng-model="sf.tipo">
                            <option value="ASC">Ascendente</option>
                            <option value="DESC">Descendente</option>
                        </select>
                        <button style="margin-left: 5px" ng-click="removeFilter(sf.index)" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-minus-sign"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--////////////////////////////////////CERTIFICACION DE REPORTE///////////////////////////-->
       <!-- </br>
        <header class="panel-heading">
            Id de Certificacion del reporte:
        </header>
        <div class=" ">   
            <label class="col-sm-3 control-label " style="margin-top:20px;">Password de certificacion del reporte: </label>
            <div class="col-sm-7" style="margin-top:10px;">
                <input type="password" class="form-control" placeholder="PASSWORD" ng-model="idCertificacion">
            </div>
        </div>-->
<!--////////////////////////////////////AGREGAR FILTROS////////////////////////////////-->
                                <!--*********seleccion***-->
  <!--/////////////////////////////////////////////////////////////////////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////////////////////////////////-->                                
                            </div>
                        </div>
  <!--///////////////////////////////////////RESULTADOS DE CONSULTA/////////////////////////////////////-->

  <!--///////////////////////////////////////RESULTADOS DE CONSULTA/////////////////////////////////////-->
  
                </div>
                <div class="">
                    </br>
                    <header class="panel-heading">
                        DATOS DEL REPORTE
                    </header>
                    </br>
                    <!--<label class="col-sm-3 control-label"> CONSULTA: </label>
                    <input type="text" class="form-control" placeholder="Ingrese consulta" ng-model="consulta_reporte">-->
                    <div class=" ">   
                        <label class="col-sm-3 control-label " style="margin-top:20px;">Titulo del reporte: </label>
                        <div class="col-sm-7" style="margin-top:10px;">
                            <input type="text" class="form-control" placeholder="Ingrese el Titulo del reporte" ng-model="titulo_reporte" required>
                        </div>
                    </div>
                    <div class=" ">
                        <label class="col-sm-3 control-label " style="margin-top:20px;">Observaciones: </label>
                        <div class="col-sm-7" style="margin-top:10px;">
                            <textarea class="form-control" placeholder="Ingrese tipo de reporte u observacion" ng-model="observaciones_reporte" required></textarea>
                        </div>
                    </div>
                    <!--<div class=" ">
                        <label class="col-sm-3 control-label " style="margin-top:20px;">Facultad/Dependencia: </label>
                        <div class="col-sm-7" style="margin-top:10px;">
                            <input type="text" class="form-control" placeholder="Ingrese la Facultad/Dependencia" >
                        </div>
                    </div>-->
                    </br>
                </div> 
                </section>
                <div class="container" style="width:auto;">
                    <div class="">
                        <div class="form-inline">
                            <button style="margin-left: 5px; margin-top: 30px; float:left;" ng-click="verReporteConsulta(1)" class="btn btn-danger"><span class="glyphicon glyphicon-minus-sign">-</span>Descargar Reporte</button>
                            <button style="margin-left: 5px; margin-top: 30px; float:left;" ng-click="verReporteConsulta(2)" class="btn btn-warning"><span class="glyphicon glyphicon-minus-sign">-</span>Solicitar Certificacion</button>
                            <button style="margin-left: 5px; margin-top: 30px; float:left;" ng-click="verReporteConsulta(3)" class="btn btn-info"><span class="glyphicon glyphicon-minus-sign">-</span>Almacenar como Consulta Frecuente</button>
                            </br>            
                        </div>
                    </div>
                </div>
                    
                   
                 
                <!--////////////////////////seleccion////////////////-->
            </div>

    </div>
