<div class="modal fade"  id="modalEditarEstudioComplementario">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-panel">
                    <form class="form-horizontal style-form" >
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tipo </label>
                            <div class="col-sm-3">
                                <select class="form-control input-sm m-bot15" ng-model="estComSel.tip" >
                                   <option ng-repeat="tec in tiposEstCom" value="{{tec.id}}">{{tec.title}}</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Descripción: </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="Descripción" ng-model="estComSel.des">
                            </div>
                        </div>
                    
                        <div class="form-group">
                            <label class="col-sm-3 control-label ">Nivel </label>
                            <div class="col-sm-3">
                                <select class="form-control input-sm m-bot15" ng-model="estComSel.niv">
                                    <option ng-repeat="n in niveles" value="{{n.id}}">{{n.title}}</option>
                                </select>
                            </div>
                        </div>
                        
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Institución certificadora: </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="Institución certificadora" ng-model="estComSel.insCer">
                            </div>
                        </div>
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Tipo de participacion: </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" placeholder="Tipo de participación" ng-model="estComSel.tipPar">
                            </div>
                        </div> 
                        
                        <br>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha de inicio: </label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" placeholder="dd-mm-yyyy" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="estComSel.fecIni" 
                                           is-open="date_1" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_1 = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha de término: </label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" placeholder="dd-mm-yyyy" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="estComSel.fecTer" 
                                           is-open="date_2" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_2 = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label ">Horas lectivas </label>
                            <div class="col-sm-3">
                                <input type="number" class="form-control" placeholder="Horas lectivas" ng-model="estComSel.horLec">
                            </div>
                        </div>
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label ">País donde se obtuvo el estudio: </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" placeholder="País" ng-model="estComSel.pais">
                            </div>
                        </div>
                        
                    </form>       
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default" ng-click= "cancel()" data-dismiss="modal">Cancelar</button>

                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="actualizarEstudioComplementario()">Registrar datos</button>

            </div>
        </div>
    </div>
</div>       
