<div class="modal fade"  id="modalEditarEstadoProyeccion">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-panel">
                    <form class="form-horizontal style-form" >
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Fecha de ingreso: </label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" ng-model="datosProyeccion.fechaIngreso" ng-disabled="true">
                            </div>
                        </div>
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Fecha de salida: </label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" ng-model="datosProyeccion.fechaSalida" ng-disabled="true">
                            </div>
                        </div>
                        
                        <hr style="border-color:blue;border-width:5px">
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Acumulación: </label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" ng-model="datosProyeccion.tiempoAcuDes" ng-disabled="true">
                            </div>
                        </div>
                        
                        <div class="form-group ">
                            <label class="col-sm-3 control-label">Licencias </label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" ng-model="datosProyeccion.tiempoLicVacDes" ng-disabled="true">
                            </div>
                        </div>
                        
                        <div class="form-group ">
                            <label class="col-sm-3 control-label">Interrupciones </label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" ng-model="datosProyeccion.tiempoIntDes" ng-disabled="true">
                            </div>
                        </div>
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Licencias e Interrupciones </label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" ng-model="datosProyeccion.tiempoLicInt" ng-disabled="true">
                            </div>
                        </div>

                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Tiempo de servicio UNSA: </label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" ng-model="datosProyeccion.tiempoUNSADes" ng-disabled="true">
                            </div>
                        </div>
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Tiempo de servicio para Estado Peruano: </label>
                            <table>
                                <tr style="background-color: rgb(255, 246, 228)">
                                    <td>
                                        <label class="col-sm-3 control-label">AÑOS </label>
                                    </td>
                                    <td>
                                        <label class="col-sm-3 control-label">MESES</label>
                                    </td>
                                    <td>
                                        <label class="col-sm-3 control-label">DIAS </label>
                                    </td>
                                </tr>
                                
                                <tr style="background-color: rgb(255, 246, 228)">
                                    <td>
                                        <input type="number" min="0" max="999" placeholder="Años" class="form-control" ng-model="aniosOut.an1" value="{{aniosOut.an1}}" ng-change="calcularDiasDatosExtra()">
                                    </td>
                                    <td>
                                        <input type="number" min="0" max="11" placeholder="Meses" class="form-control" ng-model="aniosOut.me1" value="{{aniosOut.me1}}" ng-change="calcularDiasDatosExtra()">
                                    </td>
                                    <td>
                                        <input type="number" min="0" max="29" placeholder="Días" class="form-control" ng-model="aniosOut.di1" value="{{aniosOut.di1}}" ng-change="calcularDiasDatosExtra()">
                                    </td>
                            
                            </table>        
                        </div>
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Tiempo de servicio respecto a Formación Educativa: </label>
                            <table>
                                <tr style="background-color: rgb(255, 246, 228)">
                                    <td>
                                        <label class="col-sm-3 control-label">AÑOS </label>
                                    </td>
                                    <td>
                                        <label class="col-sm-3 control-label">MESES</label>
                                    </td>
                                    <td>
                                        <label class="col-sm-3 control-label">DIAS </label>
                                    </td>
                                </tr>
                                <tr style="background-color: rgb(255, 246, 228)">
                                    <td>
                                        <input type="number" min="0" max="4" placeholder="Años" class="form-control" ng-model="aniosOut.an2" value="{{aniosOut.an2}}" ng-change="calcularDiasDatosExtra()">
                                    </td>
                                    <td>
                                        <input type="number" min="0" max="11" placeholder="Meses" class="form-control" ng-model="aniosOut.me2" value="{{aniosOut.me2}}" ng-change="calcularDiasDatosExtra()">
                                    </td>
                                    <td>
                                        <input type="number" min="0" max="29" placeholder="Días" class="form-control" ng-model="aniosOut.di2" value="{{aniosOut.di2}}" ng-change="calcularDiasDatosExtra()">
                                    </td>
                                </tr>
                            </table>
                        </div>
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Tiempo de servicio TOTAL para el Estado Peruano: </label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" ng-model="datosProyeccion.tiempoTOTALDes" ng-disabled="true">
                            </div>
                        </div>
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">25 Años de Servicio: </label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" ng-model="datosProyeccion.tiempo25AniosDes" ng-disabled="true">
                            </div>
                        </div>
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">30 Años de Servicio: </label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" ng-model="datosProyeccion.tiempo30AniosDes" ng-disabled="true">
                            </div>
                        </div>
                        
                    </form>       
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click= "cancel()" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="actualizarProyeccion()">Registrar datos</button>
            </div>
        </div>
    </div>   
</div>