<div class="modal fade"  id="modalEditarDatCenLab">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            
            <div class="modal-body">
                <div class="form-panel">
                    <form class="form-horizontal style-form" >
                        <table>
                            <colgroup>
                                <col width="60%" />
                                <col width="40%" />
                            </colgroup>
                            <tr>
                                <td>
                                    <div class="form-group ">   
                                        <label class="col-sm-3 control-label">Organización: </label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" ng-model="trabajadorSel.orgNom" ng-disabled="true">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Fecha de Ingreso: </label>
                                        <div class="col-sm-7">
                                            <p class="input-group">
                                                <input type="text" placeholder="dd-mm-yyyy" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="trabajadorSel.fecIng" 
                                                       is-open="date_1" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions"/>
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="date_1 = true">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </button>
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                <div class="form-group ">   
                                    <label class="col-sm-3 control-label">Tipo de trabajador: </label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control"  ng-model="trabajadorSel.rolNom" ng-disabled="true">
                                    </div>
                                </div>
                                </td>
                                <td>
                                    <div class="form-group ">   
                                        <label class="col-sm-3 control-label">Salario </label>
                                        <div class="col-sm-7">
                                            <input type="number" class="form-control" placeholder="Salario" ng-model="trabajadorSel.sal">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Planilla: </label>
                            <div class="col-sm-7">
                                <select class="form-control" ng-model="trabajadorSel.plaId" ng-options="p.plaId as p.nomPla for p in planillas">
                                   <option ng-selected="trabajadorSel.plaId === p.plaId">{{p.nomPla}}</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Categoria </label>
                            <div class="col-sm-7">
                                <select class="form-control" ng-model="trabajadorSel.catId" ng-options="c.catId as c.nomCat for c in categorias">
                                   <option ng-selected="trabajadorSel.catId === c.catId">{{c.nomCat}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Organismo: </label>
                            <div class="col-sm-7">
                                <select id="organismoEDCL" class="form-control" ng-model="trabajadorSel.orgaId" ng-change="listarFacultadesSel()" ng-options="orga.orgaId as orga.nomOrga for orga in organismos">
                                   <option ng-selected="trabajadorSel.orgaId === orga.orgaId">{{orga.nomOrga}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Facultad: </label>
                            <div class="col-sm-7">
                                <select class="form-control" ng-model="trabajadorSel.facId" ng-change="listarDependenciasSel()" ng-options="f.facId as f.nomFac for f in facultadesSel">
                                   <option ng-selected="trabajadorSel.facId === f.facId">{{f.nomFac}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Dependencia: </label>
                            <div class="col-sm-7">
                                <select class="form-control" ng-model="trabajadorSel.depId" ng-options="d.depId as d.nomDep for d in dependenciasSel">
                                   <option ng-selected="trabajadorSel.depId === d.depId">{{d.nomDep}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Zona: </label>
                            <div class="col-sm-7">
                                <select class="form-control" ng-model="trabajadorSel.zonId" ng-options="z.zonId as z.nomZon for z in zonas">
                                   <option ng-selected="trabajadorSel.zonId === z.zonId">{{z.nomZon}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Cargo: </label>
                            <div class="col-sm-7">
                                <select class="form-control" ng-model="trabajadorSel.carId" ng-options="car.carId as car.nomCar for car in cargos">
                                   <option ng-selected="trabajadorSel.carId === car.carId">{{car.nomCar}}</option>
                                </select>
                            </div>
                        </div>
                       
                    </form>       
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click= "cancel()" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="actualizarDatCenLab()">Registrar datos</button>
            </div>
        </div>
    </div>
</div>       
