<div class="row" >
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                ATENDER SOLICITUDES CERTIFICACION
            </header>
            <div class="panel-body">
                <div id="editable-sample_wrapper" class="dataTables_wrapper form-inline" role="grid">
                    <div class="table-responsive" ng-init="listarConsultasPendientesCertificacion()">
                        <table class="table table-striped table-hover"  ng-table ="tablaGestorConsultas" >
                            <tr ng-repeat="d in $data">
                                <td data-title="'Titulo'"  style="text-align: center;width: 30px" filter="{ tit: 'text'}" sortable="'obs'">{{d.tit}}</td>
                                <td data-title="'Observaciones'"  style="text-align: center;width: 30px" filter="{ obs: 'text'}" sortable="'obs'">{{d.obs}}</td>
                                <td data-title="'Fecha de emision'"  style="text-align: center;width: 30px" filter="{ fec_emi: 'text'}" sortable="'fec_emi'">{{d.fec_emi}}</td>
                                <td data-title="'Usuario Solicitante'"  style="text-align: center;width: 30px" filter="{ usu_emi: 'text'}" sortable="'usu_emi'">{{d.usu_emi}}</td>
                                <td data-title="'Fecha de Certificacion'"  style="text-align: center;width: 30px" filter="{ fec_cer: 'text'}" sortable="'fec_cer'">{{d.fec_cer}}</td>
                                <td data-title="'Estado'" sortable="'est'" style="text-align: center;width: 30px">
                                    <span class="label label-mini" ng-class="{'label-info': d.est=='C','label-warning': d.est=='N','label-success':d.est=='D'}">{{ d.est=='C' ? 'Certificada':(d.est=='N'? 'No certificada':'Descargada') }}</span>
                                </td>
                                <td data-title="'Operaciones'" style="text-align: center;width: 100px">
                                    <button title="Ver consulta" class="btn btn-warning btn-xs" ng-click="verConsulta(d)">
                                        <span class="glyphicon glyphicon-eye-open" ></span>
                                    </button>
                                    <button title="Certificar consulta" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#certificadoDigital" ng-click="setConCerId(d)">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>    
                </div>
            </div>
            <!----- REGISTRAR NUEVO ITEM ----->

            <div class="modal fade" id="certificadoDigital" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-init="">
                    <div class="modal-dialog">
                        <div class ="modal-content">
                            <div class ="modal-header">
                               <h4 class="modal-title" id="myModalLabel">Ingrese su contraseña de usuario</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-horizontal style-form">
                                    <div class="form-panel" ng-init="">
                                    <!-- ---------------------------------------------------- -->
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Contraseña:</label>
                                            <div class="col-sm-4">
                                                <input type="password" class="form-control" ng-model="pass" >   
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-4 col-md-offset-4">
                                                <button class="btn btn btn-warning"  data-dismiss="modal"><i class="fa fa-warning"></i>Cancelar</button>
                                                <button class="btn btn btn-primary" ng-click="certificarConsulta()"><i class="fa fa-save" ></i>Certificar</button>
                                            </div>
                                        </div>
                                     <!-- ---------------------------------------------------- -->
                                     </div> 
                                </div>
                            </div>
                        </div>
                    </div>
            </div>

            <!---------->
        </section>
    </div>
</div>
