<div class="modal fade" id="modalReportes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">MODELOS DE REPORTE ESCALAFONARIO</h4>
      </div>
      <div class="modal-body">          
        <div class="form-panel">            
            <pre>Seleccione el tipo de Reporte Escalafonario que desea generar:</pre>
            <form>
                <div class="checkbox">
                  <label><input type="checkbox" ng-checked="selected=='1'" ng-true-value="'1'" ng-model="selected" checked>LICENCIAS DE REMUNERACIONES POR MOTIVOS PARTICULARES (DOCENTES Y AUXILIARES)</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" ng-checked="selected=='2'" ng-true-value="'2'" ng-model="selected">SUBSIDIO POR FALLECIMIENTO Y/O GASTOS DE SEPELIO (PROFESORES Y AUXILIARES DE EDUCACION - NOMBRADO O PENSIONISTA)</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" ng-checked="selected=='3'" ng-true-value="'3'" ng-model="selected">CESE</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" ng-checked="selected=='4'" ng-true-value="'4'" ng-model="selected">OTORGAMIENTO DE PENSION DE CESANTIA</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" ng-checked="selected=='5'" ng-true-value="'5'" ng-model="selected">LICENCIAS CON GOCE DE REMUNERACIONES POR INCAPACIDAD TEMPORAL</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" ng-checked="selected=='6'" ng-true-value="'6'" ng-model="selected">OTRAS LICENCIAS CON GOCE DE REMUNERACIONES</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" ng-checked="selected=='7'" ng-true-value="'7'" ng-model="selected">PENSION DE SOBREVIVIENTE</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" ng-checked="selected=='8'" ng-true-value="'8'" ng-model="selected">ASCENSO DE ESCALA MAGISTERIAL Y/O REUBICACION</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" ng-checked="selected=='9'" ng-true-value="'9'" ng-model="selected">PASE DRE O UGEL PARA REASIGNACION Y PERMUTA</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" ng-checked="selected=='10'" ng-true-value="'10'" ng-model="selected">RESOLUCION DE ASIGNACIONES E INCENTIVOS (Ley N° 29944)</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" ng-checked="selected=='11'" ng-true-value="'11'" ng-model="selected">RESOLUCION DE INSTAURACION DE PROCESO ADMINISTRATIVO, DEMERITOS Y RECURSOS ADMINISTRATIVOS</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" ng-checked="selected=='12'" ng-true-value="'12'" ng-model="selected">INFORME POR PEMANENCIA ANUAL</label>
                </div>
            </form>
        </div>          
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>                
        <button type="button" class="btn btn-primary" ng-click="verModeloReporte()"><i class="fa fa-check" ></i>Generar</button>        
      </div>        
    </div>
  </div>
</div>