<div class="modal fade" id="modalReportes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">REPORTES</h4>
            </div>
            <div class="modal-body">          
                <div class="form-panel">            
                    <pre>Seleccione la información para la Ficha Escalafonaria:</pre>
                    <form>

                        <div class="checkbox">
                            <label><input type="checkbox" class="dinamico"  ng-model="seleccionados[0]" uib-btn-checkbox>Datos Personales</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" class="dinamico" ng-disabled="!selecc[1]" ng-model="seleccionados[1]" uib-btn-checkbox>Datos Familiares</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" class="dinamico" ng-disabled="!selecc[2]" ng-model="seleccionados[2]" uib-btn-checkbox>Formaciones Educativas</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" class="dinamico" ng-disabled="!selecc[3]" ng-model="seleccionados[3]" uib-btn-checkbox>Colegiaturas</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" class="dinamico" ng-disabled="!selecc[4]" ng-model="seleccionados[4]" uib-btn-checkbox>Estudios de Especialización</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" class="dinamico" ng-disabled="!selecc[5]" ng-model="seleccionados[5]" uib-btn-checkbox>Conocimientos Informaticos</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" class="dinamico" ng-disabled="!selecc[6]" ng-model="seleccionados[6]" uib-btn-checkbox>Idiomas</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" class="dinamico" ng-disabled="!selecc[7]" ng-model="seleccionados[7]" uib-btn-checkbox>Exposiciones y Ponencias</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" class="dinamico" ng-disabled="!selecc[8]" ng-model="seleccionados[8]" uib-btn-checkbox>Publicaciones</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" class="dinamico" ng-disabled="!selecc[9]" ng-model="seleccionados[9]" uib-btn-checkbox>Capacitaciones</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" class="dinamico" ng-disabled="!selecc[10]" ng-model="seleccionados[10]" uib-btn-checkbox>Meritos, Felicitaciones y Reconocimientos</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" class="dinamico" ng-disabled="!selecc[11]" ng-model="seleccionados[11]" uib-btn-checkbox>Bonificaciones</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" class="dinamico" ng-disabled="!selecc[12]" ng-model="seleccionados[12]" uib-btn-checkbox>Demeritos</label>
                        </div>
                        <!--
                        <div class="checkbox">
                            <label><input type="checkbox" class="dinamico" ng-model="seleccionados[13]" uib-btn-checkbox>Años de Estudio y Reconocimiento por Maestria</label>
                        </div>
                        -->
                        <!--
                        <div class="checkbox">
                            <label><input type="checkbox" class="dinamico" ng-model="seleccionados[14]" uib-btn-checkbox>Ascensos</label>
                        </div>
                        -->
                    </form>
                    <!--<div>
                        <h6><b>Opción Múltiple</b></h6>
                        <input type="checkbox" class="check-all" ng-click="marcarTodos()"/> Marcar/Desmarcar todos<br><br>
                    </div>-->
                </div>          

            </div>
            <div class="modal-footer">
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <select class="form-control col-md-2" ng-model="selecFormat">
                            <option ng-repeat="f in formatos" value="{{f}}">{{f}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-1">
                        <button type="button" class="btn btn-success" ng-click="descargarFichaEscalafonaria()"><i class="fa fa-download" ></i> Descargar</button>
                    </div>
                    <div class="form-group col-md-9">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>                
                        <button type="button" class="btn btn-primary" ng-click="verFichaEscalafonaria()"><i class="fa fa-eye" ></i> Visualizar</button> 
                    </div>
                </div>
            </div>        
        </div>
    </div>
</div>