<style>
    .group{
        background-color: #fff;
        padding: 15px;
        border-radius: 5px;
        border: solid 1px #666;
    }

    .group-conditions{
        margin-left: 20px;
    }

    .alert-group{
        margin-top: 10px;
        margin-bottom: 10px;
        border-color: rgb(192, 152, 83);
        border-color: rgb(251, 238, 213);
        border-color: rgb(220, 200, 150);
    }

    .condition, .group{
        margin-top: 15px;
        margin-bottom: 15px;   
    }


    md-switch.md-checked .md-bar {
        background-color: #1fb5ad;
    }
    md-switch.md-checked .md-thumb {
        background-color: #1fb5ad;
    }
    /*Is it possible to change the false state color of Angular Material's mdSwitch?
    Stackover*/

</style>
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h4 style="display:inline;line-height: 1.9">CONSULTA GENERAL</h4>
            </header>
            <div class="panel-body">
                <uib-tabset active="tabPrincipal" justified="true" >
                    <uib-tab index="0" heading ="PASO 1: Datos Iniciales">
                        <br>
                        <div class="form-group">
                            <br>
                            <div class="form-group">   
                                <label class="col-sm-3 control-label " style="margin-top:20px;">Titulo del reporte: </label>
                                <div class="col-sm-7" style="margin-top:10px;">
                                    <input type="text" class="form-control" ng-model="datosReporte.titulo_reporte" placeholder="Ingrese el Titulo del reporte" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label " style="margin-top:20px;">Observaciones: </label>
                                <div class="col-sm-7" style="margin-top:10px;">
                                    <textarea class="form-control" ng-model="datosReporte.observaciones_reporte" placeholder="Ingrese tipo de reporte u observacion" ></textarea>
                                </div>
                            </div>
                            
                            

                            <br>
                        </div> 

                    </uib-tab>
                    <uib-tab index="1" heading="PASO 2: Selección de Datos">
                        <br>
                        <div class="form-group">
                            <div class="col-sm-12" ng-init="listarTablas()">
                                <header class="panel-heading">
                                    SELECCIONE DATOS PARA EL REPORTE 
                                </header>
                                <div class="ms-container" id="ms-my_multi_select2">

                                    <div class="ms-selectable">
                                        <h5>Catalogo de datos disponibles</h5>
                                        <ul class="ms-list" tabindex="-1">
                                            <li class="ms-optgroup-container" ng-repeat="sm in listaTablas">
                                                <ul class="ms-optgroup">
                                                    <li class="ms-optgroup-label" style="text-transform: uppercase;font-weight: 600;" ng-hide="sm.hide"><span>{{sm.entity_name}} </span></li>
                                                    <li class="ms-elem-selectable" ng-repeat="f in sm.atributos" ng-click="seleccionar(f.entity_name, f.atrib_name, f.alias_name, f.indexTab, f.indexAtr)" ng-hide="f.hide"><span>{{f.alias_name}}</span></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="ms-selection" style="width: 48%">
                                        <h5>Datos Seleccionados para Reporte</h5>
                                        <ul class="ms-list" tabindex="-1">
                                            <li class="ms-optgroup-container" ng-repeat="sm in listaTablasSel">
                                                <ul class="ms-optgroup">
                                                    <li class="ms-optgroup-label" style="text-transform: uppercase;font-weight: 600;"><span>{{sm.entity_name}}</span></li>
                                                    <li class="ms-elem-selection" ng-repeat="f in sm.atributos" style="padding-right: 0;">
                                                        <span ng-click="deseleccionar(f.entity_name, f.atrib_name, f.alias_name, f.indexTab, f.indexAtr)" style="float:left; width: calc( 100% - 100px );font-size: 15px;display: inline-block;">{{f.alias_name}}</span>
                                                    <md-switch title="NO MOSTRAR / MOSTRAR EN REPORTE" ng-model="f.show" style=" margin:0; height:24px;width: 40px;display: inline-block;" aria-label="Switch"></md-switch>

                                            </li>
                                        </ul>
                                        </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </uib-tab>

                    <uib-tab index="2" heading="PASO 3: Adición de Filtros y Condiciones">
                        <br>
                        <div class="form-group">

                            <div class="col-sm-12">
                                <br>
                                <header class="panel-heading">
                                    AGREGE OPERACIONES LOGICAS AL REPORTE
                                </header>

                                <div class="" id="ms-my_multi_select2">
                                    <!--*********seleccion***-->                         
                                    <div>
                                        <div class="container" style="width:auto;">
                                            <br>
                                            <div class="alert alert-info">
                                                <strong>OPERACION LOGICA A REALIZAR:</strong><br>
                                                <span ng-bind-html="output"></span>
                                            </div>
                                            <query-builder campos="listaTablasSel" group="filter.group"></query-builder>  
                                        </div>
                                        <script type="text/ng-template" id="/queryBuilderDirective.html">
                                        <div class="alert alert-warning alert-group">
                                            <div class="form-inline">
                                                <select ng-model="group.operator" class="form-control input-sm">
                                                    <option ng-repeat="o in operators" value="{{o.name}}">{{o.label}}</option>
                                                </select>
                                                <button style="margin-left: 5px" ng-click="addCondition()" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Agregar Condición</button>
                                                <button style="margin-left: 5px" ng-click="addGroup()" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Agregar Grupo</button>
                                                <button style="margin-left: 5px" ng-click="removeGroup()" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-minus-sign"></span> Quitar Grupo</button>
                                            </div>
                                            <div class="group-conditions">
                                                <div ng-repeat="rule in group.rules | orderBy:'index'" class="condition">
                                                    <div ng-switch="rule.hasOwnProperty('group')">

                                                        <div ng-switch-when="true">
                                                            <query-builder campos="fields" group="rule.group">
                                                        </div>

                                                        <div ng-switch-default="ng-switch-default">
                                                            <div class="form-inline">
                                                                <select class="form-control input-sm"  ng-model="rule.field" ng-change="rule.data_type=changeInputFieldDataType(rule.field)[0]; rule.alias=changeInputFieldDataType(rule.field)[1];">
                                                                    <optgroup ng-repeat="sm in fields" label="{{sm.entity_name}}" style="text-transform: uppercase;font-weight: 600;">
                            +                                         <option value="{{sm.entity_name}}.{{f.atrib_name}}" ng-repeat="f in sm.atributos">{{f.alias_name}}</option>
                            +                                       </optgroup>
                                                                </select>
                                                                <select style="margin-left: 5px" ng-model="rule.condition" class="form-control input-sm">
                                                                    <option ng-repeat="c in conditions" value="{{c.name}}">{{c.label}}</option> 
                                                                </select>
                                                                <input style="margin-left: 5px" type="{{rule.data_type}}" ng-model="rule.dataLogic" class="form-control input-sm" required/>
                                                                <button style="margin-left: 5px" ng-click="removeCondition($index)" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-minus-sign"></span></button>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </script>
                                    </div> 
                                    <!--////////////////////////////////////AGREGAR FILTROS////////////////////////////////-->
                                    </br>
                                    <header class="panel-heading">
                                        AGREGE ORDENACIONES A SU REPORTE
                                    </header>
                                    <div class="container" style="width:auto;">
                                        <div class="alert alert-warning alert-group">
                                            <div class="form-inline">
                                                <button style="margin-left: 5px" ng-click="addFiltro()" class="btn btn-sm btn-success" ><span class="glyphicon glyphicon-plus-sign"></span> Agregar Filtro</button>
                                            </div>
                                            <div class="group-conditions">
                                                <div ng-repeat="sf in listaFiltros">
                                                    <div style="margin-top:10px;">
                                                        <div class="form-inline">
                                                            <select class="form-control input-sm"  ng-model="sf.valor">
                                                                <optgroup ng-repeat="sm in listaTablasSel" label="{{sm.entity_name}}" style="text-transform: uppercase;font-weight: 600;">
                                                                    <option ng-repeat="f in sm.atributos" value="{{sm.entity_name}}.{{f.atrib_name}}" >{{f.alias_name}}</option>
                                                                </optgroup>
                                                            </select>
                                                            <select class="form-control input-sm"  ng-model="sf.tipo">
                                                                <option value="ASC">Ascendente</option>
                                                                <option value="DESC">Descendente</option>
                                                            </select>
                                                            <button style="margin-left: 5px" ng-click="removeFilter(sf.index)" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-minus-sign"></span></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    </div>
                            </div>

                        </div>

                    </uib-tab>
                </uib-tabset>
                
                <div class="tabla-responsiva">
                    <br>
                    <table class="table table-bordered table-hover table-condensed editable-table">
                        <colgroup>
                            <col width="15%" />
                            <col width="25%" />
                            <col width="30%" />
                            <col width="15%" />
                            <col width="15%" />
                        </colgroup>
                        <thead>
                            <tr>
                                <th><button ng-click="verReporteConsulta(0)" class="btn btn-warning"><span class="glyphicon glyphicon-eye-open"></span>Visualizar Reporte</button></th>                      
                                <th><button ng-click="verReporteConsulta(3)" class="btn btn-info"><span class="glyphicon glyphicon-certificate"></span>Solicitar Certificacion</button></th>            
                                <th><button ng-click="verReporteConsulta(4)" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-saved"></span> Almacenar como Consulta Frecuente</button></th>  
                                <th><button ng-click="verReporteConsulta(1)" class="btn btn-danger"><span class="glyphicon glyphicon-save-file"></span>Descargar PDF</button></th>           
                                <th><button ng-click="verReporteConsulta(2)" class="btn btn-success"><span class="glyphicon glyphicon-save-file"></span>Descargar Excel</button></th>
                            </tr>
                        </thead>
                    </table>
                    
                </div>
            </div>
        </section>

    </div>
</div>     
