<div class="row" >
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                SOLICITUDES DE CERTIFICACION
            </header>
            <div class="panel-body">
                <div id="editable-sample_wrapper" class="dataTables_wrapper form-inline" role="grid">
                    <div class="table-responsive" ng-init="listarMisSolicitudesCertificacion()">
                        <table class="table table-striped table-hover"  ng-table ="tablaMisConsultasCertificadas" >
                            <tr ng-repeat="d in $data">
                                <td data-title="'Titulo'"  style="text-align: center;width: 30px" filter="{ tit :'text'}" sortable="'tit'">{{d.tit}}</td>
                                <td data-title="'Observaciones'"  style="text-align: center;width: 30px" filter="{ obs :'text'}" sortable="'obs'">{{d.obs}}</td>
                                <td data-title="'Fecha de emision'"  style="text-align: center;width: 30px" filter="{ fec_emi :'text'}" sortable="'fec_emi'">{{d.fec_emi}}</td>
                                <td data-title="'Fecha de Certificacion'"  style="text-align: center;width: 30px" filter="{ fec_cer :'text'}" sortable="'fec_cer'">{{d.fec_cer}}</td>
                                <!--<td data-title="'Estado'"  style="text-align: center;width: 30px"  sortable="'est'">{{d.est}}</td>-->
                                <td data-title="'Estado'" sortable="'est'" style="text-align: center;width: 30px">
                                    <span class="label label-mini" ng-class="{'label-info': d.est=='C','label-warning': d.est=='N','label-success':d.est=='D'}">{{ d.est=='C' ? 'Certificada':(d.est=='N'? 'No certificada':'Descargada') }}</span>
                                </td>
                                <!--<td data-title="'Verificado'"  style="text-align: center;width: 30px" filter="{ estado 'text'}" sortable="'estado'">{{d.estado}}</td>-->
                                <td data-title="'Descargar'" style="text-align: center;width: 100px">
                                    <button title="Descargar" class="btn btn-primary btn" ng-click="descagarConsultaCertificada(d)" ng-disabled="{{ d.est=='C' ? false : true }}">
                                        <span class="glyphicon glyphicon-download-alt" ></span>
                                    </button>
                                    <button title="Solicitar Nuevamente" class="btn btn-danger btn" ng-click="solicitarDeNuevo(d)" ng-disabled="{{ d.est!='C' && d.est!='D' ? false : true }}">
                                        <span class="glyphicon glyphicon-alert" ></span>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>    
                </div>
            </div>
        </section>
    </div>
</div>
