<div class="row" >
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                LEGAJO DE DIGITALIZACI&Oacute;N 
            </header>
            <div class="panel-body" ng-controller="verLegajoPersonalRideaCtrl" ng-init="service()">
                <form class="form-horizontal" method="get">
                            <div class="dataTables_wrapper form-inline" role="grid">
                                <div class="table-responsive">                        
                                    <table class="table table-hover table-condensed table-bordered" >
                                         <thead>
                                             <tr>
                                                <td style="text-align: center;width: 70px"><b>Documento</b></td>
                                                <td style="text-align: center;width: 70px"><b>Categoria</b></td>
                                                <td style="text-align: center;width: 70px"><b>Estado</b></td>
                                                <td style="text-align: center;width: 70px"><b>Nro de pag</b></td>
                                                <td style="text-align: center;width: 70px"><b>Agrupamiento</b></td>
                                                <td style="text-align: center;width: 70px"><b>Acci&oacute;n</b></td>
                                            </tr>
                                        </thead>
                                        <tr ng-repeat="l in dataRidea.Documentos">
                                            <td data-title="Documento'"  style="text-align: center;width: 70px"  >{{l.tipodoc}}</td>
                                            <td data-title="'ID'"  style="text-align: center;width: 70px">{{l.categoria}}</td>
                                            <td data-title="'Codigo'"  style="text-align: center;width: 70px">{{l.estdocumento}}</td>
                                            <td data-title="'Descripcion'"  style="text-align: center;width: 70px">{{l.nrototalpaginas}}</td>
                                            <td data-title="'Nro de pag.'"  style="text-align: center;width: 70px">{{l.agrupamientos.length}}</td>
                                            <td data-title="'Accion'"  style="text-align: center;width: 70px">
                                                <a  rel="preload"  title ="Ver Documento" href="{{uri}}codigo={{l.coddocumento}}&pag={{l.nrototalpaginas}}&pagIni=1" target="iframe_a" download>
                                                      <span class="glyphicon glyphicon-eye-open"></span>
                                                </a>
                                                <!-- AddType application/octet-stream .pdf force download in service ridea-->
                                                <button ng-disabled="!l.estagrupamiento" title= "Ver Agrupamientos" class="btn btn-warning btn-xs" ng-click="prepararVerAgrupamientos(l)">
                                                    <span class="glyphicon glyphicon-download"></span>
                                                </button> 
                                            </td>                                           
                                        </tr>
                                    </table>
                                    <br>
                                    <div ng-show="state in doc.estagrupamiento">
                                        <div  style="float:left" class="btn-group-vertical">
                                  
                                            <article >
                                                <section>
                                                    <ul>
                                                        <li ng-repeat="ag in doc.agrupamientos">
                                                            <a class="btn btn-primary btn-md btn-block" rel="preload" ng-click="OpenBrowserInNewTab(ag.nroPagAgrp,ag.pagInicio,uriv)" >{{ag.Agrupamiento}}</a>
                                                    </ul>		
                                                </section>
                                            </article>
                                        </div>
                                        <div class=visor  style="float:right " >
                                             <iframe  name="iframe_a" height="1050px" width="700px" frameBorder="0" > </iframe>
                                        </div>
                                    </div>
                                    
                                </div>  
                            </div>
            </div>
        </section>
    </div>
</div>  
