<div class="row"><div class="col-lg-12">
    <section class="panel">
    
    <div class="panel-body">
        <div class="form-horizontal" >
            <fieldset ><legend>Datos Necesarios </legend>
                <div class="form-group" >
                    <div class="col-sm-offset-3 col-sm-4">
                        <div class="input-group " >
                            <input type="date" class="form-control " ng-model="desde" />
                            <span class="input-group-addon">A</span>
                            <input type="date" class="form-control " ng-model="hasta" />
                        </div>
                    </div>
                </div>
                <div class="form-group" >
                    <div class="col-sm-offset-3 col-sm-8" style="padding-left: 0px;">
                        <label class="h5 col-sm-offset-3 control-label"  style="margin-top: 0px;" >INSTITUCION</label>
                        <div class="col-sm-8">
                            <select class="form-control" ng-model="organizacionSel" >
                                <option value=""></option>
                                <option ng-repeat="o in organizaciones" value="{{o.organizacionID}}">{{o.nombre}}</option>
                            </select>
                        </div>
                   </div>
                </div>
            </fieldset>
            
            <fieldset ><legend>Busqueda por DNI o RUC </legend>
            <div class="form-group" >
                 <div class="col-sm-offset-3 ">
                    <label class="col-sm-1 control-label">DNI</label>
                    <div class="col-sm-2" >
                        <input type="text" data-mask="99999999" class="form-control" ng-model="dni" ng-keyup="escribiendoDni()">
                    </div>

                    <label class="col-sm-1 control-label">RUC</label>
                    <div class="col-sm-2">
                       <input type="text" data-mask="99999999999" class="form-control" ng-model="ruc" ng-keyup="escribiendoRuc()">
                    </div>
                   
                 </div>
            </div>
            </fieldset>
            <fieldset ><legend>Busqueda por Nombre Completo</legend>
             <div class="form-group" >
                            
                <label class="col-sm-2 control-label">NOMBRE </label>
                <div class="col-sm-2">
                    <input type="text"  class="form-control" ng-model="nombre">
                </div>
                <label class="col-sm-1 control-label">APELLIDO PATERNO</label>
                <div class="col-sm-2">
                    <input type="text"  class="form-control" ng-model="apellidoP" >
                </div>
                <label class="col-sm-1 control-label">APELLIDO MATERNO</label>
                <div class="col-sm-2">
                    <input type="text"  class="form-control" ng-model="apellidoM">
                </div>
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-4">
                </div>
            </div>
            </fieldset >
            <fieldset ><legend>Busqueda por Numero de Expediente </legend>
            <div class="form-group" align="center">
                <label class="col-sm-3 control-label">NUMERO EXPEDIENTE</label>
                <div class="col-sm-2">
                    <input type="text" data-mask="9999-99999999"  class="form-control" ng-model="codigo" >
                </div>
                <label class="col-sm-2 control-label">N° OFICIO</label>
                <div class="col-sm-3">
                   <input type="number" pattern="[0-9]*" class="form-control" ng-model="numOficio" ng-keyup="escribiendoOficio()">
                </div>
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-4">
                </div>
            </div>
            </fieldset>
            <div class="form-group" >
                
                <div class="h4 col-sm-offset-5 col-sm-2">
                   <button class="btn btn-success " type="button" ng-click="buscarExpedientes(desde,hasta)">BUSCAR</button>
                </div>
            </div>
        </div>
        <hr/>
        <fieldset ><legend> </legend>
        <div class="tabla-responsiva"><table ng-table="miTabla" class="table table-striped table-hover" show-filter="true" >
          <colgroup>
            <col width="20px" /><col width="auto" /><col width="50px" /><col width="auto" /><col width="200px" /><col width="auto" /><col width="200px" /><col width="120px" /><col width="65px" />
          </colgroup>
            <tr ng-repeat="o in $data">
                <td data-title="'N'" sortable="'i'" >
                    {{o.i}}
                </td>
                <td data-title="'Codigo'" filter="{ codigo: 'text'}" sortable="'codigo'" style="text-align: center">
                    {{o.codigo}}
                </td>
                <td data-title="'Numero Oficio'" filter="{ numeroofi: 'text'}" sortable="'numeroofi'" style="text-align: center">
                    {{o.numOficio}}
                </td>
                <td data-title="'Tramite'" filter="{ tipoTramiteID: 'select'}" filter-data="tipoTramites" sortable="'tipoTramiteID'" style="text-align: center">
                    {{o.nombreTramite}}
                </td>
                <td data-title="'Documento'" filter="{ DNI: 'text'}" sortable="'DNI'" style="text-align: center">
                    {{o.DNI}}
                </td>
                <td data-title="'Prioridad'" filter="{ prioridadID: 'select'}" filter-data="prioridades" sortable="'prioridadID'" style="text-align: center">
                    {{o.nombrePrioridad}}
                </td>
                <td data-title="'Fecha Inicio'" filter="{ fecInicio: 'text'}" sortable="'fecInicio'" >
                    {{o.fecInicio}}
                </td>
                <td data-title="'Duracion Dias'" style="text-align: center">
                    {{o.duracionTramite}}
                </td>
                <td data-title="'Estado'" style="text-align: center">
                    <span class="label label-mini" ng-class="{'label-info': o.fecFin,'label-warning': !o.fecFin}">{{o.fecFin?'finalizado':'en tramite'}}</span>
                </td>
                <td data-title="'detalle'" style="text-align: center;">
                    <button class="btn btn-primary btn-xs" ng-click="verDetalleConDocumentos(o)"><i class="fa fa-eye" ></i></button>
                </td>
            </tr>
        </table></div>
            </fieldset >
    </div>

    </section>

</div></div>

<div class="modal fade" id="modalVer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">EXPEDIENTE</h4>
      </div>
      <div class="modal-body">
          <div class="form-horizontal style-form">
          <div class="form-group" >
            <label class="col-sm-2 control-label">Codigo</label>
            <div class="col-sm-10">
                <p class="form-control-static">{{expedienteSel.codigo}}</p>
            </div>
          </div>
          <div class="form-group" >
            <label class="col-sm-2 control-label">Tipo Tramite</label>
            <div class="col-sm-6">
                <p class="form-control-static">{{expedienteSel.nombreTramite}}</p>
            </div>
            <div class="col-sm-4">
                <p class="form-control-static">{{expedienteSel.modo?'interno':'externo'}}</p>
            </div>
          </div>
          <div class="form-group" >
            <label class="col-sm-2 control-label">Prioridad</label>
            <div class="col-sm-4">
                <p class="form-control-static">{{expedienteSel.nombrePrioridad}}</p>
            </div>
            <label class="col-sm-2 control-label">Folios</label>
            <div class="col-sm-4">
                <p class="form-control-static">{{expedienteSel.folios}}</p>
            </div>
          </div>
          <div class="form-group" >
            <label class="col-sm-2 control-label">Tramitante</label>
            <div class="col-sm-10">
                <p class="form-control-static">{{expedienteSel.persona}}</p>
            </div>
          </div>
          </div>
          
          <div style="text-align: center"><strong>HISTORIAL DE RUTAS</strong></div>
          <div class="mi-tabla" style="overflow-y: auto;max-height: 500px;">
            <table class="table table-striped table-advance table-hover" >
              <thead>
              <tr>
                  <th style="width: 50px">N</th>                  
                  <th style="width: 30%">Area</th>
                  <th style="text-align: center; width: 200px">Estado</th>
                  <th>Observacion</th>
              </tr>
              </thead>

              <tbody >

                <tr ng-repeat="h in expedienteSel.historial">
                    <td>{{$index + 1}}</td>                    
                    <td >{{h.area}}</td>
                    <td style="text-align: center">{{h.estado}}</td>
                    <td >{{h.observacion}}</td>
                </tr>
              </tbody>

            </table>
          </div>
          
          <div style="text-align: center"><strong>DOCUMENTOS</strong></div>
          <div class="mi-tabla" style="overflow-y: auto;max-height: 500px;">
            <table class="table table-striped table-advance table-hover" >
              <thead>
              <tr>
                  <th style="width: 50px">N</th>                  
                  <th style="width: 20%">Documento</th>
                  <th>Observacion</th>
                  <th style="width: 25%">Archivo Adjunto</th>
                  <th style="text-align: center; width: 80px">Estado</th>
              </tr>
              </thead>
              <tbody >
                <tr ng-repeat="d in expedienteSel.documentos">
                    <td>{{$index + 1}}</td>                    
                    <td >{{d.tipoDocumento}}</td>                    
                    <td >{{d.observacion}}</td>
                    <td style="word-break: break-all;"><view-file url="{{d.url}}" nombre="d.nombreArchivo" archivo> </view-file></td>
                    <td style="text-align: center">
                        <span class="label label-mini" ng-class="{'label-warning': d.historialID,'label-info': !d.historialID}">{{d.historialID?'generado':'requisito'}}</span>
                    </td>
                </tr>
              </tbody>
            </table>
          </div>
          
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

