<div class="row"><div class="col-lg-12">
<section class="panel">
    <header class="panel-heading">
        <h4 style="display:inline;line-height: 1.9">TRAMITES SIGESMED</h4>
        <span class="tools pull-right">
        <button class="btn btn btn-primary " ng-click="listarTiposTramites()"><i class="fa fa-rotate-right"></i> Listar</button>
        </span>
    </header>
    <div class="panel-body" ng-init="iniciarDatos()">
        <div class="tabla-responsiva"><table ng-table="miTabla" class="table table-striped table-hover" show-filter="true" >
          <colgroup>
            <col width="20px" /><col width="50px" /><col width="10%" /><col width="10%" /><col width="auto" /><col width="120px" /><col width="50px" /><col width="65px" />
          </colgroup>
            <tr ng-repeat="o in $data">
                <td data-title="'N'" sortable="'i'" >{{o.i}}</td>
                <td data-title="'Codigo'" filter="{ codigo: 'text'}" sortable="'codigo'" style="text-align: center">{{o.codigo}}</td>
                <td data-title="'Tupa'" filter="{ tupa: 'select'}" filter-data="tupas" sortable="'tupa'" style="text-align: center">
                    <span class="label label-mini" ng-class="{'label-info': o.tupa,'label-warning': !o.tupa}">{{o.tupa?'tupa':'no tupa'}}</span>
                </td>
                <td data-title="'Tipo'" filter="{ tipo: 'select'}" filter-data="tipos" sortable="'tipo'" style="text-align: center">
                    <span class="label label-mini" ng-class="{'label-info': o.tipo,'label-warning': !o.tipo}">{{o.tipo?'externo':'interno'}}</span>
                </td>
                <td data-title="'Nombre'" filter="{ nombre: 'text'}" sortable="'nombre'" >{{o.nombre}}</td>
                <td data-title="'Costo S/.'" sortable="'costo'" style="text-align: center">{{o.costo}}</td>
                <td data-title="'Duracion'" sortable="'duracion'" style="text-align: center">{{o.duracion}} D</td>
                <td data-title="'Accion'" style="text-align: center">
                    <button class="btn btn-primary btn-xs" ng-click="prepararEditar(o)"><i class="fa fa-eye" ></i></button>
                </td>
            </tr>
        </table></div>

    </div>
</section>
</div></div>

<!-- Modal -->
<div class="modal fade" id="modalEditarTramite" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">{{tipoTramiteSel.nombre}}</h4>
      </div>
      <div class="modal-body"><div class="form-panel">
              
        <form class="form-horizontal style-form" >
            <div class="form-group" >
                <label class="col-sm-2 control-label">Tupa</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" value="{{tipoTramiteSel.tupa?'tupa':'no tupa'}}" disabled>
                </div>
                <label class="col-sm-2 control-label">Tipo</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" value="{{tipoTramiteSel.tipo?'externo':'no interno'}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{tipoTramiteSel.tupa?'Tipo':''}} Institución</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="{{tipoTramiteSel.tipoOrganizacion}}" disabled>
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-2 control-label">Descripción</label>
                <div class="col-sm-10">
                    <textarea class="form-control" disabled>{{tipoTramiteSel.descripcion}}</textarea>
                </div>
            </div>
            <div class="form-group" >
                  <label class="col-sm-2 control-label">Costo</label>
                  <div class="col-sm-4">
                      <input class="form-control" value="{{tipoTramiteSel.costo}}" disabled>
                  </div>
                  <label class="col-sm-2 control-label">Duración</label>
                  <div class="col-sm-4">
                      <input min="1" max="30" class="form-control" value="{{tipoTramiteSel.duracion}}" disabled>
                  </div>
            </div><br/>
            <div class="form-group" >
              <div style="text-align: center"><strong>REQUISITOS</strong></div>
              <div class="col-sm-12">
              <div class="tabla-responsiva" style="max-height: 120px;border-top: 2px solid #ddd;margin-bottom: 0px;">
              <table class="table peque" style="margin-bottom: 0;">
                  <thead>
                  <tr>
                      <th style="width:15px">#</th><th style="width:auto">Requisito</th><th style="width:40%;">Formato adjunto</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="r in tipoTramiteSel.requisitos">
                      <td>{{$index+1}}</td>
                      <td>
                          <span>{{r.descripcion}}</span>
                      </td>
                      <td style="word-break: break-all;">
                          <span ><view-file url="{{r.url}}" nombre="r.nombreArchivo" archivo> </view-file></span>
                      </td>
                  </tr>
                  </tbody>
              </table></div>
              </div>
            </div><br/>
            <div class="form-group" >
              <div style="text-align: center"><strong>RUTAS</strong></div>
              <div class="col-sm-12">
              <div class="tabla-responsiva" style="max-height: 120px;border-top: 2px solid #ddd;margin-bottom: 0px;">
              <table class="table peque" style="margin-bottom: 0">
                  <thead>
                  <tr>
                      <th style="width:15px">#</th><th style="width:30%;">Origen</th><th style="width:30%;">Destino</th><th>Descripcion</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="r in tipoTramiteSel.rutas">
                      <td>{{$index +1}}</td>
                      <td>
                          <span>{{r.areaOri.nombre}}</span>
                      </td>
                      <td>
                          <span>{{r.areaDes.nombre}}</span>
                      </td>
                      <td>
                          <span>{{r.descripcion}}</span>
                      </td>
                  </tr>                  
                  </tbody>
              </table></div>                  
              </div>                        
            </div>
        </form>
      </div></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="imprimirTramite()"><i class="fa fa-print" ></i> Imprimir</button>
      </div>
    </div>
  </div>
</div>
