<div class="row">
    
<div class="col-md-12">
<section class="panel">
    <header class="panel-heading">
        <h4 style="display:inline;line-height: 1.9">CALENDARIO</h4>
    </header>
    <div class="panel-body" ng-init="mostrarCalendario()">
        
        <div id='calendar'></div>
        
    </div>
    

</section>
    

</div>
</div>


<!-- Modal -->
<div class="modal fade" id="modalActividad" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="max-width:550px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">{{actividad.id?'':'NUEVA '}}ACTIVIDAD</h4>
      </div>
      <div class="modal-body"><div class="form-panel">
        <form class="form-horizontal style-form" method="get">
            
            <div class="form-group" >
                <label class="col-sm-2 control-label">Nombre</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="actividad.titulo">
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-2 control-label">Descripción</label>
                <div class="col-sm-10">
                    <textarea class="form-control" ng-model="actividad.descripcion"></textarea>
                </div>
            </div>
            <div class="form-group" >                
                <label class="col-sm-2 control-label">Tipo</label>
                <div class="col-sm-4">
                    <div class="radio" style="display: inline-block">
                      <label><input type="radio" ng-model="actividad.tipo" value="N" >personal</label>
                    </div>
                    <div class="radio" style="display: inline-block">
                      <label><input type="radio" ng-model="actividad.tipo" value="A" >publico</label>
                    </div>
                </div>
            </div>
            <div class="form-group" >                
                <label class="col-sm-2 control-label">Inicio</label>
                <div class="col-md-4">
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="yyyy/MM/dd" ng-model="actividad.horaInicio" disabled/>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </p>
                </div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-default" ng-click="actividad.horaI=!actividad.horaI"><i class="fa fa-clock-o"></i></button>
                </div>
                <div class="col-sm-5">
                    <div ng-if="actividad.horaI" uib-timepicker ng-model="actividad.horaInicio" show-spinners="false" show-meridian="true"></div>                    
                </div>
            </div>
            <div class="form-group" >                
                <label class="col-sm-2 control-label">Fin</label>
                <div class="col-md-4">
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="yyyy/MM/dd" ng-model="actividad.horaFin" is-open="fecha2" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions"/>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="fecha2=true"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </p>
                </div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-default" ng-click="actividad.horaF=!actividad.horaF"><i class="fa fa-clock-o"></i></button>
                </div>
                <div class="col-sm-5">                    
                    <div ng-if="actividad.horaF" uib-timepicker min="actividad.horaInicio" ng-model="actividad.horaFin" show-spinners="false" show-meridian="true"></div>                    
                </div>
            </div>
        </form>
      </div></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-disabled="!actividad.titulo" ng-click="mergeActividad()">Guardar</button>
        <button type="button" class="btn btn-danger" ng-if="actividad.id" ng-click="quitarActividad()">Eliminar</button>
      </div>
    </div>
  </div>
</div>