<div class="row"><div class="col-lg-12">
<section class="panel">
    <header class="panel-heading">
        <h4 style="display:inline;line-height: 1.9">GRUPOS</h4>
        <span class="tools pull-right">
            <button class="btn btn btn-primary btn-sm" ng-click="listarGrupos(usuMaster.organizacion.organizacionID)"><i class="fa fa-rotate-right"></i> Listar</button>
        </span>
    </header>
    <div class="panel-body" ng-init="listarGrupos(usuMaster.organizacion.organizacionID)">
       
        <div class="tabla-responsiva"><table ng-table="tablaGrupo" class="table table-striped table-hover" show-filter="true">
          <colgroup>
              <col width="60px" /><col width="100px" /><col width="auto" /><col width="60px" /><col width="100px"/><col width="65px" />
          </colgroup>
          <tr ng-repeat="g in $data">
            <td data-title="'N'" sortable="'i'" >{{g.i}}</td>
            <td data-title="'Tipo'" filter="{ tipo: 'select'}" filter-data="tiposSelect " sortable="'tipo'" style="text-align: center">
                <span class="label label-mini" ng-class="{'label-info': g.tipo,'label-warning': !g.tipo}">{{g.tipo?'externo':'interno'}}</span>
            </td>
            <td data-title="'Nombre'" filter="{ nombre: 'text'}" sortable="'nombre'" >{{g.nombre}}</td>            
            <td data-title="'Estado'" filter="{ estado: 'select'}" filter-data="estadosSelect " sortable="'estado'" style="text-align: center">
                <span class="label label-mini" ng-class="{'label-info': g.estado=='A','label-warning': g.estado=='I'}">{{g.estado}}</span>
            </td>
            <td data-title="'usuarios'" style="text-align: center;">
                <span class="label label-mini label-primary" ng-click="verUsuarios(a)" style="cursor:pointer">ver</span>
            </td>

            <td data-title="'Accion'" style="text-align: center;">
                <button class="btn btn-primary btn-xs" ng-click="prepararEditar(g)"><i class="fa fa-pencil" ></i></button>
                <button class="btn btn-danger btn-xs" ng-click="eliminarGrupo(g.i,g.grupoID)"><i class="fa fa-trash-o " ></i></button>
            </td>
          </tr>

        </table></div>
        <div align="right" >
            <button class="btn btn btn-primary " ng-click="prepararAgregar()"><i class="fa fa-plus" ></i> Agregar</button>
            <button class="btn btn-danger " ng-click="eliminarGrupos()"><i class="fa fa-times" ></i> Eliminar</button>
        </div>

    </div>
</section>
</div></div>

<!-- Modal -->
<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">ACTUALIZAR GRUPO</h4>
      </div>
      <div class="modal-body">
          
          
        <div class="form-panel">
            <div class="form-horizontal style-form" >
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Tipo</label>
                    <div class="col-sm-10">
                        <div class="radio" style="display: inline-block">
                          <label><input type="radio" ng-model="grupoSel.tipo" ng-value="false" checked>interno</label>
                        </div>
                        <div class="radio" style="display: inline-block">
                          <label><input type="radio" ng-model="grupoSel.tipo" ng-value="true">externo</label>
                        </div>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Nombre</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="grupoSel.nombre">
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Estado</label>
                    <div class="col-sm-10">
                        <div class="radio" style="display: inline-block">
                          <label><input type="radio" ng-model="grupoSel.estado" ng-value="'A'" >activo</label>
                        </div>
                        <div class="radio" style="display: inline-block">
                          <label><input type="radio" ng-model="grupoSel.estado" ng-value="'I'">inactivo</label>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2 control-label">Usuarios</label>
                    <div class="col-sm-10">
                        <div class="ms-container" id="ms-my_multi_select2">
                        <div class="ms-selectable">
                        <ul class="ms-list" tabindex="-1">
                            <li class="ms-optgroup-container" ng-repeat="u in usuariosEdi"><ul class="ms-optgroup">
                                <li class="ms-elem-selectable" ng-click="seleccionarRol2($index)" ng-hide="u.ver"><span>{{u.nombre}} - {{u.rol}}</span></li>
                            </ul></li>
                        </ul>
                        </div>
                        <div class="ms-selection">
                        <ul class="ms-list" tabindex="-1">
                            <li class="ms-optgroup-container" ng-repeat="u in usuariosSelEdi"><ul class="ms-optgroup">
                                <li class="ms-elem-selection" ng-click="desSeleccionarRol2($index)"><span>{{u.nombre}} - {{u.rol}}</span></li>
                            </ul></li>
                        </ul>
                        </div></div>
                    </div>
                </div>
                
                
            </div>
        </div>
          
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" ng-click="editarGrupo()"><i class="fa fa-save" ></i> Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modalNuevo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">NUEVO GRUPO</h4>
      </div>
      <div class="modal-body">
          
          
            <div class="form-panel">
                <div class="form-horizontal style-form" >
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Tipo</label>
                        <div class="col-sm-10">
                            <div class="radio" style="display: inline-block">
                              <label><input type="radio" ng-model="nuevoGrupo.tipo" ng-value="false" checked>interno</label>
                            </div>
                            <div class="radio" style="display: inline-block">
                              <label><input type="radio" ng-model="nuevoGrupo.tipo" ng-value="true">externo</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Nombre</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="nuevoGrupo.nombre">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Estado</label>
                        <div class="col-sm-10">
                            <div class="radio" style="display: inline-block">
                              <label><input type="radio" ng-model="nuevoGrupo.estado" ng-value="'A'" checked>activo</label>
                            </div>
                            <div class="radio" style="display: inline-block">
                              <label><input type="radio" ng-model="nuevoGrupo.estado" ng-value="'I'">inactivo</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Usuarios</label>
                        <div class="col-sm-10">
                            <div class="ms-container" id="ms-my_multi_select2">
                            <div class="ms-selectable">
                            <ul class="ms-list" tabindex="-1">
                                <li class="ms-optgroup-container" ng-repeat="u in usuarios"><ul class="ms-optgroup">
                                    <li class="ms-elem-selectable" ng-click="seleccionarRol($index)" ng-hide="u.ver"><span>{{u.nombre}} - {{u.rol}}</span></li>
                                </ul></li>
                            </ul>
                            </div>
                            <div class="ms-selection">
                            <ul class="ms-list" tabindex="-1">
                                <li class="ms-optgroup-container" ng-repeat="u in usuariosSel"><ul class="ms-optgroup">
                                    <li class="ms-elem-selection" ng-click="desSeleccionarRol($index)"><span>{{u.nombre}} - {{u.rol}}</span></li>
                                </ul></li>
                            </ul>
                            </div></div>
                        </div>
                    </div>
                </div>
            </div>
          
          
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="agregarGrupo(usuMaster.organizacion.organizacionID)"><i class="fa fa-check" ></i> Guardar</button>
      </div>
    </div>
  </div>
</div>

