<div class="row">
    
<div class="col-md-12">
<section class="panel">
    <header class="panel-heading">
        <h4 style="display:inline;line-height: 1.9">TAREAS ESCOLARES</h4>
        <span class="tools pull-right">
            <button type="button" class="btn btn btn-primary btn-sm" ng-click="buscarTareas(usuMaster.usuario.usuarioID)"><i class="fa fa-rotate-right"></i> Listar</button>
        </span>
    </header>
    <div class="panel-body" ng-init="buscarPlanEstudios(usuMaster.organizacion.organizacionID,usuMaster.usuario.usuarioID)">
        <div class="form-panel">
            <div class="form-horizontal style-form" >
            <div class="form-group" >
                <label class="col-sm-2 control-label">Grado</label>
                <div class="col-sm-4">
                    <select class="form-control" ng-model="gradoSel" ng-options="g as g.grado for g in grados" ng-change="calcularSecciones(gradoSel)">
                        <option ng-value="todos"></option>
                    </select>
                </div>
                <label class="col-sm-2 control-label">Seccion</label>
                <div class="col-sm-4">
                    <select class="form-control" ng-model="seccionSel" ng-options="o as o.seccionID for o in gradoSel.secciones" ng-change="filtrarSecciones()">
                        <option ng-value="todos"></option>
                    </select>
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-2 control-label">Area</label>
                <div class="col-sm-4">
                    <select class="form-control" ng-model="areaSel" ng-options="o.areaID as o.area for o in seccionSel.areas" ng-click="filtrarAreas()">
                        <option ng-value="todos"></option>
                    </select>
                </div>
            </div>
            </div>
            
        </div><hr/>        

        <uib-tabset active="active" justified="true">
            <uib-tab index="0" heading="TAREAS" disable="true">
            <div class="panel-body" >                
                
            <div class="tabla-responsiva"><table ng-table="tablaTarea" class="table table-striped table-hover" show-filter="true" >
                <colgroup>
                    <col width="20px" /><col width="auto" /><col width="150px" /><col width="80px" /><col width="180px" /><col width="150px" /><col width="120px" /><col width="120px" />
                </colgroup>
                <tr ng-repeat="o in $data">
                    <td data-title="'N'" sortable="'i'" style="text-align: center">{{o.i}}</td>
                    <td data-title="'Nombre'" filter="{ nombre: 'text'}" sortable="'nombre'">{{o.nombre}}</td>
                    <td data-title="'Grado'" sortable="'gradoID'" style="text-align: center">{{o.grado}}</td>
                    <td data-title="'Seccion'" sortable="'seccionID'" style="text-align: center">{{o.seccionID}}</td>
                    <td data-title="'Area'" sortable="'areaID'" style="text-align: center">{{o.area}}</td>
                    <td data-title="'Fecha Entrega'" filter="{ fechaEntrega: 'text'}" sortable="'fechaEntrega'">{{o.fechaEntrega}}</td>
                    <td data-title="'Estado'" filter="{ estado: 'select'}" filter-data="estados" sortable="'estado'" style="text-align: center">
                        <span class="label label-mini" ng-class="{'label-info': o.estado=='N','label-warning': o.estado=='E','label-success': o.estado=='C'}">
                            {{o.estado=='C'?'calificado':o.estado=='E'?'enviado':'nuevo'}}
                        </span>
                    </td>
                    <td data-title="'Accion'" style="text-align: center">
                        <div ng-if="o.estado=='N'">
                        <button class="btn btn-primary btn-xs" ng-click="prepararEditar(o)" title="editar tarea"><i class="fa fa-pencil" ></i></button>
                        <button class="btn btn-success btn-xs" ng-click="prepararEnviar(o)" title="enviar tarea"><i class="fa fa-sign-out" ></i></button>
                        <button class="btn btn-danger btn-xs" ng-click="eliminarTarea(o.i,o.tareaID)" title="eliminar tarea"><i class="fa fa-trash-o" ></i></button>
                        </div>
                        <button ng-if="o.estado!='N'" class="btn btn-xs" ng-class="{'btn-success':o.estado=='E','btn-primary':o.estado=='C'}" ng-click="prepararTarea(o)" title="{{o.estado=='E'? 'revisar tarea':'ver tarea'}}"><i class="fa" ng-class="{'fa-check':o.estado=='E','fa-eye':o.estado=='C'}"></i></button>
                    </td>
                </tr>
            </table></div>
            <div align="right">            
                <button class="btn btn-primary" ng-disabled="!areaSel || !seccionSel" ng-click="prepararAgregar(tarea.seccionID,tarea.areaID)"><i class="fa fa-plus" ></i> Agregar</button>
            </div>

            </div>
            </uib-tab>
            <uib-tab index="1" heading="ALUMNOS" disable="true">
            <div class="panel-body" >
                
                <h4>Tarea: {{tarea.nombre}}</h4>
                
                <div class="tabla-responsiva"><table ng-table="tablaAlumno" class="table table-striped table-hover" show-filter="true" >
                <colgroup>
                    <col width="20px" /><col width="auto" /><col width="220px" ><col width="50px" /><col width="150px" /><col width="100px" /><col width="70px" />
                </colgroup>
                <tr ng-repeat="o in $data">
                    <td data-title="'N'" sortable="'i'" style="text-align: center">{{o.i}}</td>
                    <td data-title="'Apellidos'" filter="{ apellidos: 'text'}" sortable="'apellidos'">{{o.apellidos}}</td>
                    <td data-title="'Nombres'" filter="{ nombres: 'text'}" sortable="'nombres'">{{o.nombres}}</td>
                    <td data-title="'Nota'" filter="{ nota: 'text'}" sortable="'nota'">{{o.nota}}</td>
                    <td data-title="'Fecha Envio'" filter="{ fechaEntrega: 'text'}" sortable="'fechaEntrega'">{{o.fechaEntrega}}</td>
                    <td data-title="'Estado'" filter="{ estado: 'select'}" filter-data="estados" sortable="'estado'" style="text-align: center">
                        <span class="label label-mini" ng-class="{'label-info': o.estado=='E','label-success': o.estado=='C'}">
                            {{o.estado=='C'?'calificado':'enviado'}}
                        </span>
                    </td>
                    <td data-title="'Accion'" style="text-align: center">
                        <button class="btn btn-success btn-xs" ng-click="prepararCalificar(o)" title="calificar tarea"><i class="fa fa-pencil-square-o" ></i></button>
                    </td>
                </tr>
            </table></div>
                
            <div align="right">            
                <button class="btn btn-default" ng-click="$parent.$parent.active=0"><i class="fa fa-arrow-left" ></i> regresar</button>
                <button class="btn btn-primary" ng-click="finalizarCalificacion()"><i class="fa fa-save" ></i> Actualizar Registro</button>
            </div>  

            </div>
            </uib-tab>
            <uib-tab index="2" heading="LISTA DE DOCUMENTOS" disable="true">
            <div class="panel-body" >
                
                <h4>Tarea: {{tarea.nombre}}</h4>
                <h4>Alumno: {{alumno.nombres}}</h4>
                
                <div class="tabla-responsiva"><table class="table table-striped table-hover " >
                <thead>
                <tr>
                    <th style="width: 65px;">N°</th>
                    <th>Nombre</th>
                    <th style="width: 80px">Nota</th>
                </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="d in documentos">
                      <td >{{d.i}}</td>
                      <td >
                          <view-file url="{{d.url}}" nombre="d.documento" > </view-file>
                      </td>
                      <td >
                          <input type="number" ng-model="d.nota" style="width: 100%;text-align: center" ng-keyup="calcularNota()">
                      </td>
                  </tr>
                  <tr style="background: #e8e9f0">
                      <td ></td>
                      <td style="text-align: right">
                          NOTA FINAL :
                      </td>
                      <td style="text-align: center">
                          <span style="width: 100%;font-weight: bold">{{alumno.nota}}</span>
                      </td>
                  </tr>
                </tbody>
                </table></div>
                
            <div align="right">            
                <button class="btn btn-default" ng-click="$parent.$parent.active=1"><i class="fa fa-arrow-left" ></i> regresar</button>
                <button class="btn btn-primary" ng-click="calificarTarea()"><i class="fa fa-save" ></i> guardar</button>
            </div>  

            </div>
            </uib-tab>
        </uib-tabset>
        
    </div>
</section>
    

</div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalNuevaTarea" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">TAREA ESCOLAR</h4>
      </div>
      <div class="modal-body"><div class="form-panel">
        <form class="form-horizontal style-form" method="get">                    
            
            <div class="form-group" >
                <label class="col-sm-2 control-label">Nombre</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="tarea.nombre">
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-2 control-label">Descripción</label>
                <div class="col-sm-10">
                    <textarea class="form-control" ng-model="tarea.descripcion"></textarea>
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-2" style="text-align: right">N° de archivos permitidos</label>
                <div class="col-sm-2">
                    <input type="number" step="1" class="form-control" ng-model="tarea.numeroDoc">
                </div>
                <label class="col-sm-2" style="text-align: right">Nota por Envio (opcional)</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" ng-model="tarea.nota2">
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-2 control-label">Documento</label>
                <div class="col-sm-10">                    
                    <input-file ng-if="!tarea.adjunto" nombre="tarea.adjunto" archivo="tarea.archivo"></input-file>
                    <div ng-if="tarea.adjunto">
                    <view-file url="{{tarea.url}}" nombre="tarea.adjunto" archivo="tarea.archivo" ></view-file>
                    <button type="button" class="btn btn-xs" ng-click="tarea.adjunto='';tarea.archivo=null" title="eliminar imagen"><i class="fa fa-times"></i></button>
                    </div>
                </div>
            </div>
        </form>
      </div></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="agregarTarea(usuMaster.usuario.usuarioID)">Guardar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalEnvioTarea" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">ENVIO TAREA</h4>
      </div>
      <div class="modal-body"><div class="form-panel">
        <form class="form-horizontal style-form" method="get">                    
            <h4>Datos Tarea</h4>            
            <div class="form-group" >
                <label class="col-sm-2 control-label">Grado</label>
                <div class="col-sm-4">
                    <span class="form-control" >{{tarea.grado}}</span>
                </div>
                <label class="col-sm-2 control-label">Seccion</label>
                <div class="col-sm-4">
                    <span class="form-control" >{{tarea.seccionID}}</span>
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-2 control-label">Area</label>
                <div class="col-sm-10">
                    <span class="form-control" >{{tarea.area}}</span>
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-2 control-label">Nombre Tarea</label>
                <div class="col-sm-10">
                    <span class="form-control" >{{tarea.nombre}}</span>
                </div>
            </div>
            <h4>Fecha Entrega</h4>
            <div class="form-group" >                
                <label class="col-sm-2 control-label">Dia</label>
                <div class="col-md-4">
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="yyyy/MM/dd" ng-model="tarea.fecha" is-open="fecha1" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions"/>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="fecha1=true"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </p>
                </div>
                <label class="col-sm-2 control-label">Hora</label>
                <div class="col-sm-4">
                    <div uib-timepicker min="fechaMinima" ng-model="tarea.fecha" show-spinners="false" show-meridian="true"></div>                    
                </div>
            </div>
        </form>
      </div></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"> Cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="enviarTarea(usuMaster.organizacion.organizacionID)"> Enviar</button>
      </div>
    </div>
  </div>
</div>