<div class="row"><div class="col-lg-12">
<section class="panel">
    <header class="panel-heading">
        <span>DIRECTORIO EXTERNO</span>        
        <span class="tools pull-right">
            <button class="btn btn btn-primary btn-sm" ng-click="listarExterno()"><i class="fa fa-rotate-right"></i> Actualizar</button>
            <button class="btn btn btn-primary btn-sm" ng-click="modalreporte()"><i class="fa fa-rotate-right"></i> Reporte</button>
        </span>    
    </header>
    <div>                                              
        <div class="panel-body" ng-init = "listarExterno()">
            <div class="tabla-responsiva"><table ng-table="tablaDirExt" class="table table-striped table-hover" show-filter="true" >
                <tr ng-repeat="dex in $data">
                    <td data-title="'Nombre'" filter="{ dexNom: 'text'}" sortable="'dexNom'">{{dex.dexNom}}</td>
                    <td data-title="'Email'" filter="{ dexEma: 'text'}" sortable="'dexEma'">{{dex.dexEma}}</td>
                    <td data-title="'Direccion'" filter="{ dexDir: 'text'}" sortable="'dexDir'">{{dex.dexDir}}</td>
                    <td data-title="'Telefono'" filter="{ dexTel: 'number'}" sortable="'dexTel'">{{dex.dexTel}}</td>                                                       
                    <td data-title="'Acción'" style="width: 65px">
                        <button class="btn btn-primary btn-xs" ng-click="prepararEditarDirExt(dex)"><i class="fa fa-pencil" ></i></button>
                        <button class="btn btn-danger btn-xs" ng-click="eliminarDirExt(dex.i,dex.dexId)"><i class="fa fa-trash-o " ></i></button>
                    </td>
                </tr>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn btn-primary " data-toggle="modal" data-target="#modalNuevo"><i class="fa fa-plus" ></i> Agregar</button>
<!--            <button class="btn btn-danger " ng-click="eliminarSubModulos()"><i class="fa fa-times" ></i> Eliminar</button>-->
        </div>  
<!--        <iframe src="">
        </iframe>-->
    </div>    
</section>
</div></div>

<!--Modal Editar DE-->
<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">ACTUALIZAR DIRECTORIO EXTERNO</h4>
      </div>
      <div class="modal-body">
        <div class="form-panel">
            <div class="form-horizontal style-form" >                
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Nombre</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="dexSel.dexNom">
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="dexSel.dexEma">
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Direccion</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" ng-model="dexSel.dexDir"></textarea>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Telefono</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" ng-model="dexSel.dexTel">
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" ng-click="editarDirExt()"><i class="fa fa-save" ></i> Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>

<!--Modal Nuevo DE-->
<div class="modal fade" id="modalNuevo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">NUEVA DIRECTORIO EXTERNO</h4>
      </div>
      <div class="modal-body">          
            <div class="form-panel">
                <div class="form-horizontal style-form" >
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Nombre</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="nuevoDex.dexNom">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="nuevoDex.dexEma">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Direccion</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" ng-model="nuevoDex.dexDir"></textarea>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Telefono</label>
                        <div class="col-sm-10">                            
                            <input type="number" class="form-control" ng-model="nuevoDex.dexTel">
                        </div>
                    </div>
                </div>
            </div>                    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="agregarDirExt()"><i class="fa fa-check" ></i> Guardar</button>
      </div>
    </div>
  </div>
</div>


<!--Modal para los reportes-->
<div class="modal fade" id="modalReportes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">REPORTES</h4>
      </div>
      <div class="modal-body">          
        <div class="form-panel">            
            <pre>Seleccione las columnas que se van a mostrar en el reporte:</pre>
            <form>
<!--                <div class="checkbox">
                  <label><input type="checkbox" ng-model="checkModel['p.dni']" uib-btn-checkbox>DNI</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" ng-model="checkModel['p.ape_mat']" uib-btn-checkbox>Ape. Materno</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" ng-model="checkModel['p.ape_pat']" uib-btn-checkbox>Ape. Paterno</label>
                </div>-->
                <div class="checkbox">
                  <label><input type="checkbox" ng-model="checkModel['dex_nombre']" uib-btn-checkbox>Nombre</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" ng-model="checkModel['dex_dir']" uib-btn-checkbox>Direccion</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" ng-model="checkModel['dex_ema']" uib-btn-checkbox>Email</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" ng-model="checkModel['dex_tel']" uib-btn-checkbox>Telefono</label>
                </div>
            </form>
            <div>
                <h6>Seleccione al menos 3 columnas</h6>
            </div>

        </div>          
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>                
        <button type="button" class="btn btn-primary" ng-click="reporte()"><i class="fa fa-check" ></i>Reporte</button>        
      </div>        
    </div>
  </div>
</div>>