<div class="row"><div class="col-lg-12" >
  <section class="panel">
        <header class="panel-heading">
            <h4 style="display:inline;line-height: 1.9">REPORTE DE UNIDADES ORGANICAS</h4>
     
        </header>
        <div class="panel-body" ng-init="listarAreas() ">
            
         <div class="form-panel">
            <div class="form-horizontal style-form" >
                 <div class="form-group">
                        <label class="col-sm-2 control-label">Area :</label>
                        <div class="col-sm-4">
                            <select class="form-control" ng-model="area" ng-change="elegirUnidadOrganica(serie_documental.areaID)">
                                 <option value=""></option>
                                 <option ng-repeat="a in areas" value="{{a.areaID}}">{{a.nombre_area}}</option>
                            </select>
                         </div>
                        <button class="btn btn btn-primary" ng-click="verReporte()"><i class="fa fa-plus" ></i>Generar Reporte  </button>
                        
                </div>
               
                
                
            
            </div>  
            
            
        </div>   
    </div>
    

    </section> 
</div>
</div>
      