
<div class="row fichaEvaluacion">

    <div class="col-lg-12">

        <md-progress-linear ng-if="ctrlmepFicha.showProgress" md-mode="indeterminate"></md-progress-linear>

        <section class="panel">
            <header class="panel-heading">
                <h4>Fichas de evaluacion</h4>
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-6">
                            <label for="instid">Institucion:</label>
                            <span id="instid">{{ctrlmepFicha.org.nombre}}</span>
                        </div>
                        <div class="col-lg-6">
                            <label for="userid">Usuario:</label>
                            <span id="userid">{{ctrlmepFicha.user.nombre}}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <!--<div class="col-lg-6">
                            <label for="ugelid">UGEL:</label>
                            <span id="ugelid"></span>
                        </div>-->
                        <div class="col-lg-6">
                            <label for="cargoid">Cargo:</label>
                            <span id="cargoid">{{ctrlmepFicha.rol.nombre}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="idresult" class="panel-body">
                <div class="panel-heading">Lista de fichas creadas</div>
                <table ng-table="ctrlmepFicha.tableFichaParams" class="table table-bordered table-hover table-condensed editable-table" >
                    <colgroup>
                        <col width="40%" />
                        <col width="20%" />
                        <col width="10%" />
                        <col width="20%" />
                    </colgroup>
                    <tr ng-repeat="row in $data" ng-form="rowFormFicha">
                        <td filter="{tip: 'text'}" sortable="'tip'"  ng-form="tip" data-title="'Tipo'"><span>{{row.tip}}</span></td>
                        <td filter="{fcre: 'text'}" sortable="'fcre'"  ng-form="fcre" data-title="'Creacion'"><span>{{row.fcre | date:'dd-MM-yyyy'}}</span></td>
                        <td data-title="'Completa al'"><span>100%</span></td>
                        <td>
                            <button class="btn btn-primary btn-sm" ng-click="ctrlmepFicha.viewDetalles(row)">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </button>
                            <button class="btn btn-danger btn-sm md-primary md-raised" ng-click="ctrlmepFicha.deleteFicha($event,row)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="opciones" class="row">
                <form class="form-inline" role="form">
                    <div class="form-group col-lg-offset-10">
                        <button type="submit" class="btn btn-primary" ng-click="ctrlmepFicha.registrarFicha()">Nuevo</button>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>
<script type="text/ng-template" id="nuevaFicha.html">
    <div class="modal-header">
        <h3 class="modal-title">Nueva Ficha de Evaluacion</h3>
    </div>
    <div class="modal-body">
        <form name="myForm" class="form-horizontal" role="form">
            <div class="form-group">
                <label for="tipo_personal" class="col-lg-2 control-label">Tipo de personal a evaluar:</label>
                <div class="col-lg-10">
                    <select name="myType" id="tipo_personal" class="form-control" ng-model="ctrlNuevaFicha.ficha.tipo" ng-options="s.id as s.nombre for s in ctrlNuevaFicha.ltipos track by s.id" required>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="nombre_ficha" class="col-lg-2 control-label">Nombre:</label>
                <div class="col-lg-10">
                    <input name = "myName" id="nombre_ficha" class="form-control" type="text" ng-model="ctrlNuevaFicha.ficha.nombre" required>
                    <span ng-show="myForm.myName.$error.required">Este Campo es Requerido</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Descripcion:</label>
                <div class="col-lg-10">
                    <textarea name="myDes" class="form-control" row="10" ng-model="ctrlNuevaFicha.ficha.descrip" required></textarea>
                    <span ng-show="myForm.myDes.$error.required">Este Campo es Requerido</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-4 col-lg-offset-8">
                    <button type="submit" class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="ctrlNuevaFicha.guardar()">Guardar</button>
                    <button class="btn btn-primary" ng-click="ctrlNuevaFicha.cancelar()">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</script>
<script type="text/ng-template" id="deleteDialog.html">
    <div class="modal-header">
        <h3 class="modal-title">{{ctrl.title}}</h3>
    </div>
    <div class="modal-body progressLineardemoBasicUsage" layout="column" layout-margin style="padding:25px;" ng-cloak>
        <div ng-if="ctrl.showProgress">
            <md-progress-linear md-mode="indeterminate"></md-progress-linear>
        </div>
        <div>
            {{ctrl.context}}
        </div>

        <div class="form-group">
            <div class="col-lg-4 col-lg-offset-8">
                <button type="submit" class="btn btn-primary" ng-click="ctrl.aceptar()">Aceptar</button>
                <button type="submit" class="btn btn-danger" ng-click="ctrl.cancelar()">Cancelar</button>
            </div>
        </div>
    </div>
</script>