<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h4>Ficha de Evaluacion</h4>
                <md-progress-linear ng-if="ctrlEvaluacionPer.showProgress" md-mode="indeterminate"></md-progress-linear>
            </header>
            <div class="panel-body">
                <div class="row control-group">
                    <label class="control-label">Codigo:</label>
                    <span class="controls readonly">
                        {{ctrlEvaluacionPer.employee.tra}}
                    </span>
                    <label class="control-label">Nombres:</label>
                    <span class="controls readonly">
                        {{ctrlEvaluacionPer.employee.nom}}
                    </span>
                    <label class="control-label">Apellidos:</label>
                    <span class="controls readonly">
                        {{ctrlEvaluacionPer.employee.apep}} {{ctrlEvaluacionPer.employee.apem}}
                    </span>
                    <label class="control-label">Cargo:</label>
                    <span class="controls readonly">
                        {{ctrlEvaluacionPer.employee.car}}
                    </span>
                </div>
                <div class="row control-group">
                    <label class="checkbox-inline" ng-repeat="etapa in ctrlEvaluacionPer.etapasEvaluacion">
                        <input type="checkbox" value="etapa.abr" ng-model="etapa.selected" ng-click="ctrlEvaluacionPer.selectEtapa(etapa,$index)"> {{etapa.nom}}
                    </label>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <uib-accordion close-others="oneAtATime">
                            <div  ng-repeat="cont in ctrlEvaluacionPer.fichas_evaluacion.cont" uib-accordion-group class="panel-default" is-open="status.open">
                                <uib-accordion-heading is-open="true">
                                    <h5 ng-if="cont.tip === 'd'">Dominio</h5><h5 ng-if="cont.tip === 'c'">Competencia</h5><h5 ng-if="cont.tip === 'f'">Funcion:</h5><span ng-bind="cont.nom"></span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                </uib-accordion-heading>
                                <div ng-switch="cont.tip">
                                    <div ng-switch-when="d">
                                        <uib-accordion close-others="oneAtATime">
                                            <div  ng-repeat="hij in cont.cont" uib-accordion-group class="panel-default" is-open="status.open">
                                                <uib-accordion-heading is-open="true">
                                                    <h5>Competencia:</h5><span ng-bind="hij.nom"></span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                                </uib-accordion-heading>
                                                <table class="table table-bordered">
                                                    <tr>
                                                        <th></th>
                                                        <th>Nombre</th>
                                                        <th ng-repeat="esca in ctrlEvaluacionPer.fichas_evaluacion.esc">
                                                            <span ng-bind="esca.val"></span>
                                                        </th>
                                                    </tr>
                                                    <tr ng-repeat="ind in hij.indicadores">
                                                        <td>Indicador</td>
                                                        <td ng-bind="ind.nom"></td>
                                                        <td ng-repeat="esc in ind.esc">
                                                            <input type="checkbox" class="checkbox checkbox-inline" ng-click="ctrlEvaluacionPer.setValue(hij,ind,esc,$index,cont)" ng-model='esc.isSelected'>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </uib-accordion>
                                    </div>
                                    <div ng-switch-default>
                                        <table class="table table-bordered">
                                            <tr>
                                                <th></th>
                                                <th>Nombre</th>
                                                <th ng-repeat="esca in ctrlEvaluacionPer.fichas_evaluacion.esc">
                                                    <span ng-bind="esca.val"></span>
                                                </th>
                                            </tr>
                                            <tr ng-repeat="ind in cont.indicadores">
                                                <td>Indicador</td>
                                                <td ng-bind="ind.nom"></td>
                                                <td ng-repeat="esc in ind.esc">
                                                    <input type="checkbox" class="checkbox checkbox-inline" ng-click="ctrlEvaluacionPer.setValue(cont,ind,esc,$index,null)" ng-model='esc.isSelected'>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </uib-accordion>
                        <div class="col-lg-offset-11 btn-group">
                            <button  class="btn btn-primary" ng-click="ctrlEvaluacionPer.evaluarTrabajador()">Evaluar</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<script  type="text/ng-template" id="calificacion_evaluacion.html">
    <div class="modal-header">
        <h3 class="modal-title">Resumen de Evaluacion de personal</h3>
        <md-progress-linear ng-if="ctrl.showProgress" md-mode="indeterminate"></md-progress-linear>
    </div>
    <div class="modal-body">
        <div id="resumen_general">
            <table class="table table-bordered table-striped">
                <thead>
                <th>Nombre</th>
                <th ng-repeat="ncol in ctrlCalificacion.cols">{{ncol.val}}</th>
                <th>Total</th>
                </thead>
                <tr ng-repeat="res in ctrlCalificacion.resumen.detalle">
                    <td><span ng-if="res.tip === 'c'"><b>Competencia: </b></span><span>{{res.nom}}</span></td>
                    <td ng-repeat="valor in res.vals track by $index">{{valor}}</td>
                    <td><span>{{res.subt}}</span></td>
                </tr>
            </table>
        </div>
        <div id="puntaje_final">
            <table class="table table-bordered table-striped">
                <thead>
                <th>Item de Evaluacion</th>
                <th>Puntaje(%)</th>
                </thead>
                <tr ng-repeat="res in ctrlCalificacion.resumen.detalle">
                    <td><span ng-if="res.tip === 'c'"><b>Competencia: </b></span><span>{{res.nom}}</span></td>
                    <td><span>{{res.dt | number : 2}}%</span></td>
                </tr>
                <tr>
                    <td><span ><b>Total: </b></span></td>
                    <td><span>{{ctrlCalificacion.resumen.total | number : 2}} %</span></td>
                </tr>
            </table>
        </div>
        <div>
            <h4 align="center">{{ctrlCalificacion.resumen.des}}</h4>
        </div>
        <div class="col-lg-offset-6 btn-group">
            <button type="submit" class="btn btn-warning" ng-disabled="!ctrlCalificacion.registroRealizado" ng-click="ctrlCalificacion.compartir()">Compartir</button>
            <button type="submit" class="btn btn-primary" ng-click="ctrlCalificacion.guardar()">Guardar</button>
            <button type="submit" class="btn btn-danger" ng-click="ctrlCalificacion.cancelar()">Cancelar</button>
        </div>

    </div>
</script>