<style type="text/css">
    form.tab-form-demo .tab-pane {
        margin: 20px 20px;
    }
</style>
<div class="col-lg-12">
    <section class="panel">
        <header class="panel-heading">
            <h4 style="display:inline;line-height: 1.9">MATRICULA AUTOMATICA</h4>
        </header>
        <div class="form-group">
            <div class="form-group">
                <div class="input-group col-lg-12">
                    <div class="col-lg-6">
                        <label>Matricula para el estudiante:</label>
                        <div class="form-group">
                            <button type="button"
                                    ng-click = "buscarMatricula();"
                                    class="btn btn-success btn-block">Matricula Automatica</button>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <label>Constancia de Matricula:</label>
                        <div class="form-group">
                            <button type="button"
                                    ng-click = "descargarConstanciaMatricula();"
                                    class="btn btn-info btn-block">Constancia de Matricula</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <label> </label>
        </div>

    </section>
</div>

<div id="modalMatriculaCreate" class="modal fade" role="dialog"
     ng-init="cargaInicial();">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="overflow-y: auto">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Matricula</h4>
            </div>
            <form id="createForm" method="post">
                <div class="modal-body">
                    <div class="form-horizontal">   
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label>Estado:</label>
                                <input type="text" class="form-control" name="matEstNom" id="matEstNom" ng-model="matriculaCreate.matEstNom" ng-disabled="true">
                            </div>
                            <div class="col-sm-3">
                                <label>Fecha:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" id="fecNac" 
                                           ng-model="matriculaCreate.matFec"  is-open="popup1.opened" datepicker-options="dateOptions" 
                                           close-text="Close" alt-input-formats="altInputFormats" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <label>Situacion Matricula:</label>
                                <select class="form-control" id="matSit" name="matSit" ng-model="matriculaCreate.matSit" >
                                    <option value="1">Ingresante</option>
                                    <option value="2">Promovido</option>
                                    <option value="3">Repitente</option>
                                    <option value="4">Reentrante</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <label>Condición Matricula:</label>
                                <select class="form-control" id="conMat" name="conMat" ng-model="matriculaCreate.conMat" >
                                    <option value="1">Gratuito</option>
                                    <option value="2">Pagante</option>
                                    <option value="3">Beca Completa</option>
                                    <option value="4">Media Beca</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <label>Nivel:</label>
                                <select class="form-control" 
                                        id="nivId" name="nivId" 
                                        ng-model="matriculaCreate.nivId"
                                        ng-change="cargarJornada()">
                                    <option ng-repeat="niv in arrays.niveles" value="{{niv.nivelId}}" >{{niv.nivelNom}}</option>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <label>Jornada Escolar:</label>
                                <select class="form-control" 
                                        id="jorEscId" name="jorEscId" 
                                        ng-model="matriculaCreate.jorEscId"
                                        ng-change="cargarTurno()">
                                    <option ng-repeat="jor in arrays.jornadas" value="{{jor.jornadaId}}" >{{jor.jornadaNom}}</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <label>Turno:</label>
                                <select class="form-control" 
                                        id="turId" name="turId" 
                                        ng-model="matriculaCreate.turId"
                                        ng-change="cargarGrados()">
                                    <option ng-repeat="tur in arrays.turnos" value="{{tur.turnoId}}" >{{tur.turnoNom}}</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <label>Grados:</label>
                                <select class="form-control" 
                                        id="graId" name="graId" 
                                        ng-model="matriculaCreate.graId"
                                        ng-change="cargarVacantes()">
                                    <option ng-repeat="gra in arrays.grados" value="{{gra.gradoId}}" >{{gra.gradoNom}}</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <label>Vacantes:</label>
                                <input type="text" class="form-control" 
                                       name="vacantesxGrado" id="vacantesxGrado" 
                                       ng-model="datosVacantes.vacantesxGrado" 
                                       ng-disabled="true"/>
                            </div>

                            <div class="col-lg-6">
                                <label>Apoderado:</label>
                                <select class="form-control" 
                                        id="matParId" name="matParId" 
                                        ng-model="matriculaCreate.matParId">
                                    <option ng-repeat="par in parientes" value="{{par.parParId}}" >{{par.parParDes}}</option>
                                </select>
                            </div>

                            <div class="col-sm-12">
                                <label>Observaciones:</label>
                                <input class="form-control" id="matObs" name="matObs" type="text" ng-model="matriculaCreate.matObs" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" 
                            ng-click="generarMatricula();">
                        <i class="fa fa-archive "> </i> Generar Matricula
                    </button>
                    <button type="button" class="btn btn-outline btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>                                        
    </div>
</div>

<div id="modalMatriculaLoad" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="overflow-y: auto">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Matricula</h4>
            </div>
            <form id="LoadForm" method="post">
                <div class="modal-body">
                    <div class="form-horizontal">   
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label>Condicion de Matricula:</label>
                                <input type="text" class="form-control" 
                                       name="conMatNom" id="conMatNom" 
                                       ng-model="matriculaLoad.conMatNom" ng-disabled="true">
                            </div>
                            <div class="col-sm-3">
                                <label>Situacion de Matricula:</label>
                                <input type="text" class="form-control" 
                                       name="sitMatNom" id="sitMatNom" 
                                       ng-model="matriculaLoad.sitMatNom" ng-disabled="true">
                            </div>
                            <div class="col-sm-3">
                                <label>Estado de Matricula:</label>
                                <input type="text" class="form-control" 
                                       name="matEstNom" id="matEstNom" 
                                       ng-model="matriculaLoad.matEstNom" ng-disabled="true">
                            </div>
                            <div class="col-sm-3">
                                <label>Fecha:</label>
                                <input type="text" class="form-control" 
                                       name="matFec" id="matFec" 
                                       ng-model="matriculaLoad.matFec" ng-disabled="true">
                            </div>
                            <div class="col-sm-6">
                                <label>Apoderado:</label>
                                <input type="text" class="form-control" 
                                       name="apoNom" id="apoNom" 
                                       ng-model="matriculaLoad.apoNom" ng-disabled="true">
                            </div>
                            <div class="col-sm-6">
                                <label>Estudiante:</label>
                                <input type="text" class="form-control" 
                                       name="estNom" id="estNom" 
                                       ng-model="matriculaLoad.estNom" ng-disabled="true">
                            </div>

                            <div class="col-sm-2">
                                <label>Nivel:</label>
                                <input type="text" class="form-control" 
                                       name="planNivNom" id="planNivNom" 
                                       ng-model="matriculaLoad.nivNom" ng-disabled="true">
                            </div>
                            <div class="col-sm-6">
                                <label>Jornada:</label>
                                <input type="text" class="form-control" 
                                       name="planNivNom" id="planNivNom" 
                                       ng-model="matriculaLoad.JornadaNom" ng-disabled="true">
                            </div>
                            <div class="col-sm-2">
                                <label>Turno:</label>
                                <input type="text" class="form-control" 
                                       name="planNivNom" id="planNivNom" 
                                       ng-model="matriculaLoad.turnoNom" ng-disabled="true">
                            </div>
                            <div class="col-sm-2">
                                <label>Grado y Seccion</label>
                                <input type="text" class="form-control" 
                                       name="graNom" id="graNom" 
                                       ng-disabled="true" value="{{matriculaLoad.graNom}} {{matriculaLoad.secId}}">
                            </div>
                            <div class="col-sm-6">
                                <label>Organizacion Origen</label>
                                <input type="text" class="form-control" 
                                       name="orgOriNom" id="orgOriNom" 
                                       ng-model="matriculaLoad.orgOriNom" ng-disabled="true">
                            </div>
                            <div class="col-sm-6">
                                <label>Organizacion Destino</label>
                                <input type="text" class="form-control" 
                                       name="orgDesNom" id="orgDesNom" 
                                       ng-model="matriculaLoad.orgDesNom" ng-disabled="true">
                            </div>
                            <div class="col-sm-12">
                                <label>Observaciones</label>
                                <input type="text" class="form-control" 
                                       name="obs" id="obs" 
                                       ng-model="matriculaLoad.obs" ng-disabled="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>                                        
    </div>
</div>