<style type="text/css">
    form.tab-form-demo .tab-pane {
        margin: 20px 20px;
    }
</style>
<div class="col-lg-12">
    <section class="panel">
        <header class="panel-heading">
            <h4 style="display:inline;line-height: 1.9">REGISTRO DE ESTUDIANTE</h4>
        </header>
        <div class="form-group">
            <form name="formEstudiante" class="tab-form-demo">
                <div class="form-group">
                    <div class="input-group col-lg-12">
                        <div class="col-lg-8">
                            <label for="codEst">Codigo del estudiante:</label>
                            <div class="input-group">
                                <input class="form-control" id="codEst" name="codEst" type="text" ng-model="busqueda.codigoBusqueda" />
                                <span class="input-group-btn">
                                    <button class="btn btn-info" 
                                            ng-click="buscarEstudiante();
                                                    active = 0">
                                        <i class="glyphicon glyphicon-book"> Buscar</i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label for="filCodEst">Busqueda por:</label>
                            <select class="form-control" id="filCodEst" name="filCodEst" ng-model="busqueda.tipoBusqueda">
                                <option value="1">Documento Nacional de Identidad</option>
                                <option value="2">Codigo de Estudiante</option>
                            </select>
                        </div>
                        <br />
                        <div class="form-group">
                            <div class="input-group col-lg-12">
                                <div class="col-lg-4">
                                    <label>Estudiante Actual:</label>
                                    <input class="form-control" id="usuAct" name="usuAct" type="text" placeholder="Usuario Registrado" ng-disabled="flags.Usuarioactual" ng-model="estudianteActual.nombreCompleto" />
                                </div>
                                <div class="col-lg-4">
                                    <label>DNI:</label>
                                    <input class="form-control" id="dniAct" name="dniAct" type="text" placeholder="Documento Nacional de Identidad" ng-disabled="flags.Usuarioactual"  ng-model="estudianteActual.DNI" />
                                </div>
                                <!--<div class="col-lg-4">
                                    <label>.</label>
                                    <button class="btn btn btn-success btn-block " 
                                            ng-click="generarFichaMatricula();" 
                                            ng-disabled="flags.disableAccessPestanias">
                                        Generar Ficha Unica de Matricula
                                    </button>
                                </div>-->
                            </div>
                        </div>
                        <hr />
                    </div>
                    <uib-tabset active="active" id="tab">
                        <uib-tab index="0" heading="Información Basica" >
                            <ng-form name="ngform1" ng-init="cargarDatos()">
                                <h4>Datos Generales</h4>
                                <div class="form-group">
                                    <div class="input-group col-lg-12">
                                        <div class="col-lg-6">
                                            <label for="apePat">Apellido Paterno:</label>
                                            <input class="form-control" id="apePat" name="apePat" type="text" placeholder="Apellido Paterno" ng-model="datosGenerales.persona.apePat" />
                                        </div>
                                        <div class="col-lg-6">
                                            <label for="apeMat">Apellido Materno:</label>
                                            <input class="form-control" id="apeMat" name="apeMat" type="text" placeholder="Apellido Materno" ng-model="datosGenerales.persona.apeMat" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group col-lg-12">
                                        <div class="col-lg-6">
                                            <label for="nom">Nombres:</label>
                                            <input class="form-control" id="nom" name="nom" type="text" placeholder="Nombres" ng-model="datosGenerales.persona.nom" />
                                        </div>
                                        <div class="col-lg-3">
                                            <label for="dni">DNI:</label>
                                            <input class="form-control" id="dni" name="dni" type="text" placeholder="DNI" ng-model="datosGenerales.persona.dni" />
                                        </div>
                                        <div class="col-lg-3">
                                            <label for="codEst">Codigo Estudiante</label>
                                            <input class="form-control" id="codEst" name="codEst" type="text" placeholder="Codigo Estudiante" ng-model="datosGenerales.estudiante.codEst" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group col-lg-12">
                                        <div class="col-lg-6">
                                            <label for="sex">Sexo:</label>
                                            <select class="form-control" id="sex" name="sex" ng-model="datosGenerales.persona.sex" >
                                                <option value="H">Masculino</option>
                                                <option value="M">Femenino</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-6">
                                            <label for="estCiv">Estado Civil:</label>
                                            <select class="form-control" id="estCiv" name="estCiv" ng-model="datosGenerales.persona.estCiv">
                                                <option value="S">Soltero</option>
                                                <option value="C">Casado</option>
                                                <option value="D">Divorciado/Separado</option>
                                                <option value="V">Viudo</option>
                                                <option value="CV">Conviviente</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <h4>Datos de Nacimiento</h4>
                                <div class="form-group">
                                    <div class="input-group col-lg-12">
                                        <div class="col-lg-4">
                                            <label for="fecNac">Fecha de Nacimiento:</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" id="fecNac" 
                                                       ng-model="datosGenerales.estudiante.datosNacimiento.fecNac"  is-open="popup1.opened" datepicker-options="dateOptions" 
                                                       close-text="Close" alt-input-formats="altInputFormats" />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-4">
                                                <label for="paiId">Pais:</label>
                                                <select class="form-control" id="paiId" name="paiId" ng-model="datosGenerales.estudiante.datosNacimiento.pais.paiId">
                                                    <option ng-repeat="pai in paises" value="{{pai.paiId}}" >{{pai.paiNom}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <label for="nacReg">Nacimiento Registrado:</label>
                                            <input class="form-control" id="nacReg" name="nacReg" type="checkbox"ng-model="datosGenerales.estudiante.datosNacimiento.nacReg"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group col-lg-12">
                                        <div class="col-lg-4">
                                            <label for="ubiIde">Ubigeo:</label>
                                            <div class="input-group">
                                                <input class="form-control" id="ubiIde" name="ubiIde" type="text" placeholder="UBIGEO" ng-model="datosGenerales.estudiante.datosNacimiento.ubiCod" />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="buscarUbigeo()"><i class="glyphicon glyphicon-search"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <label for="direc">Direccion:</label>
                                            <input class="form-control" id="direc" name="direc" type="text" placeholder="Direccion" ng-model="datosGenerales.persona.perDir"/>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <h4>Otros Datos</h4>
                                <div class="form-group">
                                    <div class="input-group col-lg-12">
                                        <div class="col-lg-6">
                                            <label for="len_mat">Lengua Materna:</label>
                                            <select class="form-control" id="len_mat" name="len_mat" ng-model="datosGenerales.persona.lenguaByLenMat.lenId">
                                                <option ng-repeat="leng in lenguas" value="{{leng.lenId}}" >{{leng.lenNom}}</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-6">
                                            <label for="len_seg">Segunda Materna:</label>
                                            <select class="form-control" id="len_seg" name="len_seg" ng-model="datosGenerales.persona.lenguaByLenSeg.lenId">
                                                <option ng-repeat="leng in lenguas" value="{{leng.lenId}}" >{{leng.lenNom}}</option>
                                            </select>
                                        </div>

                                    </div>
                                </div>
                                <div class="input-group col-lg-12">
                                    <label></label>
                                </div>
                                <div class="form-group">
                                    <div class="input-group col-lg-12">
                                        <div class="col-lg-4 col-lg-offset-8">
                                            <div ng-show="flags.buttonShow">
                                                <button class="btn btn btn-success btn-block " 
                                                        ng-click="guardarDatosGenerales()">
                                                    <i class="fa fa-plus" ></i>Agregar Estudiante
                                                </button>
                                            </div>
                                            <div ng-show="!flags.buttonShow">
                                                <button class="btn btn btn-primary btn-block " 
                                                        ng-click="guardarDatosGenerales()">
                                                    <i class="fa fa-archive" ></i>Modificar Estudiante
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-form>
                        </uib-tab>
                        <uib-tab index="1" heading="Datos Domiciliarios" disable="flags.disableAccessPestanias">
                            <ng-form name="ngform2">
                                <h4>Datos Domiciliares</h4>
                                <div class="form-group">
                                    <div class="input-group col-lg-12">
                                        <div class="col-lg-4">
                                            <label for="anyo">Año:</label>
                                            <input class="form-control" id="anyo" name="anyo" type="number" placeholder="Año" ng-model="datosDomicilio.anyo" />
                                        </div>
                                        <div class="col-lg-4">
                                            <label>Ubigeo:</label>
                                            <div class="input-group">
                                            <input class="form-control" type="text" placeholder="Ubigeo" ng-model="datosDomicilio.domUBI" />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="buscarUbigeoSel()"><i class="glyphicon glyphicon-search"></i></button>
                                                </span>
                                            </div>
                                       </div>
                                        <div class="col-lg-4">
                                            <label for="domTel">Telefono</label>
                                            <input class="form-control" id="domTel" name="domTel" type="text" placeholder="Telefono" ng-model="datosDomicilio.domTel" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group col-lg-12">
                                        <div class="col-lg-6">
                                            <label for="domDir">Direccion:</label>
                                            <input class="form-control" id="domDir" name="domDir" type="text" placeholder="Direccion" ng-model="datosDomicilio.domDir" />
                                        </div>
                                        <div class="col-lg-6">
                                            <label for="domRef">Referencia:</label>
                                            <input class="form-control" id="domRef" name="domRef" type="text" placeholder="Referencia" ng-model="datosDomicilio.domRef" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <label> </label>
                                </div>

                                <div class="form-group">
                                    <div class="input-group col-lg-12">
                                        <div class="col-lg-3 col-lg-offset-6">
                                            <button class="btn btn btn-success btn-block " 
                                                    ng-click="guardarDomicilio()">
                                                <i class="fa fa-archive" ></i>Agregar Domicilio
                                            </button>
                                        </div>
                                        <div class="col-lg-3">
                                            <button class="btn btn btn-info btn-block " 
                                                    ng-click="cargarDomicilios()">
                                                <i class="fa fa-archive" ></i>Refrescar
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <label> </label>
                                </div>

                                <div class="form-group">
                                    <div class="input-group col-lg-12">
                                        <div class="table-responsive">
                                            <table ng-table="tablaDomicilio" 
                                                   class="table table-striped table-hover" show-filter="true" >
                                                <colgroup>
                                                    <col width="10%" />
                                                    <col width="15%" />
                                                    <col width="25%" />
                                                    <col width="25%" />
                                                    <col width="10%" />
                                                    <col width="10%" />
                                                </colgroup>
                                                <tr ng-repeat="dom in $data">
                                                    <td data-title="'Año'" style="text-align: center;" sortable="'domAnyo'"
                                                        filter="{ domAnyo: 'number'}">
                                                        {{dom.domAnyo}}</td>
                                                    <td data-title="'Ubigeo'" style="text-align: center;" sortable="'domUbi'" 
                                                        filter="{ domUbi: 'number'}">
                                                        {{dom.domUbi}}</td>
                                                    <td data-title="'Direccion'" style="text-align: center;" sortable="'domDir'"
                                                        filter="{ domDir: 'text'}" >
                                                        {{dom.domDir}}</td>
                                                    <td data-title="'Referencia'" style="text-align: center;" sortable="'domRef'"
                                                        filter="{ domRef: 'text'}" >
                                                        {{dom.domRef}}</td>
                                                    <td data-title="'Telefono'" style="text-align: center;" sortable="'domTel'" 
                                                        filter="{ domTel: 'text'}" >
                                                        {{dom.domTel}}</td>
                                                    <td data-title="'Eliminar'" style="text-align: center;">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-danger" 
                                                                    ng-click="eliminarDomicilio(dom.domCod, datosGenerales.persona.perId);">
                                                                <i class="fa fa-arrow-down "> </i>
                                                            </button>
                                                        </span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </ng-form>
                        </uib-tab>
                        <!--<uib-tab index="2" heading="Datos Complementarios" disable="flags.disableAccessPestanias">
                            <ng-form name="ngform3">
                                <div class="form-group">
                                    Datos Complementarios
                                </div>
                            </ng-form>                
                        </uib-tab>
                        <uib-tab index="3" heading="Controles de Salud" disable="flags.disableAccessPestanias">
                            <ng-form name="ngform4">
                                <div class="form-group">
                                    Controles de Salud
                                </div>
                            </ng-form>                
                        </uib-tab>-->
                        <uib-tab index="4" heading="Familia" disable="flags.disableAccessPestanias">
                            <ng-form name="ngform5">
                                <div class="form-group">
                                    <h4>Parientes y/o Apoderados</h4>
                                    <div class="form-group">
                                        <div class="input-group col-lg-12">
                                            <div class="col-lg-4">
                                                <label for="parDniBus">Documento Nacional de Identidad:</label>
                                                <input class="form-control" id="parDniBus" name="parDniBus" type="text" ng-disabled="flags.disableDniPariente"
                                                       ng-model="busquedaPariente.parDniBus" ng-change="disableButtonCheckDNI()"/>
                                            </div>

                                            <div class="col-lg-4 col-lg-offset-4">
                                                <label>Buscar:</label>
                                                <div ng-show="flags.loadPariente">
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-info btn-block" 
                                                                ng-click="checkDNI()"
                                                                ng-disabled="flags.disableAccessBuscarPariente">
                                                            Buscar Pariente 
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                                <div ng-show="!flags.loadPariente">
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-success btn-block" 
                                                                ng-click="openModalCrearPersona()" 
                                                                ng-disabled="flags.disableAccessBuscarPariente">
                                                            Crear pariente en el Sistema 
                                                            <i class="fa fa-plus"></i>
                                                        </button>
                                                    </span>
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-danger btn-block" 
                                                                ng-click="closeCreate()" >
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group col-lg-12">
                                            <div class="col-lg-6">
                                                <label>Nombres:</label>
                                                <input class="form-control" id="parNom" name="parNom" type="text" 
                                                       placeholder="Nombres" ng-model="datosPariente.parNom"
                                                       ng-disabled="flags.ParienteActual" />
                                            </div>

                                            <div class="col-lg-3">
                                                <label>Apellido Paterno:</label>
                                                <input class="form-control" id="parApePat" name="parApePat" type="text" 
                                                       placeholder="Apellido Paterno" ng-model="datosPariente.parApePat"
                                                       ng-disabled="flags.ParienteActual" />
                                            </div>

                                            <div class="col-lg-3">
                                                <label>Apellido Materno:</label>
                                                <input class="form-control" id="parApeMat" name="parApeMat" type="text" 
                                                       placeholder="Apellido Materno" ng-model="datosPariente.parApeMat"
                                                       ng-disabled="flags.ParienteActual" />
                                            </div>

                                            <div class="col-lg-3">
                                                <label>DNI:</label>
                                                <input class="form-control" id="parDni" name="parDni" type="text" 
                                                       placeholder="DNI" ng-model="datosPariente.parDni"
                                                       ng-disabled="flags.ParienteActual" />
                                            </div>

                                            <div class="col-lg-3">
                                                <label>Telefono:</label>
                                                <input class="form-control" id="parTel" name="parTel" type="text" 
                                                       placeholder="Telefono" ng-model="datosPariente.parTel"
                                                       ng-disabled="flags.ParienteActual" />
                                            </div>

                                            <div class="col-lg-3">
                                                <label for="parTipParCod">Tipo de Parentesco:</label>
                                                <select class="form-control" id="parTipParCod" name="parTipParCod" ng-model="datosNuevoPariente.parTipParCod">
                                                    <option ng-repeat="tipPar in tiposParentescos" value="{{tipPar.tpaId}}" >{{tipPar.tpaDes}}</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-3">
                                                <label for="parVivEst">Vive con el Estudiante:</label>
                                                <input class="form-control" id="parVivEst" name="parVivEst" type="checkbox"ng-model="datosNuevoPariente.parVivEst"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <label> </label>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group col-lg-12">
                                            <div class="col-lg-3 col-lg-offset-6">
                                                <button class="btn btn btn-success btn-block " 
                                                        ng-click="guardarPariente()">
                                                    <i class="fa fa-archive" ></i>Agregar Pariente 
                                                </button>
                                            </div>
                                            <div class="col-lg-3">
                                                <button class="btn btn btn-info btn-block " 
                                                        ng-click="cargarParientes()">
                                                    <i class="fa fa-archive" ></i>Refrescar
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <label> </label>
                                </div>

                                <div class="form-group">
                                    <div class="input-group col-lg-12">
                                        <div class="table-responsive">
                                            <table ng-table="tablaParientes" 
                                                   class="table table-striped table-hover" show-filter="true" >
                                                <colgroup>
                                                    <col width="15%" />
                                                    <col width="25%" />
                                                    <col width="10%" />
                                                    <col width="10%" />
                                                    <col width="15%" />
                                                    <col width="15%" />
                                                    <col width="10%" />
                                                </colgroup>
                                                <tr ng-repeat="par in $data">
                                                    <td data-title="'DNI'" style="text-align: center;" sortable="'parParDNI'" 
                                                        filter="{ parParDNI: 'text'}">
                                                        {{par.parParDNI}}</td>
                                                    <td data-title="'Nombre Completo'" style="text-align: center;" sortable="'parParDes'"
                                                        filter="{ parParDes: 'text'}">
                                                        {{par.parParDes}}</td>
                                                    <td data-title="'Vive'" style="text-align: center;" sortable="'parVivDes'" 
                                                        filter="{ parVivDes: 'text'}">
                                                        {{par.parVivDes}}</td>
                                                    <td data-title="'Vive con estudiante'" style="text-align: center;" sortable="'parVivEstDes'"
                                                        filter="{ parVivEstDes: 'text'}" >
                                                        {{par.parVivEstDes}}</td>
                                                    <td data-title="'Parentesco'" style="text-align: center;" sortable="'tpaDes'"
                                                        filter="{ tpaDes: 'text'}" >
                                                        {{par.tpaDes}}</td>
                                                    <td data-title="'Telefono'" style="text-align: center;" sortable="'parTel'" 
                                                        filter="{ parTel: 'text'}" >
                                                        {{par.parTel}}</td>
                                                    <td data-title="'Eliminar'" style="text-align: center;">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-danger" 
                                                                    ng-click="eliminarPariente(par.parParId, datosGenerales.persona.perId);">
                                                                <i class="fa fa-arrow-down "> </i>
                                                            </button>
                                                        </span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </ng-form>                
                        </uib-tab>
                    </uib-tabset>
                </div> 
            </form>
        </div>
    </section>
</div>

<div id="modalAgregarPersona" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="overflow-y: auto">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Nuevo Pariente</h4>
            </div>
            <form id="createForm" method="post">
                <div class="modal-body">
                    <div class="form-horizontal">   
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label>DNI:</label>
                                <input type="text" class="form-control" name="perDni" id="perDni" 
                                       ng-model="datosNuevaPersona.perDni" ng-disabled="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label>Nombres:</label>
                                <input type="text" class="form-control" name="perNom" id="perNom" 
                                       ng-model="datosNuevaPersona.perNom">
                            </div>

                            <div class="col-sm-4">
                                <label>Apellido Paterno:</label>
                                <input type="text" class="form-control" name="perApePat" id="perApePat" 
                                       ng-model="datosNuevaPersona.perApePat">
                            </div>

                            <div class="col-sm-4">
                                <label>Apellido Materno:</label>
                                <input type="text" class="form-control" name="perApeMat" id="perApeMat" 
                                       ng-model="datosNuevaPersona.perApeMat">
                            </div>

                            <div class="col-sm-4">
                                <label>Fecha Nacimiento:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" id="perFecNac" 
                                           ng-model="datosNuevaPersona.perFecNac"  is-open="popup2.opened" datepicker-options="dateOptions" 
                                           close-text="Close" alt-input-formats="altInputFormats" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <label>Sexo:</label>
                                <select class="form-control" id="perSex" name="perSex" ng-model="datosNuevaPersona.perSex" >
                                    <option value="M">Masculino</option>
                                    <option value="F">Femenino</option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <label>Estado Civil:</label>
                                <select class="form-control" id="perEstCiv" name="perEstCiv" ng-model="datosNuevaPersona.perEstCiv">
                                    <option value="1">Soltero</option>
                                    <option value="2">Casado</option>
                                    <option value="3">Divorciado/Separado</option>
                                    <option value="4">Viudo</option>
                                    <option value="5">Conviviente</option>
                                </select>
                            </div>

                            <div class="col-sm-4">
                                <label for="perGraIns">Grado de Instruccion:</label>
                                <select class="form-control" id="perGraIns" name="perGraIns" 
                                        ng-model="datosNuevaPersona.perGraIns">
                                    <option ng-repeat="gra in gradoInstruccion" value="{{gra.graInsId}}" >{{gra.graInsDes}}</option>
                                </select>
                            </div>

                            <div class="col-sm-4">
                                <label>Ocupacion:</label>
                                <input type="text" class="form-control" name="perOcu" id="perOcu" 
                                       ng-model="datosNuevaPersona.perOcu">
                            </div>

                            <div class="col-sm-8">
                                <label>Direccion:</label>
                                <input type="text" class="form-control" name="perDir" id="perDir" 
                                       ng-model="datosNuevaPersona.perDir">
                            </div>

                            <div class="col-sm-4">
                                <label>Telefono:</label>
                                <input type="text" class="form-control" name="perTel" id="perTel" 
                                       ng-model="datosNuevaPersona.perTel">
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" 
                            class="btn btn-outline btn-success"
                            ng-click="crearPersona()">Crear Persona
                    </button>
                    <button type="button" class="btn btn-outline btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>                                        
    </div>
</div>

<div id="modalUbigeo" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="overflow-y: auto">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Buscar Ubigeo</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">   
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="col-lg-4">
                                <label>Departamento:</label>
                                <select class="form-control" ng-model= "datosUbigeo.dpto" ng-change="loadProv()">
                                    <option ng-repeat="dpto in datosUbigeo.departamentos" value="{{dpto.codigo_ubigeo}}" >{{dpto.nombre_ubigeo}}</option>
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <label>Provincias:</label>
                                <select class="form-control" ng-model= "datosUbigeo.prov" ng-change="loadDist()">
                                    <option ng-repeat="prov in datosUbigeo.provincias" value="{{prov.codigo_ubigeo}}">{{prov.nombre_ubigeo}}</option>
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <label>Distritos:</label>
                                <select class="form-control" ng-model= "datosUbigeo.dist">
                                    <option ng-repeat="dist in datosUbigeo.distritos" value="{{dist.codigo_ubigeo}}">{{dist.nombre_ubigeo}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" 
                        ng-click="modificarUbigeo();">
                    <i class="fa fa-archive "> </i> Generar Ubigeo
                </button>   
                <button type="button" class="btn btn-outline btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>                                        
    </div>
</div>

<div id="modalUbigeoSel" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="overflow-y: auto">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Buscar Ubigeo</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">   
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="col-lg-4">
                                <label>Departamento:</label>
                                <select class="form-control" ng-model= "datosUbigeo.dpto" ng-change="loadProv()">
                                    <option ng-repeat="dpto in datosUbigeo.departamentos" value="{{dpto.codigo_ubigeo}}" >{{dpto.nombre_ubigeo}}</option>
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <label>Provincias:</label>
                                <select class="form-control" ng-model= "datosUbigeo.prov" ng-change="loadDist()">
                                    <option ng-repeat="prov in datosUbigeo.provincias" value="{{prov.codigo_ubigeo}}">{{prov.nombre_ubigeo}}</option>
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <label>Distritos:</label>
                                <select class="form-control" ng-model= "datosUbigeo.dist">
                                    <option ng-repeat="dist in datosUbigeo.distritos" value="{{dist.codigo_ubigeo}}">{{dist.nombre_ubigeo}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" 
                        ng-click="modificarUbigeoSel();">
                    <i class="fa fa-archive "> </i> Generar Ubigeo
                </button>   
                <button type="button" class="btn btn-outline btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>                                        
    </div>
</div>
