<style type="text/css">
    form.tab-form-demo .tab-pane {
        margin: 20px 20px;
    }
</style>
<div class="col-lg-12">
    <section class="panel">
        <header class="panel-heading">
            <h4 style="display:inline;line-height: 1.9">MATRICULA MASIVA</h4>
        </header>
        <div class="form-group">
            <div class="form-group">
                <div class="col-lg-12">
                    <div class="col-lg-2">
                        <label for="nivelBusqueda">Nivel:</label>
                        <select class="form-control" 
                                id="nivelBusqueda" name="nivelBusqueda" 
                                ng-model="busqueda.nivelBusqueda" ng-change="reloadFiltro()">
                            <option value="0">Inicial</option>
                            <option value="1">Primaria</option>
                            <option value="2">Secundaria</option>
                        </select>
                    </div>
                    <div class="col-lg-3" ng-init="cargaInicial();">
                        <label for="gradoBusqueda">Grado:</label>
                        <select class="form-control" id="gradoBusqueda" name="gradoBusqueda" ng-model="busqueda.gradoBusqueda" >
                            <option value="0">Sin Antecedentes</option>
                            <option ng-if="filtros.inicialSeleted"  value="1">Inicial 0 a 2 años</option>
                            <option ng-if="filtros.inicialSeleted"  value="2">Inicial 3 a 5 años</option>
                            <option ng-if="filtros.primariaSelected"  value="3">1er Grado</option>
                            <option ng-if="filtros.primariaSelected"  value="4">2do Grado</option>
                            <option ng-if="filtros.primariaSelected"  value="5">3er Grado</option>
                            <option ng-if="filtros.primariaSelected"  value="6">4to Grado</option>
                            <option ng-if="filtros.primariaSelected"  value="7">5to Grado</option>
                            <option ng-if="filtros.primariaSelected"  value="8">6to Grado</option>
                            <option ng-if="filtros.secundariaSelected"  value="9">1er Grado</option>
                            <option ng-if="filtros.secundariaSelected"  value="10">2do Grado</option>
                            <option ng-if="filtros.secundariaSelected"  value="11">3er Grado</option>
                            <option ng-if="filtros.secundariaSelected"  value="12">4to Grado</option>
                            <option ng-if="filtros.secundariaSelected"  value="13">5to Grado</option>
                        </select>
                    </div>

                    <div class="col-lg-2">
                        <label for="seccionBusqueda">Seccion:</label>
                        <select class="form-control" id="seccionBusqueda" name="seccionBusqueda" ng-model="busqueda.seccionBusqueda" >
                            <option value="*">*</option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                            <option value="E">E</option>
                            <option value="F">F</option>
                            <option value="G">G</option>
                            <option value="H">H</option>
                            <option value="I">I</option>
                            <option value="J">J</option>
                            <option value="K">K</option>
                            <option value="L">L</option>
                            <option value="M">M</option>
                            <option value="N">N</option>
                            <option value="O">O</option>
                            <option value="P">P</option>
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <label for="orgBusqueda">Organizacion:</label>
                        <select class="form-control" id="orgBusqueda" name="orgBusqueda" ng-model="busqueda.orgBusqueda" >
                            <option value="1">Todo el Sistema</option>
                            <option value="2">Solo Estudiantes de la I.E.</option>
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="orgBusqueda">Filtro:</label>
                            <button class="btn btn-info btn-block" ng-click="buscarEstudiante()">
                                <i class="glyphicon glyphicon-book"></i> Buscar
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <label> </label>
                </div>
                <div class="col-lg-12">
                    <div class="col-lg-3 col-lg-offset-6">
                        <div class="form-group">
                            <button type="button"
                                    ng-click = "openModalNomina()"
                                    class="btn btn-info btn-block">Nomina Matricula</button>
                        </div>
                    </div>
                    <div class="col-lg-3 ">
                        <div class="form-group">
                            <button type="button"
                                    ng-click = "openModalLotes()"
                                    class="btn btn-success btn-block">Matricula Masiva</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <label> </label>
            </div>

            <div class="form-group">
                <div class="input-group col-lg-12">
                    <div class="table-responsive">
                        <table ng-table="tablaPrincipal" 
                               class="table table-striped table-hover" show-filter="true" >
                            <colgroup>
                                <col width="8%" />
                                <col width="15%" />
                                <col width="10%" />
                                <col width="25%" />
                                <col width="10%" />
                                <col width="15%" />
                                <col width="15%" />
                            </colgroup>
                            <tr ng-repeat="est in $data">
                                <td data-title="'X'" style="text-align: center;">
                                    <input type="checkbox" 
                                           ng-model="est.checkBox"
                                           ng-change="changeCheck(est.checkBox, est.estId, est.estOrgId, est.estNom, est.estApePat, est.estApeMat, est.estMat)" > </td>
                                <td data-title="'Codigo E.'" filter="{ estCodEst: 'text'}" 
                                    sortable="'estCodEst'" style="text-align: center;">
                                    {{est.estCodEst}}</td>
                                <td data-title="'DNI'" filter="{ estDni: 'text'}" 
                                    sortable="'estDni'" style="text-align: center;">
                                    {{est.estDni}}</td>
                                <td data-title="'Nombre Completo'" filter="{ estNom: 'text'}" 
                                    sortable="'estNom'" style="text-align: center;">
                                    {{est.estNom + " " + est.estApePat + " " + est.estApeMat}}</td>
                                <td data-title="'Matricula'" filter="{ estMat: 'select'}" 
                                    filter-data="estMatNomSelect" sortable="'estMat'" style="text-align: center;">
                                    {{est.estMatNom}}</td>
                                <td data-title="'Ultimo Grado'" filter="{ ultGraCulNom: 'text'}" 
                                    sortable="'ultGraCulNom'" style="text-align: center;">
                                    {{est.ultGraCulNom}}</td>
                                <td data-title="'Ultima Seccion'" filter="{ ultSec: 'text'}" 
                                    sortable="'ultSec'"  style="text-align: center;">
                                    {{est.ultSec}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div id="modalMatricula" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="overflow-y: auto">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Matricula</h4>
            </div>
            <form id="createForm" method="post">
                <div class="modal-body">
                    <div class="form-horizontal">   
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label>Total de Estudiantes:</label>
                                <input type="text" class="form-control" name="numEstSel" id="numEstSel" ng-model="matriculaMasivaCreate.numEstSel" ng-disabled="true">
                            </div>
                            <div class="col-sm-3">
                                <label>Fecha:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" id="fecNac" 
                                           ng-model="matriculaMasivaCreate.estmatFec"  is-open="popup1.opened" datepicker-options="dateOptions" 
                                           close-text="Close" alt-input-formats="altInputFormats" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label>Estado:</label>
                                <input type="text" class="form-control" name="estMat" id="estMat" ng-model="matriculaMasivaCreate.estMatNom" ng-disabled="true">
                            </div>
                            <div class="col-lg-3">
                                <label>Situacion Matricula:</label>
                                <select class="form-control" id="matSit" name="sitMat" ng-model="matriculaMasivaCreate.sitMat" >
                                    <option value="1">Ingresante</option>
                                    <option value="2">Promovido</option>
                                    <option value="3">Repitente</option>
                                    <option value="4">Reentrante</option>
                                    <option value="5">Reingresante</option>
                                    <option value="6">Otra</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <label for="conMat">Condición Matricula:</label>
                                <select class="form-control" id="conMat" name="conMat" ng-model="matriculaMasivaCreate.conMat" >
                                    <option value="1">Gratuito</option>
                                    <option value="2">Pagante</option>
                                    <option value="3">Beca Completa</option>
                                    <option value="4">Media Beca</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label>Observaciones:</label>
                                <input class="form-control" id="matObs" name="matObs" type="text" ng-model="matriculaMasivaCreate.matObs" />
                            </div>
                            <div class="col-lg-3">
                                <label>Nivel:</label>
                                <select class="form-control" 
                                        id="nivId" name="nivId" 
                                        ng-model="matriculaMasivaCreate.nivId"
                                        ng-change="cargarJornada()">
                                    <option ng-repeat="niv in arrays.niveles" value="{{niv.nivelId}}" >{{niv.nivelNom}}</option>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <label>Jornada Escolar:</label>
                                <select class="form-control" 
                                        id="jorEscId" name="jorEscId" 
                                        ng-model="matriculaMasivaCreate.jorEscId"
                                        ng-change="cargarTurno()">
                                    <option ng-repeat="jor in arrays.jornadas" value="{{jor.jornadaId}}" >{{jor.jornadaNom}}</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <label>Turno:</label>
                                <select class="form-control" 
                                        id="turId" name="turId" 
                                        ng-model="matriculaMasivaCreate.turId"
                                        ng-change="cargarGrados()">
                                    <option ng-repeat="tur in arrays.turnos" value="{{tur.turnoId}}" >{{tur.turnoNom}}</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <label>Grados:</label>
                                <select class="form-control" 
                                        id="graId" name="graId" 
                                        ng-model="matriculaMasivaCreate.graId"
                                        ng-change="cargarVacantes()">
                                    <option ng-repeat="gra in arrays.grados" value="{{gra.gradoId}}" >{{gra.gradoNom}}</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <label>Vacantes:</label>
                                <input type="text" class="form-control" 
                                       name="vacantesxGrado" id="vacantesxGrado" 
                                       ng-model="datosVacantes.vacantesxGrado" 
                                       ng-disabled="true"/>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" 
                            ng-click="generarMatriculaMasiva();">
                        <i class="fa fa-archive "> </i> Generar Matriculas
                    </button>
                    <button type="button" class="btn btn-outline btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>                                        
    </div>
</div>

<div id="modalError" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="overflow-y: auto">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Error en Matricula Masiva</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">   
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p>Estudiantes Matriculados:</p>
                            <div ng-repeat="mat in arrays.estudiantesMatriculados">
                                <p>- {{mat.nomEst}}</p>
                            </div>
                            <p>Estudiantes no Matriculados:</p>
                            <div ng-repeat="error in arrays.estudiantesError">
                                <p>- {{error.nomEst}} / {{error.error}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline btn-success" data-dismiss="modal">Aseptar</button>
            </div>
        </div>                                        
    </div>
</div>

<div id="modalNomina" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="overflow-y: auto">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Nomina de Matriculla</h4>
            </div>
            <form id="createForm" method="post">
                <div class="modal-body">
                    <div class="form-horizontal">   
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label>Nombre de la Seccion(Solo Inicial):</label>
                                <input type="text" class="form-control" ng-model="paramsNomina.nombreSeccion">
                            </div>
                            <div class="col-sm-3">
                                <label>Inicio Periodo Lectivo:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" id="fecNac" 
                                           ng-model="paramsNomina.periodoLecIni"  is-open="popup2.opened" datepicker-options="dateOptions" 
                                           close-text="Close" alt-input-formats="altInputFormats" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label>Fin Periodo Lectivo:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" id="fecNac" 
                                           ng-model="paramsNomina.periodoLecFin"  is-open="popup3.opened" datepicker-options="dateOptions" 
                                           close-text="Close" alt-input-formats="altInputFormats" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open3()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <label>Nivel:</label>
                                <select class="form-control" 
                                        ng-model="paramsNomina.nivId"
                                        ng-change="cargarJornada2Nomina()">
                                    <option ng-repeat="niv in arrays.niveles" value="{{niv.nivelId}}" >{{niv.nivelNom}}</option>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <label>Jornada Escolar:</label>
                                <select class="form-control" 
                                        ng-model="paramsNomina.jorEscId"
                                        ng-change="cargarTurno2Nomina()">
                                    <option ng-repeat="jor in arrays.jornadas" value="{{jor.jornadaId}}" >{{jor.jornadaNom}}</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <label>Turno:</label>
                                <select class="form-control" 
                                        ng-model="paramsNomina.turId"
                                        ng-change="cargarGrados2Nomina()">
                                    <option ng-repeat="tur in arrays.turnos" value="{{tur.turnoId}}" >{{tur.turnoNom}}</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <label>Grados:</label>
                                <select class="form-control" 
                                        ng-model="paramsNomina.graId"
                                        ng-change="cargarSecciones2Nomina()">
                                    <option ng-repeat="gra in arrays.grados" value="{{gra.gradoId}}" >{{gra.gradoNom}}</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <label>Secciones:</label>
                                <select class="form-control" 
                                        ng-model="paramsNomina.secId">
                                    <option ng-repeat="sec in arrays.secciones" value="{{sec.seccionId}}" >{{sec.seccionNom}}</option>
                                </select>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" 
                            ng-click="generarNominaMatricula();">
                        <i class="fa fa-archive "> </i> Generar Nomina
                    </button>
                    <button type="button" class="btn btn-outline btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>                                        
    </div>
</div>