<div class="row asistenciaEstudiante">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <md-progress-linear ng-if="ctrlasistenciaEstudiante.showProgress" md-mode="indeterminate"></md-progress-linear>
            </header>
            <div class="panel-body">
                <form name="myForm" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">I.E<input type="checkbox" ng-model="ctrlasistenciaEstudiante.checkIE" ng-disabled="true"></label>
                        <label class="col-lg-2 control-label">Clases<input type="checkbox" ng-model="ctrlasistenciaEstudiante.checkClass" ng-disabled="true"></label>

                    </div>
                    <div class="form-group">
                        <label class="col-lg-offset-1 col-lg-1 control-label">Nivel:</label>
                        <div class="col-lg-2">
                            <select class="form-control" ng-model="ctrlasistenciaEstudiante.nivel" ng-options="s.nom for s in ctrlasistenciaEstudiante.niveles track by s.id" ng-change="ctrlasistenciaEstudiante.mostrarGrados(ctrlasistenciaEstudiante.nivel)">
                            </select>
                        </div>
                        <label class="col-lg-1 control-label">Grado:</label>
                        <div class="col-lg-2">
                            <select class="form-control" ng-model="ctrlasistenciaEstudiante.grado" ng-options="s.nom for s in ctrlasistenciaEstudiante.grados track by s.id" ng-change="ctrlasistenciaEstudiante.mostrarSecciones(ctrlasistenciaEstudiante.grado)">
                            </select>
                        </div>
                        <label class="col-lg-1 control-label">Seccion:</label>
                        <div class="col-lg-2">
                            <select class="form-control" ng-model="ctrlasistenciaEstudiante.seccion" ng-options="s for s in ctrlasistenciaEstudiante.secciones" ng-change="ctrlasistenciaEstudiante.mostrarAreas(ctrlasistenciaEstudiante.seccion)">
                            </select>
                        </div>
                        <!--<span class="tools">
                             <button type="submit" class="btn btn-primary" ng-click="ctrlasistenciaEstudiante.listarAlumnos()">Listar</button>
                        </span>-->
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Area:<input type="checkbox" ng-model="ctrlasistenciaEstudiante.checkArea"></label>
                        <div class="col-lg-3">
                            <select class="form-control" ng-model="ctrlasistenciaEstudiante.area" ng-options="g.nom for g in ctrlasistenciaEstudiante.areas track by g.id" ng-disabled="!ctrlasistenciaEstudiante.checkArea" ></select>
                        </div>
                        <label  class="col-sm-2 control-label">Dia:</label>
                        <div class="col-sm-2 form-inline">
                            <input type="text" class="form-control form-inline"  uib-datepicker-popup="dd-MMMM-yyyy" ng-model="ctrlasistenciaEstudiante.fec" is-open="ctrlasistenciaEstudiante.abrirCalendar" datepicker-options="ctrlasistenciaEstudiante.dateOptions"
                                   ng-app=""close-text="Cerrar" today-text="Hoy" clear-text="Limpiar" ng-change="ctrlasistenciaEstudiante.buscarAsistencia()"/>
                        </div>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="ctrlasistenciaEstudiante.openCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </form>

                <div class="tabla-responsiva">
                    <table ng-table="ctrlasistenciaEstudiante.tablaAsistenciaEst" class="table table-bordered table-hover table-condensed editable-table" show-filter="true">
                        <colgroup>
                            <col width="10%" />
                            <col width="15%" />
                            <col width="15%" />
                            <col width="15%" />
                            <col width="20%" />
                            <col width="25%" />
                        </colgroup>

                        <tr ng-repeat="row in $data" ng-form="rowFormAsistencia">
                            <td ng-form="nom" data-title="'N°'">{{$index + 1}}</td>
                            <td filter="{pat: 'text'}" ng-form="pat" data-title="'Apellidos'">{{row.pat + ' ' + row.mat}}</td>
                            <td filter="{nom: 'text'}" ng-form="mat" data-title="'Nombre'">{{row.nom}}</td>
                            <td align="center" data-title="'Asistencia'">
                                <button id="{{'btn-asist' + row.perid}}" type="submit" class="btn btn-success btn-xs" ng-click="ctrlasistenciaEstudiante.cambiarAsistencia(row)" ng-disabled="ctrlasistenciaEstudiante.desactivarBotones()">{{ctrlasistenciaEstudiante.mostrarOpcion(row)}}</button>
                            </td>
                            <td align="center" data-title="'Archivo'">
                                <span ng-hide="!row.docjus" ><view-file url="archivos/justificacion_inasistencia_alumnos/" nombre="row.docjus" archivo> </view-file></span>
                            </td>
                            <td align="center" data-title="'Justificacion'">
                                <button type="submit" class="btn btn-info btn-sm" ng-click="ctrlasistenciaEstudiante.justAsistencia(row)" ng-disabled="(row.est != 1 || row.asid == undefined)"><span class="glyphicon glyphicon-file"></span></button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="panel-footer">
                <span class="tools pull-right">
                    <button type="submit" class="btn btn-primary" ng-click="ctrlasistenciaEstudiante.guardarAsistencia()" ng-disabled="ctrlasistenciaEstudiante.desactivarBotones()">Guardar</button>
                    <button type="submit" class="btn btn-primary" ng-click="ctrlasistenciaEstudiante.guardarAsistencia()" ng-disabled="ctrlasistenciaEstudiante.reporteAsistencia()">Reporte</button>
                </span>
                <span class="tools pull-right">
                    <button type="submit" class="btn btn-primary" ng-click="ctrlasistenciaEstudiante.verReporte()">Reportes</button>
                </span>
            </div>
        </section>
    </div>
</div>
<script type="text/ng-template" id="registroJustificacion.html">
    <div class="modal-header">
        <h3 class="modal-title">Registrar Justificacion</h3>
    </div>
    <div class="modal-body">
        <form name="myForm" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-lg-2 control-label">Descripcion:</label>
                <div class="col-lg-10">
                    <textarea id="des_just"  name = "desJus" class="form-control" row="10" ng-model="ctrl.just.des" required></textarea>
                    <span ng-show="myForm.desJus.$error.required">Este Campo es Requerido</span>
                </div>
            </div>    

            <div class="form-group" >
                <label class="col-lg-2 control-label">Adjuntar documento:</label>
                <div class="col-lg-10 form-inline">
                    <input-file nombre="ctrl.just.nom" archivo="ctrl.just.arc"></input-file>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-4 col-lg-offset-8">
                    <button type="submit" class="btn btn-primary"  ng-click="ctrl.guardar()">Guardar</button>
                    <button class="btn btn-primary" ng-click="ctrl.cancelar()">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</script>
<script type="text/ng-template" id="modal_reporte.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close"  aria-hidden="true" ng-click="ctrl.cancelar()">&times;</button>
            <h3 class="modal-title">Reporte Asistencia</h3>
        </div>
        <div class="modal-body">
            <div class="form-panel">
                <form name="myForm" class="form-horizontal style-form">
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Nivel:</label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="ctrl.nivel" ng-options="s.nom for s in ctrl.niveles track by s.id" ng-change="ctrl.mostrarGrados(ctrl.nivel)">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Grado:</label>
                        <div class="col-sm-4">
                            <select class="form-control" ng-model="ctrl.grado" ng-options="s.nom for s in ctrl.grados track by s.id" ng-change="ctrl.mostrarSecciones(ctrl.grado)">
                            </select>
                        </div>
                        <label class="col-sm-2 control-label">Seccion:</label>
                        <div class="col-sm-4">
                            <select class="form-control" ng-model="ctrl.seccion" ng-options="s for s in ctrl.secciones" ng-change="ctrl.mostrarAreas(ctrl.seccion)">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Area:</label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="ctrl.area" ng-options="g.nom for g in ctrl.areas track by g.id"></select>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Desde:</label>
                        <div style="padding-left: 15px;" class="input-group col-sm-4 form-inline">
                            <input name="fecini" type="text" class="form-control"  uib-datepicker-popup="dd-MMMM-yyyy" ng-model="ctrl.desde" is-open="ctrl.abrirIniCalendar"
                                   datepicker-options="ctrl.dateIniOptions" close-text="Cerrar" today-text="Hoy" clear-text="Limpiar" required/>
                            <span ng-show="myForm.fecini.$error.required">Este Campo es Requerido</span>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="ctrl.openIniCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Hasta:</label>
                        <div style="padding-left: 15px;" class="input-group col-sm-4 form-inline" >
                            <input name="fecfin" type="text" class="form-control"  uib-datepicker-popup="dd-MMMM-yyyy" ng-model="ctrl.hasta" is-open="ctrl.abrirFinCalendar"
                                   datepicker-options="ctrl.dateFinOptions" close-text="Cerrar" today-text="Hoy" clear-text="Limpiar" required/>
                            <span ng-show="myForm.fecini.$error.required">Este Campo es Requerido</span>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="ctrl.openFinCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-sm" ng-click="ctrl.cancelar()">Cancelar</button>
            <button type="button" class="btn btn-primary btn-sm" ng-click="ctrl.guardar()">Ver Reporte</button>
        </div>
    </div>
</script>
