<div class="row">
    <div class="col-lg-12">
        <div class="panel">
            <header class="panel-heading">
                <md-progress-linear ng-if="ctrlnotasAcademico.showProgress" md-mode="indeterminate"></md-progress-linear>
                <h4 style="display:inline;line-height: 1.9">Notas del estudiante</h4>
            </header>
            <div class="panel-body">
                <div class="form-horizontal" >
                    <div class="form-group" >
                        <label class="col-sm-1 control-label">Nivel:</label>
                        <div class="col-sm-2">
                            <select class="form-control" ng-model="ctrlnotasAcademico.nivel" ng-options="s.nom for s in ctrlnotasAcademico.niveles track by s.id" ng-change="ctrlnotasAcademico.mostrarGrados(ctrlnotasAcademico.nivel)">
                            </select>
                        </div>
                        <label class="col-sm-1 control-label">Grado:</label>
                        <div class="col-sm-2">
                            <select class="form-control" ng-model="ctrlnotasAcademico.grado" ng-options="s.nom for s in ctrlnotasAcademico.grados track by s.id" ng-change="ctrlnotasAcademico.mostrarSecciones(ctrlnotasAcademico.grado)">
                            </select>
                        </div>
                        <label class="col-sm-1 control-label">Seccion:</label>
                        <div class="col-sm-1">
                            <select class="form-control" ng-model="ctrlnotasAcademico.seccion" ng-options="s for s in ctrlnotasAcademico.secciones" ng-change="ctrlnotasAcademico.mostrarAreas(ctrlnotasAcademico.seccion)">
                            </select>
                        </div>
                        <!--
                        -->
                        
                        <div class=" col-sm-4">
                            <button class="btn btn-success btn-sm" type="button" ng-click="ctrlnotasAcademico.buscarAlumnos()">Listar</button>
                        </div>
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-4">
                        </div>
                    </div>
                </div>
                <div class="form-horizontal" >
                    <div class="form-group" >
                        <label class="col-sm-1 control-label">Area:</label>
                        <div class="col-sm-2">
                            <select class="form-control" ng-model="ctrlnotasAcademico.area" ng-options="g.nom for g in ctrlnotasAcademico.areas track by g.id" ng-change="ctrlnotasAcademico.mostrarUnidades(ctrlnotasAcademico.area)"></select>
                        </div>
                        <label class="col-sm-1 control-label">Unidad:</label>
                        <div class="col-sm-2">
                            <select class="form-control" ng-model="ctrlnotasAcademico.unidad" ng-options="g.tit for g in ctrlnotasAcademico.unidades track by g.cod" ng-change="ctrlnotasAcademico.mostrarSesiones(ctrlnotasAcademico.unidad)"></select>
                        </div>
                        <label class="col-sm-1 control-label">Sesion:</label>
                        <div class="col-sm-4">
                            <select class="form-control" ng-model="ctrlnotasAcademico.sesion" ng-options="g.tit for g in ctrlnotasAcademico.sesiones track by g.id" ng-change="ctrlnotasAcademico.sesionMostrarIndicadores(ctrlnotasAcademico.sesion)"></select>
                        </div>
                        <!--<label class="col-sm-1 control-label">Competencias:</label>
                        <div class="col-sm-4">
                            <select class="form-control" ng-model="ctrlnotasAcademico.competencia" ng-options="g.nom for g in ctrlnotasAcademico.competencias track by g.id" ng-change="ctrlnotasAcademico.mostrarCapacidades(ctrlnotasAcademico.competencia)"></select>
                        </div>-->
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group" >
                        <!--<label class="col-sm-1 control-label">Capacidades:</label>
                        <div class="col-sm-5">
                            <select class="form-control" ng-model="ctrlnotasAcademico.capacidad" ng-options="g.nom for g in ctrlnotasAcademico.capacidades track by g.id" ng-change="ctrlnotasAcademico.mostrarIndicadores(ctrlnotasAcademico.capacidad)"></select>
                        </div>-->
                        <label class="col-sm-1 control-label">Periodo</label>
                        <div class="col-sm-2">
                            <select class="form-control" ng-model="ctrlnotasAcademico.periodo" ng-options="g.nom for g in ctrlnotasAcademico.periodos track by g.num" ng-change="ctrlnotasAcademico.mostrarIndicadores(ctrlnotasAcademico.periodo)">
                            </select>
                        </div>
                        <label class="col-sm-1 control-label">Numerico:</label>
                        <div class="col-sm-2">
                            <input type="checkbox" ng-model="ctrlnotasAcademico.tipEva">
                        </div>
                    </div>
                </div>
                <div>
                    <table class="table table-bordered table-hover table-condensed editable-table">
                       <colgroup>
                            <col width="30%" />
                           <col ng-repeat="indicador in ctrlnotasAcademico.indicadores" width="{{70/ctrlnotasAcademico.indicadores.length}}"/>
                        </colgroup>
                        <thead>
                            <tr>
                                <th valign="top">Alumno:</th>
                                <th align="justify" valign="top" ng-repeat="indicador in ctrlnotasAcademico.indicadores">
                                    {{indicador.nom}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="estudiante in  ctrlnotasAcademico.estudiantes">
                                <th>{{estudiante.pat + ' ' + estudiante.mat + ' ' + estudiante.nom}}</th>
                                <td ng-repeat="nota in estudiante.notas">
                                    <input ng-if="!ctrlnotasAcademico.tipEva" type="text" class="form-control" maxlength="2" ng-model="nota.not">
                                    <input ng-if="ctrlnotasAcademico.tipEva" type="number" class="form-control" max="20" min="0" ng-model="nota.not">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <span class="tools pull-right">
                        <button type="submit" class="btn btn-warning" ng-click="ctrlnotasAcademico.reporteNotas()">Reporte Notas</button>
                        <button type="submit" class="btn btn-warning" ng-click="ctrlnotasAcademico.registrarNotasIndicador()">Registrar</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
