<div class="row asistenciaEstudiante">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <md-progress-linear ng-if="ctrlcargoComision.showProgress" md-mode="indeterminate"></md-progress-linear>
                <form name="myForm" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Nivel:</label>
                        <div class="col-lg-2">
                            <select class="form-control" ng-model="nivselected" ng-options="g.nive for g in ctrlasistenciaEstudiante.nivel track by g.id">                            
                            </select>
                        </div>
                   
                        <label class="col-lg-2 control-label">Grado:</label>
                        <div class="col-lg-2">
                            <select class="form-control" ng-model="selected" ng-options="g.grad for g in ctrlasistenciaEstudiante.grado track by g.id"></select>
                        </div>
                    
                        <label class="col-lg-2 control-label">Seccion:</label>
                        <div class="col-lg-2">
                            <select class="form-control" ng-model="ctrlreporte.org" ng-options="g.secc for g in ctrlasistenciaEstudiante.seccion track by g.id"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">I.E: 
                            <input type="checkbox" ng-model="checkIE"></label><br/>
                        <label class="col-lg-2 control-label">Clases: 
                            <input type="checkbox" ng-model="checkClass"></label><br/>
                    </div>    
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Area:</label>
                        <div class="col-lg-2">
                            <select class="form-control" ng-model="ctrlreporte.area" ng-options="g.are for g in ctrlasistenciaEstudiante.area track by g.id" ng-disabled="checkIE"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Dia:</label>
                        <div class="col-sm-2 form-inline">
                            <input type="text" class="form-control form-inline"  uib-datepicker-popup="dd-MMMM-yyyy" ng-model="ctrl.nac" is-open="ctrlasistenciaEstudiante.abrirCalendar" datepicker-options="ctrlasistenciaEstudiante.dateOptions"
                            ng-app=""close-text="Cerrar" today-text="Hoy" clear-text="Limpiar" /> 
                        </div>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="ctrlasistenciaEstudiante.openCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </form>
                <span class="tools pull-right">
                    <button type="submit" class="btn btn-primary" ng-click="ctrlasistenciaEstudiante.nuevoCargo()">Buscar</button>
                </span>
            </header>
             <div class="tabla-responsiva">
                <table ng-table="ctrlasistenciaEstudiante.tablaAsistenciaEst" class="table table-bordered table-hover table-condensed editable-table" show-filter="true">
                    <colgroup>
                        <col width="10%" />
                        <col width="40%" />
                        <col width="25%" />
                        <col width="25%" />                        
                    </colgroup>
                    
                    <tr ng-repeat="row in $data" ng-form="rowFormAsistencia">
                        <td filter="{num: 'text'}" sortable="'nom'"  ng-form="nom" data-title="'N° Orden'">{{row.numord}}</td>
                        <td ng-form="des" data-title="'Apellidos y nombres'">{{row.nomb}}</td>
                        <td align="center" data-title="'Asistencia'"> 
                            <button id="btn-asist" type="submit" class="btn btn-success btn-xs" ng-click="ctrlasistenciaEstudiante.cambiarAsistencia(row)">{{ctrlasistenciaEstudiante.estAsist[row.asist]}}</button>                            
                        </td>
                        <td align="center" data-title="'Justificacion'"> 
                            <button type="submit" class="btn btn-info btn-sm" ng-click="ctrlasistenciaEstudiante.justAsistencia()"><span class="glyphicon glyphicon-file"></span></button>
                        </td>
                    </tr>
                </table>
                 <div class="form-group">
                     <div class="form-group">
                        <button id="btn-as" type="submit" class="btn btn-success btn-xs" >Asistio</button>                            
                        <label  class="col-sm-1 control-label">7</label>
                     </div>
                     <div class="form-group">
                        <button id="btn-as" type="submit" class="btn btn-warning btn-xs" >Tradanza</button>                            
                        <label  class="col-sm-1 control-label">2</label>
                     </div>
                     <div class="form-group">
                        <button id="btn-as" type="submit" class="btn btn-danger btn-xs" >Falta</button>                            
                        <label  class="col-sm-1 control-label">0</label>
                     </div>
                 </div>
            </div>
        </section>
    </div>
</div>
<script type="text/ng-template" id="registroJustificacion.html">
    <div class="modal-header">
        <h3 class="modal-title">Registrar Justificacion</h3>
    </div>
    <div class="modal-body">
        <form name="myForm" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-lg-2 control-label">Descripcion:</label>
                <div class="col-lg-10">
                    <textarea id="des_just"  name = "desJus" class="form-control" row="10" ng-model="ctrl.just.desc" required></textarea>
                    <span ng-show="myForm.desJus.$error.required">Este Campo es Requerido</span>
                </div>
            </div>    
            <div class="form-group">
                <label class="col-lg-2 control-label">Tipo documento:</label>
                <div class="col-lg-10">
                    <select class="form-control" ng-options="g.doc for g in registrarJustificacionCtrl.tipodoc track by g.id"></select>
                </div>
            </div>    
            <div class="form-group" >
                <label class="col-lg-2 control-label">Adjuntar documento:</label>
                <div class="col-lg-10 form-inline">
                    <input-file nombre="ctrl.nom" archivo="ctrl.act.arc"></input-file>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-4 col-lg-offset-8">
                    <button type="submit" class="btn btn-primary"  ng-click="ctrl.guardar()">Guardar</button>
                    <button class="btn btn-primary" ng-click="ctrl.cancelar()">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</script>